///
/// Web-Safe colors
///
/// @todo Break `$shades_map` loop into
///       individual color map loops.
///

// Modules in the primary colors directory.
@use '../modules/functions' as f;

// Modules in the palette directory.
@use 'modules/colors' as c;

// CSS properties.
:host,
:root {

	@each $name, $color in c.$color_map {
		--skc--#{c.$palette}--#{$name}:     #{$color};
		--skc--#{c.$palette}--#{$name}-100: #{f.lighten( $color, 80% )};
		--skc--#{c.$palette}--#{$name}-200: #{f.lighten( $color, 60% )};
		--skc--#{c.$palette}--#{$name}-300: #{f.lighten( $color, 40% )};
		--skc--#{c.$palette}--#{$name}-400: #{f.lighten( $color, 20% )};
		--skc--#{c.$palette}--#{$name}-500: #{$color};
		--skc--#{c.$palette}--#{$name}-600: #{f.darken( $color, 20% )};
		--skc--#{c.$palette}--#{$name}-700: #{f.darken( $color, 40% )};
		--skc--#{c.$palette}--#{$name}-800: #{f.darken( $color, 60% )};
		--skc--#{c.$palette}--#{$name}-900: #{f.darken( $color, 80% )};
	}
}

// CSS classes.
.css-names {

	@each $name, $color in c.$shades_map {
		&.#{$name} {
			color: #{$name};
		}
		&.#{$name}-bg {
			background-color: #{$name};
		}
		&.#{$name}-decoration {
			text-decoration-color: #{$name};
		}
		&.#{$name}-emphasis {
			text-emphasis-color: #{$name};
		}
		&.#{$name}-accent {
			accent-color: #{$name};
		}
		&.#{$name}-caret {
			caret-color: #{$name};
		}
		&.#{$name}-border {
			border-color: #{$name};
		}
		&.#{$name}-outline {
			outline-color: #{$name};
		}
		&.#{$name}-rule {
			rule-color: #{$name};
		}
		&.#{$name}-column-rule {
			column-rule-color: #{$name};
		}
		&.#{$name}-row-rule {
			row-rule-color: #{$name};
		}
		&.#{$name}-fill {
			fill: #{$name};
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: #{$name};
					text-fill-color: #{$name};
		}
		&.#{$name}-stroke {
			stroke: #{$name};
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: #{$name};
					text-stroke-color: #{$name};
		}
		&.#{$name}-flood {
			flood-color: #{$name};
		}
		&.#{$name}-stop {
			stop-color: #{$name};
		}
	}
}
