///
/// Dandelion properties
///

@import '_variables';

:root {

	// Original color.
	--css-color--dandelion: #{$css-color--dandelion};

	// Lighten color by percentage.
	--css-color--dandelion-l-5: #{$css-color--dandelion-l-5};
	--css-color--dandelion-l-10: #{$css-color--dandelion-l-10};
	--css-color--dandelion-l-15: #{$css-color--dandelion-l-15};
	--css-color--dandelion-l-20: #{$css-color--dandelion-l-20};
	--css-color--dandelion-l-25: #{$css-color--dandelion-l-25};
	--css-color--dandelion-l-30: #{$css-color--dandelion-l-30};
	--css-color--dandelion-l-35: #{$css-color--dandelion-l-35};
	--css-color--dandelion-l-40: #{$css-color--dandelion-l-40};
	--css-color--dandelion-l-45: #{$css-color--dandelion-l-45};
	--css-color--dandelion-l-50: #{$css-color--dandelion-l-50};
	--css-color--dandelion-l-55: #{$css-color--dandelion-l-55};
	--css-color--dandelion-l-60: #{$css-color--dandelion-l-60};
	--css-color--dandelion-l-65: #{$css-color--dandelion-l-65};
	--css-color--dandelion-l-70: #{$css-color--dandelion-l-70};
	--css-color--dandelion-l-75: #{$css-color--dandelion-l-75};
	--css-color--dandelion-l-80: #{$css-color--dandelion-l-80};
	--css-color--dandelion-l-85: #{$css-color--dandelion-l-85};
	--css-color--dandelion-l-90: #{$css-color--dandelion-l-90};
	--css-color--dandelion-l-95: #{$css-color--dandelion-l-95};
	--css-color--dandelion-l-100: #{$css-color--dandelion-l-100};

	// Darken color by percentage.
	--css-color--dandelion-d-5: #{$css-color--dandelion-d-5};
	--css-color--dandelion-d-10: #{$css-color--dandelion-d-10};
	--css-color--dandelion-d-15: #{$css-color--dandelion-d-15};
	--css-color--dandelion-d-20: #{$css-color--dandelion-d-20};
	--css-color--dandelion-d-25: #{$css-color--dandelion-d-25};
	--css-color--dandelion-d-30: #{$css-color--dandelion-d-30};
	--css-color--dandelion-d-35: #{$css-color--dandelion-d-35};
	--css-color--dandelion-d-40: #{$css-color--dandelion-d-40};
	--css-color--dandelion-d-45: #{$css-color--dandelion-d-45};
	--css-color--dandelion-d-50: #{$css-color--dandelion-d-50};
	--css-color--dandelion-d-55: #{$css-color--dandelion-d-55};
	--css-color--dandelion-d-60: #{$css-color--dandelion-d-60};
	--css-color--dandelion-d-65: #{$css-color--dandelion-d-65};
	--css-color--dandelion-d-70: #{$css-color--dandelion-d-70};
	--css-color--dandelion-d-75: #{$css-color--dandelion-d-75};
	--css-color--dandelion-d-80: #{$css-color--dandelion-d-80};
	--css-color--dandelion-d-85: #{$css-color--dandelion-d-85};
	--css-color--dandelion-d-90: #{$css-color--dandelion-d-90};
	--css-color--dandelion-d-95: #{$css-color--dandelion-d-95};
	--css-color--dandelion-d-100: #{$css-color--dandelion-d-100};

	// Original background color.
	--css-bg-color--dandelion: #{$css-color--dandelion};

	// Lighten background color by percentage.
	--css-bg-color--dandelion-l-5: #{$css-color--dandelion-l-5};
	--css-bg-color--dandelion-l-10: #{$css-color--dandelion-l-10};
	--css-bg-color--dandelion-l-15: #{$css-color--dandelion-l-15};
	--css-bg-color--dandelion-l-20: #{$css-color--dandelion-l-20};
	--css-bg-color--dandelion-l-25: #{$css-color--dandelion-l-25};
	--css-bg-color--dandelion-l-30: #{$css-color--dandelion-l-30};
	--css-bg-color--dandelion-l-35: #{$css-color--dandelion-l-35};
	--css-bg-color--dandelion-l-40: #{$css-color--dandelion-l-40};
	--css-bg-color--dandelion-l-45: #{$css-color--dandelion-l-45};
	--css-bg-color--dandelion-l-50: #{$css-color--dandelion-l-50};
	--css-bg-color--dandelion-l-55: #{$css-color--dandelion-l-55};
	--css-bg-color--dandelion-l-60: #{$css-color--dandelion-l-60};
	--css-bg-color--dandelion-l-65: #{$css-color--dandelion-l-65};
	--css-bg-color--dandelion-l-70: #{$css-color--dandelion-l-70};
	--css-bg-color--dandelion-l-75: #{$css-color--dandelion-l-75};
	--css-bg-color--dandelion-l-80: #{$css-color--dandelion-l-80};
	--css-bg-color--dandelion-l-85: #{$css-color--dandelion-l-85};
	--css-bg-color--dandelion-l-90: #{$css-color--dandelion-l-90};
	--css-bg-color--dandelion-l-95: #{$css-color--dandelion-l-95};
	--css-bg-color--dandelion-l-100: #{$css-color--dandelion-l-100};

	// Darken background color by percentage.
	--css-bg-color--dandelion-d-5: #{$css-color--dandelion-d-5};
	--css-bg-color--dandelion-d-10: #{$css-color--dandelion-d-10};
	--css-bg-color--dandelion-d-15: #{$css-color--dandelion-d-15};
	--css-bg-color--dandelion-d-20: #{$css-color--dandelion-d-20};
	--css-bg-color--dandelion-d-25: #{$css-color--dandelion-d-25};
	--css-bg-color--dandelion-d-30: #{$css-color--dandelion-d-30};
	--css-bg-color--dandelion-d-35: #{$css-color--dandelion-d-35};
	--css-bg-color--dandelion-d-40: #{$css-color--dandelion-d-40};
	--css-bg-color--dandelion-d-45: #{$css-color--dandelion-d-45};
	--css-bg-color--dandelion-d-50: #{$css-color--dandelion-d-50};
	--css-bg-color--dandelion-d-55: #{$css-color--dandelion-d-55};
	--css-bg-color--dandelion-d-60: #{$css-color--dandelion-d-60};
	--css-bg-color--dandelion-d-65: #{$css-color--dandelion-d-65};
	--css-bg-color--dandelion-d-70: #{$css-color--dandelion-d-70};
	--css-bg-color--dandelion-d-75: #{$css-color--dandelion-d-75};
	--css-bg-color--dandelion-d-80: #{$css-color--dandelion-d-80};
	--css-bg-color--dandelion-d-85: #{$css-color--dandelion-d-85};
	--css-bg-color--dandelion-d-90: #{$css-color--dandelion-d-90};
	--css-bg-color--dandelion-d-95: #{$css-color--dandelion-d-95};
	--css-bg-color--dandelion-d-100: #{$css-color--dandelion-d-100};
}
