///
/// Camel properties
///

@use 'variables' as *;

:host,
:root {

	// Original color.
	--css-color--camel: #{$css-color--camel};

	// Lighten color by percentage.
	--css-color--camel-l-5: #{$css-color--camel-l-5};
	--css-color--camel-l-10: #{$css-color--camel-l-10};
	--css-color--camel-l-15: #{$css-color--camel-l-15};
	--css-color--camel-l-20: #{$css-color--camel-l-20};
	--css-color--camel-l-25: #{$css-color--camel-l-25};
	--css-color--camel-l-30: #{$css-color--camel-l-30};
	--css-color--camel-l-35: #{$css-color--camel-l-35};
	--css-color--camel-l-40: #{$css-color--camel-l-40};
	--css-color--camel-l-45: #{$css-color--camel-l-45};
	--css-color--camel-l-50: #{$css-color--camel-l-50};
	--css-color--camel-l-55: #{$css-color--camel-l-55};
	--css-color--camel-l-60: #{$css-color--camel-l-60};
	--css-color--camel-l-65: #{$css-color--camel-l-65};
	--css-color--camel-l-70: #{$css-color--camel-l-70};
	--css-color--camel-l-75: #{$css-color--camel-l-75};
	--css-color--camel-l-80: #{$css-color--camel-l-80};
	--css-color--camel-l-85: #{$css-color--camel-l-85};
	--css-color--camel-l-90: #{$css-color--camel-l-90};
	--css-color--camel-l-95: #{$css-color--camel-l-95};
	--css-color--camel-l-100: #{$css-color--camel-l-100};

	// Darken color by percentage.
	--css-color--camel-d-5: #{$css-color--camel-d-5};
	--css-color--camel-d-10: #{$css-color--camel-d-10};
	--css-color--camel-d-15: #{$css-color--camel-d-15};
	--css-color--camel-d-20: #{$css-color--camel-d-20};
	--css-color--camel-d-25: #{$css-color--camel-d-25};
	--css-color--camel-d-30: #{$css-color--camel-d-30};
	--css-color--camel-d-35: #{$css-color--camel-d-35};
	--css-color--camel-d-40: #{$css-color--camel-d-40};
	--css-color--camel-d-45: #{$css-color--camel-d-45};
	--css-color--camel-d-50: #{$css-color--camel-d-50};
	--css-color--camel-d-55: #{$css-color--camel-d-55};
	--css-color--camel-d-60: #{$css-color--camel-d-60};
	--css-color--camel-d-65: #{$css-color--camel-d-65};
	--css-color--camel-d-70: #{$css-color--camel-d-70};
	--css-color--camel-d-75: #{$css-color--camel-d-75};
	--css-color--camel-d-80: #{$css-color--camel-d-80};
	--css-color--camel-d-85: #{$css-color--camel-d-85};
	--css-color--camel-d-90: #{$css-color--camel-d-90};
	--css-color--camel-d-95: #{$css-color--camel-d-95};
	--css-color--camel-d-100: #{$css-color--camel-d-100};

	// Original background color.
	--css-bg-color--camel: #{$css-color--camel};

	// Lighten background color by percentage.
	--css-bg-color--camel-l-5: #{$css-color--camel-l-5};
	--css-bg-color--camel-l-10: #{$css-color--camel-l-10};
	--css-bg-color--camel-l-15: #{$css-color--camel-l-15};
	--css-bg-color--camel-l-20: #{$css-color--camel-l-20};
	--css-bg-color--camel-l-25: #{$css-color--camel-l-25};
	--css-bg-color--camel-l-30: #{$css-color--camel-l-30};
	--css-bg-color--camel-l-35: #{$css-color--camel-l-35};
	--css-bg-color--camel-l-40: #{$css-color--camel-l-40};
	--css-bg-color--camel-l-45: #{$css-color--camel-l-45};
	--css-bg-color--camel-l-50: #{$css-color--camel-l-50};
	--css-bg-color--camel-l-55: #{$css-color--camel-l-55};
	--css-bg-color--camel-l-60: #{$css-color--camel-l-60};
	--css-bg-color--camel-l-65: #{$css-color--camel-l-65};
	--css-bg-color--camel-l-70: #{$css-color--camel-l-70};
	--css-bg-color--camel-l-75: #{$css-color--camel-l-75};
	--css-bg-color--camel-l-80: #{$css-color--camel-l-80};
	--css-bg-color--camel-l-85: #{$css-color--camel-l-85};
	--css-bg-color--camel-l-90: #{$css-color--camel-l-90};
	--css-bg-color--camel-l-95: #{$css-color--camel-l-95};
	--css-bg-color--camel-l-100: #{$css-color--camel-l-100};

	// Darken background color by percentage.
	--css-bg-color--camel-d-5: #{$css-color--camel-d-5};
	--css-bg-color--camel-d-10: #{$css-color--camel-d-10};
	--css-bg-color--camel-d-15: #{$css-color--camel-d-15};
	--css-bg-color--camel-d-20: #{$css-color--camel-d-20};
	--css-bg-color--camel-d-25: #{$css-color--camel-d-25};
	--css-bg-color--camel-d-30: #{$css-color--camel-d-30};
	--css-bg-color--camel-d-35: #{$css-color--camel-d-35};
	--css-bg-color--camel-d-40: #{$css-color--camel-d-40};
	--css-bg-color--camel-d-45: #{$css-color--camel-d-45};
	--css-bg-color--camel-d-50: #{$css-color--camel-d-50};
	--css-bg-color--camel-d-55: #{$css-color--camel-d-55};
	--css-bg-color--camel-d-60: #{$css-color--camel-d-60};
	--css-bg-color--camel-d-65: #{$css-color--camel-d-65};
	--css-bg-color--camel-d-70: #{$css-color--camel-d-70};
	--css-bg-color--camel-d-75: #{$css-color--camel-d-75};
	--css-bg-color--camel-d-80: #{$css-color--camel-d-80};
	--css-bg-color--camel-d-85: #{$css-color--camel-d-85};
	--css-bg-color--camel-d-90: #{$css-color--camel-d-90};
	--css-bg-color--camel-d-95: #{$css-color--camel-d-95};
	--css-bg-color--camel-d-100: #{$css-color--camel-d-100};
}
