:host,
:root {
  --css-color--camel: #cc9966;
  --css-color--camel-l-5: rgb(204, 159.375, 114.75);
  --css-color--camel-l-10: rgb(204, 165.75, 127.5);
  --css-color--camel-l-15: rgb(204, 172.125, 140.25);
  --css-color--camel-l-20: rgb(204, 178.5, 153);
  --css-color--camel-l-25: rgb(204, 184.875, 165.75);
  --css-color--camel-l-30: rgb(204, 191.25, 178.5);
  --css-color--camel-l-35: rgb(204, 197.625, 191.25);
  --css-color--camel-l-40: #cccccc;
  --css-color--camel-l-45: rgb(206.4285714286, 206.4285714286, 206.4285714286);
  --css-color--camel-l-50: rgb(208.6363636364, 208.6363636364, 208.6363636364);
  --css-color--camel-l-55: rgb(210.652173913, 210.652173913, 210.652173913);
  --css-color--camel-l-60: rgb(212.5, 212.5, 212.5);
  --css-color--camel-l-65: rgb(214.2, 214.2, 214.2);
  --css-color--camel-l-70: rgb(215.7692307692, 215.7692307692, 215.7692307692);
  --css-color--camel-l-75: rgb(217.2222222222, 217.2222222222, 217.2222222222);
  --css-color--camel-l-80: rgb(218.5714285714, 218.5714285714, 218.5714285714);
  --css-color--camel-l-85: rgb(219.8275862069, 219.8275862069, 219.8275862069);
  --css-color--camel-l-90: #dddddd;
  --css-color--camel-l-95: rgb(222.0967741935, 222.0967741935, 222.0967741935);
  --css-color--camel-l-100: rgb(223.125, 223.125, 223.125);
  --css-color--camel-d-5: rgb(191.25, 146.625, 102);
  --css-color--camel-d-10: rgb(178.5, 140.25, 102);
  --css-color--camel-d-15: rgb(165.75, 133.875, 102);
  --css-color--camel-d-20: rgb(153, 127.5, 102);
  --css-color--camel-d-25: rgb(140.25, 121.125, 102);
  --css-color--camel-d-30: rgb(127.5, 114.75, 102);
  --css-color--camel-d-35: rgb(114.75, 108.375, 102);
  --css-color--camel-d-40: #666666;
  --css-color--camel-d-45: rgb(97.1428571429, 97.1428571429, 97.1428571429);
  --css-color--camel-d-50: rgb(92.7272727273, 92.7272727273, 92.7272727273);
  --css-color--camel-d-55: rgb(88.6956521739, 88.6956521739, 88.6956521739);
  --css-color--camel-d-60: #555555;
  --css-color--camel-d-65: rgb(81.6, 81.6, 81.6);
  --css-color--camel-d-70: rgb(78.4615384615, 78.4615384615, 78.4615384615);
  --css-color--camel-d-75: rgb(75.5555555556, 75.5555555556, 75.5555555556);
  --css-color--camel-d-80: rgb(72.8571428571, 72.8571428571, 72.8571428571);
  --css-color--camel-d-85: rgb(70.3448275862, 70.3448275862, 70.3448275862);
  --css-color--camel-d-90: #444444;
  --css-color--camel-d-95: rgb(65.8064516129, 65.8064516129, 65.8064516129);
  --css-color--camel-d-100: rgb(63.75, 63.75, 63.75);
  --css-bg-color--camel: #cc9966;
  --css-bg-color--camel-l-5: rgb(204, 159.375, 114.75);
  --css-bg-color--camel-l-10: rgb(204, 165.75, 127.5);
  --css-bg-color--camel-l-15: rgb(204, 172.125, 140.25);
  --css-bg-color--camel-l-20: rgb(204, 178.5, 153);
  --css-bg-color--camel-l-25: rgb(204, 184.875, 165.75);
  --css-bg-color--camel-l-30: rgb(204, 191.25, 178.5);
  --css-bg-color--camel-l-35: rgb(204, 197.625, 191.25);
  --css-bg-color--camel-l-40: #cccccc;
  --css-bg-color--camel-l-45: rgb(206.4285714286, 206.4285714286, 206.4285714286);
  --css-bg-color--camel-l-50: rgb(208.6363636364, 208.6363636364, 208.6363636364);
  --css-bg-color--camel-l-55: rgb(210.652173913, 210.652173913, 210.652173913);
  --css-bg-color--camel-l-60: rgb(212.5, 212.5, 212.5);
  --css-bg-color--camel-l-65: rgb(214.2, 214.2, 214.2);
  --css-bg-color--camel-l-70: rgb(215.7692307692, 215.7692307692, 215.7692307692);
  --css-bg-color--camel-l-75: rgb(217.2222222222, 217.2222222222, 217.2222222222);
  --css-bg-color--camel-l-80: rgb(218.5714285714, 218.5714285714, 218.5714285714);
  --css-bg-color--camel-l-85: rgb(219.8275862069, 219.8275862069, 219.8275862069);
  --css-bg-color--camel-l-90: #dddddd;
  --css-bg-color--camel-l-95: rgb(222.0967741935, 222.0967741935, 222.0967741935);
  --css-bg-color--camel-l-100: rgb(223.125, 223.125, 223.125);
  --css-bg-color--camel-d-5: rgb(191.25, 146.625, 102);
  --css-bg-color--camel-d-10: rgb(178.5, 140.25, 102);
  --css-bg-color--camel-d-15: rgb(165.75, 133.875, 102);
  --css-bg-color--camel-d-20: rgb(153, 127.5, 102);
  --css-bg-color--camel-d-25: rgb(140.25, 121.125, 102);
  --css-bg-color--camel-d-30: rgb(127.5, 114.75, 102);
  --css-bg-color--camel-d-35: rgb(114.75, 108.375, 102);
  --css-bg-color--camel-d-40: #666666;
  --css-bg-color--camel-d-45: rgb(97.1428571429, 97.1428571429, 97.1428571429);
  --css-bg-color--camel-d-50: rgb(92.7272727273, 92.7272727273, 92.7272727273);
  --css-bg-color--camel-d-55: rgb(88.6956521739, 88.6956521739, 88.6956521739);
  --css-bg-color--camel-d-60: #555555;
  --css-bg-color--camel-d-65: rgb(81.6, 81.6, 81.6);
  --css-bg-color--camel-d-70: rgb(78.4615384615, 78.4615384615, 78.4615384615);
  --css-bg-color--camel-d-75: rgb(75.5555555556, 75.5555555556, 75.5555555556);
  --css-bg-color--camel-d-80: rgb(72.8571428571, 72.8571428571, 72.8571428571);
  --css-bg-color--camel-d-85: rgb(70.3448275862, 70.3448275862, 70.3448275862);
  --css-bg-color--camel-d-90: #444444;
  --css-bg-color--camel-d-95: rgb(65.8064516129, 65.8064516129, 65.8064516129);
  --css-bg-color--camel-d-100: rgb(63.75, 63.75, 63.75);
}

.css-color--camel {
  color: var(--css-color--camel, #cc9966);
}

.css-color--camel-l-5 {
  color: var(--css-color--camel-l-5, rgb(204, 159.375, 114.75));
}

.css-color--camel-l-10 {
  color: var(--css-color--camel-l-10, rgb(204, 165.75, 127.5));
}

.css-color--camel-l-15 {
  color: var(--css-color--camel-l-15, rgb(204, 172.125, 140.25));
}

.css-color--camel-l-20 {
  color: var(--css-color--camel-l-20, rgb(204, 178.5, 153));
}

.css-color--camel-l-25 {
  color: var(--css-color--camel-l-25, rgb(204, 184.875, 165.75));
}

.css-color--camel-l-30 {
  color: var(--css-color--camel-l-30, rgb(204, 191.25, 178.5));
}

.css-color--camel-l-35 {
  color: var(--css-color--camel-l-35, rgb(204, 197.625, 191.25));
}

.css-color--camel-l-40 {
  color: var(--css-color--camel-l-40, #cccccc);
}

.css-color--camel-l-45 {
  color: var(--css-color--camel-l-45, rgb(206.4285714286, 206.4285714286, 206.4285714286));
}

.css-color--camel-l-50 {
  color: var(--css-color--camel-l-50, rgb(208.6363636364, 208.6363636364, 208.6363636364));
}

.css-color--camel-l-55 {
  color: var(--css-color--camel-l-55, rgb(210.652173913, 210.652173913, 210.652173913));
}

.css-color--camel-l-60 {
  color: var(--css-color--camel-l-60, rgb(212.5, 212.5, 212.5));
}

.css-color--camel-l-65 {
  color: var(--css-color--camel-l-65, rgb(214.2, 214.2, 214.2));
}

.css-color--camel-l-70 {
  color: var(--css-color--camel-l-70, rgb(215.7692307692, 215.7692307692, 215.7692307692));
}

.css-color--camel-l-75 {
  color: var(--css-color--camel-l-75, rgb(217.2222222222, 217.2222222222, 217.2222222222));
}

.css-color--camel-l-80 {
  color: var(--css-color--camel-l-80, rgb(218.5714285714, 218.5714285714, 218.5714285714));
}

.css-color--camel-l-85 {
  color: var(--css-color--camel-l-85, rgb(219.8275862069, 219.8275862069, 219.8275862069));
}

.css-color--camel-l-90 {
  color: var(--css-color--camel-l-90, #dddddd);
}

.css-color--camel-l-95 {
  color: var(--css-color--camel-l-95, rgb(222.0967741935, 222.0967741935, 222.0967741935));
}

.css-color--camel-l-100 {
  color: var(--css-color--camel-l-100, rgb(223.125, 223.125, 223.125));
}

.css-color--camel-d-5 {
  color: var(--css-color--camel-d-5, rgb(191.25, 146.625, 102));
}

.css-color--camel-d-10 {
  color: var(--css-color--camel-d-10, rgb(178.5, 140.25, 102));
}

.css-color--camel-d-15 {
  color: var(--css-color--camel-d-15, rgb(165.75, 133.875, 102));
}

.css-color--camel-d-20 {
  color: var(--css-color--camel-d-20, rgb(153, 127.5, 102));
}

.css-color--camel-d-25 {
  color: var(--css-color--camel-d-25, rgb(140.25, 121.125, 102));
}

.css-color--camel-d-30 {
  color: var(--css-color--camel-d-30, rgb(127.5, 114.75, 102));
}

.css-color--camel-d-35 {
  color: var(--css-color--camel-d-35, rgb(114.75, 108.375, 102));
}

.css-color--camel-d-40 {
  color: var(--css-color--camel-d-40, #666666);
}

.css-color--camel-d-45 {
  color: var(--css-color--camel-d-45, rgb(97.1428571429, 97.1428571429, 97.1428571429));
}

.css-color--camel-d-50 {
  color: var(--css-color--camel-d-50, rgb(92.7272727273, 92.7272727273, 92.7272727273));
}

.css-color--camel-d-55 {
  color: var(--css-color--camel-d-55, rgb(88.6956521739, 88.6956521739, 88.6956521739));
}

.css-color--camel-d-60 {
  color: var(--css-color--camel-d-60, #555555);
}

.css-color--camel-d-65 {
  color: var(--css-color--camel-d-65, rgb(81.6, 81.6, 81.6));
}

.css-color--camel-d-70 {
  color: var(--css-color--camel-d-70, rgb(78.4615384615, 78.4615384615, 78.4615384615));
}

.css-color--camel-d-75 {
  color: var(--css-color--camel-d-75, rgb(75.5555555556, 75.5555555556, 75.5555555556));
}

.css-color--camel-d-80 {
  color: var(--css-color--camel-d-80, rgb(72.8571428571, 72.8571428571, 72.8571428571));
}

.css-color--camel-d-85 {
  color: var(--css-color--camel-d-85, rgb(70.3448275862, 70.3448275862, 70.3448275862));
}

.css-color--camel-d-90 {
  color: var(--css-color--camel-d-90, #444444);
}

.css-color--camel-d-95 {
  color: var(--css-color--camel-d-95, rgb(65.8064516129, 65.8064516129, 65.8064516129));
}

.css-color--camel-d-100 {
  color: var(--css-color--camel-d-100, rgb(63.75, 63.75, 63.75));
}

.css-bg-color--camel {
  background-color: var(--css-color--camel, #cc9966);
}

.css-bg-color--camel-l-5 {
  background-color: var(--css-bg-color--camel-l-5, rgb(204, 159.375, 114.75));
}

.css-bg-color--camel-l-10 {
  background-color: var(--css-bg-color--camel-l-10, rgb(204, 165.75, 127.5));
}

.css-bg-color--camel-l-15 {
  background-color: var(--css-bg-color--camel-l-15, rgb(204, 172.125, 140.25));
}

.css-bg-color--camel-l-20 {
  background-color: var(--css-bg-color--camel-l-20, rgb(204, 178.5, 153));
}

.css-bg-color--camel-l-25 {
  background-color: var(--css-bg-color--camel-l-25, rgb(204, 184.875, 165.75));
}

.css-bg-color--camel-l-30 {
  background-color: var(--css-bg-color--camel-l-30, rgb(204, 191.25, 178.5));
}

.css-bg-color--camel-l-35 {
  background-color: var(--css-bg-color--camel-l-35, rgb(204, 197.625, 191.25));
}

.css-bg-color--camel-l-40 {
  background-color: var(--css-bg-color--camel-l-40, #cccccc);
}

.css-bg-color--camel-l-45 {
  background-color: var(--css-bg-color--camel-l-45, rgb(206.4285714286, 206.4285714286, 206.4285714286));
}

.css-bg-color--camel-l-50 {
  background-color: var(--css-bg-color--camel-l-50, rgb(208.6363636364, 208.6363636364, 208.6363636364));
}

.css-bg-color--camel-l-55 {
  background-color: var(--css-bg-color--camel-l-55, rgb(210.652173913, 210.652173913, 210.652173913));
}

.css-bg-color--camel-l-60 {
  background-color: var(--css-bg-color--camel-l-60, rgb(212.5, 212.5, 212.5));
}

.css-bg-color--camel-l-65 {
  background-color: var(--css-bg-color--camel-l-65, rgb(214.2, 214.2, 214.2));
}

.css-bg-color--camel-l-70 {
  background-color: var(--css-bg-color--camel-l-70, rgb(215.7692307692, 215.7692307692, 215.7692307692));
}

.css-bg-color--camel-l-75 {
  background-color: var(--css-bg-color--camel-l-75, rgb(217.2222222222, 217.2222222222, 217.2222222222));
}

.css-bg-color--camel-l-80 {
  background-color: var(--css-bg-color--camel-l-80, rgb(218.5714285714, 218.5714285714, 218.5714285714));
}

.css-bg-color--camel-l-85 {
  background-color: var(--css-bg-color--camel-l-85, rgb(219.8275862069, 219.8275862069, 219.8275862069));
}

.css-bg-color--camel-l-90 {
  background-color: var(--css-bg-color--camel-l-90, #dddddd);
}

.css-bg-color--camel-l-95 {
  background-color: var(--css-bg-color--camel-l-95, rgb(222.0967741935, 222.0967741935, 222.0967741935));
}

.css-bg-color--camel-l-100 {
  background-color: var(--css-bg-color--camel-l-100, rgb(223.125, 223.125, 223.125));
}

.css-bg-color--camel-d-5 {
  background-color: var(--css-bg-color--camel-d-5, rgb(191.25, 146.625, 102));
}

.css-bg-color--camel-d-10 {
  background-color: var(--css-bg-color--camel-d-10, rgb(178.5, 140.25, 102));
}

.css-bg-color--camel-d-15 {
  background-color: var(--css-bg-color--camel-d-15, rgb(165.75, 133.875, 102));
}

.css-bg-color--camel-d-20 {
  background-color: var(--css-bg-color--camel-d-20, rgb(153, 127.5, 102));
}

.css-bg-color--camel-d-25 {
  background-color: var(--css-bg-color--camel-d-25, rgb(140.25, 121.125, 102));
}

.css-bg-color--camel-d-30 {
  background-color: var(--css-bg-color--camel-d-30, rgb(127.5, 114.75, 102));
}

.css-bg-color--camel-d-35 {
  background-color: var(--css-bg-color--camel-d-35, rgb(114.75, 108.375, 102));
}

.css-bg-color--camel-d-40 {
  background-color: var(--css-bg-color--camel-d-40, #666666);
}

.css-bg-color--camel-d-45 {
  background-color: var(--css-bg-color--camel-d-45, rgb(97.1428571429, 97.1428571429, 97.1428571429));
}

.css-bg-color--camel-d-50 {
  background-color: var(--css-bg-color--camel-d-50, rgb(92.7272727273, 92.7272727273, 92.7272727273));
}

.css-bg-color--camel-d-55 {
  background-color: var(--css-bg-color--camel-d-55, rgb(88.6956521739, 88.6956521739, 88.6956521739));
}

.css-bg-color--camel-d-60 {
  background-color: var(--css-bg-color--camel-d-60, #555555);
}

.css-bg-color--camel-d-65 {
  background-color: var(--css-bg-color--camel-d-65, rgb(81.6, 81.6, 81.6));
}

.css-bg-color--camel-d-70 {
  background-color: var(--css-bg-color--camel-d-70, rgb(78.4615384615, 78.4615384615, 78.4615384615));
}

.css-bg-color--camel-d-75 {
  background-color: var(--css-bg-color--camel-d-75, rgb(75.5555555556, 75.5555555556, 75.5555555556));
}

.css-bg-color--camel-d-80 {
  background-color: var(--css-bg-color--camel-d-80, rgb(72.8571428571, 72.8571428571, 72.8571428571));
}

.css-bg-color--camel-d-85 {
  background-color: var(--css-bg-color--camel-d-85, rgb(70.3448275862, 70.3448275862, 70.3448275862));
}

.css-bg-color--camel-d-90 {
  background-color: var(--css-bg-color--camel-d-90, #444444);
}

.css-bg-color--camel-d-95 {
  background-color: var(--css-bg-color--camel-d-95, rgb(65.8064516129, 65.8064516129, 65.8064516129));
}

.css-bg-color--camel-d-100 {
  background-color: var(--css-bg-color--camel-d-100, rgb(63.75, 63.75, 63.75));
}