///
/// Color: amber
///

.tailwind {

	&.amber-50 {
		color: var( --skc--tailwind--amber-50 );
	}
	&.amber-50-bg {
		background-color: var( --skc--tailwind--amber-50 );
	}
	&.amber-50-border {
		border-color: var( --skc--tailwind--amber-50 );
	}
	&.amber-50-fill {
		fill: var( --skc--tailwind--amber-50 );
	}
	&.amber-50-stroke {
		stroke: var( --skc--tailwind--amber-50 );
	}

	&.amber-100 {
		color: var( --skc--tailwind--amber-100 );
	}
	&.amber-100-bg {
		background-color: var( --skc--tailwind--amber-100 );
	}
	&.amber-100-border {
		border-color: var( --skc--tailwind--amber-100 );
	}
	&.amber-100-fill {
		fill: var( --skc--tailwind--amber-100 );
	}
	&.amber-100-stroke {
		stroke: var( --skc--tailwind--amber-100 );
	}

	&.amber-200 {
		color: var( --skc--tailwind--amber-200 );
	}
	&.amber-200-bg {
		background-color: var( --skc--tailwind--amber-200 );
	}
	&.amber-200-border {
		border-color: var( --skc--tailwind--amber-200 );
	}
	&.amber-200-fill {
		fill: var( --skc--tailwind--amber-200 );
	}
	&.amber-200-stroke {
		stroke: var( --skc--tailwind--amber-200 );
	}

	&.amber-300 {
		color: var( --skc--tailwind--amber-300 );
	}
	&.amber-300-bg {
		background-color: var( --skc--tailwind--amber-300 );
	}
	&.amber-300-border {
		border-color: var( --skc--tailwind--amber-300 );
	}
	&.amber-300-fill {
		fill: var( --skc--tailwind--amber-300 );
	}
	&.amber-300-stroke {
		stroke: var( --skc--tailwind--amber-300 );
	}

	&.amber-400 {
		color: var( --skc--tailwind--amber-400 );
	}
	&.amber-400-bg {
		background-color: var( --skc--tailwind--amber-400 );
	}
	&.amber-400-border {
		border-color: var( --skc--tailwind--amber-400 );
	}
	&.amber-400-fill {
		fill: var( --skc--tailwind--amber-400 );
	}
	&.amber-400-stroke {
		stroke: var( --skc--tailwind--amber-400 );
	}

	&.amber-500 {
		color: var( --skc--tailwind--amber-500 );
	}
	&.amber-500-bg {
		background-color: var( --skc--tailwind--amber-500 );
	}
	&.amber-500-border {
		border-color: var( --skc--tailwind--amber-500 );
	}
	&.amber-500-fill {
		fill: var( --skc--tailwind--amber-500 );
	}
	&.amber-500-stroke {
		stroke: var( --skc--tailwind--amber-500 );
	}

	&.amber-600 {
		color: var( --skc--tailwind--amber-600 );
	}
	&.amber-600-bg {
		background-color: var( --skc--tailwind--amber-600 );
	}
	&.amber-600-border {
		border-color: var( --skc--tailwind--amber-600 );
	}
	&.amber-600-fill {
		fill: var( --skc--tailwind--amber-600 );
	}
	&.amber-600-stroke {
		stroke: var( --skc--tailwind--amber-600 );
	}

	&.amber-700 {
		color: var( --skc--tailwind--amber-700 );
	}
	&.amber-700-bg {
		background-color: var( --skc--tailwind--amber-700 );
	}
	&.amber-700-border {
		border-color: var( --skc--tailwind--amber-700 );
	}
	&.amber-700-fill {
		fill: var( --skc--tailwind--amber-700 );
	}
	&.amber-700-stroke {
		stroke: var( --skc--tailwind--amber-700 );
	}

	&.amber-800 {
		color: var( --skc--tailwind--amber-800 );
	}
	&.amber-800-bg {
		background-color: var( --skc--tailwind--amber-800 );
	}
	&.amber-800-border {
		border-color: var( --skc--tailwind--amber-800 );
	}
	&.amber-800-fill {
		fill: var( --skc--tailwind--amber-800 );
	}
	&.amber-800-stroke {
		stroke: var( --skc--tailwind--amber-800 );
	}

	&.amber-900 {
		color: var( --skc--tailwind--amber-900 );
	}
	&.amber-900-bg {
		background-color: var( --skc--tailwind--amber-900 );
	}
	&.amber-900-border {
		border-color: var( --skc--tailwind--amber-900 );
	}
	&.amber-900-fill {
		fill: var( --skc--tailwind--amber-900 );
	}
	&.amber-900-stroke {
		stroke: var( --skc--tailwind--amber-900 );
	}

	&.amber-950 {
		color: var( --skc--tailwind--amber-950 );
	}
	&.amber-950-bg {
		background-color: var( --skc--tailwind--amber-950 );
	}
	&.amber-950-border {
		border-color: var( --skc--tailwind--amber-950 );
	}
	&.amber-950-fill {
		fill: var( --skc--tailwind--amber-950 );
	}
	&.amber-950-stroke {
		stroke: var( --skc--tailwind--amber-950 );
	}
}
