///
/// Color: blue
///

.tailwind {

	&.blue-50 {
		color: var( --skc--tailwind--blue-50 );
	}
	&.blue-50-bg {
		background-color: var( --skc--tailwind--blue-50 );
	}
	&.blue-50-border {
		border-color: var( --skc--tailwind--blue-50 );
	}
	&.blue-50-fill {
		fill: var( --skc--tailwind--blue-50 );
	}
	&.blue-50-stroke {
		stroke: var( --skc--tailwind--blue-50 );
	}

	&.blue-100 {
		color: var( --skc--tailwind--blue-100 );
	}
	&.blue-100-bg {
		background-color: var( --skc--tailwind--blue-100 );
	}
	&.blue-100-border {
		border-color: var( --skc--tailwind--blue-100 );
	}
	&.blue-100-fill {
		fill: var( --skc--tailwind--blue-100 );
	}
	&.blue-100-stroke {
		stroke: var( --skc--tailwind--blue-100 );
	}

	&.blue-200 {
		color: var( --skc--tailwind--blue-200 );
	}
	&.blue-200-bg {
		background-color: var( --skc--tailwind--blue-200 );
	}
	&.blue-200-border {
		border-color: var( --skc--tailwind--blue-200 );
	}
	&.blue-200-fill {
		fill: var( --skc--tailwind--blue-200 );
	}
	&.blue-200-stroke {
		stroke: var( --skc--tailwind--blue-200 );
	}

	&.blue-300 {
		color: var( --skc--tailwind--blue-300 );
	}
	&.blue-300-bg {
		background-color: var( --skc--tailwind--blue-300 );
	}
	&.blue-300-border {
		border-color: var( --skc--tailwind--blue-300 );
	}
	&.blue-300-fill {
		fill: var( --skc--tailwind--blue-300 );
	}
	&.blue-300-stroke {
		stroke: var( --skc--tailwind--blue-300 );
	}

	&.blue-400 {
		color: var( --skc--tailwind--blue-400 );
	}
	&.blue-400-bg {
		background-color: var( --skc--tailwind--blue-400 );
	}
	&.blue-400-border {
		border-color: var( --skc--tailwind--blue-400 );
	}
	&.blue-400-fill {
		fill: var( --skc--tailwind--blue-400 );
	}
	&.blue-400-stroke {
		stroke: var( --skc--tailwind--blue-400 );
	}

	&.blue-500 {
		color: var( --skc--tailwind--blue-500 );
	}
	&.blue-500-bg {
		background-color: var( --skc--tailwind--blue-500 );
	}
	&.blue-500-border {
		border-color: var( --skc--tailwind--blue-500 );
	}
	&.blue-500-fill {
		fill: var( --skc--tailwind--blue-500 );
	}
	&.blue-500-stroke {
		stroke: var( --skc--tailwind--blue-500 );
	}

	&.blue-600 {
		color: var( --skc--tailwind--blue-600 );
	}
	&.blue-600-bg {
		background-color: var( --skc--tailwind--blue-600 );
	}
	&.blue-600-border {
		border-color: var( --skc--tailwind--blue-600 );
	}
	&.blue-600-fill {
		fill: var( --skc--tailwind--blue-600 );
	}
	&.blue-600-stroke {
		stroke: var( --skc--tailwind--blue-600 );
	}

	&.blue-700 {
		color: var( --skc--tailwind--blue-700 );
	}
	&.blue-700-bg {
		background-color: var( --skc--tailwind--blue-700 );
	}
	&.blue-700-border {
		border-color: var( --skc--tailwind--blue-700 );
	}
	&.blue-700-fill {
		fill: var( --skc--tailwind--blue-700 );
	}
	&.blue-700-stroke {
		stroke: var( --skc--tailwind--blue-700 );
	}

	&.blue-800 {
		color: var( --skc--tailwind--blue-800 );
	}
	&.blue-800-bg {
		background-color: var( --skc--tailwind--blue-800 );
	}
	&.blue-800-border {
		border-color: var( --skc--tailwind--blue-800 );
	}
	&.blue-800-fill {
		fill: var( --skc--tailwind--blue-800 );
	}
	&.blue-800-stroke {
		stroke: var( --skc--tailwind--blue-800 );
	}

	&.blue-900 {
		color: var( --skc--tailwind--blue-900 );
	}
	&.blue-900-bg {
		background-color: var( --skc--tailwind--blue-900 );
	}
	&.blue-900-border {
		border-color: var( --skc--tailwind--blue-900 );
	}
	&.blue-900-fill {
		fill: var( --skc--tailwind--blue-900 );
	}
	&.blue-900-stroke {
		stroke: var( --skc--tailwind--blue-900 );
	}

	&.blue-950 {
		color: var( --skc--tailwind--blue-950 );
	}
	&.blue-950-bg {
		background-color: var( --skc--tailwind--blue-950 );
	}
	&.blue-950-border {
		border-color: var( --skc--tailwind--blue-950 );
	}
	&.blue-950-fill {
		fill: var( --skc--tailwind--blue-950 );
	}
	&.blue-950-stroke {
		stroke: var( --skc--tailwind--blue-950 );
	}
}
