///
/// Define CSS variables
///

@use '../modules/colors';

:host,
:root {
	--skc--tailwind--red-50:  #{colors.$red_50};
	--skc--tailwind--red-100: #{colors.$red_100};
	--skc--tailwind--red-200: #{colors.$red_200};
	--skc--tailwind--red-300: #{colors.$red_300};
	--skc--tailwind--red-400: #{colors.$red_400};
	--skc--tailwind--red-500: #{colors.$red_500};
	--skc--tailwind--red-600: #{colors.$red_600};
	--skc--tailwind--red-700: #{colors.$red_700};
	--skc--tailwind--red-800: #{colors.$red_800};
	--skc--tailwind--red-900: #{colors.$red_900};
	--skc--tailwind--red-950: #{colors.$red_950};

	--skc--tailwind--orange-50:  #{colors.$orange_50};
	--skc--tailwind--orange-100: #{colors.$orange_100};
	--skc--tailwind--orange-200: #{colors.$orange_200};
	--skc--tailwind--orange-300: #{colors.$orange_300};
	--skc--tailwind--orange-400: #{colors.$orange_400};
	--skc--tailwind--orange-500: #{colors.$orange_500};
	--skc--tailwind--orange-600: #{colors.$orange_600};
	--skc--tailwind--orange-700: #{colors.$orange_700};
	--skc--tailwind--orange-800: #{colors.$orange_800};
	--skc--tailwind--orange-900: #{colors.$orange_900};
	--skc--tailwind--orange-950: #{colors.$orange_950};

	--skc--tailwind--amber-50:  #{colors.$amber_50};
	--skc--tailwind--amber-100: #{colors.$amber_100};
	--skc--tailwind--amber-200: #{colors.$amber_200};
	--skc--tailwind--amber-300: #{colors.$amber_300};
	--skc--tailwind--amber-400: #{colors.$amber_400};
	--skc--tailwind--amber-500: #{colors.$amber_500};
	--skc--tailwind--amber-600: #{colors.$amber_600};
	--skc--tailwind--amber-700: #{colors.$amber_700};
	--skc--tailwind--amber-800: #{colors.$amber_800};
	--skc--tailwind--amber-900: #{colors.$amber_900};
	--skc--tailwind--amber-950: #{colors.$amber_950};

	--skc--tailwind--yellow-50:  #{colors.$yellow_50};
	--skc--tailwind--yellow-100: #{colors.$yellow_100};
	--skc--tailwind--yellow-200: #{colors.$yellow_200};
	--skc--tailwind--yellow-300: #{colors.$yellow_300};
	--skc--tailwind--yellow-400: #{colors.$yellow_400};
	--skc--tailwind--yellow-500: #{colors.$yellow_500};
	--skc--tailwind--yellow-600: #{colors.$yellow_600};
	--skc--tailwind--yellow-700: #{colors.$yellow_700};
	--skc--tailwind--yellow-800: #{colors.$yellow_800};
	--skc--tailwind--yellow-900: #{colors.$yellow_900};
	--skc--tailwind--yellow-950: #{colors.$yellow_950};

	--skc--tailwind--lime-50:  #{colors.$lime_50};
	--skc--tailwind--lime-100: #{colors.$lime_100};
	--skc--tailwind--lime-200: #{colors.$lime_200};
	--skc--tailwind--lime-300: #{colors.$lime_300};
	--skc--tailwind--lime-400: #{colors.$lime_400};
	--skc--tailwind--lime-500: #{colors.$lime_500};
	--skc--tailwind--lime-600: #{colors.$lime_600};
	--skc--tailwind--lime-700: #{colors.$lime_700};
	--skc--tailwind--lime-800: #{colors.$lime_800};
	--skc--tailwind--lime-900: #{colors.$lime_900};
	--skc--tailwind--lime-950: #{colors.$lime_950};

	--skc--tailwind--green-50:  #{colors.$green_50};
	--skc--tailwind--green-100: #{colors.$green_100};
	--skc--tailwind--green-200: #{colors.$green_200};
	--skc--tailwind--green-300: #{colors.$green_300};
	--skc--tailwind--green-400: #{colors.$green_400};
	--skc--tailwind--green-500: #{colors.$green_500};
	--skc--tailwind--green-600: #{colors.$green_600};
	--skc--tailwind--green-700: #{colors.$green_700};
	--skc--tailwind--green-800: #{colors.$green_800};
	--skc--tailwind--green-900: #{colors.$green_900};
	--skc--tailwind--green-950: #{colors.$green_950};

	--skc--tailwind--emerald-50:  #{colors.$emerald_50};
	--skc--tailwind--emerald-100: #{colors.$emerald_100};
	--skc--tailwind--emerald-200: #{colors.$emerald_200};
	--skc--tailwind--emerald-300: #{colors.$emerald_300};
	--skc--tailwind--emerald-400: #{colors.$emerald_400};
	--skc--tailwind--emerald-500: #{colors.$emerald_500};
	--skc--tailwind--emerald-600: #{colors.$emerald_600};
	--skc--tailwind--emerald-700: #{colors.$emerald_700};
	--skc--tailwind--emerald-800: #{colors.$emerald_800};
	--skc--tailwind--emerald-900: #{colors.$emerald_900};
	--skc--tailwind--emerald-950: #{colors.$emerald_950};

	--skc--tailwind--teal-50:  #{colors.$teal_50};
	--skc--tailwind--teal-100: #{colors.$teal_100};
	--skc--tailwind--teal-200: #{colors.$teal_200};
	--skc--tailwind--teal-300: #{colors.$teal_300};
	--skc--tailwind--teal-400: #{colors.$teal_400};
	--skc--tailwind--teal-500: #{colors.$teal_500};
	--skc--tailwind--teal-600: #{colors.$teal_600};
	--skc--tailwind--teal-700: #{colors.$teal_700};
	--skc--tailwind--teal-800: #{colors.$teal_800};
	--skc--tailwind--teal-900: #{colors.$teal_800};
	--skc--tailwind--teal-950: #{colors.$teal_950};

	--skc--tailwind--cyan-50:  #{colors.$cyan_50};
	--skc--tailwind--cyan-100: #{colors.$cyan_100};
	--skc--tailwind--cyan-200: #{colors.$cyan_200};
	--skc--tailwind--cyan-300: #{colors.$cyan_300};
	--skc--tailwind--cyan-400: #{colors.$cyan_400};
	--skc--tailwind--cyan-500: #{colors.$cyan_500};
	--skc--tailwind--cyan-600: #{colors.$cyan_600};
	--skc--tailwind--cyan-700: #{colors.$cyan_700};
	--skc--tailwind--cyan-800: #{colors.$cyan_800};
	--skc--tailwind--cyan-900: #{colors.$cyan_900};
	--skc--tailwind--cyan-950: #{colors.$cyan_950};

	--skc--tailwind--sky-50:  #{colors.$sky_50};
	--skc--tailwind--sky-100: #{colors.$sky_100};
	--skc--tailwind--sky-200: #{colors.$sky_200};
	--skc--tailwind--sky-300: #{colors.$sky_300};
	--skc--tailwind--sky-400: #{colors.$sky_400};
	--skc--tailwind--sky-500: #{colors.$sky_500};
	--skc--tailwind--sky-600: #{colors.$sky_600};
	--skc--tailwind--sky-700: #{colors.$sky_700};
	--skc--tailwind--sky-800: #{colors.$sky_800};
	--skc--tailwind--sky-900: #{colors.$sky_900};
	--skc--tailwind--sky-950: #{colors.$sky_950};

	--skc--tailwind--blue-50:  #{colors.$blue_50};
	--skc--tailwind--blue-100: #{colors.$blue_100};
	--skc--tailwind--blue-200: #{colors.$blue_200};
	--skc--tailwind--blue-300: #{colors.$blue_300};
	--skc--tailwind--blue-400: #{colors.$blue_400};
	--skc--tailwind--blue-500: #{colors.$blue_500};
	--skc--tailwind--blue-600: #{colors.$blue_600};
	--skc--tailwind--blue-700: #{colors.$blue_700};
	--skc--tailwind--blue-800: #{colors.$blue_800};
	--skc--tailwind--blue-900: #{colors.$blue_900};
	--skc--tailwind--blue-950: #{colors.$blue_950};

	--skc--tailwind--indigo-50:  #{colors.$indigo_50};
	--skc--tailwind--indigo-100: #{colors.$indigo_100};
	--skc--tailwind--indigo-200: #{colors.$indigo_200};
	--skc--tailwind--indigo-300: #{colors.$indigo_300};
	--skc--tailwind--indigo-400: #{colors.$indigo_400};
	--skc--tailwind--indigo-500: #{colors.$indigo_500};
	--skc--tailwind--indigo-600: #{colors.$indigo_600};
	--skc--tailwind--indigo-700: #{colors.$indigo_700};
	--skc--tailwind--indigo-800: #{colors.$indigo_800};
	--skc--tailwind--indigo-900: #{colors.$indigo_900};
	--skc--tailwind--indigo-950: #{colors.$indigo_950};

	--skc--tailwind--violet-50:  #{colors.$violet_50};
	--skc--tailwind--violet-100: #{colors.$violet_100};
	--skc--tailwind--violet-200: #{colors.$violet_200};
	--skc--tailwind--violet-300: #{colors.$violet_300};
	--skc--tailwind--violet-400: #{colors.$violet_400};
	--skc--tailwind--violet-500: #{colors.$violet_500};
	--skc--tailwind--violet-600: #{colors.$violet_600};
	--skc--tailwind--violet-700: #{colors.$violet_700};
	--skc--tailwind--violet-800: #{colors.$violet_800};
	--skc--tailwind--violet-900: #{colors.$violet_900};
	--skc--tailwind--violet-950: #{colors.$violet_950};

	--skc--tailwind--purple-50:  #{colors.$purple_50};
	--skc--tailwind--purple-100: #{colors.$purple_100};
	--skc--tailwind--purple-200: #{colors.$purple_200};
	--skc--tailwind--purple-300: #{colors.$purple_300};
	--skc--tailwind--purple-400: #{colors.$purple_400};
	--skc--tailwind--purple-500: #{colors.$purple_500};
	--skc--tailwind--purple-600: #{colors.$purple_600};
	--skc--tailwind--purple-700: #{colors.$purple_700};
	--skc--tailwind--purple-800: #{colors.$purple_800};
	--skc--tailwind--purple-900: #{colors.$purple_900};
	--skc--tailwind--purple-950: #{colors.$purple_950};

	--skc--tailwind--fuchsia-50:  #{colors.$fuchsia_50};
	--skc--tailwind--fuchsia-100: #{colors.$fuchsia_100};
	--skc--tailwind--fuchsia-200: #{colors.$fuchsia_200};
	--skc--tailwind--fuchsia-300: #{colors.$fuchsia_300};
	--skc--tailwind--fuchsia-400: #{colors.$fuchsia_400};
	--skc--tailwind--fuchsia-500: #{colors.$fuchsia_500};
	--skc--tailwind--fuchsia-600: #{colors.$fuchsia_600};
	--skc--tailwind--fuchsia-700: #{colors.$fuchsia_700};
	--skc--tailwind--fuchsia-800: #{colors.$fuchsia_800};
	--skc--tailwind--fuchsia-900: #{colors.$fuchsia_900};
	--skc--tailwind--fuchsia-950: #{colors.$fuchsia_950};

	--skc--tailwind--pink-50:  #{colors.$pink_50};
	--skc--tailwind--pink-100: #{colors.$pink_100};
	--skc--tailwind--pink-200: #{colors.$pink_200};
	--skc--tailwind--pink-300: #{colors.$pink_300};
	--skc--tailwind--pink-400: #{colors.$pink_400};
	--skc--tailwind--pink-500: #{colors.$pink_500};
	--skc--tailwind--pink-600: #{colors.$pink_600};
	--skc--tailwind--pink-700: #{colors.$pink_700};
	--skc--tailwind--pink-800: #{colors.$pink_800};
	--skc--tailwind--pink-900: #{colors.$pink_900};
	--skc--tailwind--pink-950: #{colors.$pink_950};

	--skc--tailwind--rose-50:  #{colors.$rose_50};
	--skc--tailwind--rose-100: #{colors.$rose_100};
	--skc--tailwind--rose-200: #{colors.$rose_200};
	--skc--tailwind--rose-300: #{colors.$rose_300};
	--skc--tailwind--rose-400: #{colors.$rose_400};
	--skc--tailwind--rose-500: #{colors.$rose_500};
	--skc--tailwind--rose-600: #{colors.$rose_600};
	--skc--tailwind--rose-700: #{colors.$rose_700};
	--skc--tailwind--rose-800: #{colors.$rose_800};
	--skc--tailwind--rose-900: #{colors.$rose_900};
	--skc--tailwind--rose-950: #{colors.$rose_950};

	--skc--tailwind--slate-50:  #{colors.$slate_50};
	--skc--tailwind--slate-100: #{colors.$slate_100};
	--skc--tailwind--slate-200: #{colors.$slate_200};
	--skc--tailwind--slate-300: #{colors.$slate_300};
	--skc--tailwind--slate-400: #{colors.$slate_400};
	--skc--tailwind--slate-500: #{colors.$slate_500};
	--skc--tailwind--slate-600: #{colors.$slate_600};
	--skc--tailwind--slate-700: #{colors.$slate_700};
	--skc--tailwind--slate-800: #{colors.$slate_800};
	--skc--tailwind--slate-900: #{colors.$slate_900};
	--skc--tailwind--slate-950: #{colors.$slate_950};

	--skc--tailwind--gray-50:  #{colors.$gray_50};
	--skc--tailwind--gray-100: #{colors.$gray_100};
	--skc--tailwind--gray-200: #{colors.$gray_200};
	--skc--tailwind--gray-300: #{colors.$gray_300};
	--skc--tailwind--gray-400: #{colors.$gray_400};
	--skc--tailwind--gray-500: #{colors.$gray_500};
	--skc--tailwind--gray-600: #{colors.$gray_600};
	--skc--tailwind--gray-700: #{colors.$gray_700};
	--skc--tailwind--gray-800: #{colors.$gray_800};
	--skc--tailwind--gray-900: #{colors.$gray_900};
	--skc--tailwind--gray-950: #{colors.$gray_950};

	--skc--tailwind--zinc-50:  #{colors.$zinc_50};
	--skc--tailwind--zinc-100: #{colors.$zinc_100};
	--skc--tailwind--zinc-200: #{colors.$zinc_200};
	--skc--tailwind--zinc-300: #{colors.$zinc_300};
	--skc--tailwind--zinc-400: #{colors.$zinc_400};
	--skc--tailwind--zinc-500: #{colors.$zinc_500};
	--skc--tailwind--zinc-600: #{colors.$zinc_600};
	--skc--tailwind--zinc-700: #{colors.$zinc_700};
	--skc--tailwind--zinc-800: #{colors.$zinc_800};
	--skc--tailwind--zinc-900: #{colors.$zinc_900};
	--skc--tailwind--zinc-950: #{colors.$zinc_950};

	--skc--tailwind--neutral-50:  #{colors.$neutral_50};
	--skc--tailwind--neutral-100: #{colors.$neutral_100};
	--skc--tailwind--neutral-200: #{colors.$neutral_200};
	--skc--tailwind--neutral-300: #{colors.$neutral_300};
	--skc--tailwind--neutral-400: #{colors.$neutral_400};
	--skc--tailwind--neutral-500: #{colors.$neutral_500};
	--skc--tailwind--neutral-600: #{colors.$neutral_600};
	--skc--tailwind--neutral-700: #{colors.$neutral_700};
	--skc--tailwind--neutral-800: #{colors.$neutral_800};
	--skc--tailwind--neutral-900: #{colors.$neutral_900};
	--skc--tailwind--neutral-950: #{colors.$neutral_950};

	--skc--tailwind--stone-50:  #{colors.$stone_50};
	--skc--tailwind--stone-100: #{colors.$stone_100};
	--skc--tailwind--stone-200: #{colors.$stone_200};
	--skc--tailwind--stone-300: #{colors.$stone_300};
	--skc--tailwind--stone-400: #{colors.$stone_400};
	--skc--tailwind--stone-500: #{colors.$stone_500};
	--skc--tailwind--stone-600: #{colors.$stone_600};
	--skc--tailwind--stone-700: #{colors.$stone_700};
	--skc--tailwind--stone-800: #{colors.$stone_800};
	--skc--tailwind--stone-900: #{colors.$stone_900};
	--skc--tailwind--stone-950: #{colors.$stone_950};

	--skc--tailwind--taupe-50:  #{colors.$taupe_50};
	--skc--tailwind--taupe-100: #{colors.$taupe_100};
	--skc--tailwind--taupe-200: #{colors.$taupe_200};
	--skc--tailwind--taupe-300: #{colors.$taupe_300};
	--skc--tailwind--taupe-400: #{colors.$taupe_400};
	--skc--tailwind--taupe-500: #{colors.$taupe_500};
	--skc--tailwind--taupe-600: #{colors.$taupe_600};
	--skc--tailwind--taupe-700: #{colors.$taupe_700};
	--skc--tailwind--taupe-800: #{colors.$taupe_800};
	--skc--tailwind--taupe-900: #{colors.$taupe_900};
	--skc--tailwind--taupe-950: #{colors.$taupe_950};

	--skc--tailwind--mauve-50:  #{colors.$mauve_50};
	--skc--tailwind--mauve-100: #{colors.$mauve_100};
	--skc--tailwind--mauve-200: #{colors.$mauve_200};
	--skc--tailwind--mauve-300: #{colors.$mauve_300};
	--skc--tailwind--mauve-400: #{colors.$mauve_400};
	--skc--tailwind--mauve-500: #{colors.$mauve_500};
	--skc--tailwind--mauve-600: #{colors.$mauve_600};
	--skc--tailwind--mauve-700: #{colors.$mauve_700};
	--skc--tailwind--mauve-800: #{colors.$mauve_800};
	--skc--tailwind--mauve-900: #{colors.$mauve_900};
	--skc--tailwind--mauve-950: #{colors.$mauve_950};

	--skc--tailwind--mist-50:  #{colors.$mist_50};
	--skc--tailwind--mist-100: #{colors.$mist_100};
	--skc--tailwind--mist-200: #{colors.$mist_200};
	--skc--tailwind--mist-300: #{colors.$mist_300};
	--skc--tailwind--mist-400: #{colors.$mist_400};
	--skc--tailwind--mist-500: #{colors.$mist_500};
	--skc--tailwind--mist-600: #{colors.$mist_600};
	--skc--tailwind--mist-700: #{colors.$mist_700};
	--skc--tailwind--mist-800: #{colors.$mist_800};
	--skc--tailwind--mist-900: #{colors.$mist_900};
	--skc--tailwind--mist-950: #{colors.$mist_950};

	--skc--tailwind--olive-50:  #{colors.$olive_50};
	--skc--tailwind--olive-100: #{colors.$olive_100};
	--skc--tailwind--olive-200: #{colors.$olive_200};
	--skc--tailwind--olive-300: #{colors.$olive_300};
	--skc--tailwind--olive-400: #{colors.$olive_400};
	--skc--tailwind--olive-500: #{colors.$olive_500};
	--skc--tailwind--olive-600: #{colors.$olive_600};
	--skc--tailwind--olive-700: #{colors.$olive_700};
	--skc--tailwind--olive-800: #{colors.$olive_800};
	--skc--tailwind--olive-900: #{colors.$olive_900};
	--skc--tailwind--olive-950: #{colors.$olive_950};
}
