///
/// Color: cyan
///

.tailwind {

	&.cyan-50 {
		color: var( --skc--tailwind--cyan-50 );
	}
	&.cyan-50-bg {
		background-color: var( --skc--tailwind--cyan-50 );
	}
	&.cyan-50-border {
		border-color: var( --skc--tailwind--cyan-50 );
	}
	&.cyan-50-fill {
		fill: var( --skc--tailwind--cyan-50 );
	}
	&.cyan-50-stroke {
		stroke: var( --skc--tailwind--cyan-50 );
	}

	&.cyan-100 {
		color: var( --skc--tailwind--cyan-100 );
	}
	&.cyan-100-bg {
		background-color: var( --skc--tailwind--cyan-100 );
	}
	&.cyan-100-border {
		border-color: var( --skc--tailwind--cyan-100 );
	}
	&.cyan-100-fill {
		fill: var( --skc--tailwind--cyan-100 );
	}
	&.cyan-100-stroke {
		stroke: var( --skc--tailwind--cyan-100 );
	}

	&.cyan-200 {
		color: var( --skc--tailwind--cyan-200 );
	}
	&.cyan-200-bg {
		background-color: var( --skc--tailwind--cyan-200 );
	}
	&.cyan-200-border {
		border-color: var( --skc--tailwind--cyan-200 );
	}
	&.cyan-200-fill {
		fill: var( --skc--tailwind--cyan-200 );
	}
	&.cyan-200-stroke {
		stroke: var( --skc--tailwind--cyan-200 );
	}

	&.cyan-300 {
		color: var( --skc--tailwind--cyan-300 );
	}
	&.cyan-300-bg {
		background-color: var( --skc--tailwind--cyan-300 );
	}
	&.cyan-300-border {
		border-color: var( --skc--tailwind--cyan-300 );
	}
	&.cyan-300-fill {
		fill: var( --skc--tailwind--cyan-300 );
	}
	&.cyan-300-stroke {
		stroke: var( --skc--tailwind--cyan-300 );
	}

	&.cyan-400 {
		color: var( --skc--tailwind--cyan-400 );
	}
	&.cyan-400-bg {
		background-color: var( --skc--tailwind--cyan-400 );
	}
	&.cyan-400-border {
		border-color: var( --skc--tailwind--cyan-400 );
	}
	&.cyan-400-fill {
		fill: var( --skc--tailwind--cyan-400 );
	}
	&.cyan-400-stroke {
		stroke: var( --skc--tailwind--cyan-400 );
	}

	&.cyan-500 {
		color: var( --skc--tailwind--cyan-500 );
	}
	&.cyan-500-bg {
		background-color: var( --skc--tailwind--cyan-500 );
	}
	&.cyan-500-border {
		border-color: var( --skc--tailwind--cyan-500 );
	}
	&.cyan-500-fill {
		fill: var( --skc--tailwind--cyan-500 );
	}
	&.cyan-500-stroke {
		stroke: var( --skc--tailwind--cyan-500 );
	}

	&.cyan-600 {
		color: var( --skc--tailwind--cyan-600 );
	}
	&.cyan-600-bg {
		background-color: var( --skc--tailwind--cyan-600 );
	}
	&.cyan-600-border {
		border-color: var( --skc--tailwind--cyan-600 );
	}
	&.cyan-600-fill {
		fill: var( --skc--tailwind--cyan-600 );
	}
	&.cyan-600-stroke {
		stroke: var( --skc--tailwind--cyan-600 );
	}

	&.cyan-700 {
		color: var( --skc--tailwind--cyan-700 );
	}
	&.cyan-700-bg {
		background-color: var( --skc--tailwind--cyan-700 );
	}
	&.cyan-700-border {
		border-color: var( --skc--tailwind--cyan-700 );
	}
	&.cyan-700-fill {
		fill: var( --skc--tailwind--cyan-700 );
	}
	&.cyan-700-stroke {
		stroke: var( --skc--tailwind--cyan-700 );
	}

	&.cyan-800 {
		color: var( --skc--tailwind--cyan-800 );
	}
	&.cyan-800-bg {
		background-color: var( --skc--tailwind--cyan-800 );
	}
	&.cyan-800-border {
		border-color: var( --skc--tailwind--cyan-800 );
	}
	&.cyan-800-fill {
		fill: var( --skc--tailwind--cyan-800 );
	}
	&.cyan-800-stroke {
		stroke: var( --skc--tailwind--cyan-800 );
	}

	&.cyan-900 {
		color: var( --skc--tailwind--cyan-900 );
	}
	&.cyan-900-bg {
		background-color: var( --skc--tailwind--cyan-900 );
	}
	&.cyan-900-border {
		border-color: var( --skc--tailwind--cyan-900 );
	}
	&.cyan-900-fill {
		fill: var( --skc--tailwind--cyan-900 );
	}
	&.cyan-900-stroke {
		stroke: var( --skc--tailwind--cyan-900 );
	}

	&.cyan-950 {
		color: var( --skc--tailwind--cyan-950 );
	}
	&.cyan-950-bg {
		background-color: var( --skc--tailwind--cyan-950 );
	}
	&.cyan-950-border {
		border-color: var( --skc--tailwind--cyan-950 );
	}
	&.cyan-950-fill {
		fill: var( --skc--tailwind--cyan-950 );
	}
	&.cyan-950-stroke {
		stroke: var( --skc--tailwind--cyan-950 );
	}
}
