///
/// Color: emerald
///

.tailwind {

	&.emerald-50 {
		color: var( --skc--tailwind--emerald-50 );
	}
	&.emerald-50-bg {
		background-color: var( --skc--tailwind--emerald-50 );
	}
	&.emerald-50-border {
		border-color: var( --skc--tailwind--emerald-50 );
	}
	&.emerald-50-fill {
		fill: var( --skc--tailwind--emerald-50 );
	}
	&.emerald-50-stroke {
		stroke: var( --skc--tailwind--emerald-50 );
	}

	&.emerald-100 {
		color: var( --skc--tailwind--emerald-100 );
	}
	&.emerald-100-bg {
		background-color: var( --skc--tailwind--emerald-100 );
	}
	&.emerald-100-border {
		border-color: var( --skc--tailwind--emerald-100 );
	}
	&.emerald-100-fill {
		fill: var( --skc--tailwind--emerald-100 );
	}
	&.emerald-100-stroke {
		stroke: var( --skc--tailwind--emerald-100 );
	}

	&.emerald-200 {
		color: var( --skc--tailwind--emerald-200 );
	}
	&.emerald-200-bg {
		background-color: var( --skc--tailwind--emerald-200 );
	}
	&.emerald-200-border {
		border-color: var( --skc--tailwind--emerald-200 );
	}
	&.emerald-200-fill {
		fill: var( --skc--tailwind--emerald-200 );
	}
	&.emerald-200-stroke {
		stroke: var( --skc--tailwind--emerald-200 );
	}

	&.emerald-300 {
		color: var( --skc--tailwind--emerald-300 );
	}
	&.emerald-300-bg {
		background-color: var( --skc--tailwind--emerald-300 );
	}
	&.emerald-300-border {
		border-color: var( --skc--tailwind--emerald-300 );
	}
	&.emerald-300-fill {
		fill: var( --skc--tailwind--emerald-300 );
	}
	&.emerald-300-stroke {
		stroke: var( --skc--tailwind--emerald-300 );
	}

	&.emerald-400 {
		color: var( --skc--tailwind--emerald-400 );
	}
	&.emerald-400-bg {
		background-color: var( --skc--tailwind--emerald-400 );
	}
	&.emerald-400-border {
		border-color: var( --skc--tailwind--emerald-400 );
	}
	&.emerald-400-fill {
		fill: var( --skc--tailwind--emerald-400 );
	}
	&.emerald-400-stroke {
		stroke: var( --skc--tailwind--emerald-400 );
	}

	&.emerald-500 {
		color: var( --skc--tailwind--emerald-500 );
	}
	&.emerald-500-bg {
		background-color: var( --skc--tailwind--emerald-500 );
	}
	&.emerald-500-border {
		border-color: var( --skc--tailwind--emerald-500 );
	}
	&.emerald-500-fill {
		fill: var( --skc--tailwind--emerald-500 );
	}
	&.emerald-500-stroke {
		stroke: var( --skc--tailwind--emerald-500 );
	}

	&.emerald-600 {
		color: var( --skc--tailwind--emerald-600 );
	}
	&.emerald-600-bg {
		background-color: var( --skc--tailwind--emerald-600 );
	}
	&.emerald-600-border {
		border-color: var( --skc--tailwind--emerald-600 );
	}
	&.emerald-600-fill {
		fill: var( --skc--tailwind--emerald-600 );
	}
	&.emerald-600-stroke {
		stroke: var( --skc--tailwind--emerald-600 );
	}

	&.emerald-700 {
		color: var( --skc--tailwind--emerald-700 );
	}
	&.emerald-700-bg {
		background-color: var( --skc--tailwind--emerald-700 );
	}
	&.emerald-700-border {
		border-color: var( --skc--tailwind--emerald-700 );
	}
	&.emerald-700-fill {
		fill: var( --skc--tailwind--emerald-700 );
	}
	&.emerald-700-stroke {
		stroke: var( --skc--tailwind--emerald-700 );
	}

	&.emerald-800 {
		color: var( --skc--tailwind--emerald-800 );
	}
	&.emerald-800-bg {
		background-color: var( --skc--tailwind--emerald-800 );
	}
	&.emerald-800-border {
		border-color: var( --skc--tailwind--emerald-800 );
	}
	&.emerald-800-fill {
		fill: var( --skc--tailwind--emerald-800 );
	}
	&.emerald-800-stroke {
		stroke: var( --skc--tailwind--emerald-800 );
	}

	&.emerald-900 {
		color: var( --skc--tailwind--emerald-900 );
	}
	&.emerald-900-bg {
		background-color: var( --skc--tailwind--emerald-900 );
	}
	&.emerald-900-border {
		border-color: var( --skc--tailwind--emerald-900 );
	}
	&.emerald-900-fill {
		fill: var( --skc--tailwind--emerald-900 );
	}
	&.emerald-900-stroke {
		stroke: var( --skc--tailwind--emerald-900 );
	}

	&.emerald-950 {
		color: var( --skc--tailwind--emerald-950 );
	}
	&.emerald-950-bg {
		background-color: var( --skc--tailwind--emerald-950 );
	}
	&.emerald-950-border {
		border-color: var( --skc--tailwind--emerald-950 );
	}
	&.emerald-950-fill {
		fill: var( --skc--tailwind--emerald-950 );
	}
	&.emerald-950-stroke {
		stroke: var( --skc--tailwind--emerald-950 );
	}
}
