///
/// Color: fuchsia
///

.tailwind {

	&.fuchsia-50 {
		color: var( --skc--tailwind--fuchsia-50 );
	}
	&.fuchsia-50-bg {
		background-color: var( --skc--tailwind--fuchsia-50 );
	}
	&.fuchsia-50-border {
		border-color: var( --skc--tailwind--fuchsia-50 );
	}
	&.fuchsia-50-fill {
		fill: var( --skc--tailwind--fuchsia-50 );
	}
	&.fuchsia-50-stroke {
		stroke: var( --skc--tailwind--fuchsia-50 );
	}

	&.fuchsia-100 {
		color: var( --skc--tailwind--fuchsia-100 );
	}
	&.fuchsia-100-bg {
		background-color: var( --skc--tailwind--fuchsia-100 );
	}
	&.fuchsia-100-border {
		border-color: var( --skc--tailwind--fuchsia-100 );
	}
	&.fuchsia-100-fill {
		fill: var( --skc--tailwind--fuchsia-100 );
	}
	&.fuchsia-100-stroke {
		stroke: var( --skc--tailwind--fuchsia-100 );
	}

	&.fuchsia-200 {
		color: var( --skc--tailwind--fuchsia-200 );
	}
	&.fuchsia-200-bg {
		background-color: var( --skc--tailwind--fuchsia-200 );
	}
	&.fuchsia-200-border {
		border-color: var( --skc--tailwind--fuchsia-200 );
	}
	&.fuchsia-200-fill {
		fill: var( --skc--tailwind--fuchsia-200 );
	}
	&.fuchsia-200-stroke {
		stroke: var( --skc--tailwind--fuchsia-200 );
	}

	&.fuchsia-300 {
		color: var( --skc--tailwind--fuchsia-300 );
	}
	&.fuchsia-300-bg {
		background-color: var( --skc--tailwind--fuchsia-300 );
	}
	&.fuchsia-300-border {
		border-color: var( --skc--tailwind--fuchsia-300 );
	}
	&.fuchsia-300-fill {
		fill: var( --skc--tailwind--fuchsia-300 );
	}
	&.fuchsia-300-stroke {
		stroke: var( --skc--tailwind--fuchsia-300 );
	}

	&.fuchsia-400 {
		color: var( --skc--tailwind--fuchsia-400 );
	}
	&.fuchsia-400-bg {
		background-color: var( --skc--tailwind--fuchsia-400 );
	}
	&.fuchsia-400-border {
		border-color: var( --skc--tailwind--fuchsia-400 );
	}
	&.fuchsia-400-fill {
		fill: var( --skc--tailwind--fuchsia-400 );
	}
	&.fuchsia-400-stroke {
		stroke: var( --skc--tailwind--fuchsia-400 );
	}

	&.fuchsia-500 {
		color: var( --skc--tailwind--fuchsia-500 );
	}
	&.fuchsia-500-bg {
		background-color: var( --skc--tailwind--fuchsia-500 );
	}
	&.fuchsia-500-border {
		border-color: var( --skc--tailwind--fuchsia-500 );
	}
	&.fuchsia-500-fill {
		fill: var( --skc--tailwind--fuchsia-500 );
	}
	&.fuchsia-500-stroke {
		stroke: var( --skc--tailwind--fuchsia-500 );
	}

	&.fuchsia-600 {
		color: var( --skc--tailwind--fuchsia-600 );
	}
	&.fuchsia-600-bg {
		background-color: var( --skc--tailwind--fuchsia-600 );
	}
	&.fuchsia-600-border {
		border-color: var( --skc--tailwind--fuchsia-600 );
	}
	&.fuchsia-600-fill {
		fill: var( --skc--tailwind--fuchsia-600 );
	}
	&.fuchsia-600-stroke {
		stroke: var( --skc--tailwind--fuchsia-600 );
	}

	&.fuchsia-700 {
		color: var( --skc--tailwind--fuchsia-700 );
	}
	&.fuchsia-700-bg {
		background-color: var( --skc--tailwind--fuchsia-700 );
	}
	&.fuchsia-700-border {
		border-color: var( --skc--tailwind--fuchsia-700 );
	}
	&.fuchsia-700-fill {
		fill: var( --skc--tailwind--fuchsia-700 );
	}
	&.fuchsia-700-stroke {
		stroke: var( --skc--tailwind--fuchsia-700 );
	}

	&.fuchsia-800 {
		color: var( --skc--tailwind--fuchsia-800 );
	}
	&.fuchsia-800-bg {
		background-color: var( --skc--tailwind--fuchsia-800 );
	}
	&.fuchsia-800-border {
		border-color: var( --skc--tailwind--fuchsia-800 );
	}
	&.fuchsia-800-fill {
		fill: var( --skc--tailwind--fuchsia-800 );
	}
	&.fuchsia-800-stroke {
		stroke: var( --skc--tailwind--fuchsia-800 );
	}

	&.fuchsia-900 {
		color: var( --skc--tailwind--fuchsia-900 );
	}
	&.fuchsia-900-bg {
		background-color: var( --skc--tailwind--fuchsia-900 );
	}
	&.fuchsia-900-border {
		border-color: var( --skc--tailwind--fuchsia-900 );
	}
	&.fuchsia-900-fill {
		fill: var( --skc--tailwind--fuchsia-900 );
	}
	&.fuchsia-900-stroke {
		stroke: var( --skc--tailwind--fuchsia-900 );
	}

	&.fuchsia-950 {
		color: var( --skc--tailwind--fuchsia-950 );
	}
	&.fuchsia-950-bg {
		background-color: var( --skc--tailwind--fuchsia-950 );
	}
	&.fuchsia-950-border {
		border-color: var( --skc--tailwind--fuchsia-950 );
	}
	&.fuchsia-950-fill {
		fill: var( --skc--tailwind--fuchsia-950 );
	}
	&.fuchsia-950-stroke {
		stroke: var( --skc--tailwind--fuchsia-950 );
	}
}
