///
/// Color: green
///

.tailwind {

	&.green-50 {
		color: var( --skc--tailwind--green-50 );
	}
	&.green-50-bg {
		background-color: var( --skc--tailwind--green-50 );
	}
	&.green-50-border {
		border-color: var( --skc--tailwind--green-50 );
	}
	&.green-50-fill {
		fill: var( --skc--tailwind--green-50 );
	}
	&.green-50-stroke {
		stroke: var( --skc--tailwind--green-50 );
	}

	&.green-100 {
		color: var( --skc--tailwind--green-100 );
	}
	&.green-100-bg {
		background-color: var( --skc--tailwind--green-100 );
	}
	&.green-100-border {
		border-color: var( --skc--tailwind--green-100 );
	}
	&.green-100-fill {
		fill: var( --skc--tailwind--green-100 );
	}
	&.green-100-stroke {
		stroke: var( --skc--tailwind--green-100 );
	}

	&.green-200 {
		color: var( --skc--tailwind--green-200 );
	}
	&.green-200-bg {
		background-color: var( --skc--tailwind--green-200 );
	}
	&.green-200-border {
		border-color: var( --skc--tailwind--green-200 );
	}
	&.green-200-fill {
		fill: var( --skc--tailwind--green-200 );
	}
	&.green-200-stroke {
		stroke: var( --skc--tailwind--green-200 );
	}

	&.green-300 {
		color: var( --skc--tailwind--green-300 );
	}
	&.green-300-bg {
		background-color: var( --skc--tailwind--green-300 );
	}
	&.green-300-border {
		border-color: var( --skc--tailwind--green-300 );
	}
	&.green-300-fill {
		fill: var( --skc--tailwind--green-300 );
	}
	&.green-300-stroke {
		stroke: var( --skc--tailwind--green-300 );
	}

	&.green-400 {
		color: var( --skc--tailwind--green-400 );
	}
	&.green-400-bg {
		background-color: var( --skc--tailwind--green-400 );
	}
	&.green-400-border {
		border-color: var( --skc--tailwind--green-400 );
	}
	&.green-400-fill {
		fill: var( --skc--tailwind--green-400 );
	}
	&.green-400-stroke {
		stroke: var( --skc--tailwind--green-400 );
	}

	&.green-500 {
		color: var( --skc--tailwind--green-500 );
	}
	&.green-500-bg {
		background-color: var( --skc--tailwind--green-500 );
	}
	&.green-500-border {
		border-color: var( --skc--tailwind--green-500 );
	}
	&.green-500-fill {
		fill: var( --skc--tailwind--green-500 );
	}
	&.green-500-stroke {
		stroke: var( --skc--tailwind--green-500 );
	}

	&.green-600 {
		color: var( --skc--tailwind--green-600 );
	}
	&.green-600-bg {
		background-color: var( --skc--tailwind--green-600 );
	}
	&.green-600-border {
		border-color: var( --skc--tailwind--green-600 );
	}
	&.green-600-fill {
		fill: var( --skc--tailwind--green-600 );
	}
	&.green-600-stroke {
		stroke: var( --skc--tailwind--green-600 );
	}

	&.green-700 {
		color: var( --skc--tailwind--green-700 );
	}
	&.green-700-bg {
		background-color: var( --skc--tailwind--green-700 );
	}
	&.green-700-border {
		border-color: var( --skc--tailwind--green-700 );
	}
	&.green-700-fill {
		fill: var( --skc--tailwind--green-700 );
	}
	&.green-700-stroke {
		stroke: var( --skc--tailwind--green-700 );
	}

	&.green-800 {
		color: var( --skc--tailwind--green-800 );
	}
	&.green-800-bg {
		background-color: var( --skc--tailwind--green-800 );
	}
	&.green-800-border {
		border-color: var( --skc--tailwind--green-800 );
	}
	&.green-800-fill {
		fill: var( --skc--tailwind--green-800 );
	}
	&.green-800-stroke {
		stroke: var( --skc--tailwind--green-800 );
	}

	&.green-900 {
		color: var( --skc--tailwind--green-900 );
	}
	&.green-900-bg {
		background-color: var( --skc--tailwind--green-900 );
	}
	&.green-900-border {
		border-color: var( --skc--tailwind--green-900 );
	}
	&.green-900-fill {
		fill: var( --skc--tailwind--green-900 );
	}
	&.green-900-stroke {
		stroke: var( --skc--tailwind--green-900 );
	}

	&.green-950 {
		color: var( --skc--tailwind--green-950 );
	}
	&.green-950-bg {
		background-color: var( --skc--tailwind--green-950 );
	}
	&.green-950-border {
		border-color: var( --skc--tailwind--green-950 );
	}
	&.green-950-fill {
		fill: var( --skc--tailwind--green-950 );
	}
	&.green-950-stroke {
		stroke: var( --skc--tailwind--green-950 );
	}
}
