///
/// Color: indigo
///

.tailwind {

	&.indigo-50 {
		color: var( --skc--tailwind--indigo-50 );
	}
	&.indigo-50-bg {
		background-color: var( --skc--tailwind--indigo-50 );
	}
	&.indigo-50-border {
		border-color: var( --skc--tailwind--indigo-50 );
	}
	&.indigo-50-fill {
		fill: var( --skc--tailwind--indigo-50 );
	}
	&.indigo-50-stroke {
		stroke: var( --skc--tailwind--indigo-50 );
	}

	&.indigo-100 {
		color: var( --skc--tailwind--indigo-100 );
	}
	&.indigo-100-bg {
		background-color: var( --skc--tailwind--indigo-100 );
	}
	&.indigo-100-border {
		border-color: var( --skc--tailwind--indigo-100 );
	}
	&.indigo-100-fill {
		fill: var( --skc--tailwind--indigo-100 );
	}
	&.indigo-100-stroke {
		stroke: var( --skc--tailwind--indigo-100 );
	}

	&.indigo-200 {
		color: var( --skc--tailwind--indigo-200 );
	}
	&.indigo-200-bg {
		background-color: var( --skc--tailwind--indigo-200 );
	}
	&.indigo-200-border {
		border-color: var( --skc--tailwind--indigo-200 );
	}
	&.indigo-200-fill {
		fill: var( --skc--tailwind--indigo-200 );
	}
	&.indigo-200-stroke {
		stroke: var( --skc--tailwind--indigo-200 );
	}

	&.indigo-300 {
		color: var( --skc--tailwind--indigo-300 );
	}
	&.indigo-300-bg {
		background-color: var( --skc--tailwind--indigo-300 );
	}
	&.indigo-300-border {
		border-color: var( --skc--tailwind--indigo-300 );
	}
	&.indigo-300-fill {
		fill: var( --skc--tailwind--indigo-300 );
	}
	&.indigo-300-stroke {
		stroke: var( --skc--tailwind--indigo-300 );
	}

	&.indigo-400 {
		color: var( --skc--tailwind--indigo-400 );
	}
	&.indigo-400-bg {
		background-color: var( --skc--tailwind--indigo-400 );
	}
	&.indigo-400-border {
		border-color: var( --skc--tailwind--indigo-400 );
	}
	&.indigo-400-fill {
		fill: var( --skc--tailwind--indigo-400 );
	}
	&.indigo-400-stroke {
		stroke: var( --skc--tailwind--indigo-400 );
	}

	&.indigo-500 {
		color: var( --skc--tailwind--indigo-500 );
	}
	&.indigo-500-bg {
		background-color: var( --skc--tailwind--indigo-500 );
	}
	&.indigo-500-border {
		border-color: var( --skc--tailwind--indigo-500 );
	}
	&.indigo-500-fill {
		fill: var( --skc--tailwind--indigo-500 );
	}
	&.indigo-500-stroke {
		stroke: var( --skc--tailwind--indigo-500 );
	}

	&.indigo-600 {
		color: var( --skc--tailwind--indigo-600 );
	}
	&.indigo-600-bg {
		background-color: var( --skc--tailwind--indigo-600 );
	}
	&.indigo-600-border {
		border-color: var( --skc--tailwind--indigo-600 );
	}
	&.indigo-600-fill {
		fill: var( --skc--tailwind--indigo-600 );
	}
	&.indigo-600-stroke {
		stroke: var( --skc--tailwind--indigo-600 );
	}

	&.indigo-700 {
		color: var( --skc--tailwind--indigo-700 );
	}
	&.indigo-700-bg {
		background-color: var( --skc--tailwind--indigo-700 );
	}
	&.indigo-700-border {
		border-color: var( --skc--tailwind--indigo-700 );
	}
	&.indigo-700-fill {
		fill: var( --skc--tailwind--indigo-700 );
	}
	&.indigo-700-stroke {
		stroke: var( --skc--tailwind--indigo-700 );
	}

	&.indigo-800 {
		color: var( --skc--tailwind--indigo-800 );
	}
	&.indigo-800-bg {
		background-color: var( --skc--tailwind--indigo-800 );
	}
	&.indigo-800-border {
		border-color: var( --skc--tailwind--indigo-800 );
	}
	&.indigo-800-fill {
		fill: var( --skc--tailwind--indigo-800 );
	}
	&.indigo-800-stroke {
		stroke: var( --skc--tailwind--indigo-800 );
	}

	&.indigo-900 {
		color: var( --skc--tailwind--indigo-900 );
	}
	&.indigo-900-bg {
		background-color: var( --skc--tailwind--indigo-900 );
	}
	&.indigo-900-border {
		border-color: var( --skc--tailwind--indigo-900 );
	}
	&.indigo-900-fill {
		fill: var( --skc--tailwind--indigo-900 );
	}
	&.indigo-900-stroke {
		stroke: var( --skc--tailwind--indigo-900 );
	}

	&.indigo-950 {
		color: var( --skc--tailwind--indigo-950 );
	}
	&.indigo-950-bg {
		background-color: var( --skc--tailwind--indigo-950 );
	}
	&.indigo-950-border {
		border-color: var( --skc--tailwind--indigo-950 );
	}
	&.indigo-950-fill {
		fill: var( --skc--tailwind--indigo-950 );
	}
	&.indigo-950-stroke {
		stroke: var( --skc--tailwind--indigo-950 );
	}
}
