///
/// Color: lime
///

.tailwind {

	&.lime-50 {
		color: var( --skc--tailwind--lime-50 );
	}
	&.lime-50-bg {
		background-color: var( --skc--tailwind--lime-50 );
	}
	&.lime-50-border {
		border-color: var( --skc--tailwind--lime-50 );
	}
	&.lime-50-fill {
		fill: var( --skc--tailwind--lime-50 );
	}
	&.lime-50-stroke {
		stroke: var( --skc--tailwind--lime-50 );
	}

	&.lime-100 {
		color: var( --skc--tailwind--lime-100 );
	}
	&.lime-100-bg {
		background-color: var( --skc--tailwind--lime-100 );
	}
	&.lime-100-border {
		border-color: var( --skc--tailwind--lime-100 );
	}
	&.lime-100-fill {
		fill: var( --skc--tailwind--lime-100 );
	}
	&.lime-100-stroke {
		stroke: var( --skc--tailwind--lime-100 );
	}

	&.lime-200 {
		color: var( --skc--tailwind--lime-200 );
	}
	&.lime-200-bg {
		background-color: var( --skc--tailwind--lime-200 );
	}
	&.lime-200-border {
		border-color: var( --skc--tailwind--lime-200 );
	}
	&.lime-200-fill {
		fill: var( --skc--tailwind--lime-200 );
	}
	&.lime-200-stroke {
		stroke: var( --skc--tailwind--lime-200 );
	}

	&.lime-300 {
		color: var( --skc--tailwind--lime-300 );
	}
	&.lime-300-bg {
		background-color: var( --skc--tailwind--lime-300 );
	}
	&.lime-300-border {
		border-color: var( --skc--tailwind--lime-300 );
	}
	&.lime-300-fill {
		fill: var( --skc--tailwind--lime-300 );
	}
	&.lime-300-stroke {
		stroke: var( --skc--tailwind--lime-300 );
	}

	&.lime-400 {
		color: var( --skc--tailwind--lime-400 );
	}
	&.lime-400-bg {
		background-color: var( --skc--tailwind--lime-400 );
	}
	&.lime-400-border {
		border-color: var( --skc--tailwind--lime-400 );
	}
	&.lime-400-fill {
		fill: var( --skc--tailwind--lime-400 );
	}
	&.lime-400-stroke {
		stroke: var( --skc--tailwind--lime-400 );
	}

	&.lime-500 {
		color: var( --skc--tailwind--lime-500 );
	}
	&.lime-500-bg {
		background-color: var( --skc--tailwind--lime-500 );
	}
	&.lime-500-border {
		border-color: var( --skc--tailwind--lime-500 );
	}
	&.lime-500-fill {
		fill: var( --skc--tailwind--lime-500 );
	}
	&.lime-500-stroke {
		stroke: var( --skc--tailwind--lime-500 );
	}

	&.lime-600 {
		color: var( --skc--tailwind--lime-600 );
	}
	&.lime-600-bg {
		background-color: var( --skc--tailwind--lime-600 );
	}
	&.lime-600-border {
		border-color: var( --skc--tailwind--lime-600 );
	}
	&.lime-600-fill {
		fill: var( --skc--tailwind--lime-600 );
	}
	&.lime-600-stroke {
		stroke: var( --skc--tailwind--lime-600 );
	}

	&.lime-700 {
		color: var( --skc--tailwind--lime-700 );
	}
	&.lime-700-bg {
		background-color: var( --skc--tailwind--lime-700 );
	}
	&.lime-700-border {
		border-color: var( --skc--tailwind--lime-700 );
	}
	&.lime-700-fill {
		fill: var( --skc--tailwind--lime-700 );
	}
	&.lime-700-stroke {
		stroke: var( --skc--tailwind--lime-700 );
	}

	&.lime-800 {
		color: var( --skc--tailwind--lime-800 );
	}
	&.lime-800-bg {
		background-color: var( --skc--tailwind--lime-800 );
	}
	&.lime-800-border {
		border-color: var( --skc--tailwind--lime-800 );
	}
	&.lime-800-fill {
		fill: var( --skc--tailwind--lime-800 );
	}
	&.lime-800-stroke {
		stroke: var( --skc--tailwind--lime-800 );
	}

	&.lime-900 {
		color: var( --skc--tailwind--lime-900 );
	}
	&.lime-900-bg {
		background-color: var( --skc--tailwind--lime-900 );
	}
	&.lime-900-border {
		border-color: var( --skc--tailwind--lime-900 );
	}
	&.lime-900-fill {
		fill: var( --skc--tailwind--lime-900 );
	}
	&.lime-900-stroke {
		stroke: var( --skc--tailwind--lime-900 );
	}

	&.lime-950 {
		color: var( --skc--tailwind--lime-950 );
	}
	&.lime-950-bg {
		background-color: var( --skc--tailwind--lime-950 );
	}
	&.lime-950-border {
		border-color: var( --skc--tailwind--lime-950 );
	}
	&.lime-950-fill {
		fill: var( --skc--tailwind--lime-950 );
	}
	&.lime-950-stroke {
		stroke: var( --skc--tailwind--lime-950 );
	}
}
