///
/// Color: mauve
///

.tailwind {

	&.mauve-50 {
		color: var( --skc--tailwind--mauve-50 );
	}
	&.mauve-50-bg {
		background-color: var( --skc--tailwind--mauve-50 );
	}
	&.mauve-50-border {
		border-color: var( --skc--tailwind--mauve-50 );
	}
	&.mauve-50-fill {
		fill: var( --skc--tailwind--mauve-50 );
	}
	&.mauve-50-stroke {
		stroke: var( --skc--tailwind--mauve-50 );
	}

	&.mauve-100 {
		color: var( --skc--tailwind--mauve-100 );
	}
	&.mauve-100-bg {
		background-color: var( --skc--tailwind--mauve-100 );
	}
	&.mauve-100-border {
		border-color: var( --skc--tailwind--mauve-100 );
	}
	&.mauve-100-fill {
		fill: var( --skc--tailwind--mauve-100 );
	}
	&.mauve-100-stroke {
		stroke: var( --skc--tailwind--mauve-100 );
	}

	&.mauve-200 {
		color: var( --skc--tailwind--mauve-200 );
	}
	&.mauve-200-bg {
		background-color: var( --skc--tailwind--mauve-200 );
	}
	&.mauve-200-border {
		border-color: var( --skc--tailwind--mauve-200 );
	}
	&.mauve-200-fill {
		fill: var( --skc--tailwind--mauve-200 );
	}
	&.mauve-200-stroke {
		stroke: var( --skc--tailwind--mauve-200 );
	}

	&.mauve-300 {
		color: var( --skc--tailwind--mauve-300 );
	}
	&.mauve-300-bg {
		background-color: var( --skc--tailwind--mauve-300 );
	}
	&.mauve-300-border {
		border-color: var( --skc--tailwind--mauve-300 );
	}
	&.mauve-300-fill {
		fill: var( --skc--tailwind--mauve-300 );
	}
	&.mauve-300-stroke {
		stroke: var( --skc--tailwind--mauve-300 );
	}

	&.mauve-400 {
		color: var( --skc--tailwind--mauve-400 );
	}
	&.mauve-400-bg {
		background-color: var( --skc--tailwind--mauve-400 );
	}
	&.mauve-400-border {
		border-color: var( --skc--tailwind--mauve-400 );
	}
	&.mauve-400-fill {
		fill: var( --skc--tailwind--mauve-400 );
	}
	&.mauve-400-stroke {
		stroke: var( --skc--tailwind--mauve-400 );
	}

	&.mauve-500 {
		color: var( --skc--tailwind--mauve-500 );
	}
	&.mauve-500-bg {
		background-color: var( --skc--tailwind--mauve-500 );
	}
	&.mauve-500-border {
		border-color: var( --skc--tailwind--mauve-500 );
	}
	&.mauve-500-fill {
		fill: var( --skc--tailwind--mauve-500 );
	}
	&.mauve-500-stroke {
		stroke: var( --skc--tailwind--mauve-500 );
	}

	&.mauve-600 {
		color: var( --skc--tailwind--mauve-600 );
	}
	&.mauve-600-bg {
		background-color: var( --skc--tailwind--mauve-600 );
	}
	&.mauve-600-border {
		border-color: var( --skc--tailwind--mauve-600 );
	}
	&.mauve-600-fill {
		fill: var( --skc--tailwind--mauve-600 );
	}
	&.mauve-600-stroke {
		stroke: var( --skc--tailwind--mauve-600 );
	}

	&.mauve-700 {
		color: var( --skc--tailwind--mauve-700 );
	}
	&.mauve-700-bg {
		background-color: var( --skc--tailwind--mauve-700 );
	}
	&.mauve-700-border {
		border-color: var( --skc--tailwind--mauve-700 );
	}
	&.mauve-700-fill {
		fill: var( --skc--tailwind--mauve-700 );
	}
	&.mauve-700-stroke {
		stroke: var( --skc--tailwind--mauve-700 );
	}

	&.mauve-800 {
		color: var( --skc--tailwind--mauve-800 );
	}
	&.mauve-800-bg {
		background-color: var( --skc--tailwind--mauve-800 );
	}
	&.mauve-800-border {
		border-color: var( --skc--tailwind--mauve-800 );
	}
	&.mauve-800-fill {
		fill: var( --skc--tailwind--mauve-800 );
	}
	&.mauve-800-stroke {
		stroke: var( --skc--tailwind--mauve-800 );
	}

	&.mauve-900 {
		color: var( --skc--tailwind--mauve-900 );
	}
	&.mauve-900-bg {
		background-color: var( --skc--tailwind--mauve-900 );
	}
	&.mauve-900-border {
		border-color: var( --skc--tailwind--mauve-900 );
	}
	&.mauve-900-fill {
		fill: var( --skc--tailwind--mauve-900 );
	}
	&.mauve-900-stroke {
		stroke: var( --skc--tailwind--mauve-900 );
	}

	&.mauve-950 {
		color: var( --skc--tailwind--mauve-950 );
	}
	&.mauve-950-bg {
		background-color: var( --skc--tailwind--mauve-950 );
	}
	&.mauve-950-border {
		border-color: var( --skc--tailwind--mauve-950 );
	}
	&.mauve-950-fill {
		fill: var( --skc--tailwind--mauve-950 );
	}
	&.mauve-950-stroke {
		stroke: var( --skc--tailwind--mauve-950 );
	}
}
