///
/// Color: mist
///

.tailwind {

	&.mist-50 {
		color: var( --skc--tailwind--mist-50 );
	}
	&.mist-50-bg {
		background-color: var( --skc--tailwind--mist-50 );
	}
	&.mist-50-border {
		border-color: var( --skc--tailwind--mist-50 );
	}
	&.mist-50-fill {
		fill: var( --skc--tailwind--mist-50 );
	}
	&.mist-50-stroke {
		stroke: var( --skc--tailwind--mist-50 );
	}

	&.mist-100 {
		color: var( --skc--tailwind--mist-100 );
	}
	&.mist-100-bg {
		background-color: var( --skc--tailwind--mist-100 );
	}
	&.mist-100-border {
		border-color: var( --skc--tailwind--mist-100 );
	}
	&.mist-100-fill {
		fill: var( --skc--tailwind--mist-100 );
	}
	&.mist-100-stroke {
		stroke: var( --skc--tailwind--mist-100 );
	}

	&.mist-200 {
		color: var( --skc--tailwind--mist-200 );
	}
	&.mist-200-bg {
		background-color: var( --skc--tailwind--mist-200 );
	}
	&.mist-200-border {
		border-color: var( --skc--tailwind--mist-200 );
	}
	&.mist-200-fill {
		fill: var( --skc--tailwind--mist-200 );
	}
	&.mist-200-stroke {
		stroke: var( --skc--tailwind--mist-200 );
	}

	&.mist-300 {
		color: var( --skc--tailwind--mist-300 );
	}
	&.mist-300-bg {
		background-color: var( --skc--tailwind--mist-300 );
	}
	&.mist-300-border {
		border-color: var( --skc--tailwind--mist-300 );
	}
	&.mist-300-fill {
		fill: var( --skc--tailwind--mist-300 );
	}
	&.mist-300-stroke {
		stroke: var( --skc--tailwind--mist-300 );
	}

	&.mist-400 {
		color: var( --skc--tailwind--mist-400 );
	}
	&.mist-400-bg {
		background-color: var( --skc--tailwind--mist-400 );
	}
	&.mist-400-border {
		border-color: var( --skc--tailwind--mist-400 );
	}
	&.mist-400-fill {
		fill: var( --skc--tailwind--mist-400 );
	}
	&.mist-400-stroke {
		stroke: var( --skc--tailwind--mist-400 );
	}

	&.mist-500 {
		color: var( --skc--tailwind--mist-500 );
	}
	&.mist-500-bg {
		background-color: var( --skc--tailwind--mist-500 );
	}
	&.mist-500-border {
		border-color: var( --skc--tailwind--mist-500 );
	}
	&.mist-500-fill {
		fill: var( --skc--tailwind--mist-500 );
	}
	&.mist-500-stroke {
		stroke: var( --skc--tailwind--mist-500 );
	}

	&.mist-600 {
		color: var( --skc--tailwind--mist-600 );
	}
	&.mist-600-bg {
		background-color: var( --skc--tailwind--mist-600 );
	}
	&.mist-600-border {
		border-color: var( --skc--tailwind--mist-600 );
	}
	&.mist-600-fill {
		fill: var( --skc--tailwind--mist-600 );
	}
	&.mist-600-stroke {
		stroke: var( --skc--tailwind--mist-600 );
	}

	&.mist-700 {
		color: var( --skc--tailwind--mist-700 );
	}
	&.mist-700-bg {
		background-color: var( --skc--tailwind--mist-700 );
	}
	&.mist-700-border {
		border-color: var( --skc--tailwind--mist-700 );
	}
	&.mist-700-fill {
		fill: var( --skc--tailwind--mist-700 );
	}
	&.mist-700-stroke {
		stroke: var( --skc--tailwind--mist-700 );
	}

	&.mist-800 {
		color: var( --skc--tailwind--mist-800 );
	}
	&.mist-800-bg {
		background-color: var( --skc--tailwind--mist-800 );
	}
	&.mist-800-border {
		border-color: var( --skc--tailwind--mist-800 );
	}
	&.mist-800-fill {
		fill: var( --skc--tailwind--mist-800 );
	}
	&.mist-800-stroke {
		stroke: var( --skc--tailwind--mist-800 );
	}

	&.mist-900 {
		color: var( --skc--tailwind--mist-900 );
	}
	&.mist-900-bg {
		background-color: var( --skc--tailwind--mist-900 );
	}
	&.mist-900-border {
		border-color: var( --skc--tailwind--mist-900 );
	}
	&.mist-900-fill {
		fill: var( --skc--tailwind--mist-900 );
	}
	&.mist-900-stroke {
		stroke: var( --skc--tailwind--mist-900 );
	}

	&.mist-950 {
		color: var( --skc--tailwind--mist-950 );
	}
	&.mist-950-bg {
		background-color: var( --skc--tailwind--mist-950 );
	}
	&.mist-950-border {
		border-color: var( --skc--tailwind--mist-950 );
	}
	&.mist-950-fill {
		fill: var( --skc--tailwind--mist-950 );
	}
	&.mist-950-stroke {
		stroke: var( --skc--tailwind--mist-950 );
	}
}
