///
/// Color: neutral
///

.tailwind {

	&.neutral-50 {
		color: var( --skc--tailwind--neutral-50 );
	}
	&.neutral-50-bg {
		background-color: var( --skc--tailwind--neutral-50 );
	}
	&.neutral-50-border {
		border-color: var( --skc--tailwind--neutral-50 );
	}
	&.neutral-50-fill {
		fill: var( --skc--tailwind--neutral-50 );
	}
	&.neutral-50-stroke {
		stroke: var( --skc--tailwind--neutral-50 );
	}

	&.neutral-100 {
		color: var( --skc--tailwind--neutral-100 );
	}
	&.neutral-100-bg {
		background-color: var( --skc--tailwind--neutral-100 );
	}
	&.neutral-100-border {
		border-color: var( --skc--tailwind--neutral-100 );
	}
	&.neutral-100-fill {
		fill: var( --skc--tailwind--neutral-100 );
	}
	&.neutral-100-stroke {
		stroke: var( --skc--tailwind--neutral-100 );
	}

	&.neutral-200 {
		color: var( --skc--tailwind--neutral-200 );
	}
	&.neutral-200-bg {
		background-color: var( --skc--tailwind--neutral-200 );
	}
	&.neutral-200-border {
		border-color: var( --skc--tailwind--neutral-200 );
	}
	&.neutral-200-fill {
		fill: var( --skc--tailwind--neutral-200 );
	}
	&.neutral-200-stroke {
		stroke: var( --skc--tailwind--neutral-200 );
	}

	&.neutral-300 {
		color: var( --skc--tailwind--neutral-300 );
	}
	&.neutral-300-bg {
		background-color: var( --skc--tailwind--neutral-300 );
	}
	&.neutral-300-border {
		border-color: var( --skc--tailwind--neutral-300 );
	}
	&.neutral-300-fill {
		fill: var( --skc--tailwind--neutral-300 );
	}
	&.neutral-300-stroke {
		stroke: var( --skc--tailwind--neutral-300 );
	}

	&.neutral-400 {
		color: var( --skc--tailwind--neutral-400 );
	}
	&.neutral-400-bg {
		background-color: var( --skc--tailwind--neutral-400 );
	}
	&.neutral-400-border {
		border-color: var( --skc--tailwind--neutral-400 );
	}
	&.neutral-400-fill {
		fill: var( --skc--tailwind--neutral-400 );
	}
	&.neutral-400-stroke {
		stroke: var( --skc--tailwind--neutral-400 );
	}

	&.neutral-500 {
		color: var( --skc--tailwind--neutral-500 );
	}
	&.neutral-500-bg {
		background-color: var( --skc--tailwind--neutral-500 );
	}
	&.neutral-500-border {
		border-color: var( --skc--tailwind--neutral-500 );
	}
	&.neutral-500-fill {
		fill: var( --skc--tailwind--neutral-500 );
	}
	&.neutral-500-stroke {
		stroke: var( --skc--tailwind--neutral-500 );
	}

	&.neutral-600 {
		color: var( --skc--tailwind--neutral-600 );
	}
	&.neutral-600-bg {
		background-color: var( --skc--tailwind--neutral-600 );
	}
	&.neutral-600-border {
		border-color: var( --skc--tailwind--neutral-600 );
	}
	&.neutral-600-fill {
		fill: var( --skc--tailwind--neutral-600 );
	}
	&.neutral-600-stroke {
		stroke: var( --skc--tailwind--neutral-600 );
	}

	&.neutral-700 {
		color: var( --skc--tailwind--neutral-700 );
	}
	&.neutral-700-bg {
		background-color: var( --skc--tailwind--neutral-700 );
	}
	&.neutral-700-border {
		border-color: var( --skc--tailwind--neutral-700 );
	}
	&.neutral-700-fill {
		fill: var( --skc--tailwind--neutral-700 );
	}
	&.neutral-700-stroke {
		stroke: var( --skc--tailwind--neutral-700 );
	}

	&.neutral-800 {
		color: var( --skc--tailwind--neutral-800 );
	}
	&.neutral-800-bg {
		background-color: var( --skc--tailwind--neutral-800 );
	}
	&.neutral-800-border {
		border-color: var( --skc--tailwind--neutral-800 );
	}
	&.neutral-800-fill {
		fill: var( --skc--tailwind--neutral-800 );
	}
	&.neutral-800-stroke {
		stroke: var( --skc--tailwind--neutral-800 );
	}

	&.neutral-900 {
		color: var( --skc--tailwind--neutral-900 );
	}
	&.neutral-900-bg {
		background-color: var( --skc--tailwind--neutral-900 );
	}
	&.neutral-900-border {
		border-color: var( --skc--tailwind--neutral-900 );
	}
	&.neutral-900-fill {
		fill: var( --skc--tailwind--neutral-900 );
	}
	&.neutral-900-stroke {
		stroke: var( --skc--tailwind--neutral-900 );
	}

	&.neutral-950 {
		color: var( --skc--tailwind--neutral-950 );
	}
	&.neutral-950-bg {
		background-color: var( --skc--tailwind--neutral-950 );
	}
	&.neutral-950-border {
		border-color: var( --skc--tailwind--neutral-950 );
	}
	&.neutral-950-fill {
		fill: var( --skc--tailwind--neutral-950 );
	}
	&.neutral-950-stroke {
		stroke: var( --skc--tailwind--neutral-950 );
	}
}
