///
/// Color: olive
///

.tailwind {

	&.olive-50 {
		color: var( --skc--tailwind--olive-50 );
	}
	&.olive-50-bg {
		background-color: var( --skc--tailwind--olive-50 );
	}
	&.olive-50-border {
		border-color: var( --skc--tailwind--olive-50 );
	}
	&.olive-50-fill {
		fill: var( --skc--tailwind--olive-50 );
	}
	&.olive-50-stroke {
		stroke: var( --skc--tailwind--olive-50 );
	}

	&.olive-100 {
		color: var( --skc--tailwind--olive-100 );
	}
	&.olive-100-bg {
		background-color: var( --skc--tailwind--olive-100 );
	}
	&.olive-100-border {
		border-color: var( --skc--tailwind--olive-100 );
	}
	&.olive-100-fill {
		fill: var( --skc--tailwind--olive-100 );
	}
	&.olive-100-stroke {
		stroke: var( --skc--tailwind--olive-100 );
	}

	&.olive-200 {
		color: var( --skc--tailwind--olive-200 );
	}
	&.olive-200-bg {
		background-color: var( --skc--tailwind--olive-200 );
	}
	&.olive-200-border {
		border-color: var( --skc--tailwind--olive-200 );
	}
	&.olive-200-fill {
		fill: var( --skc--tailwind--olive-200 );
	}
	&.olive-200-stroke {
		stroke: var( --skc--tailwind--olive-200 );
	}

	&.olive-300 {
		color: var( --skc--tailwind--olive-300 );
	}
	&.olive-300-bg {
		background-color: var( --skc--tailwind--olive-300 );
	}
	&.olive-300-border {
		border-color: var( --skc--tailwind--olive-300 );
	}
	&.olive-300-fill {
		fill: var( --skc--tailwind--olive-300 );
	}
	&.olive-300-stroke {
		stroke: var( --skc--tailwind--olive-300 );
	}

	&.olive-400 {
		color: var( --skc--tailwind--olive-400 );
	}
	&.olive-400-bg {
		background-color: var( --skc--tailwind--olive-400 );
	}
	&.olive-400-border {
		border-color: var( --skc--tailwind--olive-400 );
	}
	&.olive-400-fill {
		fill: var( --skc--tailwind--olive-400 );
	}
	&.olive-400-stroke {
		stroke: var( --skc--tailwind--olive-400 );
	}

	&.olive-500 {
		color: var( --skc--tailwind--olive-500 );
	}
	&.olive-500-bg {
		background-color: var( --skc--tailwind--olive-500 );
	}
	&.olive-500-border {
		border-color: var( --skc--tailwind--olive-500 );
	}
	&.olive-500-fill {
		fill: var( --skc--tailwind--olive-500 );
	}
	&.olive-500-stroke {
		stroke: var( --skc--tailwind--olive-500 );
	}

	&.olive-600 {
		color: var( --skc--tailwind--olive-600 );
	}
	&.olive-600-bg {
		background-color: var( --skc--tailwind--olive-600 );
	}
	&.olive-600-border {
		border-color: var( --skc--tailwind--olive-600 );
	}
	&.olive-600-fill {
		fill: var( --skc--tailwind--olive-600 );
	}
	&.olive-600-stroke {
		stroke: var( --skc--tailwind--olive-600 );
	}

	&.olive-700 {
		color: var( --skc--tailwind--olive-700 );
	}
	&.olive-700-bg {
		background-color: var( --skc--tailwind--olive-700 );
	}
	&.olive-700-border {
		border-color: var( --skc--tailwind--olive-700 );
	}
	&.olive-700-fill {
		fill: var( --skc--tailwind--olive-700 );
	}
	&.olive-700-stroke {
		stroke: var( --skc--tailwind--olive-700 );
	}

	&.olive-800 {
		color: var( --skc--tailwind--olive-800 );
	}
	&.olive-800-bg {
		background-color: var( --skc--tailwind--olive-800 );
	}
	&.olive-800-border {
		border-color: var( --skc--tailwind--olive-800 );
	}
	&.olive-800-fill {
		fill: var( --skc--tailwind--olive-800 );
	}
	&.olive-800-stroke {
		stroke: var( --skc--tailwind--olive-800 );
	}

	&.olive-900 {
		color: var( --skc--tailwind--olive-900 );
	}
	&.olive-900-bg {
		background-color: var( --skc--tailwind--olive-900 );
	}
	&.olive-900-border {
		border-color: var( --skc--tailwind--olive-900 );
	}
	&.olive-900-fill {
		fill: var( --skc--tailwind--olive-900 );
	}
	&.olive-900-stroke {
		stroke: var( --skc--tailwind--olive-900 );
	}

	&.olive-950 {
		color: var( --skc--tailwind--olive-950 );
	}
	&.olive-950-bg {
		background-color: var( --skc--tailwind--olive-950 );
	}
	&.olive-950-border {
		border-color: var( --skc--tailwind--olive-950 );
	}
	&.olive-950-fill {
		fill: var( --skc--tailwind--olive-950 );
	}
	&.olive-950-stroke {
		stroke: var( --skc--tailwind--olive-950 );
	}
}
