///
/// Color: orange
///

.tailwind {

	&.orange-50 {
		color: var( --skc--tailwind--orange-50 );
	}
	&.orange-50-bg {
		background-color: var( --skc--tailwind--orange-50 );
	}
	&.orange-50-border {
		border-color: var( --skc--tailwind--orange-50 );
	}
	&.orange-50-fill {
		fill: var( --skc--tailwind--orange-50 );
	}
	&.orange-50-stroke {
		stroke: var( --skc--tailwind--orange-50 );
	}

	&.orange-100 {
		color: var( --skc--tailwind--orange-100 );
	}
	&.orange-100-bg {
		background-color: var( --skc--tailwind--orange-100 );
	}
	&.orange-100-border {
		border-color: var( --skc--tailwind--orange-100 );
	}
	&.orange-100-fill {
		fill: var( --skc--tailwind--orange-100 );
	}
	&.orange-100-stroke {
		stroke: var( --skc--tailwind--orange-100 );
	}

	&.orange-200 {
		color: var( --skc--tailwind--orange-200 );
	}
	&.orange-200-bg {
		background-color: var( --skc--tailwind--orange-200 );
	}
	&.orange-200-border {
		border-color: var( --skc--tailwind--orange-200 );
	}
	&.orange-200-fill {
		fill: var( --skc--tailwind--orange-200 );
	}
	&.orange-200-stroke {
		stroke: var( --skc--tailwind--orange-200 );
	}

	&.orange-300 {
		color: var( --skc--tailwind--orange-300 );
	}
	&.orange-300-bg {
		background-color: var( --skc--tailwind--orange-300 );
	}
	&.orange-300-border {
		border-color: var( --skc--tailwind--orange-300 );
	}
	&.orange-300-fill {
		fill: var( --skc--tailwind--orange-300 );
	}
	&.orange-300-stroke {
		stroke: var( --skc--tailwind--orange-300 );
	}

	&.orange-400 {
		color: var( --skc--tailwind--orange-400 );
	}
	&.orange-400-bg {
		background-color: var( --skc--tailwind--orange-400 );
	}
	&.orange-400-border {
		border-color: var( --skc--tailwind--orange-400 );
	}
	&.orange-400-fill {
		fill: var( --skc--tailwind--orange-400 );
	}
	&.orange-400-stroke {
		stroke: var( --skc--tailwind--orange-400 );
	}

	&.orange-500 {
		color: var( --skc--tailwind--orange-500 );
	}
	&.orange-500-bg {
		background-color: var( --skc--tailwind--orange-500 );
	}
	&.orange-500-border {
		border-color: var( --skc--tailwind--orange-500 );
	}
	&.orange-500-fill {
		fill: var( --skc--tailwind--orange-500 );
	}
	&.orange-500-stroke {
		stroke: var( --skc--tailwind--orange-500 );
	}

	&.orange-600 {
		color: var( --skc--tailwind--orange-600 );
	}
	&.orange-600-bg {
		background-color: var( --skc--tailwind--orange-600 );
	}
	&.orange-600-border {
		border-color: var( --skc--tailwind--orange-600 );
	}
	&.orange-600-fill {
		fill: var( --skc--tailwind--orange-600 );
	}
	&.orange-600-stroke {
		stroke: var( --skc--tailwind--orange-600 );
	}

	&.orange-700 {
		color: var( --skc--tailwind--orange-700 );
	}
	&.orange-700-bg {
		background-color: var( --skc--tailwind--orange-700 );
	}
	&.orange-700-border {
		border-color: var( --skc--tailwind--orange-700 );
	}
	&.orange-700-fill {
		fill: var( --skc--tailwind--orange-700 );
	}
	&.orange-700-stroke {
		stroke: var( --skc--tailwind--orange-700 );
	}

	&.orange-800 {
		color: var( --skc--tailwind--orange-800 );
	}
	&.orange-800-bg {
		background-color: var( --skc--tailwind--orange-800 );
	}
	&.orange-800-border {
		border-color: var( --skc--tailwind--orange-800 );
	}
	&.orange-800-fill {
		fill: var( --skc--tailwind--orange-800 );
	}
	&.orange-800-stroke {
		stroke: var( --skc--tailwind--orange-800 );
	}

	&.orange-900 {
		color: var( --skc--tailwind--orange-900 );
	}
	&.orange-900-bg {
		background-color: var( --skc--tailwind--orange-900 );
	}
	&.orange-900-border {
		border-color: var( --skc--tailwind--orange-900 );
	}
	&.orange-900-fill {
		fill: var( --skc--tailwind--orange-900 );
	}
	&.orange-900-stroke {
		stroke: var( --skc--tailwind--orange-900 );
	}

	&.orange-950 {
		color: var( --skc--tailwind--orange-950 );
	}
	&.orange-950-bg {
		background-color: var( --skc--tailwind--orange-950 );
	}
	&.orange-950-border {
		border-color: var( --skc--tailwind--orange-950 );
	}
	&.orange-950-fill {
		fill: var( --skc--tailwind--orange-950 );
	}
	&.orange-950-stroke {
		stroke: var( --skc--tailwind--orange-950 );
	}
}
