///
/// Color: purple
///

.tailwind {

	&.purple-50 {
		color: var( --skc--tailwind--purple-50 );
	}
	&.purple-50-bg {
		background-color: var( --skc--tailwind--purple-50 );
	}
	&.purple-50-border {
		border-color: var( --skc--tailwind--purple-50 );
	}
	&.purple-50-fill {
		fill: var( --skc--tailwind--purple-50 );
	}
	&.purple-50-stroke {
		stroke: var( --skc--tailwind--purple-50 );
	}

	&.purple-100 {
		color: var( --skc--tailwind--purple-100 );
	}
	&.purple-100-bg {
		background-color: var( --skc--tailwind--purple-100 );
	}
	&.purple-100-border {
		border-color: var( --skc--tailwind--purple-100 );
	}
	&.purple-100-fill {
		fill: var( --skc--tailwind--purple-100 );
	}
	&.purple-100-stroke {
		stroke: var( --skc--tailwind--purple-100 );
	}

	&.purple-200 {
		color: var( --skc--tailwind--purple-200 );
	}
	&.purple-200-bg {
		background-color: var( --skc--tailwind--purple-200 );
	}
	&.purple-200-border {
		border-color: var( --skc--tailwind--purple-200 );
	}
	&.purple-200-fill {
		fill: var( --skc--tailwind--purple-200 );
	}
	&.purple-200-stroke {
		stroke: var( --skc--tailwind--purple-200 );
	}

	&.purple-300 {
		color: var( --skc--tailwind--purple-300 );
	}
	&.purple-300-bg {
		background-color: var( --skc--tailwind--purple-300 );
	}
	&.purple-300-border {
		border-color: var( --skc--tailwind--purple-300 );
	}
	&.purple-300-fill {
		fill: var( --skc--tailwind--purple-300 );
	}
	&.purple-300-stroke {
		stroke: var( --skc--tailwind--purple-300 );
	}

	&.purple-400 {
		color: var( --skc--tailwind--purple-400 );
	}
	&.purple-400-bg {
		background-color: var( --skc--tailwind--purple-400 );
	}
	&.purple-400-border {
		border-color: var( --skc--tailwind--purple-400 );
	}
	&.purple-400-fill {
		fill: var( --skc--tailwind--purple-400 );
	}
	&.purple-400-stroke {
		stroke: var( --skc--tailwind--purple-400 );
	}

	&.purple-500 {
		color: var( --skc--tailwind--purple-500 );
	}
	&.purple-500-bg {
		background-color: var( --skc--tailwind--purple-500 );
	}
	&.purple-500-border {
		border-color: var( --skc--tailwind--purple-500 );
	}
	&.purple-500-fill {
		fill: var( --skc--tailwind--purple-500 );
	}
	&.purple-500-stroke {
		stroke: var( --skc--tailwind--purple-500 );
	}

	&.purple-600 {
		color: var( --skc--tailwind--purple-600 );
	}
	&.purple-600-bg {
		background-color: var( --skc--tailwind--purple-600 );
	}
	&.purple-600-border {
		border-color: var( --skc--tailwind--purple-600 );
	}
	&.purple-600-fill {
		fill: var( --skc--tailwind--purple-600 );
	}
	&.purple-600-stroke {
		stroke: var( --skc--tailwind--purple-600 );
	}

	&.purple-700 {
		color: var( --skc--tailwind--purple-700 );
	}
	&.purple-700-bg {
		background-color: var( --skc--tailwind--purple-700 );
	}
	&.purple-700-border {
		border-color: var( --skc--tailwind--purple-700 );
	}
	&.purple-700-fill {
		fill: var( --skc--tailwind--purple-700 );
	}
	&.purple-700-stroke {
		stroke: var( --skc--tailwind--purple-700 );
	}

	&.purple-800 {
		color: var( --skc--tailwind--purple-800 );
	}
	&.purple-800-bg {
		background-color: var( --skc--tailwind--purple-800 );
	}
	&.purple-800-border {
		border-color: var( --skc--tailwind--purple-800 );
	}
	&.purple-800-fill {
		fill: var( --skc--tailwind--purple-800 );
	}
	&.purple-800-stroke {
		stroke: var( --skc--tailwind--purple-800 );
	}

	&.purple-900 {
		color: var( --skc--tailwind--purple-900 );
	}
	&.purple-900-bg {
		background-color: var( --skc--tailwind--purple-900 );
	}
	&.purple-900-border {
		border-color: var( --skc--tailwind--purple-900 );
	}
	&.purple-900-fill {
		fill: var( --skc--tailwind--purple-900 );
	}
	&.purple-900-stroke {
		stroke: var( --skc--tailwind--purple-900 );
	}

	&.purple-950 {
		color: var( --skc--tailwind--purple-950 );
	}
	&.purple-950-bg {
		background-color: var( --skc--tailwind--purple-950 );
	}
	&.purple-950-border {
		border-color: var( --skc--tailwind--purple-950 );
	}
	&.purple-950-fill {
		fill: var( --skc--tailwind--purple-950 );
	}
	&.purple-950-stroke {
		stroke: var( --skc--tailwind--purple-950 );
	}
}
