///
/// Color: rose
///

.tailwind {

	&.rose-50 {
		color: var( --skc--tailwind--rose-50 );
	}
	&.rose-50-bg {
		background-color: var( --skc--tailwind--rose-50 );
	}
	&.rose-50-border {
		border-color: var( --skc--tailwind--rose-50 );
	}
	&.rose-50-fill {
		fill: var( --skc--tailwind--rose-50 );
	}
	&.rose-50-stroke {
		stroke: var( --skc--tailwind--rose-50 );
	}

	&.rose-100 {
		color: var( --skc--tailwind--rose-100 );
	}
	&.rose-100-bg {
		background-color: var( --skc--tailwind--rose-100 );
	}
	&.rose-100-border {
		border-color: var( --skc--tailwind--rose-100 );
	}
	&.rose-100-fill {
		fill: var( --skc--tailwind--rose-100 );
	}
	&.rose-100-stroke {
		stroke: var( --skc--tailwind--rose-100 );
	}

	&.rose-200 {
		color: var( --skc--tailwind--rose-200 );
	}
	&.rose-200-bg {
		background-color: var( --skc--tailwind--rose-200 );
	}
	&.rose-200-border {
		border-color: var( --skc--tailwind--rose-200 );
	}
	&.rose-200-fill {
		fill: var( --skc--tailwind--rose-200 );
	}
	&.rose-200-stroke {
		stroke: var( --skc--tailwind--rose-200 );
	}

	&.rose-300 {
		color: var( --skc--tailwind--rose-300 );
	}
	&.rose-300-bg {
		background-color: var( --skc--tailwind--rose-300 );
	}
	&.rose-300-border {
		border-color: var( --skc--tailwind--rose-300 );
	}
	&.rose-300-fill {
		fill: var( --skc--tailwind--rose-300 );
	}
	&.rose-300-stroke {
		stroke: var( --skc--tailwind--rose-300 );
	}

	&.rose-400 {
		color: var( --skc--tailwind--rose-400 );
	}
	&.rose-400-bg {
		background-color: var( --skc--tailwind--rose-400 );
	}
	&.rose-400-border {
		border-color: var( --skc--tailwind--rose-400 );
	}
	&.rose-400-fill {
		fill: var( --skc--tailwind--rose-400 );
	}
	&.rose-400-stroke {
		stroke: var( --skc--tailwind--rose-400 );
	}

	&.rose-500 {
		color: var( --skc--tailwind--rose-500 );
	}
	&.rose-500-bg {
		background-color: var( --skc--tailwind--rose-500 );
	}
	&.rose-500-border {
		border-color: var( --skc--tailwind--rose-500 );
	}
	&.rose-500-fill {
		fill: var( --skc--tailwind--rose-500 );
	}
	&.rose-500-stroke {
		stroke: var( --skc--tailwind--rose-500 );
	}

	&.rose-600 {
		color: var( --skc--tailwind--rose-600 );
	}
	&.rose-600-bg {
		background-color: var( --skc--tailwind--rose-600 );
	}
	&.rose-600-border {
		border-color: var( --skc--tailwind--rose-600 );
	}
	&.rose-600-fill {
		fill: var( --skc--tailwind--rose-600 );
	}
	&.rose-600-stroke {
		stroke: var( --skc--tailwind--rose-600 );
	}

	&.rose-700 {
		color: var( --skc--tailwind--rose-700 );
	}
	&.rose-700-bg {
		background-color: var( --skc--tailwind--rose-700 );
	}
	&.rose-700-border {
		border-color: var( --skc--tailwind--rose-700 );
	}
	&.rose-700-fill {
		fill: var( --skc--tailwind--rose-700 );
	}
	&.rose-700-stroke {
		stroke: var( --skc--tailwind--rose-700 );
	}

	&.rose-800 {
		color: var( --skc--tailwind--rose-800 );
	}
	&.rose-800-bg {
		background-color: var( --skc--tailwind--rose-800 );
	}
	&.rose-800-border {
		border-color: var( --skc--tailwind--rose-800 );
	}
	&.rose-800-fill {
		fill: var( --skc--tailwind--rose-800 );
	}
	&.rose-800-stroke {
		stroke: var( --skc--tailwind--rose-800 );
	}

	&.rose-900 {
		color: var( --skc--tailwind--rose-900 );
	}
	&.rose-900-bg {
		background-color: var( --skc--tailwind--rose-900 );
	}
	&.rose-900-border {
		border-color: var( --skc--tailwind--rose-900 );
	}
	&.rose-900-fill {
		fill: var( --skc--tailwind--rose-900 );
	}
	&.rose-900-stroke {
		stroke: var( --skc--tailwind--rose-900 );
	}

	&.rose-950 {
		color: var( --skc--tailwind--rose-950 );
	}
	&.rose-950-bg {
		background-color: var( --skc--tailwind--rose-950 );
	}
	&.rose-950-border {
		border-color: var( --skc--tailwind--rose-950 );
	}
	&.rose-950-fill {
		fill: var( --skc--tailwind--rose-950 );
	}
	&.rose-950-stroke {
		stroke: var( --skc--tailwind--rose-950 );
	}
}
