///
/// Color: sky
///

.tailwind {

	&.sky-50 {
		color: var( --skc--tailwind--sky-50 );
	}
	&.sky-50-bg {
		background-color: var( --skc--tailwind--sky-50 );
	}
	&.sky-50-border {
		border-color: var( --skc--tailwind--sky-50 );
	}
	&.sky-50-fill {
		fill: var( --skc--tailwind--sky-50 );
	}
	&.sky-50-stroke {
		stroke: var( --skc--tailwind--sky-50 );
	}

	&.sky-100 {
		color: var( --skc--tailwind--sky-100 );
	}
	&.sky-100-bg {
		background-color: var( --skc--tailwind--sky-100 );
	}
	&.sky-100-border {
		border-color: var( --skc--tailwind--sky-100 );
	}
	&.sky-100-fill {
		fill: var( --skc--tailwind--sky-100 );
	}
	&.sky-100-stroke {
		stroke: var( --skc--tailwind--sky-100 );
	}

	&.sky-200 {
		color: var( --skc--tailwind--sky-200 );
	}
	&.sky-200-bg {
		background-color: var( --skc--tailwind--sky-200 );
	}
	&.sky-200-border {
		border-color: var( --skc--tailwind--sky-200 );
	}
	&.sky-200-fill {
		fill: var( --skc--tailwind--sky-200 );
	}
	&.sky-200-stroke {
		stroke: var( --skc--tailwind--sky-200 );
	}

	&.sky-300 {
		color: var( --skc--tailwind--sky-300 );
	}
	&.sky-300-bg {
		background-color: var( --skc--tailwind--sky-300 );
	}
	&.sky-300-border {
		border-color: var( --skc--tailwind--sky-300 );
	}
	&.sky-300-fill {
		fill: var( --skc--tailwind--sky-300 );
	}
	&.sky-300-stroke {
		stroke: var( --skc--tailwind--sky-300 );
	}

	&.sky-400 {
		color: var( --skc--tailwind--sky-400 );
	}
	&.sky-400-bg {
		background-color: var( --skc--tailwind--sky-400 );
	}
	&.sky-400-border {
		border-color: var( --skc--tailwind--sky-400 );
	}
	&.sky-400-fill {
		fill: var( --skc--tailwind--sky-400 );
	}
	&.sky-400-stroke {
		stroke: var( --skc--tailwind--sky-400 );
	}

	&.sky-500 {
		color: var( --skc--tailwind--sky-500 );
	}
	&.sky-500-bg {
		background-color: var( --skc--tailwind--sky-500 );
	}
	&.sky-500-border {
		border-color: var( --skc--tailwind--sky-500 );
	}
	&.sky-500-fill {
		fill: var( --skc--tailwind--sky-500 );
	}
	&.sky-500-stroke {
		stroke: var( --skc--tailwind--sky-500 );
	}

	&.sky-600 {
		color: var( --skc--tailwind--sky-600 );
	}
	&.sky-600-bg {
		background-color: var( --skc--tailwind--sky-600 );
	}
	&.sky-600-border {
		border-color: var( --skc--tailwind--sky-600 );
	}
	&.sky-600-fill {
		fill: var( --skc--tailwind--sky-600 );
	}
	&.sky-600-stroke {
		stroke: var( --skc--tailwind--sky-600 );
	}

	&.sky-700 {
		color: var( --skc--tailwind--sky-700 );
	}
	&.sky-700-bg {
		background-color: var( --skc--tailwind--sky-700 );
	}
	&.sky-700-border {
		border-color: var( --skc--tailwind--sky-700 );
	}
	&.sky-700-fill {
		fill: var( --skc--tailwind--sky-700 );
	}
	&.sky-700-stroke {
		stroke: var( --skc--tailwind--sky-700 );
	}

	&.sky-800 {
		color: var( --skc--tailwind--sky-800 );
	}
	&.sky-800-bg {
		background-color: var( --skc--tailwind--sky-800 );
	}
	&.sky-800-border {
		border-color: var( --skc--tailwind--sky-800 );
	}
	&.sky-800-fill {
		fill: var( --skc--tailwind--sky-800 );
	}
	&.sky-800-stroke {
		stroke: var( --skc--tailwind--sky-800 );
	}

	&.sky-900 {
		color: var( --skc--tailwind--sky-900 );
	}
	&.sky-900-bg {
		background-color: var( --skc--tailwind--sky-900 );
	}
	&.sky-900-border {
		border-color: var( --skc--tailwind--sky-900 );
	}
	&.sky-900-fill {
		fill: var( --skc--tailwind--sky-900 );
	}
	&.sky-900-stroke {
		stroke: var( --skc--tailwind--sky-900 );
	}

	&.sky-950 {
		color: var( --skc--tailwind--sky-950 );
	}
	&.sky-950-bg {
		background-color: var( --skc--tailwind--sky-950 );
	}
	&.sky-950-border {
		border-color: var( --skc--tailwind--sky-950 );
	}
	&.sky-950-fill {
		fill: var( --skc--tailwind--sky-950 );
	}
	&.sky-950-stroke {
		stroke: var( --skc--tailwind--sky-950 );
	}
}
