///
/// Color: slate
///

.tailwind {

	&.slate-50 {
		color: var( --skc--tailwind--slate-50 );
	}
	&.slate-50-bg {
		background-color: var( --skc--tailwind--slate-50 );
	}
	&.slate-50-border {
		border-color: var( --skc--tailwind--slate-50 );
	}
	&.slate-50-fill {
		fill: var( --skc--tailwind--slate-50 );
	}
	&.slate-50-stroke {
		stroke: var( --skc--tailwind--slate-50 );
	}

	&.slate-100 {
		color: var( --skc--tailwind--slate-100 );
	}
	&.slate-100-bg {
		background-color: var( --skc--tailwind--slate-100 );
	}
	&.slate-100-border {
		border-color: var( --skc--tailwind--slate-100 );
	}
	&.slate-100-fill {
		fill: var( --skc--tailwind--slate-100 );
	}
	&.slate-100-stroke {
		stroke: var( --skc--tailwind--slate-100 );
	}

	&.slate-200 {
		color: var( --skc--tailwind--slate-200 );
	}
	&.slate-200-bg {
		background-color: var( --skc--tailwind--slate-200 );
	}
	&.slate-200-border {
		border-color: var( --skc--tailwind--slate-200 );
	}
	&.slate-200-fill {
		fill: var( --skc--tailwind--slate-200 );
	}
	&.slate-200-stroke {
		stroke: var( --skc--tailwind--slate-200 );
	}

	&.slate-300 {
		color: var( --skc--tailwind--slate-300 );
	}
	&.slate-300-bg {
		background-color: var( --skc--tailwind--slate-300 );
	}
	&.slate-300-border {
		border-color: var( --skc--tailwind--slate-300 );
	}
	&.slate-300-fill {
		fill: var( --skc--tailwind--slate-300 );
	}
	&.slate-300-stroke {
		stroke: var( --skc--tailwind--slate-300 );
	}

	&.slate-400 {
		color: var( --skc--tailwind--slate-400 );
	}
	&.slate-400-bg {
		background-color: var( --skc--tailwind--slate-400 );
	}
	&.slate-400-border {
		border-color: var( --skc--tailwind--slate-400 );
	}
	&.slate-400-fill {
		fill: var( --skc--tailwind--slate-400 );
	}
	&.slate-400-stroke {
		stroke: var( --skc--tailwind--slate-400 );
	}

	&.slate-500 {
		color: var( --skc--tailwind--slate-500 );
	}
	&.slate-500-bg {
		background-color: var( --skc--tailwind--slate-500 );
	}
	&.slate-500-border {
		border-color: var( --skc--tailwind--slate-500 );
	}
	&.slate-500-fill {
		fill: var( --skc--tailwind--slate-500 );
	}
	&.slate-500-stroke {
		stroke: var( --skc--tailwind--slate-500 );
	}

	&.slate-600 {
		color: var( --skc--tailwind--slate-600 );
	}
	&.slate-600-bg {
		background-color: var( --skc--tailwind--slate-600 );
	}
	&.slate-600-border {
		border-color: var( --skc--tailwind--slate-600 );
	}
	&.slate-600-fill {
		fill: var( --skc--tailwind--slate-600 );
	}
	&.slate-600-stroke {
		stroke: var( --skc--tailwind--slate-600 );
	}

	&.slate-700 {
		color: var( --skc--tailwind--slate-700 );
	}
	&.slate-700-bg {
		background-color: var( --skc--tailwind--slate-700 );
	}
	&.slate-700-border {
		border-color: var( --skc--tailwind--slate-700 );
	}
	&.slate-700-fill {
		fill: var( --skc--tailwind--slate-700 );
	}
	&.slate-700-stroke {
		stroke: var( --skc--tailwind--slate-700 );
	}

	&.slate-800 {
		color: var( --skc--tailwind--slate-800 );
	}
	&.slate-800-bg {
		background-color: var( --skc--tailwind--slate-800 );
	}
	&.slate-800-border {
		border-color: var( --skc--tailwind--slate-800 );
	}
	&.slate-800-fill {
		fill: var( --skc--tailwind--slate-800 );
	}
	&.slate-800-stroke {
		stroke: var( --skc--tailwind--slate-800 );
	}

	&.slate-900 {
		color: var( --skc--tailwind--slate-900 );
	}
	&.slate-900-bg {
		background-color: var( --skc--tailwind--slate-900 );
	}
	&.slate-900-border {
		border-color: var( --skc--tailwind--slate-900 );
	}
	&.slate-900-fill {
		fill: var( --skc--tailwind--slate-900 );
	}
	&.slate-900-stroke {
		stroke: var( --skc--tailwind--slate-900 );
	}

	&.slate-950 {
		color: var( --skc--tailwind--slate-950 );
	}
	&.slate-950-bg {
		background-color: var( --skc--tailwind--slate-950 );
	}
	&.slate-950-border {
		border-color: var( --skc--tailwind--slate-950 );
	}
	&.slate-950-fill {
		fill: var( --skc--tailwind--slate-950 );
	}
	&.slate-950-stroke {
		stroke: var( --skc--tailwind--slate-950 );
	}
}
