///
/// Color: stone
///

.tailwind {

	&.stone-50 {
		color: var( --skc--tailwind--stone-50 );
	}
	&.stone-50-bg {
		background-color: var( --skc--tailwind--stone-50 );
	}
	&.stone-50-border {
		border-color: var( --skc--tailwind--stone-50 );
	}
	&.stone-50-fill {
		fill: var( --skc--tailwind--stone-50 );
	}
	&.stone-50-stroke {
		stroke: var( --skc--tailwind--stone-50 );
	}

	&.stone-100 {
		color: var( --skc--tailwind--stone-100 );
	}
	&.stone-100-bg {
		background-color: var( --skc--tailwind--stone-100 );
	}
	&.stone-100-border {
		border-color: var( --skc--tailwind--stone-100 );
	}
	&.stone-100-fill {
		fill: var( --skc--tailwind--stone-100 );
	}
	&.stone-100-stroke {
		stroke: var( --skc--tailwind--stone-100 );
	}

	&.stone-200 {
		color: var( --skc--tailwind--stone-200 );
	}
	&.stone-200-bg {
		background-color: var( --skc--tailwind--stone-200 );
	}
	&.stone-200-border {
		border-color: var( --skc--tailwind--stone-200 );
	}
	&.stone-200-fill {
		fill: var( --skc--tailwind--stone-200 );
	}
	&.stone-200-stroke {
		stroke: var( --skc--tailwind--stone-200 );
	}

	&.stone-300 {
		color: var( --skc--tailwind--stone-300 );
	}
	&.stone-300-bg {
		background-color: var( --skc--tailwind--stone-300 );
	}
	&.stone-300-border {
		border-color: var( --skc--tailwind--stone-300 );
	}
	&.stone-300-fill {
		fill: var( --skc--tailwind--stone-300 );
	}
	&.stone-300-stroke {
		stroke: var( --skc--tailwind--stone-300 );
	}

	&.stone-400 {
		color: var( --skc--tailwind--stone-400 );
	}
	&.stone-400-bg {
		background-color: var( --skc--tailwind--stone-400 );
	}
	&.stone-400-border {
		border-color: var( --skc--tailwind--stone-400 );
	}
	&.stone-400-fill {
		fill: var( --skc--tailwind--stone-400 );
	}
	&.stone-400-stroke {
		stroke: var( --skc--tailwind--stone-400 );
	}

	&.stone-500 {
		color: var( --skc--tailwind--stone-500 );
	}
	&.stone-500-bg {
		background-color: var( --skc--tailwind--stone-500 );
	}
	&.stone-500-border {
		border-color: var( --skc--tailwind--stone-500 );
	}
	&.stone-500-fill {
		fill: var( --skc--tailwind--stone-500 );
	}
	&.stone-500-stroke {
		stroke: var( --skc--tailwind--stone-500 );
	}

	&.stone-600 {
		color: var( --skc--tailwind--stone-600 );
	}
	&.stone-600-bg {
		background-color: var( --skc--tailwind--stone-600 );
	}
	&.stone-600-border {
		border-color: var( --skc--tailwind--stone-600 );
	}
	&.stone-600-fill {
		fill: var( --skc--tailwind--stone-600 );
	}
	&.stone-600-stroke {
		stroke: var( --skc--tailwind--stone-600 );
	}

	&.stone-700 {
		color: var( --skc--tailwind--stone-700 );
	}
	&.stone-700-bg {
		background-color: var( --skc--tailwind--stone-700 );
	}
	&.stone-700-border {
		border-color: var( --skc--tailwind--stone-700 );
	}
	&.stone-700-fill {
		fill: var( --skc--tailwind--stone-700 );
	}
	&.stone-700-stroke {
		stroke: var( --skc--tailwind--stone-700 );
	}

	&.stone-800 {
		color: var( --skc--tailwind--stone-800 );
	}
	&.stone-800-bg {
		background-color: var( --skc--tailwind--stone-800 );
	}
	&.stone-800-border {
		border-color: var( --skc--tailwind--stone-800 );
	}
	&.stone-800-fill {
		fill: var( --skc--tailwind--stone-800 );
	}
	&.stone-800-stroke {
		stroke: var( --skc--tailwind--stone-800 );
	}

	&.stone-900 {
		color: var( --skc--tailwind--stone-900 );
	}
	&.stone-900-bg {
		background-color: var( --skc--tailwind--stone-900 );
	}
	&.stone-900-border {
		border-color: var( --skc--tailwind--stone-900 );
	}
	&.stone-900-fill {
		fill: var( --skc--tailwind--stone-900 );
	}
	&.stone-900-stroke {
		stroke: var( --skc--tailwind--stone-900 );
	}

	&.stone-950 {
		color: var( --skc--tailwind--stone-950 );
	}
	&.stone-950-bg {
		background-color: var( --skc--tailwind--stone-950 );
	}
	&.stone-950-border {
		border-color: var( --skc--tailwind--stone-950 );
	}
	&.stone-950-fill {
		fill: var( --skc--tailwind--stone-950 );
	}
	&.stone-950-stroke {
		stroke: var( --skc--tailwind--stone-950 );
	}
}
