///
/// Color: taupe
///

.tailwind {

	&.taupe-50 {
		color: var( --skc--tailwind--taupe-50 );
	}
	&.taupe-50-bg {
		background-color: var( --skc--tailwind--taupe-50 );
	}
	&.taupe-50-border {
		border-color: var( --skc--tailwind--taupe-50 );
	}
	&.taupe-50-fill {
		fill: var( --skc--tailwind--taupe-50 );
	}
	&.taupe-50-stroke {
		stroke: var( --skc--tailwind--taupe-50 );
	}

	&.taupe-100 {
		color: var( --skc--tailwind--taupe-100 );
	}
	&.taupe-100-bg {
		background-color: var( --skc--tailwind--taupe-100 );
	}
	&.taupe-100-border {
		border-color: var( --skc--tailwind--taupe-100 );
	}
	&.taupe-100-fill {
		fill: var( --skc--tailwind--taupe-100 );
	}
	&.taupe-100-stroke {
		stroke: var( --skc--tailwind--taupe-100 );
	}

	&.taupe-200 {
		color: var( --skc--tailwind--taupe-200 );
	}
	&.taupe-200-bg {
		background-color: var( --skc--tailwind--taupe-200 );
	}
	&.taupe-200-border {
		border-color: var( --skc--tailwind--taupe-200 );
	}
	&.taupe-200-fill {
		fill: var( --skc--tailwind--taupe-200 );
	}
	&.taupe-200-stroke {
		stroke: var( --skc--tailwind--taupe-200 );
	}

	&.taupe-300 {
		color: var( --skc--tailwind--taupe-300 );
	}
	&.taupe-300-bg {
		background-color: var( --skc--tailwind--taupe-300 );
	}
	&.taupe-300-border {
		border-color: var( --skc--tailwind--taupe-300 );
	}
	&.taupe-300-fill {
		fill: var( --skc--tailwind--taupe-300 );
	}
	&.taupe-300-stroke {
		stroke: var( --skc--tailwind--taupe-300 );
	}

	&.taupe-400 {
		color: var( --skc--tailwind--taupe-400 );
	}
	&.taupe-400-bg {
		background-color: var( --skc--tailwind--taupe-400 );
	}
	&.taupe-400-border {
		border-color: var( --skc--tailwind--taupe-400 );
	}
	&.taupe-400-fill {
		fill: var( --skc--tailwind--taupe-400 );
	}
	&.taupe-400-stroke {
		stroke: var( --skc--tailwind--taupe-400 );
	}

	&.taupe-500 {
		color: var( --skc--tailwind--taupe-500 );
	}
	&.taupe-500-bg {
		background-color: var( --skc--tailwind--taupe-500 );
	}
	&.taupe-500-border {
		border-color: var( --skc--tailwind--taupe-500 );
	}
	&.taupe-500-fill {
		fill: var( --skc--tailwind--taupe-500 );
	}
	&.taupe-500-stroke {
		stroke: var( --skc--tailwind--taupe-500 );
	}

	&.taupe-600 {
		color: var( --skc--tailwind--taupe-600 );
	}
	&.taupe-600-bg {
		background-color: var( --skc--tailwind--taupe-600 );
	}
	&.taupe-600-border {
		border-color: var( --skc--tailwind--taupe-600 );
	}
	&.taupe-600-fill {
		fill: var( --skc--tailwind--taupe-600 );
	}
	&.taupe-600-stroke {
		stroke: var( --skc--tailwind--taupe-600 );
	}

	&.taupe-700 {
		color: var( --skc--tailwind--taupe-700 );
	}
	&.taupe-700-bg {
		background-color: var( --skc--tailwind--taupe-700 );
	}
	&.taupe-700-border {
		border-color: var( --skc--tailwind--taupe-700 );
	}
	&.taupe-700-fill {
		fill: var( --skc--tailwind--taupe-700 );
	}
	&.taupe-700-stroke {
		stroke: var( --skc--tailwind--taupe-700 );
	}

	&.taupe-800 {
		color: var( --skc--tailwind--taupe-800 );
	}
	&.taupe-800-bg {
		background-color: var( --skc--tailwind--taupe-800 );
	}
	&.taupe-800-border {
		border-color: var( --skc--tailwind--taupe-800 );
	}
	&.taupe-800-fill {
		fill: var( --skc--tailwind--taupe-800 );
	}
	&.taupe-800-stroke {
		stroke: var( --skc--tailwind--taupe-800 );
	}

	&.taupe-900 {
		color: var( --skc--tailwind--taupe-900 );
	}
	&.taupe-900-bg {
		background-color: var( --skc--tailwind--taupe-900 );
	}
	&.taupe-900-border {
		border-color: var( --skc--tailwind--taupe-900 );
	}
	&.taupe-900-fill {
		fill: var( --skc--tailwind--taupe-900 );
	}
	&.taupe-900-stroke {
		stroke: var( --skc--tailwind--taupe-900 );
	}

	&.taupe-950 {
		color: var( --skc--tailwind--taupe-950 );
	}
	&.taupe-950-bg {
		background-color: var( --skc--tailwind--taupe-950 );
	}
	&.taupe-950-border {
		border-color: var( --skc--tailwind--taupe-950 );
	}
	&.taupe-950-fill {
		fill: var( --skc--tailwind--taupe-950 );
	}
	&.taupe-950-stroke {
		stroke: var( --skc--tailwind--taupe-950 );
	}
}
