///
/// Color: teal
///

.tailwind {

	&.teal-50 {
		color: var( --skc--tailwind--teal-50 );
	}
	&.teal-50-bg {
		background-color: var( --skc--tailwind--teal-50 );
	}
	&.teal-50-border {
		border-color: var( --skc--tailwind--teal-50 );
	}
	&.teal-50-fill {
		fill: var( --skc--tailwind--teal-50 );
	}
	&.teal-50-stroke {
		stroke: var( --skc--tailwind--teal-50 );
	}

	&.teal-100 {
		color: var( --skc--tailwind--teal-100 );
	}
	&.teal-100-bg {
		background-color: var( --skc--tailwind--teal-100 );
	}
	&.teal-100-border {
		border-color: var( --skc--tailwind--teal-100 );
	}
	&.teal-100-fill {
		fill: var( --skc--tailwind--teal-100 );
	}
	&.teal-100-stroke {
		stroke: var( --skc--tailwind--teal-100 );
	}

	&.teal-200 {
		color: var( --skc--tailwind--teal-200 );
	}
	&.teal-200-bg {
		background-color: var( --skc--tailwind--teal-200 );
	}
	&.teal-200-border {
		border-color: var( --skc--tailwind--teal-200 );
	}
	&.teal-200-fill {
		fill: var( --skc--tailwind--teal-200 );
	}
	&.teal-200-stroke {
		stroke: var( --skc--tailwind--teal-200 );
	}

	&.teal-300 {
		color: var( --skc--tailwind--teal-300 );
	}
	&.teal-300-bg {
		background-color: var( --skc--tailwind--teal-300 );
	}
	&.teal-300-border {
		border-color: var( --skc--tailwind--teal-300 );
	}
	&.teal-300-fill {
		fill: var( --skc--tailwind--teal-300 );
	}
	&.teal-300-stroke {
		stroke: var( --skc--tailwind--teal-300 );
	}

	&.teal-400 {
		color: var( --skc--tailwind--teal-400 );
	}
	&.teal-400-bg {
		background-color: var( --skc--tailwind--teal-400 );
	}
	&.teal-400-border {
		border-color: var( --skc--tailwind--teal-400 );
	}
	&.teal-400-fill {
		fill: var( --skc--tailwind--teal-400 );
	}
	&.teal-400-stroke {
		stroke: var( --skc--tailwind--teal-400 );
	}

	&.teal-500 {
		color: var( --skc--tailwind--teal-500 );
	}
	&.teal-500-bg {
		background-color: var( --skc--tailwind--teal-500 );
	}
	&.teal-500-border {
		border-color: var( --skc--tailwind--teal-500 );
	}
	&.teal-500-fill {
		fill: var( --skc--tailwind--teal-500 );
	}
	&.teal-500-stroke {
		stroke: var( --skc--tailwind--teal-500 );
	}

	&.teal-600 {
		color: var( --skc--tailwind--teal-600 );
	}
	&.teal-600-bg {
		background-color: var( --skc--tailwind--teal-600 );
	}
	&.teal-600-border {
		border-color: var( --skc--tailwind--teal-600 );
	}
	&.teal-600-fill {
		fill: var( --skc--tailwind--teal-600 );
	}
	&.teal-600-stroke {
		stroke: var( --skc--tailwind--teal-600 );
	}

	&.teal-700 {
		color: var( --skc--tailwind--teal-700 );
	}
	&.teal-700-bg {
		background-color: var( --skc--tailwind--teal-700 );
	}
	&.teal-700-border {
		border-color: var( --skc--tailwind--teal-700 );
	}
	&.teal-700-fill {
		fill: var( --skc--tailwind--teal-700 );
	}
	&.teal-700-stroke {
		stroke: var( --skc--tailwind--teal-700 );
	}

	&.teal-800 {
		color: var( --skc--tailwind--teal-800 );
	}
	&.teal-800-bg {
		background-color: var( --skc--tailwind--teal-800 );
	}
	&.teal-800-border {
		border-color: var( --skc--tailwind--teal-800 );
	}
	&.teal-800-fill {
		fill: var( --skc--tailwind--teal-800 );
	}
	&.teal-800-stroke {
		stroke: var( --skc--tailwind--teal-800 );
	}

	&.teal-900 {
		color: var( --skc--tailwind--teal-900 );
	}
	&.teal-900-bg {
		background-color: var( --skc--tailwind--teal-900 );
	}
	&.teal-900-border {
		border-color: var( --skc--tailwind--teal-900 );
	}
	&.teal-900-fill {
		fill: var( --skc--tailwind--teal-900 );
	}
	&.teal-900-stroke {
		stroke: var( --skc--tailwind--teal-900 );
	}

	&.teal-950 {
		color: var( --skc--tailwind--teal-950 );
	}
	&.teal-950-bg {
		background-color: var( --skc--tailwind--teal-950 );
	}
	&.teal-950-border {
		border-color: var( --skc--tailwind--teal-950 );
	}
	&.teal-950-fill {
		fill: var( --skc--tailwind--teal-950 );
	}
	&.teal-950-stroke {
		stroke: var( --skc--tailwind--teal-950 );
	}
}
