///
/// Color: violet
///

.tailwind {

	&.violet-50 {
		color: var( --skc--tailwind--violet-50 );
	}
	&.violet-50-bg {
		background-color: var( --skc--tailwind--violet-50 );
	}
	&.violet-50-border {
		border-color: var( --skc--tailwind--violet-50 );
	}
	&.violet-50-fill {
		fill: var( --skc--tailwind--violet-50 );
	}
	&.violet-50-stroke {
		stroke: var( --skc--tailwind--violet-50 );
	}

	&.violet-100 {
		color: var( --skc--tailwind--violet-100 );
	}
	&.violet-100-bg {
		background-color: var( --skc--tailwind--violet-100 );
	}
	&.violet-100-border {
		border-color: var( --skc--tailwind--violet-100 );
	}
	&.violet-100-fill {
		fill: var( --skc--tailwind--violet-100 );
	}
	&.violet-100-stroke {
		stroke: var( --skc--tailwind--violet-100 );
	}

	&.violet-200 {
		color: var( --skc--tailwind--violet-200 );
	}
	&.violet-200-bg {
		background-color: var( --skc--tailwind--violet-200 );
	}
	&.violet-200-border {
		border-color: var( --skc--tailwind--violet-200 );
	}
	&.violet-200-fill {
		fill: var( --skc--tailwind--violet-200 );
	}
	&.violet-200-stroke {
		stroke: var( --skc--tailwind--violet-200 );
	}

	&.violet-300 {
		color: var( --skc--tailwind--violet-300 );
	}
	&.violet-300-bg {
		background-color: var( --skc--tailwind--violet-300 );
	}
	&.violet-300-border {
		border-color: var( --skc--tailwind--violet-300 );
	}
	&.violet-300-fill {
		fill: var( --skc--tailwind--violet-300 );
	}
	&.violet-300-stroke {
		stroke: var( --skc--tailwind--violet-300 );
	}

	&.violet-400 {
		color: var( --skc--tailwind--violet-400 );
	}
	&.violet-400-bg {
		background-color: var( --skc--tailwind--violet-400 );
	}
	&.violet-400-border {
		border-color: var( --skc--tailwind--violet-400 );
	}
	&.violet-400-fill {
		fill: var( --skc--tailwind--violet-400 );
	}
	&.violet-400-stroke {
		stroke: var( --skc--tailwind--violet-400 );
	}

	&.violet-500 {
		color: var( --skc--tailwind--violet-500 );
	}
	&.violet-500-bg {
		background-color: var( --skc--tailwind--violet-500 );
	}
	&.violet-500-border {
		border-color: var( --skc--tailwind--violet-500 );
	}
	&.violet-500-fill {
		fill: var( --skc--tailwind--violet-500 );
	}
	&.violet-500-stroke {
		stroke: var( --skc--tailwind--violet-500 );
	}

	&.violet-600 {
		color: var( --skc--tailwind--violet-600 );
	}
	&.violet-600-bg {
		background-color: var( --skc--tailwind--violet-600 );
	}
	&.violet-600-border {
		border-color: var( --skc--tailwind--violet-600 );
	}
	&.violet-600-fill {
		fill: var( --skc--tailwind--violet-600 );
	}
	&.violet-600-stroke {
		stroke: var( --skc--tailwind--violet-600 );
	}

	&.violet-700 {
		color: var( --skc--tailwind--violet-700 );
	}
	&.violet-700-bg {
		background-color: var( --skc--tailwind--violet-700 );
	}
	&.violet-700-border {
		border-color: var( --skc--tailwind--violet-700 );
	}
	&.violet-700-fill {
		fill: var( --skc--tailwind--violet-700 );
	}
	&.violet-700-stroke {
		stroke: var( --skc--tailwind--violet-700 );
	}

	&.violet-800 {
		color: var( --skc--tailwind--violet-800 );
	}
	&.violet-800-bg {
		background-color: var( --skc--tailwind--violet-800 );
	}
	&.violet-800-border {
		border-color: var( --skc--tailwind--violet-800 );
	}
	&.violet-800-fill {
		fill: var( --skc--tailwind--violet-800 );
	}
	&.violet-800-stroke {
		stroke: var( --skc--tailwind--violet-800 );
	}

	&.violet-900 {
		color: var( --skc--tailwind--violet-900 );
	}
	&.violet-900-bg {
		background-color: var( --skc--tailwind--violet-900 );
	}
	&.violet-900-border {
		border-color: var( --skc--tailwind--violet-900 );
	}
	&.violet-900-fill {
		fill: var( --skc--tailwind--violet-900 );
	}
	&.violet-900-stroke {
		stroke: var( --skc--tailwind--violet-900 );
	}

	&.violet-950 {
		color: var( --skc--tailwind--violet-950 );
	}
	&.violet-950-bg {
		background-color: var( --skc--tailwind--violet-950 );
	}
	&.violet-950-border {
		border-color: var( --skc--tailwind--violet-950 );
	}
	&.violet-950-fill {
		fill: var( --skc--tailwind--violet-950 );
	}
	&.violet-950-stroke {
		stroke: var( --skc--tailwind--violet-950 );
	}
}
