///
/// Color: yellow
///

.tailwind {

	&.yellow-50 {
		color: var( --skc--tailwind--yellow-50 );
	}
	&.yellow-50-bg {
		background-color: var( --skc--tailwind--yellow-50 );
	}
	&.yellow-50-border {
		border-color: var( --skc--tailwind--yellow-50 );
	}
	&.yellow-50-fill {
		fill: var( --skc--tailwind--yellow-50 );
	}
	&.yellow-50-stroke {
		stroke: var( --skc--tailwind--yellow-50 );
	}

	&.yellow-100 {
		color: var( --skc--tailwind--yellow-100 );
	}
	&.yellow-100-bg {
		background-color: var( --skc--tailwind--yellow-100 );
	}
	&.yellow-100-border {
		border-color: var( --skc--tailwind--yellow-100 );
	}
	&.yellow-100-fill {
		fill: var( --skc--tailwind--yellow-100 );
	}
	&.yellow-100-stroke {
		stroke: var( --skc--tailwind--yellow-100 );
	}

	&.yellow-200 {
		color: var( --skc--tailwind--yellow-200 );
	}
	&.yellow-200-bg {
		background-color: var( --skc--tailwind--yellow-200 );
	}
	&.yellow-200-border {
		border-color: var( --skc--tailwind--yellow-200 );
	}
	&.yellow-200-fill {
		fill: var( --skc--tailwind--yellow-200 );
	}
	&.yellow-200-stroke {
		stroke: var( --skc--tailwind--yellow-200 );
	}

	&.yellow-300 {
		color: var( --skc--tailwind--yellow-300 );
	}
	&.yellow-300-bg {
		background-color: var( --skc--tailwind--yellow-300 );
	}
	&.yellow-300-border {
		border-color: var( --skc--tailwind--yellow-300 );
	}
	&.yellow-300-fill {
		fill: var( --skc--tailwind--yellow-300 );
	}
	&.yellow-300-stroke {
		stroke: var( --skc--tailwind--yellow-300 );
	}

	&.yellow-400 {
		color: var( --skc--tailwind--yellow-400 );
	}
	&.yellow-400-bg {
		background-color: var( --skc--tailwind--yellow-400 );
	}
	&.yellow-400-border {
		border-color: var( --skc--tailwind--yellow-400 );
	}
	&.yellow-400-fill {
		fill: var( --skc--tailwind--yellow-400 );
	}
	&.yellow-400-stroke {
		stroke: var( --skc--tailwind--yellow-400 );
	}

	&.yellow-500 {
		color: var( --skc--tailwind--yellow-500 );
	}
	&.yellow-500-bg {
		background-color: var( --skc--tailwind--yellow-500 );
	}
	&.yellow-500-border {
		border-color: var( --skc--tailwind--yellow-500 );
	}
	&.yellow-500-fill {
		fill: var( --skc--tailwind--yellow-500 );
	}
	&.yellow-500-stroke {
		stroke: var( --skc--tailwind--yellow-500 );
	}

	&.yellow-600 {
		color: var( --skc--tailwind--yellow-600 );
	}
	&.yellow-600-bg {
		background-color: var( --skc--tailwind--yellow-600 );
	}
	&.yellow-600-border {
		border-color: var( --skc--tailwind--yellow-600 );
	}
	&.yellow-600-fill {
		fill: var( --skc--tailwind--yellow-600 );
	}
	&.yellow-600-stroke {
		stroke: var( --skc--tailwind--yellow-600 );
	}

	&.yellow-700 {
		color: var( --skc--tailwind--yellow-700 );
	}
	&.yellow-700-bg {
		background-color: var( --skc--tailwind--yellow-700 );
	}
	&.yellow-700-border {
		border-color: var( --skc--tailwind--yellow-700 );
	}
	&.yellow-700-fill {
		fill: var( --skc--tailwind--yellow-700 );
	}
	&.yellow-700-stroke {
		stroke: var( --skc--tailwind--yellow-700 );
	}

	&.yellow-800 {
		color: var( --skc--tailwind--yellow-800 );
	}
	&.yellow-800-bg {
		background-color: var( --skc--tailwind--yellow-800 );
	}
	&.yellow-800-border {
		border-color: var( --skc--tailwind--yellow-800 );
	}
	&.yellow-800-fill {
		fill: var( --skc--tailwind--yellow-800 );
	}
	&.yellow-800-stroke {
		stroke: var( --skc--tailwind--yellow-800 );
	}

	&.yellow-900 {
		color: var( --skc--tailwind--yellow-900 );
	}
	&.yellow-900-bg {
		background-color: var( --skc--tailwind--yellow-900 );
	}
	&.yellow-900-border {
		border-color: var( --skc--tailwind--yellow-900 );
	}
	&.yellow-900-fill {
		fill: var( --skc--tailwind--yellow-900 );
	}
	&.yellow-900-stroke {
		stroke: var( --skc--tailwind--yellow-900 );
	}

	&.yellow-950 {
		color: var( --skc--tailwind--yellow-950 );
	}
	&.yellow-950-bg {
		background-color: var( --skc--tailwind--yellow-950 );
	}
	&.yellow-950-border {
		border-color: var( --skc--tailwind--yellow-950 );
	}
	&.yellow-950-fill {
		fill: var( --skc--tailwind--yellow-950 );
	}
	&.yellow-950-stroke {
		stroke: var( --skc--tailwind--yellow-950 );
	}
}
