///
/// Color: zinc
///

.tailwind {

	&.zinc-50 {
		color: var( --skc--tailwind--zinc-50 );
	}
	&.zinc-50-bg {
		background-color: var( --skc--tailwind--zinc-50 );
	}
	&.zinc-50-border {
		border-color: var( --skc--tailwind--zinc-50 );
	}
	&.zinc-50-fill {
		fill: var( --skc--tailwind--zinc-50 );
	}
	&.zinc-50-stroke {
		stroke: var( --skc--tailwind--zinc-50 );
	}

	&.zinc-100 {
		color: var( --skc--tailwind--zinc-100 );
	}
	&.zinc-100-bg {
		background-color: var( --skc--tailwind--zinc-100 );
	}
	&.zinc-100-border {
		border-color: var( --skc--tailwind--zinc-100 );
	}
	&.zinc-100-fill {
		fill: var( --skc--tailwind--zinc-100 );
	}
	&.zinc-100-stroke {
		stroke: var( --skc--tailwind--zinc-100 );
	}

	&.zinc-200 {
		color: var( --skc--tailwind--zinc-200 );
	}
	&.zinc-200-bg {
		background-color: var( --skc--tailwind--zinc-200 );
	}
	&.zinc-200-border {
		border-color: var( --skc--tailwind--zinc-200 );
	}
	&.zinc-200-fill {
		fill: var( --skc--tailwind--zinc-200 );
	}
	&.zinc-200-stroke {
		stroke: var( --skc--tailwind--zinc-200 );
	}

	&.zinc-300 {
		color: var( --skc--tailwind--zinc-300 );
	}
	&.zinc-300-bg {
		background-color: var( --skc--tailwind--zinc-300 );
	}
	&.zinc-300-border {
		border-color: var( --skc--tailwind--zinc-300 );
	}
	&.zinc-300-fill {
		fill: var( --skc--tailwind--zinc-300 );
	}
	&.zinc-300-stroke {
		stroke: var( --skc--tailwind--zinc-300 );
	}

	&.zinc-400 {
		color: var( --skc--tailwind--zinc-400 );
	}
	&.zinc-400-bg {
		background-color: var( --skc--tailwind--zinc-400 );
	}
	&.zinc-400-border {
		border-color: var( --skc--tailwind--zinc-400 );
	}
	&.zinc-400-fill {
		fill: var( --skc--tailwind--zinc-400 );
	}
	&.zinc-400-stroke {
		stroke: var( --skc--tailwind--zinc-400 );
	}

	&.zinc-500 {
		color: var( --skc--tailwind--zinc-500 );
	}
	&.zinc-500-bg {
		background-color: var( --skc--tailwind--zinc-500 );
	}
	&.zinc-500-border {
		border-color: var( --skc--tailwind--zinc-500 );
	}
	&.zinc-500-fill {
		fill: var( --skc--tailwind--zinc-500 );
	}
	&.zinc-500-stroke {
		stroke: var( --skc--tailwind--zinc-500 );
	}

	&.zinc-600 {
		color: var( --skc--tailwind--zinc-600 );
	}
	&.zinc-600-bg {
		background-color: var( --skc--tailwind--zinc-600 );
	}
	&.zinc-600-border {
		border-color: var( --skc--tailwind--zinc-600 );
	}
	&.zinc-600-fill {
		fill: var( --skc--tailwind--zinc-600 );
	}
	&.zinc-600-stroke {
		stroke: var( --skc--tailwind--zinc-600 );
	}

	&.zinc-700 {
		color: var( --skc--tailwind--zinc-700 );
	}
	&.zinc-700-bg {
		background-color: var( --skc--tailwind--zinc-700 );
	}
	&.zinc-700-border {
		border-color: var( --skc--tailwind--zinc-700 );
	}
	&.zinc-700-fill {
		fill: var( --skc--tailwind--zinc-700 );
	}
	&.zinc-700-stroke {
		stroke: var( --skc--tailwind--zinc-700 );
	}

	&.zinc-800 {
		color: var( --skc--tailwind--zinc-800 );
	}
	&.zinc-800-bg {
		background-color: var( --skc--tailwind--zinc-800 );
	}
	&.zinc-800-border {
		border-color: var( --skc--tailwind--zinc-800 );
	}
	&.zinc-800-fill {
		fill: var( --skc--tailwind--zinc-800 );
	}
	&.zinc-800-stroke {
		stroke: var( --skc--tailwind--zinc-800 );
	}

	&.zinc-900 {
		color: var( --skc--tailwind--zinc-900 );
	}
	&.zinc-900-bg {
		background-color: var( --skc--tailwind--zinc-900 );
	}
	&.zinc-900-border {
		border-color: var( --skc--tailwind--zinc-900 );
	}
	&.zinc-900-fill {
		fill: var( --skc--tailwind--zinc-900 );
	}
	&.zinc-900-stroke {
		stroke: var( --skc--tailwind--zinc-900 );
	}

	&.zinc-950 {
		color: var( --skc--tailwind--zinc-950 );
	}
	&.zinc-950-bg {
		background-color: var( --skc--tailwind--zinc-950 );
	}
	&.zinc-950-border {
		border-color: var( --skc--tailwind--zinc-950 );
	}
	&.zinc-950-fill {
		fill: var( --skc--tailwind--zinc-950 );
	}
	&.zinc-950-stroke {
		stroke: var( --skc--tailwind--zinc-950 );
	}
}
