:root {
  --css-color--sunglow: #ffcc33;
  --css-color--sunglow-l-5: rgb(255, 210.375, 76.5);
  --css-color--sunglow-l-10: rgb(255, 216.75, 102);
  --css-color--sunglow-l-15: rgb(255, 223.125, 127.5);
  --css-color--sunglow-l-20: rgb(255, 229.5, 153);
  --css-color--sunglow-l-25: rgb(255, 235.875, 178.5);
  --css-color--sunglow-l-30: rgb(255, 242.25, 204);
  --css-color--sunglow-l-35: rgb(255, 248.625, 229.5);
  --css-color--sunglow-l-40: white;
  --css-color--sunglow-l-45: hsl(45, 100%, 105%);
  --css-color--sunglow-l-50: hsl(45, 100%, 110%);
  --css-color--sunglow-l-55: hsl(45, 100%, 115%);
  --css-color--sunglow-l-60: hsl(45, 100%, 120%);
  --css-color--sunglow-l-65: hsl(45, 100%, 125%);
  --css-color--sunglow-l-70: hsl(45, 100%, 130%);
  --css-color--sunglow-l-75: hsl(45, 100%, 135%);
  --css-color--sunglow-l-80: hsl(45, 100%, 140%);
  --css-color--sunglow-l-85: hsl(45, 100%, 145%);
  --css-color--sunglow-l-90: hsl(45, 100%, 150%);
  --css-color--sunglow-l-95: hsl(45, 100%, 155%);
  --css-color--sunglow-l-100: hsl(45, 100%, 160%);
  --css-color--sunglow-d-5: rgb(255, 197.625, 25.5);
  --css-color--sunglow-d-10: rgb(255, 191.25, 0);
  --css-color--sunglow-d-15: rgb(229.5, 172.125, 0);
  --css-color--sunglow-d-20: #cc9900;
  --css-color--sunglow-d-25: rgb(178.5, 133.875, 0);
  --css-color--sunglow-d-30: rgb(153, 114.75, 0);
  --css-color--sunglow-d-35: rgb(127.5, 95.625, 0);
  --css-color--sunglow-d-40: rgb(102, 76.5, 0);
  --css-color--sunglow-d-45: rgb(76.5, 57.375, 0);
  --css-color--sunglow-d-50: rgb(51, 38.25, 0);
  --css-color--sunglow-d-55: rgb(25.5, 19.125, 0);
  --css-color--sunglow-d-60: black;
  --css-color--sunglow-d-65: hsl(45, 100%, -5%);
  --css-color--sunglow-d-70: hsl(45, 100%, -10%);
  --css-color--sunglow-d-75: hsl(45, 100%, -15%);
  --css-color--sunglow-d-80: hsl(45, 100%, -20%);
  --css-color--sunglow-d-85: hsl(45, 100%, -25%);
  --css-color--sunglow-d-90: hsl(45, 100%, -30%);
  --css-color--sunglow-d-95: hsl(45, 100%, -35%);
  --css-color--sunglow-d-100: hsl(45, 100%, -40%);
  --css-bg-color--sunglow: #ffcc33;
  --css-bg-color--sunglow-l-5: rgb(255, 210.375, 76.5);
  --css-bg-color--sunglow-l-10: rgb(255, 216.75, 102);
  --css-bg-color--sunglow-l-15: rgb(255, 223.125, 127.5);
  --css-bg-color--sunglow-l-20: rgb(255, 229.5, 153);
  --css-bg-color--sunglow-l-25: rgb(255, 235.875, 178.5);
  --css-bg-color--sunglow-l-30: rgb(255, 242.25, 204);
  --css-bg-color--sunglow-l-35: rgb(255, 248.625, 229.5);
  --css-bg-color--sunglow-l-40: white;
  --css-bg-color--sunglow-l-45: hsl(45, 100%, 105%);
  --css-bg-color--sunglow-l-50: hsl(45, 100%, 110%);
  --css-bg-color--sunglow-l-55: hsl(45, 100%, 115%);
  --css-bg-color--sunglow-l-60: hsl(45, 100%, 120%);
  --css-bg-color--sunglow-l-65: hsl(45, 100%, 125%);
  --css-bg-color--sunglow-l-70: hsl(45, 100%, 130%);
  --css-bg-color--sunglow-l-75: hsl(45, 100%, 135%);
  --css-bg-color--sunglow-l-80: hsl(45, 100%, 140%);
  --css-bg-color--sunglow-l-85: hsl(45, 100%, 145%);
  --css-bg-color--sunglow-l-90: hsl(45, 100%, 150%);
  --css-bg-color--sunglow-l-95: hsl(45, 100%, 155%);
  --css-bg-color--sunglow-l-100: hsl(45, 100%, 160%);
  --css-bg-color--sunglow-d-5: rgb(255, 197.625, 25.5);
  --css-bg-color--sunglow-d-10: rgb(255, 191.25, 0);
  --css-bg-color--sunglow-d-15: rgb(229.5, 172.125, 0);
  --css-bg-color--sunglow-d-20: #cc9900;
  --css-bg-color--sunglow-d-25: rgb(178.5, 133.875, 0);
  --css-bg-color--sunglow-d-30: rgb(153, 114.75, 0);
  --css-bg-color--sunglow-d-35: rgb(127.5, 95.625, 0);
  --css-bg-color--sunglow-d-40: rgb(102, 76.5, 0);
  --css-bg-color--sunglow-d-45: rgb(76.5, 57.375, 0);
  --css-bg-color--sunglow-d-50: rgb(51, 38.25, 0);
  --css-bg-color--sunglow-d-55: rgb(25.5, 19.125, 0);
  --css-bg-color--sunglow-d-60: black;
  --css-bg-color--sunglow-d-65: hsl(45, 100%, -5%);
  --css-bg-color--sunglow-d-70: hsl(45, 100%, -10%);
  --css-bg-color--sunglow-d-75: hsl(45, 100%, -15%);
  --css-bg-color--sunglow-d-80: hsl(45, 100%, -20%);
  --css-bg-color--sunglow-d-85: hsl(45, 100%, -25%);
  --css-bg-color--sunglow-d-90: hsl(45, 100%, -30%);
  --css-bg-color--sunglow-d-95: hsl(45, 100%, -35%);
  --css-bg-color--sunglow-d-100: hsl(45, 100%, -40%);
}

.css-color--sunglow {
  color: var(--css-color--sunglow, #ffcc33);
}

.css-color--sunglow-l-5 {
  color: var(--css-color--sunglow-l-5, rgb(255, 210.375, 76.5));
}

.css-color--sunglow-l-10 {
  color: var(--css-color--sunglow-l-10, rgb(255, 216.75, 102));
}

.css-color--sunglow-l-15 {
  color: var(--css-color--sunglow-l-15, rgb(255, 223.125, 127.5));
}

.css-color--sunglow-l-20 {
  color: var(--css-color--sunglow-l-20, rgb(255, 229.5, 153));
}

.css-color--sunglow-l-25 {
  color: var(--css-color--sunglow-l-25, rgb(255, 235.875, 178.5));
}

.css-color--sunglow-l-30 {
  color: var(--css-color--sunglow-l-30, rgb(255, 242.25, 204));
}

.css-color--sunglow-l-35 {
  color: var(--css-color--sunglow-l-35, rgb(255, 248.625, 229.5));
}

.css-color--sunglow-l-40 {
  color: var(--css-color--sunglow-l-40, white);
}

.css-color--sunglow-l-45 {
  color: var(--css-color--sunglow-l-45, hsl(45, 100%, 105%));
}

.css-color--sunglow-l-50 {
  color: var(--css-color--sunglow-l-50, hsl(45, 100%, 110%));
}

.css-color--sunglow-l-55 {
  color: var(--css-color--sunglow-l-55, hsl(45, 100%, 115%));
}

.css-color--sunglow-l-60 {
  color: var(--css-color--sunglow-l-60, hsl(45, 100%, 120%));
}

.css-color--sunglow-l-65 {
  color: var(--css-color--sunglow-l-65, hsl(45, 100%, 125%));
}

.css-color--sunglow-l-70 {
  color: var(--css-color--sunglow-l-70, hsl(45, 100%, 130%));
}

.css-color--sunglow-l-75 {
  color: var(--css-color--sunglow-l-75, hsl(45, 100%, 135%));
}

.css-color--sunglow-l-80 {
  color: var(--css-color--sunglow-l-80, hsl(45, 100%, 140%));
}

.css-color--sunglow-l-85 {
  color: var(--css-color--sunglow-l-85, hsl(45, 100%, 145%));
}

.css-color--sunglow-l-90 {
  color: var(--css-color--sunglow-l-90, hsl(45, 100%, 150%));
}

.css-color--sunglow-l-95 {
  color: var(--css-color--sunglow-l-95, hsl(45, 100%, 155%));
}

.css-color--sunglow-l-100 {
  color: var(--css-color--sunglow-l-100, hsl(45, 100%, 160%));
}

.css-color--sunglow-d-5 {
  color: var(--css-color--sunglow-d-5, rgb(255, 197.625, 25.5));
}

.css-color--sunglow-d-10 {
  color: var(--css-color--sunglow-d-10, rgb(255, 191.25, 0));
}

.css-color--sunglow-d-15 {
  color: var(--css-color--sunglow-d-15, rgb(229.5, 172.125, 0));
}

.css-color--sunglow-d-20 {
  color: var(--css-color--sunglow-d-20, #cc9900);
}

.css-color--sunglow-d-25 {
  color: var(--css-color--sunglow-d-25, rgb(178.5, 133.875, 0));
}

.css-color--sunglow-d-30 {
  color: var(--css-color--sunglow-d-30, rgb(153, 114.75, 0));
}

.css-color--sunglow-d-35 {
  color: var(--css-color--sunglow-d-35, rgb(127.5, 95.625, 0));
}

.css-color--sunglow-d-40 {
  color: var(--css-color--sunglow-d-40, rgb(102, 76.5, 0));
}

.css-color--sunglow-d-45 {
  color: var(--css-color--sunglow-d-45, rgb(76.5, 57.375, 0));
}

.css-color--sunglow-d-50 {
  color: var(--css-color--sunglow-d-50, rgb(51, 38.25, 0));
}

.css-color--sunglow-d-55 {
  color: var(--css-color--sunglow-d-55, rgb(25.5, 19.125, 0));
}

.css-color--sunglow-d-60 {
  color: var(--css-color--sunglow-d-60, black);
}

.css-color--sunglow-d-65 {
  color: var(--css-color--sunglow-d-65, hsl(45, 100%, -5%));
}

.css-color--sunglow-d-70 {
  color: var(--css-color--sunglow-d-70, hsl(45, 100%, -10%));
}

.css-color--sunglow-d-75 {
  color: var(--css-color--sunglow-d-75, hsl(45, 100%, -15%));
}

.css-color--sunglow-d-80 {
  color: var(--css-color--sunglow-d-80, hsl(45, 100%, -20%));
}

.css-color--sunglow-d-85 {
  color: var(--css-color--sunglow-d-85, hsl(45, 100%, -25%));
}

.css-color--sunglow-d-90 {
  color: var(--css-color--sunglow-d-90, hsl(45, 100%, -30%));
}

.css-color--sunglow-d-95 {
  color: var(--css-color--sunglow-d-95, hsl(45, 100%, -35%));
}

.css-color--sunglow-d-100 {
  color: var(--css-color--sunglow-d-100, hsl(45, 100%, -40%));
}

.css-bg-color--sunglow {
  background-color: var(--css-color--sunglow, #ffcc33);
}

.css-bg-color--sunglow-l-5 {
  background-color: var(--css-bg-color--sunglow-l-5, rgb(255, 210.375, 76.5));
}

.css-bg-color--sunglow-l-10 {
  background-color: var(--css-bg-color--sunglow-l-10, rgb(255, 216.75, 102));
}

.css-bg-color--sunglow-l-15 {
  background-color: var(--css-bg-color--sunglow-l-15, rgb(255, 223.125, 127.5));
}

.css-bg-color--sunglow-l-20 {
  background-color: var(--css-bg-color--sunglow-l-20, rgb(255, 229.5, 153));
}

.css-bg-color--sunglow-l-25 {
  background-color: var(--css-bg-color--sunglow-l-25, rgb(255, 235.875, 178.5));
}

.css-bg-color--sunglow-l-30 {
  background-color: var(--css-bg-color--sunglow-l-30, rgb(255, 242.25, 204));
}

.css-bg-color--sunglow-l-35 {
  background-color: var(--css-bg-color--sunglow-l-35, rgb(255, 248.625, 229.5));
}

.css-bg-color--sunglow-l-40 {
  background-color: var(--css-bg-color--sunglow-l-40, white);
}

.css-bg-color--sunglow-l-45 {
  background-color: var(--css-bg-color--sunglow-l-45, hsl(45, 100%, 105%));
}

.css-bg-color--sunglow-l-50 {
  background-color: var(--css-bg-color--sunglow-l-50, hsl(45, 100%, 110%));
}

.css-bg-color--sunglow-l-55 {
  background-color: var(--css-bg-color--sunglow-l-55, hsl(45, 100%, 115%));
}

.css-bg-color--sunglow-l-60 {
  background-color: var(--css-bg-color--sunglow-l-60, hsl(45, 100%, 120%));
}

.css-bg-color--sunglow-l-65 {
  background-color: var(--css-bg-color--sunglow-l-65, hsl(45, 100%, 125%));
}

.css-bg-color--sunglow-l-70 {
  background-color: var(--css-bg-color--sunglow-l-70, hsl(45, 100%, 130%));
}

.css-bg-color--sunglow-l-75 {
  background-color: var(--css-bg-color--sunglow-l-75, hsl(45, 100%, 135%));
}

.css-bg-color--sunglow-l-80 {
  background-color: var(--css-bg-color--sunglow-l-80, hsl(45, 100%, 140%));
}

.css-bg-color--sunglow-l-85 {
  background-color: var(--css-bg-color--sunglow-l-85, hsl(45, 100%, 145%));
}

.css-bg-color--sunglow-l-90 {
  background-color: var(--css-bg-color--sunglow-l-90, hsl(45, 100%, 150%));
}

.css-bg-color--sunglow-l-95 {
  background-color: var(--css-bg-color--sunglow-l-95, hsl(45, 100%, 155%));
}

.css-bg-color--sunglow-l-100 {
  background-color: var(--css-bg-color--sunglow-l-100, hsl(45, 100%, 160%));
}

.css-bg-color--sunglow-d-5 {
  background-color: var(--css-bg-color--sunglow-d-5, rgb(255, 197.625, 25.5));
}

.css-bg-color--sunglow-d-10 {
  background-color: var(--css-bg-color--sunglow-d-10, rgb(255, 191.25, 0));
}

.css-bg-color--sunglow-d-15 {
  background-color: var(--css-bg-color--sunglow-d-15, rgb(229.5, 172.125, 0));
}

.css-bg-color--sunglow-d-20 {
  background-color: var(--css-bg-color--sunglow-d-20, #cc9900);
}

.css-bg-color--sunglow-d-25 {
  background-color: var(--css-bg-color--sunglow-d-25, rgb(178.5, 133.875, 0));
}

.css-bg-color--sunglow-d-30 {
  background-color: var(--css-bg-color--sunglow-d-30, rgb(153, 114.75, 0));
}

.css-bg-color--sunglow-d-35 {
  background-color: var(--css-bg-color--sunglow-d-35, rgb(127.5, 95.625, 0));
}

.css-bg-color--sunglow-d-40 {
  background-color: var(--css-bg-color--sunglow-d-40, rgb(102, 76.5, 0));
}

.css-bg-color--sunglow-d-45 {
  background-color: var(--css-bg-color--sunglow-d-45, rgb(76.5, 57.375, 0));
}

.css-bg-color--sunglow-d-50 {
  background-color: var(--css-bg-color--sunglow-d-50, rgb(51, 38.25, 0));
}

.css-bg-color--sunglow-d-55 {
  background-color: var(--css-bg-color--sunglow-d-55, rgb(25.5, 19.125, 0));
}

.css-bg-color--sunglow-d-60 {
  background-color: var(--css-bg-color--sunglow-d-60, black);
}

.css-bg-color--sunglow-d-65 {
  background-color: var(--css-bg-color--sunglow-d-65, hsl(45, 100%, -5%));
}

.css-bg-color--sunglow-d-70 {
  background-color: var(--css-bg-color--sunglow-d-70, hsl(45, 100%, -10%));
}

.css-bg-color--sunglow-d-75 {
  background-color: var(--css-bg-color--sunglow-d-75, hsl(45, 100%, -15%));
}

.css-bg-color--sunglow-d-80 {
  background-color: var(--css-bg-color--sunglow-d-80, hsl(45, 100%, -20%));
}

.css-bg-color--sunglow-d-85 {
  background-color: var(--css-bg-color--sunglow-d-85, hsl(45, 100%, -25%));
}

.css-bg-color--sunglow-d-90 {
  background-color: var(--css-bg-color--sunglow-d-90, hsl(45, 100%, -30%));
}

.css-bg-color--sunglow-d-95 {
  background-color: var(--css-bg-color--sunglow-d-95, hsl(45, 100%, -35%));
}

.css-bg-color--sunglow-d-100 {
  background-color: var(--css-bg-color--sunglow-d-100, hsl(45, 100%, -40%));
}