///
/// Red properties
///

@import '_variables';

:root {
	--css-color--red: #{$css-color--red};

	--css-color--red-l-5: #{$css-color--red-l-5};
	--css-color--red-l-10: #{$css-color--red-l-10};
	--css-color--red-l-15: #{$css-color--red-l-15};
	--css-color--red-l-20: #{$css-color--red-l-20};
	--css-color--red-l-25: #{$css-color--red-l-25};
	--css-color--red-l-30: #{$css-color--red-l-30};
	--css-color--red-l-35: #{$css-color--red-l-35};
	--css-color--red-l-40: #{$css-color--red-l-40};
	--css-color--red-l-45: #{$css-color--red-l-45};
	--css-color--red-l-50: #{$css-color--red-l-50};
	--css-color--red-l-55: #{$css-color--red-l-55};
	--css-color--red-l-60: #{$css-color--red-l-60};
	--css-color--red-l-65: #{$css-color--red-l-65};
	--css-color--red-l-70: #{$css-color--red-l-70};
	--css-color--red-l-75: #{$css-color--red-l-75};
	--css-color--red-l-80: #{$css-color--red-l-80};
	--css-color--red-l-85: #{$css-color--red-l-85};
	--css-color--red-l-90: #{$css-color--red-l-90};
	--css-color--red-l-95: #{$css-color--red-l-95};
	--css-color--red-l-100: #{$css-color--red-l-100};

	--css-color--red-d-5: #{$css-color--red-d-5};
	--css-color--red-d-10: #{$css-color--red-d-10};
	--css-color--red-d-15: #{$css-color--red-d-15};
	--css-color--red-d-20: #{$css-color--red-d-20};
	--css-color--red-d-25: #{$css-color--red-d-25};
	--css-color--red-d-30: #{$css-color--red-d-30};
	--css-color--red-d-35: #{$css-color--red-d-35};
	--css-color--red-d-40: #{$css-color--red-d-40};
	--css-color--red-d-45: #{$css-color--red-d-45};
	--css-color--red-d-50: #{$css-color--red-d-50};
}
