///
/// Red stylesheet
///

@import '_variables';
@import '_properties';

// Original color.
.css-color--red {
	color: var( --css-color--red, $css-color--red );
}

// Lighten color by percentage.
.css-color--red-l-5 {
	color: var( --css-color--red-l-5, $css-color--red-l-5 );
}
.css-color--red-l-10 {
	color: var( --css-color--red-l-10, $css-color--red-l-10 );
}
.css-color--red-l-15 {
	color: var( --css-color--red-l-15, $css-color--red-l-15 );
}
.css-color--red-l-20 {
	color: var( --css-color--red-l-20, $css-color--red-l-20 );
}
.css-color--red-l-25 {
	color: var( --css-color--red-l-25, $css-color--red-l-25 );
}
.css-color--red-l-30 {
	color: var( --css-color--red-l-30, $css-color--red-l-30 );
}
.css-color--red-l-35 {
	color: var( --css-color--red-l-35, $css-color--red-l-35 );
}
.css-color--red-l-40 {
	color: var( --css-color--red-l-40, $css-color--red-l-40 );
}
.css-color--red-l-45 {
	color: var( --css-color--red-l-45, $css-color--red-l-45 );
}
.css-color--red-l-50 {
	color: var( --css-color--red-l-50, $css-color--red-l-50 );
}
.css-color--red-l-55 {
	color: var( --css-color--red-l-55, $css-color--red-l-55 );
}
.css-color--red-l-60 {
	color: var( --css-color--red-l-60, $css-color--red-l-60 );
}
.css-color--red-l-65 {
	color: var( --css-color--red-l-65, $css-color--red-l-65 );
}
.css-color--red-l-70 {
	color: var( --css-color--red-l-70, $css-color--red-l-70 );
}
.css-color--red-l-75 {
	color: var( --css-color--red-l-75, $css-color--red-l-75 );
}
.css-color--red-l-80 {
	color: var( --css-color--red-l-80, $css-color--red-l-80 );
}
.css-color--red-l-85 {
	color: var( --css-color--red-l-85, $css-color--red-l-85 );
}
.css-color--red-l-90 {
	color: var( --css-color--red-l-90, $css-color--red-l-90 );
}
.css-color--red-l-95 {
	color: var( --css-color--red-l-95, $css-color--red-l-95 );
}
.css-color--red-l-100 {
	color: var( --css-color--red-l-100, $css-color--red-l-100 );
}

// Darken color by percentage.
.css-color--red-d-5 {
	color: var( --css-color--red-d-5, $css-color--red-d-5 );
}
.css-color--red-d-10 {
	color: var( --css-color--red-d-10, $css-color--red-d-10 );
}
.css-color--red-d-15 {
	color: var( --css-color--red-d-15, $css-color--red-d-15 );
}
.css-color--red-d-20 {
	color: var( --css-color--red-d-20, $css-color--red-d-20 );
}
.css-color--red-d-25 {
	color: var( --css-color--red-d-25, $css-color--red-d-25 );
}
.css-color--red-d-30 {
	color: var( --css-color--red-d-30, $css-color--red-d-30 );
}
.css-color--red-d-35 {
	color: var( --css-color--red-d-35, $css-color--red-d-35 );
}
.css-color--red-d-40 {
	color: var( --css-color--red-d-40, $css-color--red-d-40 );
}
.css-color--red-d-45 {
	color: var( --css-color--red-d-45, $css-color--red-d-45 );
}
.css-color--red-d-50 {
	color: var( --css-color--red-d-50, $css-color--red-d-50 );
}
.css-color--red-d-55 {
	color: var( --css-color--red-d-55, $css-color--red-d-55 );
}
.css-color--red-d-60 {
	color: var( --css-color--red-d-60, $css-color--red-d-60 );
}
.css-color--red-d-65 {
	color: var( --css-color--red-d-65, $css-color--red-d-65 );
}
.css-color--red-d-70 {
	color: var( --css-color--red-d-70, $css-color--red-d-70 );
}
.css-color--red-d-75 {
	color: var( --css-color--red-d-75, $css-color--red-d-75 );
}
.css-color--red-d-80 {
	color: var( --css-color--red-d-80, $css-color--red-d-80 );
}
.css-color--red-d-85 {
	color: var( --css-color--red-d-85, $css-color--red-d-85 );
}
.css-color--red-d-90 {
	color: var( --css-color--red-d-90, $css-color--red-d-90 );
}
.css-color--red-d-95 {
	color: var( --css-color--red-d-95, $css-color--red-d-95 );
}
.css-color--red-d-100 {
	color: var( --css-color--red-d-100, $css-color--red-d-100 );
}

// Original background color.
.css-bg-color--red {
	background-color: var( --css-color--red, $css-color--red );
}

// Lighten background color by percentage.
.css-bg-color--red-l-5 {
	background-color: var( --css-bg-color--red-l-5, $css-color--red-l-5 );
}
.css-bg-color--red-l-10 {
	background-color: var( --css-bg-color--red-l-10, $css-color--red-l-10 );
}
.css-bg-color--red-l-15 {
	background-color: var( --css-bg-color--red-l-15, $css-color--red-l-15 );
}
.css-bg-color--red-l-20 {
	background-color: var( --css-bg-color--red-l-20, $css-color--red-l-20 );
}
.css-bg-color--red-l-25 {
	background-color: var( --css-bg-color--red-l-25, $css-color--red-l-25 );
}
.css-bg-color--red-l-30 {
	background-color: var( --css-bg-color--red-l-30, $css-color--red-l-30 );
}
.css-bg-color--red-l-35 {
	background-color: var( --css-bg-color--red-l-35, $css-color--red-l-35 );
}
.css-bg-color--red-l-40 {
	background-color: var( --css-bg-color--red-l-40, $css-color--red-l-40 );
}
.css-bg-color--red-l-45 {
	background-color: var( --css-bg-color--red-l-45, $css-color--red-l-45 );
}
.css-bg-color--red-l-50 {
	background-color: var( --css-bg-color--red-l-50, $css-color--red-l-50 );
}
.css-bg-color--red-l-55 {
	background-color: var( --css-bg-color--red-l-55, $css-color--red-l-55 );
}
.css-bg-color--red-l-60 {
	background-color: var( --css-bg-color--red-l-60, $css-color--red-l-60 );
}
.css-bg-color--red-l-65 {
	background-color: var( --css-bg-color--red-l-65, $css-color--red-l-65 );
}
.css-bg-color--red-l-70 {
	background-color: var( --css-bg-color--red-l-70, $css-color--red-l-70 );
}
.css-bg-color--red-l-75 {
	background-color: var( --css-bg-color--red-l-75, $css-color--red-l-75 );
}
.css-bg-color--red-l-80 {
	background-color: var( --css-bg-color--red-l-80, $css-color--red-l-80 );
}
.css-bg-color--red-l-85 {
	background-color: var( --css-bg-color--red-l-85, $css-color--red-l-85 );
}
.css-bg-color--red-l-90 {
	background-color: var( --css-bg-color--red-l-90, $css-color--red-l-90 );
}
.css-bg-color--red-l-95 {
	background-color: var( --css-bg-color--red-l-95, $css-color--red-l-95 );
}
.css-bg-color--red-l-100 {
	background-color: var( --css-bg-color--red-l-100, $css-color--red-l-100 );
}

// Darken background color by percentage.
.css-bg-color--red-d-5 {
	background-color: var( --css-bg-color--red-d-5, $css-color--red-d-5 );
}
.css-bg-color--red-d-10 {
	background-color: var( --css-bg-color--red-d-10, $css-color--red-d-10 );
}
.css-bg-color--red-d-15 {
	background-color: var( --css-bg-color--red-d-15, $css-color--red-d-15 );
}
.css-bg-color--red-d-20 {
	background-color: var( --css-bg-color--red-d-20, $css-color--red-d-20 );
}
.css-bg-color--red-d-25 {
	background-color: var( --css-bg-color--red-d-25, $css-color--red-d-25 );
}
.css-bg-color--red-d-30 {
	background-color: var( --css-bg-color--red-d-30, $css-color--red-d-30 );
}
.css-bg-color--red-d-35 {
	background-color: var( --css-bg-color--red-d-35, $css-color--red-d-35 );
}
.css-bg-color--red-d-40 {
	background-color: var( --css-bg-color--red-d-40, $css-color--red-d-40 );
}
.css-bg-color--red-d-45 {
	background-color: var( --css-bg-color--red-d-45, $css-color--red-d-45 );
}
.css-bg-color--red-d-50 {
	background-color: var( --css-bg-color--red-d-50, $css-color--red-d-50 );
}
.css-bg-color--red-d-55 {
	background-color: var( --css-bg-color--red-d-55, $css-color--red-d-55 );
}
.css-bg-color--red-d-60 {
	background-color: var( --css-bg-color--red-d-60, $css-color--red-d-60 );
}
.css-bg-color--red-d-65 {
	background-color: var( --css-bg-color--red-d-65, $css-color--red-d-65 );
}
.css-bg-color--red-d-70 {
	background-color: var( --css-bg-color--red-d-70, $css-color--red-d-70 );
}
.css-bg-color--red-d-75 {
	background-color: var( --css-bg-color--red-d-75, $css-color--red-d-75 );
}
.css-bg-color--red-d-80 {
	background-color: var( --css-bg-color--red-d-80, $css-color--red-d-80 );
}
.css-bg-color--red-d-85 {
	background-color: var( --css-bg-color--red-d-85, $css-color--red-d-85 );
}
.css-bg-color--red-d-90 {
	background-color: var( --css-bg-color--red-d-90, $css-color--red-d-90 );
}
.css-bg-color--red-d-95 {
	background-color: var( --css-bg-color--red-d-95, $css-color--red-d-95 );
}
.css-bg-color--red-d-100 {
	background-color: var( --css-bg-color--red-d-100, $css-color--red-d-100 );
}
