.css-color--white {
  color: #ffffff;
}

.css-color--gray--0 {
  color: #ffffff;
}

.css-color--gray--5 {
  color: rgb(242.25, 242.25, 242.25);
}

.css-color--gray--10 {
  color: rgb(229.5, 229.5, 229.5);
}

.css-color--gray--15 {
  color: rgb(216.75, 216.75, 216.75);
}

.css-color--gray--20 {
  color: #cccccc;
}

.css-color--gray--25 {
  color: rgb(191.25, 191.25, 191.25);
}

.css-color--gray--30 {
  color: rgb(178.5, 178.5, 178.5);
}

.css-color--gray--35 {
  color: rgb(165.75, 165.75, 165.75);
}

.css-color--gray--40 {
  color: #999999;
}

.css-color--gray--45 {
  color: rgb(140.25, 140.25, 140.25);
}

.css-color--gray--50 {
  color: rgb(127.5, 127.5, 127.5);
}

.css-color--gray--55 {
  color: rgb(114.75, 114.75, 114.75);
}

.css-color--gray--60 {
  color: #666666;
}

.css-color--gray--65 {
  color: rgb(89.25, 89.25, 89.25);
}

.css-color--gray--70 {
  color: rgb(76.5, 76.5, 76.5);
}

.css-color--gray--75 {
  color: rgb(63.75, 63.75, 63.75);
}

.css-color--gray--80 {
  color: #333333;
}

.css-color--gray--85 {
  color: rgb(38.25, 38.25, 38.25);
}

.css-color--gray--90 {
  color: rgb(25.5, 25.5, 25.5);
}

.css-color--gray--95 {
  color: rgb(12.75, 12.75, 12.75);
}

.css-color--gray--100 {
  color: #000000;
}

.css-color--black {
  color: #000000;
}