:root {
  --css-color--white: #ffffff;
  --css-color--gray--0: var( --css-color-white );
  --css-color--gray--5: rgb(242.25, 242.25, 242.25);
  --css-color--gray--10: rgb(229.5, 229.5, 229.5);
  --css-color--gray--15: rgb(216.75, 216.75, 216.75);
  --css-color--gray--20: #cccccc;
  --css-color--gray--25: rgb(191.25, 191.25, 191.25);
  --css-color--gray--30: rgb(178.5, 178.5, 178.5);
  --css-color--gray--35: rgb(165.75, 165.75, 165.75);
  --css-color--gray--40: #999999;
  --css-color--gray--45: rgb(140.25, 140.25, 140.25);
  --css-color--gray--50: rgb(127.5, 127.5, 127.5);
  --css-color--gray--55: rgb(114.75, 114.75, 114.75);
  --css-color--gray--60: #666666;
  --css-color--gray--65: rgb(89.25, 89.25, 89.25);
  --css-color--gray--70: rgb(76.5, 76.5, 76.5);
  --css-color--gray--75: rgb(63.75, 63.75, 63.75);
  --css-color--gray--80: #333333;
  --css-color--gray--85: rgb(38.25, 38.25, 38.25);
  --css-color--gray--90: rgb(25.5, 25.5, 25.5);
  --css-color--gray--95: rgb(12.75, 12.75, 12.75);
  --css-color--gray--100: var( --css-color-black );
  --css-color--black: #000000;
}