///
/// Grayscale stylesheet
///

@import '_variables';
@import '_properties';

// Classes by named color.
.css-color--white {
	color: $css-color--white;
}
.css-color--silver {
	color: $css-color--silver;
}
.css-color--medium-gray {
	color: $css-color--medium-gray;
}
.css-color--dark-gray {
	color: $css-color--dark-gray;
}
.css-color--very-dark-gray {
	color: $css-color--very-dark-gray;
}
.css-color--black {
	color: $css-color--black;
}

// Classes by percentage of darkness.
.css-color--gray--0 {
	color: $css-color--white;
}
.css-color--gray--5 {
	color: $css-color--gray--5;
}
.css-color--gray--10 {
	color: $css-color--gray--10;
}
.css-color--gray--15 {
	color: $css-color--gray--15;
}
.css-color--gray--20 {
	color: $css-color--gray--20;
}
.css-color--gray--25 {
	color: $css-color--gray--25;
}
.css-color--gray--30 {
	color: $css-color--gray--30;
}
.css-color--gray--35 {
	color: $css-color--gray--35;
}
.css-color--gray--40 {
	color: $css-color--gray--40;
}
.css-color--gray--45 {
	color: $css-color--gray--45;
}
.css-color--gray--50 {
	color: $css-color--gray--50;
}
.css-color--gray--55 {
	color: $css-color--gray--55;
}
.css-color--gray--60 {
	color: $css-color--gray--60;
}
.css-color--gray--65 {
	color: $css-color--gray--65;
}
.css-color--gray--70 {
	color: $css-color--gray--70;
}
.css-color--gray--75 {
	color: $css-color--gray--75;
}
.css-color--gray--80 {
	color: $css-color--gray--80;
}
.css-color--gray--85 {
	color: $css-color--gray--85;
}
.css-color--gray--90 {
	color: $css-color--gray--90;
}
.css-color--gray--95 {
	color: $css-color--gray--95;
}
.css-color--gray--100 {
	color: $css-color--black;
}
