///
/// Grayscale styles
///

@use 'sass:color';

:root {
	--css-color--white: #ffffff;
	--css-color--gray--0: var( --css-color-white );
	--css-color--gray--5: #{color.scale( #000000, $lightness: 95% )};
	--css-color--gray--10: #{color.scale( #000000, $lightness: 90% )};
	--css-color--gray--15: #{color.scale( #000000, $lightness: 85% )};
	--css-color--gray--20: #{color.scale( #000000, $lightness: 80% )};
	--css-color--gray--25: #{color.scale( #000000, $lightness: 75% )};
	--css-color--gray--30: #{color.scale( #000000, $lightness: 70% )};
	--css-color--gray--35: #{color.scale( #000000, $lightness: 65% )};
	--css-color--gray--40: #{color.scale( #000000, $lightness: 60% )};
	--css-color--gray--45: #{color.scale( #000000, $lightness: 55% )};
	--css-color--gray--50: #{color.scale( #000000, $lightness: 50% )};
	--css-color--gray--55: #{color.scale( #000000, $lightness: 45% )};
	--css-color--gray--60: #{color.scale( #000000, $lightness: 40% )};
	--css-color--gray--65: #{color.scale( #000000, $lightness: 35% )};
	--css-color--gray--70: #{color.scale( #000000, $lightness: 30% )};
	--css-color--gray--75: #{color.scale( #000000, $lightness: 25% )};
	--css-color--gray--80: #{color.scale( #000000, $lightness: 20% )};
	--css-color--gray--85: #{color.scale( #000000, $lightness: 15% )};
	--css-color--gray--90: #{color.scale( #000000, $lightness: 10% )};
	--css-color--gray--95: #{color.scale( #000000, $lightness: 5% )};
	--css-color--gray--100: var( --css-color-black );
	--css-color--black: #000000;
}
