///
/// Color variables
///

@use 'sass:color';

// General colors.
$white       : #ffffff !default;
$off_white   : #e8e8e8 !default;
$black       : #000000 !default;
$near_black  : #1e1e1e !default;
$gray_dark   : #333333 !default;
$gray_medium : #555555 !default;
$gray_light  : #888888 !default;
$gray_pale   : #cccccc !default;
$red         : #dd0000 !default;
$orange      : #ee6600 !default;
$yellow      : #ffdd00 !default;
$green       : #00aa00 !default;
$blue        : #0044aa !default;
$violet      : #551188 !default;
$error       : $red    !default;
$danger      : $red    !default;
$notify      : $orange !default;
$warning     : $yellow !default;
$success     : $green  !default;

// Color types.
$body_color:      $white !default;
$body_color_dark: $near_black !default;
$text_color:      $gray_dark !default;
$text_color_dark: $off_white !default;
