///
/// Pantone color library
///

// Modules in the palette directory.
@use 'modules/colors' as c;

// CSS properties.
:host,
:root {
	@each $name, $color in c.$color_map {
		--skc--#{c.$palette}--#{$name}: #{$color};
	}
}

// CSS classes.
.#{c.$palette} {

	@each $name, $color in c.$color_map {
		&.#{$name} {
			color: #{$name};
		}
		&.#{$name}-bg {
			background-color: #{$name};
		}
		&.#{$name}-decoration {
			text-decoration-color: #{$name};
		}
		&.#{$name}-emphasis {
			text-emphasis-color: #{$name};
		}
		&.#{$name}-accent {
			accent-color: #{$name};
		}
		&.#{$name}-caret {
			caret-color: #{$name};
		}
		&.#{$name}-border {
			border-color: #{$name};
		}
		&.#{$name}-outline {
			outline-color: #{$name};
		}
		&.#{$name}-rule {
			rule-color: #{$name};
		}
		&.#{$name}-column-rule {
			column-rule-color: #{$name};
		}
		&.#{$name}-row-rule {
			row-rule-color: #{$name};
		}
		&.#{$name}-fill {
			fill: #{$name};
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: #{$name};
					text-fill-color: #{$name};
		}
		&.#{$name}-stroke {
			stroke: #{$name};
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: #{$name};
					text-stroke-color: #{$name};
		}
		&.#{$name}-flood {
			flood-color: #{$name};
		}
		&.#{$name}-stop {
			stop-color: #{$name};
		}
	}
}
