///
/// Mixins for HTML elements
///

@mixin flex-block-row-start-wrap-g05 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 0.5em;
}

@mixin flex-block-row-center-wrap-g05 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

@mixin flex-block-row-end-wrap-g05 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 0.5em;
}

@mixin flex-block-row-start-wrap-g1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1em;
}

@mixin flex-block-row-center-wrap-g1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

@mixin flex-block-row-end-wrap-1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 1em;
}
