///
/// Elements stylesheet
///

@import '_mixins';

.flex-block-row-start-wrap-g1 {
	@include flex-block-row-start-wrap-g1;
}
.flex-block-row-center-wrap-g1 {
	@include flex-block-row-start-wrap-g1;
}
.flex-block-row-end-wrap-g1 {
	@include flex-block-row-start-wrap-g1;
}

ul {
	&.flex-block-row-start-wrap-g1 {
		list-style: none;
		@include flex-block-row-start-wrap-g1;
	}
	&.flex-block-row-center-wrap-g1 {
		list-style: none;
		@include flex-block-row-start-wrap-g1;
	}
	&.flex-block-row-end-wrap-g1 {
		list-style: none;
		@include flex-block-row-start-wrap-g1;
	}
}
