///
/// Vivid Green properties
///

@import '_variables';

:root {
	--css-color--vivid-green: #{$css-color--vivid-green};

	--css-color--vivid-green-l-5: #{$css-color--vivid-green-l-5};
	--css-color--vivid-green-l-10: #{$css-color--vivid-green-l-10};
	--css-color--vivid-green-l-15: #{$css-color--vivid-green-l-15};
	--css-color--vivid-green-l-20: #{$css-color--vivid-green-l-20};
	--css-color--vivid-green-l-25: #{$css-color--vivid-green-l-25};
	--css-color--vivid-green-l-30: #{$css-color--vivid-green-l-30};
	--css-color--vivid-green-l-35: #{$css-color--vivid-green-l-35};
	--css-color--vivid-green-l-40: #{$css-color--vivid-green-l-40};
	--css-color--vivid-green-l-45: #{$css-color--vivid-green-l-45};
	--css-color--vivid-green-l-50: #{$css-color--vivid-green-l-50};
	--css-color--vivid-green-l-55: #{$css-color--vivid-green-l-55};
	--css-color--vivid-green-l-60: #{$css-color--vivid-green-l-60};
	--css-color--vivid-green-l-65: #{$css-color--vivid-green-l-65};
	--css-color--vivid-green-l-70: #{$css-color--vivid-green-l-70};
	--css-color--vivid-green-l-75: #{$css-color--vivid-green-l-75};
	--css-color--vivid-green-l-80: #{$css-color--vivid-green-l-80};
	--css-color--vivid-green-l-85: #{$css-color--vivid-green-l-85};
	--css-color--vivid-green-l-90: #{$css-color--vivid-green-l-90};
	--css-color--vivid-green-l-95: #{$css-color--vivid-green-l-95};
	--css-color--vivid-green-l-100: #{$css-color--vivid-green-l-100};

	--css-color--vivid-green-d-5: #{$css-color--vivid-green-d-5};
	--css-color--vivid-green-d-10: #{$css-color--vivid-green-d-10};
	--css-color--vivid-green-d-15: #{$css-color--vivid-green-d-15};
	--css-color--vivid-green-d-20: #{$css-color--vivid-green-d-20};
	--css-color--vivid-green-d-25: #{$css-color--vivid-green-d-25};
	--css-color--vivid-green-d-30: #{$css-color--vivid-green-d-30};
	--css-color--vivid-green-d-35: #{$css-color--vivid-green-d-35};
	--css-color--vivid-green-d-40: #{$css-color--vivid-green-d-40};
	--css-color--vivid-green-d-45: #{$css-color--vivid-green-d-45};
	--css-color--vivid-green-d-50: #{$css-color--vivid-green-d-50};
}
