///
/// Vivid Green variables
///

@use 'sass:color';

$css-color--vivid-green: #00cc00;

// Lighten color by percentage.
$css-color--vivid-green-l-5: #{color.adjust( $css-color--vivid-green, $whiteness: 5% )};
$css-color--vivid-green-l-10: #{color.adjust( $css-color--vivid-green, $whiteness: 10% )};
$css-color--vivid-green-l-15: #{color.adjust( $css-color--vivid-green, $whiteness: 15% )};
$css-color--vivid-green-l-20: #{color.adjust( $css-color--vivid-green, $whiteness: 20% )};
$css-color--vivid-green-l-25: #{color.adjust( $css-color--vivid-green, $whiteness: 25% )};
$css-color--vivid-green-l-30: #{color.adjust( $css-color--vivid-green, $whiteness: 30% )};
$css-color--vivid-green-l-35: #{color.adjust( $css-color--vivid-green, $whiteness: 35% )};
$css-color--vivid-green-l-40: #{color.adjust( $css-color--vivid-green, $whiteness: 40% )};
$css-color--vivid-green-l-45: #{color.adjust( $css-color--vivid-green, $whiteness: 45% )};
$css-color--vivid-green-l-50: #{color.adjust( $css-color--vivid-green, $whiteness: 50% )};
$css-color--vivid-green-l-55: #{color.adjust( $css-color--vivid-green, $whiteness: 55% )};
$css-color--vivid-green-l-60: #{color.adjust( $css-color--vivid-green, $whiteness: 60% )};
$css-color--vivid-green-l-65: #{color.adjust( $css-color--vivid-green, $whiteness: 65% )};
$css-color--vivid-green-l-70: #{color.adjust( $css-color--vivid-green, $whiteness: 70% )};
$css-color--vivid-green-l-75: #{color.adjust( $css-color--vivid-green, $whiteness: 75% )};
$css-color--vivid-green-l-80: #{color.adjust( $css-color--vivid-green, $whiteness: 80% )};
$css-color--vivid-green-l-85: #{color.adjust( $css-color--vivid-green, $whiteness: 85% )};
$css-color--vivid-green-l-90: #{color.adjust( $css-color--vivid-green, $whiteness: 90% )};
$css-color--vivid-green-l-95: #{color.adjust( $css-color--vivid-green, $whiteness: 95% )};
$css-color--vivid-green-l-100: #{color.adjust( $css-color--vivid-green, $whiteness: 100% )};

// Darken color by percentage.
$css-color--vivid-green-d-5: #{color.adjust( $css-color--vivid-green, $blackness: 5% )};
$css-color--vivid-green-d-10: #{color.adjust( $css-color--vivid-green, $blackness: 10% )};
$css-color--vivid-green-d-15: #{color.adjust( $css-color--vivid-green, $blackness: 15% )};
$css-color--vivid-green-d-20: #{color.adjust( $css-color--vivid-green, $blackness: 20% )};
$css-color--vivid-green-d-25: #{color.adjust( $css-color--vivid-green, $blackness: 25% )};
$css-color--vivid-green-d-30: #{color.adjust( $css-color--vivid-green, $blackness: 30% )};
$css-color--vivid-green-d-35: #{color.adjust( $css-color--vivid-green, $blackness: 35% )};
$css-color--vivid-green-d-40: #{color.adjust( $css-color--vivid-green, $blackness: 40% )};
$css-color--vivid-green-d-45: #{color.adjust( $css-color--vivid-green, $blackness: 45% )};
$css-color--vivid-green-d-50: #{color.adjust( $css-color--vivid-green, $blackness: 50% )};
$css-color--vivid-green-d-55: #{color.adjust( $css-color--vivid-green, $blackness: 55% )};
$css-color--vivid-green-d-60: #{color.adjust( $css-color--vivid-green, $blackness: 60% )};
$css-color--vivid-green-d-65: #{color.adjust( $css-color--vivid-green, $blackness: 65% )};
$css-color--vivid-green-d-70: #{color.adjust( $css-color--vivid-green, $blackness: 70% )};
$css-color--vivid-green-d-75: #{color.adjust( $css-color--vivid-green, $blackness: 75% )};
$css-color--vivid-green-d-80: #{color.adjust( $css-color--vivid-green, $blackness: 80% )};
$css-color--vivid-green-d-85: #{color.adjust( $css-color--vivid-green, $blackness: 85% )};
$css-color--vivid-green-d-90: #{color.adjust( $css-color--vivid-green, $blackness: 90% )};
$css-color--vivid-green-d-95: #{color.adjust( $css-color--vivid-green, $blackness: 95% )};
$css-color--vivid-green-d-100: #{color.adjust( $css-color--vivid-green, $blackness: 100% )};

// Lighten background color by percentage.
$css-bg-color--vivid-green-l-5: #{color.adjust( $css-color--vivid-green, $whiteness: 5% )};
$css-bg-color--vivid-green-l-10: #{color.adjust( $css-color--vivid-green, $whiteness: 10% )};
$css-bg-color--vivid-green-l-15: #{color.adjust( $css-color--vivid-green, $whiteness: 15% )};
$css-bg-color--vivid-green-l-20: #{color.adjust( $css-color--vivid-green, $whiteness: 20% )};
$css-bg-color--vivid-green-l-25: #{color.adjust( $css-color--vivid-green, $whiteness: 25% )};
$css-bg-color--vivid-green-l-30: #{color.adjust( $css-color--vivid-green, $whiteness: 30% )};
$css-bg-color--vivid-green-l-35: #{color.adjust( $css-color--vivid-green, $whiteness: 35% )};
$css-bg-color--vivid-green-l-40: #{color.adjust( $css-color--vivid-green, $whiteness: 40% )};
$css-bg-color--vivid-green-l-45: #{color.adjust( $css-color--vivid-green, $whiteness: 45% )};
$css-bg-color--vivid-green-l-50: #{color.adjust( $css-color--vivid-green, $whiteness: 50% )};
$css-bg-color--vivid-green-l-55: #{color.adjust( $css-color--vivid-green, $whiteness: 55% )};
$css-bg-color--vivid-green-l-60: #{color.adjust( $css-color--vivid-green, $whiteness: 60% )};
$css-bg-color--vivid-green-l-65: #{color.adjust( $css-color--vivid-green, $whiteness: 65% )};
$css-bg-color--vivid-green-l-70: #{color.adjust( $css-color--vivid-green, $whiteness: 70% )};
$css-bg-color--vivid-green-l-75: #{color.adjust( $css-color--vivid-green, $whiteness: 75% )};
$css-bg-color--vivid-green-l-80: #{color.adjust( $css-color--vivid-green, $whiteness: 80% )};
$css-bg-color--vivid-green-l-85: #{color.adjust( $css-color--vivid-green, $whiteness: 85% )};
$css-bg-color--vivid-green-l-90: #{color.adjust( $css-color--vivid-green, $whiteness: 90% )};
$css-bg-color--vivid-green-l-95: #{color.adjust( $css-color--vivid-green, $whiteness: 95% )};
$css-bg-color--vivid-green-l-100: #{color.adjust( $css-color--vivid-green, $whiteness: 100% )};

// Darken background color by percentage.
$css-bg-color--vivid-green-d-5: #{color.adjust( $css-color--vivid-green, $blackness: 5% )};
$css-bg-color--vivid-green-d-10: #{color.adjust( $css-color--vivid-green, $blackness: 10% )};
$css-bg-color--vivid-green-d-15: #{color.adjust( $css-color--vivid-green, $blackness: 15% )};
$css-bg-color--vivid-green-d-20: #{color.adjust( $css-color--vivid-green, $blackness: 20% )};
$css-bg-color--vivid-green-d-25: #{color.adjust( $css-color--vivid-green, $blackness: 25% )};
$css-bg-color--vivid-green-d-30: #{color.adjust( $css-color--vivid-green, $blackness: 30% )};
$css-bg-color--vivid-green-d-35: #{color.adjust( $css-color--vivid-green, $blackness: 35% )};
$css-bg-color--vivid-green-d-40: #{color.adjust( $css-color--vivid-green, $blackness: 40% )};
$css-bg-color--vivid-green-d-45: #{color.adjust( $css-color--vivid-green, $blackness: 45% )};
$css-bg-color--vivid-green-d-50: #{color.adjust( $css-color--vivid-green, $blackness: 50% )};
$css-bg-color--vivid-green-d-55: #{color.adjust( $css-color--vivid-green, $blackness: 55% )};
$css-bg-color--vivid-green-d-60: #{color.adjust( $css-color--vivid-green, $blackness: 60% )};
$css-bg-color--vivid-green-d-65: #{color.adjust( $css-color--vivid-green, $blackness: 65% )};
$css-bg-color--vivid-green-d-70: #{color.adjust( $css-color--vivid-green, $blackness: 70% )};
$css-bg-color--vivid-green-d-75: #{color.adjust( $css-color--vivid-green, $blackness: 75% )};
$css-bg-color--vivid-green-d-80: #{color.adjust( $css-color--vivid-green, $blackness: 80% )};
$css-bg-color--vivid-green-d-85: #{color.adjust( $css-color--vivid-green, $blackness: 85% )};
$css-bg-color--vivid-green-d-90: #{color.adjust( $css-color--vivid-green, $blackness: 90% )};
$css-bg-color--vivid-green-d-95: #{color.adjust( $css-color--vivid-green, $blackness: 95% )};
$css-bg-color--vivid-green-d-100: #{color.adjust( $css-color--vivid-green, $blackness: 100% )};
