:host,
:root {
  --css-color--coral: #ff6666;
  --css-color--coral-l-5: rgb(255, 127.5, 127.5);
  --css-color--coral-l-10: #ff9999;
  --css-color--coral-l-15: rgb(255, 178.5, 178.5);
  --css-color--coral-l-20: #ffcccc;
  --css-color--coral-l-25: rgb(255, 229.5, 229.5);
  --css-color--coral-l-30: white;
  --css-color--coral-l-35: hsl(0, 100%, 105%);
  --css-color--coral-l-40: hsl(0, 100%, 110%);
  --css-color--coral-l-45: hsl(0, 100%, 115%);
  --css-color--coral-l-50: hsl(0, 100%, 120%);
  --css-color--coral-l-55: hsl(0, 100%, 125%);
  --css-color--coral-l-60: hsl(0, 100%, 130%);
  --css-color--coral-l-65: hsl(0, 100%, 135%);
  --css-color--coral-l-70: hsl(0, 100%, 140%);
  --css-color--coral-l-75: hsl(0, 100%, 145%);
  --css-color--coral-l-80: hsl(0, 100%, 150%);
  --css-color--coral-l-85: hsl(0, 100%, 155%);
  --css-color--coral-l-90: hsl(0, 100%, 160%);
  --css-color--coral-l-95: hsl(0, 100%, 165%);
  --css-color--coral-l-100: hsl(0, 100%, 170%);
  --css-color--coral-d-5: rgb(255, 76.5, 76.5);
  --css-color--coral-d-10: #ff3333;
  --css-color--coral-d-15: rgb(255, 25.5, 25.5);
  --css-color--coral-d-20: red;
  --css-color--coral-d-25: rgb(229.5, 0, 0);
  --css-color--coral-d-30: #cc0000;
  --css-color--coral-d-35: rgb(178.5, 0, 0);
  --css-color--coral-d-40: #990000;
  --css-color--coral-d-45: rgb(127.5, 0, 0);
  --css-color--coral-d-50: #660000;
  --css-color--coral-d-55: rgb(76.5, 0, 0);
  --css-color--coral-d-60: #330000;
  --css-color--coral-d-65: rgb(25.5, 0, 0);
  --css-color--coral-d-70: black;
  --css-color--coral-d-75: hsl(0, 100%, -5%);
  --css-color--coral-d-80: hsl(0, 100%, -10%);
  --css-color--coral-d-85: hsl(0, 100%, -15%);
  --css-color--coral-d-90: hsl(0, 100%, -20%);
  --css-color--coral-d-95: hsl(0, 100%, -25%);
  --css-color--coral-d-100: hsl(0, 100%, -30%);
  --css-bg-color--coral: #ff6666;
  --css-bg-color--coral-l-5: rgb(255, 127.5, 127.5);
  --css-bg-color--coral-l-10: #ff9999;
  --css-bg-color--coral-l-15: rgb(255, 178.5, 178.5);
  --css-bg-color--coral-l-20: #ffcccc;
  --css-bg-color--coral-l-25: rgb(255, 229.5, 229.5);
  --css-bg-color--coral-l-30: white;
  --css-bg-color--coral-l-35: hsl(0, 100%, 105%);
  --css-bg-color--coral-l-40: hsl(0, 100%, 110%);
  --css-bg-color--coral-l-45: hsl(0, 100%, 115%);
  --css-bg-color--coral-l-50: hsl(0, 100%, 120%);
  --css-bg-color--coral-l-55: hsl(0, 100%, 125%);
  --css-bg-color--coral-l-60: hsl(0, 100%, 130%);
  --css-bg-color--coral-l-65: hsl(0, 100%, 135%);
  --css-bg-color--coral-l-70: hsl(0, 100%, 140%);
  --css-bg-color--coral-l-75: hsl(0, 100%, 145%);
  --css-bg-color--coral-l-80: hsl(0, 100%, 150%);
  --css-bg-color--coral-l-85: hsl(0, 100%, 155%);
  --css-bg-color--coral-l-90: hsl(0, 100%, 160%);
  --css-bg-color--coral-l-95: hsl(0, 100%, 165%);
  --css-bg-color--coral-l-100: hsl(0, 100%, 170%);
  --css-bg-color--coral-d-5: rgb(255, 76.5, 76.5);
  --css-bg-color--coral-d-10: #ff3333;
  --css-bg-color--coral-d-15: rgb(255, 25.5, 25.5);
  --css-bg-color--coral-d-20: red;
  --css-bg-color--coral-d-25: rgb(229.5, 0, 0);
  --css-bg-color--coral-d-30: #cc0000;
  --css-bg-color--coral-d-35: rgb(178.5, 0, 0);
  --css-bg-color--coral-d-40: #990000;
  --css-bg-color--coral-d-45: rgb(127.5, 0, 0);
  --css-bg-color--coral-d-50: #660000;
  --css-bg-color--coral-d-55: rgb(76.5, 0, 0);
  --css-bg-color--coral-d-60: #330000;
  --css-bg-color--coral-d-65: rgb(25.5, 0, 0);
  --css-bg-color--coral-d-70: black;
  --css-bg-color--coral-d-75: hsl(0, 100%, -5%);
  --css-bg-color--coral-d-80: hsl(0, 100%, -10%);
  --css-bg-color--coral-d-85: hsl(0, 100%, -15%);
  --css-bg-color--coral-d-90: hsl(0, 100%, -20%);
  --css-bg-color--coral-d-95: hsl(0, 100%, -25%);
  --css-bg-color--coral-d-100: hsl(0, 100%, -30%);
}

.css-color--coral {
  color: var(--css-color--coral, #ff6666);
}

.css-color--coral-l-5 {
  color: var(--css-color--coral-l-5, rgb(255, 127.5, 127.5));
}

.css-color--coral-l-10 {
  color: var(--css-color--coral-l-10, #ff9999);
}

.css-color--coral-l-15 {
  color: var(--css-color--coral-l-15, rgb(255, 178.5, 178.5));
}

.css-color--coral-l-20 {
  color: var(--css-color--coral-l-20, #ffcccc);
}

.css-color--coral-l-25 {
  color: var(--css-color--coral-l-25, rgb(255, 229.5, 229.5));
}

.css-color--coral-l-30 {
  color: var(--css-color--coral-l-30, white);
}

.css-color--coral-l-35 {
  color: var(--css-color--coral-l-35, hsl(0, 100%, 105%));
}

.css-color--coral-l-40 {
  color: var(--css-color--coral-l-40, hsl(0, 100%, 110%));
}

.css-color--coral-l-45 {
  color: var(--css-color--coral-l-45, hsl(0, 100%, 115%));
}

.css-color--coral-l-50 {
  color: var(--css-color--coral-l-50, hsl(0, 100%, 120%));
}

.css-color--coral-l-55 {
  color: var(--css-color--coral-l-55, hsl(0, 100%, 125%));
}

.css-color--coral-l-60 {
  color: var(--css-color--coral-l-60, hsl(0, 100%, 130%));
}

.css-color--coral-l-65 {
  color: var(--css-color--coral-l-65, hsl(0, 100%, 135%));
}

.css-color--coral-l-70 {
  color: var(--css-color--coral-l-70, hsl(0, 100%, 140%));
}

.css-color--coral-l-75 {
  color: var(--css-color--coral-l-75, hsl(0, 100%, 145%));
}

.css-color--coral-l-80 {
  color: var(--css-color--coral-l-80, hsl(0, 100%, 150%));
}

.css-color--coral-l-85 {
  color: var(--css-color--coral-l-85, hsl(0, 100%, 155%));
}

.css-color--coral-l-90 {
  color: var(--css-color--coral-l-90, hsl(0, 100%, 160%));
}

.css-color--coral-l-95 {
  color: var(--css-color--coral-l-95, hsl(0, 100%, 165%));
}

.css-color--coral-l-100 {
  color: var(--css-color--coral-l-100, hsl(0, 100%, 170%));
}

.css-color--coral-d-5 {
  color: var(--css-color--coral-d-5, rgb(255, 76.5, 76.5));
}

.css-color--coral-d-10 {
  color: var(--css-color--coral-d-10, #ff3333);
}

.css-color--coral-d-15 {
  color: var(--css-color--coral-d-15, rgb(255, 25.5, 25.5));
}

.css-color--coral-d-20 {
  color: var(--css-color--coral-d-20, red);
}

.css-color--coral-d-25 {
  color: var(--css-color--coral-d-25, rgb(229.5, 0, 0));
}

.css-color--coral-d-30 {
  color: var(--css-color--coral-d-30, #cc0000);
}

.css-color--coral-d-35 {
  color: var(--css-color--coral-d-35, rgb(178.5, 0, 0));
}

.css-color--coral-d-40 {
  color: var(--css-color--coral-d-40, #990000);
}

.css-color--coral-d-45 {
  color: var(--css-color--coral-d-45, rgb(127.5, 0, 0));
}

.css-color--coral-d-50 {
  color: var(--css-color--coral-d-50, #660000);
}

.css-color--coral-d-55 {
  color: var(--css-color--coral-d-55, rgb(76.5, 0, 0));
}

.css-color--coral-d-60 {
  color: var(--css-color--coral-d-60, #330000);
}

.css-color--coral-d-65 {
  color: var(--css-color--coral-d-65, rgb(25.5, 0, 0));
}

.css-color--coral-d-70 {
  color: var(--css-color--coral-d-70, black);
}

.css-color--coral-d-75 {
  color: var(--css-color--coral-d-75, hsl(0, 100%, -5%));
}

.css-color--coral-d-80 {
  color: var(--css-color--coral-d-80, hsl(0, 100%, -10%));
}

.css-color--coral-d-85 {
  color: var(--css-color--coral-d-85, hsl(0, 100%, -15%));
}

.css-color--coral-d-90 {
  color: var(--css-color--coral-d-90, hsl(0, 100%, -20%));
}

.css-color--coral-d-95 {
  color: var(--css-color--coral-d-95, hsl(0, 100%, -25%));
}

.css-color--coral-d-100 {
  color: var(--css-color--coral-d-100, hsl(0, 100%, -30%));
}

.css-bg-color--coral {
  background-color: var(--css-color--coral, #ff6666);
}

.css-bg-color--coral-l-5 {
  background-color: var(--css-bg-color--coral-l-5, rgb(255, 127.5, 127.5));
}

.css-bg-color--coral-l-10 {
  background-color: var(--css-bg-color--coral-l-10, #ff9999);
}

.css-bg-color--coral-l-15 {
  background-color: var(--css-bg-color--coral-l-15, rgb(255, 178.5, 178.5));
}

.css-bg-color--coral-l-20 {
  background-color: var(--css-bg-color--coral-l-20, #ffcccc);
}

.css-bg-color--coral-l-25 {
  background-color: var(--css-bg-color--coral-l-25, rgb(255, 229.5, 229.5));
}

.css-bg-color--coral-l-30 {
  background-color: var(--css-bg-color--coral-l-30, white);
}

.css-bg-color--coral-l-35 {
  background-color: var(--css-bg-color--coral-l-35, hsl(0, 100%, 105%));
}

.css-bg-color--coral-l-40 {
  background-color: var(--css-bg-color--coral-l-40, hsl(0, 100%, 110%));
}

.css-bg-color--coral-l-45 {
  background-color: var(--css-bg-color--coral-l-45, hsl(0, 100%, 115%));
}

.css-bg-color--coral-l-50 {
  background-color: var(--css-bg-color--coral-l-50, hsl(0, 100%, 120%));
}

.css-bg-color--coral-l-55 {
  background-color: var(--css-bg-color--coral-l-55, hsl(0, 100%, 125%));
}

.css-bg-color--coral-l-60 {
  background-color: var(--css-bg-color--coral-l-60, hsl(0, 100%, 130%));
}

.css-bg-color--coral-l-65 {
  background-color: var(--css-bg-color--coral-l-65, hsl(0, 100%, 135%));
}

.css-bg-color--coral-l-70 {
  background-color: var(--css-bg-color--coral-l-70, hsl(0, 100%, 140%));
}

.css-bg-color--coral-l-75 {
  background-color: var(--css-bg-color--coral-l-75, hsl(0, 100%, 145%));
}

.css-bg-color--coral-l-80 {
  background-color: var(--css-bg-color--coral-l-80, hsl(0, 100%, 150%));
}

.css-bg-color--coral-l-85 {
  background-color: var(--css-bg-color--coral-l-85, hsl(0, 100%, 155%));
}

.css-bg-color--coral-l-90 {
  background-color: var(--css-bg-color--coral-l-90, hsl(0, 100%, 160%));
}

.css-bg-color--coral-l-95 {
  background-color: var(--css-bg-color--coral-l-95, hsl(0, 100%, 165%));
}

.css-bg-color--coral-l-100 {
  background-color: var(--css-bg-color--coral-l-100, hsl(0, 100%, 170%));
}

.css-bg-color--coral-d-5 {
  background-color: var(--css-bg-color--coral-d-5, rgb(255, 76.5, 76.5));
}

.css-bg-color--coral-d-10 {
  background-color: var(--css-bg-color--coral-d-10, #ff3333);
}

.css-bg-color--coral-d-15 {
  background-color: var(--css-bg-color--coral-d-15, rgb(255, 25.5, 25.5));
}

.css-bg-color--coral-d-20 {
  background-color: var(--css-bg-color--coral-d-20, red);
}

.css-bg-color--coral-d-25 {
  background-color: var(--css-bg-color--coral-d-25, rgb(229.5, 0, 0));
}

.css-bg-color--coral-d-30 {
  background-color: var(--css-bg-color--coral-d-30, #cc0000);
}

.css-bg-color--coral-d-35 {
  background-color: var(--css-bg-color--coral-d-35, rgb(178.5, 0, 0));
}

.css-bg-color--coral-d-40 {
  background-color: var(--css-bg-color--coral-d-40, #990000);
}

.css-bg-color--coral-d-45 {
  background-color: var(--css-bg-color--coral-d-45, rgb(127.5, 0, 0));
}

.css-bg-color--coral-d-50 {
  background-color: var(--css-bg-color--coral-d-50, #660000);
}

.css-bg-color--coral-d-55 {
  background-color: var(--css-bg-color--coral-d-55, rgb(76.5, 0, 0));
}

.css-bg-color--coral-d-60 {
  background-color: var(--css-bg-color--coral-d-60, #330000);
}

.css-bg-color--coral-d-65 {
  background-color: var(--css-bg-color--coral-d-65, rgb(25.5, 0, 0));
}

.css-bg-color--coral-d-70 {
  background-color: var(--css-bg-color--coral-d-70, black);
}

.css-bg-color--coral-d-75 {
  background-color: var(--css-bg-color--coral-d-75, hsl(0, 100%, -5%));
}

.css-bg-color--coral-d-80 {
  background-color: var(--css-bg-color--coral-d-80, hsl(0, 100%, -10%));
}

.css-bg-color--coral-d-85 {
  background-color: var(--css-bg-color--coral-d-85, hsl(0, 100%, -15%));
}

.css-bg-color--coral-d-90 {
  background-color: var(--css-bg-color--coral-d-90, hsl(0, 100%, -20%));
}

.css-bg-color--coral-d-95 {
  background-color: var(--css-bg-color--coral-d-95, hsl(0, 100%, -25%));
}

.css-bg-color--coral-d-100 {
  background-color: var(--css-bg-color--coral-d-100, hsl(0, 100%, -30%));
}