:root {
  --css-color--cream: #ffffcc;
  --css-color--cream-l-5: rgb(255, 255, 229.5);
  --css-color--cream-l-10: white;
  --css-color--cream-l-15: hsl(60, 100%, 105%);
  --css-color--cream-l-20: hsl(60, 100%, 110%);
  --css-color--cream-l-25: hsl(60, 100%, 115%);
  --css-color--cream-l-30: hsl(60, 100%, 120%);
  --css-color--cream-l-35: hsl(60, 100%, 125%);
  --css-color--cream-l-40: hsl(60, 100%, 130%);
  --css-color--cream-l-45: hsl(60, 100%, 135%);
  --css-color--cream-l-50: hsl(60, 100%, 140%);
  --css-color--cream-l-55: hsl(60, 100%, 145%);
  --css-color--cream-l-60: hsl(60, 100%, 150%);
  --css-color--cream-l-65: hsl(60, 100%, 155%);
  --css-color--cream-l-70: hsl(60, 100%, 160%);
  --css-color--cream-l-75: hsl(60, 100%, 165%);
  --css-color--cream-l-80: hsl(60, 100%, 170%);
  --css-color--cream-l-85: hsl(60, 100%, 175%);
  --css-color--cream-l-90: hsl(60, 100%, 180%);
  --css-color--cream-l-95: hsl(60, 100%, 185%);
  --css-color--cream-l-100: hsl(60, 100%, 190%);
  --css-color--cream-d-5: rgb(255, 255, 178.5);
  --css-color--cream-d-10: #ffff99;
  --css-color--cream-d-15: rgb(255, 255, 127.5);
  --css-color--cream-d-20: #ffff66;
  --css-color--cream-d-25: rgb(255, 255, 76.5);
  --css-color--cream-d-30: #ffff33;
  --css-color--cream-d-35: rgb(255, 255, 25.5);
  --css-color--cream-d-40: yellow;
  --css-color--cream-d-45: rgb(229.5, 229.5, 0);
  --css-color--cream-d-50: #cccc00;
  --css-color--cream-d-55: rgb(178.5, 178.5, 0);
  --css-color--cream-d-60: #999900;
  --css-color--cream-d-65: rgb(127.5, 127.5, 0);
  --css-color--cream-d-70: #666600;
  --css-color--cream-d-75: rgb(76.5, 76.5, 0);
  --css-color--cream-d-80: #333300;
  --css-color--cream-d-85: rgb(25.5, 25.5, 0);
  --css-color--cream-d-90: black;
  --css-color--cream-d-95: hsl(60, 100%, -5%);
  --css-color--cream-d-100: hsl(60, 100%, -10%);
  --css-bg-color--cream: #ffffcc;
  --css-bg-color--cream-l-5: rgb(255, 255, 229.5);
  --css-bg-color--cream-l-10: white;
  --css-bg-color--cream-l-15: hsl(60, 100%, 105%);
  --css-bg-color--cream-l-20: hsl(60, 100%, 110%);
  --css-bg-color--cream-l-25: hsl(60, 100%, 115%);
  --css-bg-color--cream-l-30: hsl(60, 100%, 120%);
  --css-bg-color--cream-l-35: hsl(60, 100%, 125%);
  --css-bg-color--cream-l-40: hsl(60, 100%, 130%);
  --css-bg-color--cream-l-45: hsl(60, 100%, 135%);
  --css-bg-color--cream-l-50: hsl(60, 100%, 140%);
  --css-bg-color--cream-l-55: hsl(60, 100%, 145%);
  --css-bg-color--cream-l-60: hsl(60, 100%, 150%);
  --css-bg-color--cream-l-65: hsl(60, 100%, 155%);
  --css-bg-color--cream-l-70: hsl(60, 100%, 160%);
  --css-bg-color--cream-l-75: hsl(60, 100%, 165%);
  --css-bg-color--cream-l-80: hsl(60, 100%, 170%);
  --css-bg-color--cream-l-85: hsl(60, 100%, 175%);
  --css-bg-color--cream-l-90: hsl(60, 100%, 180%);
  --css-bg-color--cream-l-95: hsl(60, 100%, 185%);
  --css-bg-color--cream-l-100: hsl(60, 100%, 190%);
  --css-bg-color--cream-d-5: rgb(255, 255, 178.5);
  --css-bg-color--cream-d-10: #ffff99;
  --css-bg-color--cream-d-15: rgb(255, 255, 127.5);
  --css-bg-color--cream-d-20: #ffff66;
  --css-bg-color--cream-d-25: rgb(255, 255, 76.5);
  --css-bg-color--cream-d-30: #ffff33;
  --css-bg-color--cream-d-35: rgb(255, 255, 25.5);
  --css-bg-color--cream-d-40: yellow;
  --css-bg-color--cream-d-45: rgb(229.5, 229.5, 0);
  --css-bg-color--cream-d-50: #cccc00;
  --css-bg-color--cream-d-55: rgb(178.5, 178.5, 0);
  --css-bg-color--cream-d-60: #999900;
  --css-bg-color--cream-d-65: rgb(127.5, 127.5, 0);
  --css-bg-color--cream-d-70: #666600;
  --css-bg-color--cream-d-75: rgb(76.5, 76.5, 0);
  --css-bg-color--cream-d-80: #333300;
  --css-bg-color--cream-d-85: rgb(25.5, 25.5, 0);
  --css-bg-color--cream-d-90: black;
  --css-bg-color--cream-d-95: hsl(60, 100%, -5%);
  --css-bg-color--cream-d-100: hsl(60, 100%, -10%);
}

.css-color--cream {
  color: var(--css-color--cream, #ffffcc);
}

.css-color--cream-l-5 {
  color: var(--css-color--cream-l-5, rgb(255, 255, 229.5));
}

.css-color--cream-l-10 {
  color: var(--css-color--cream-l-10, white);
}

.css-color--cream-l-15 {
  color: var(--css-color--cream-l-15, hsl(60, 100%, 105%));
}

.css-color--cream-l-20 {
  color: var(--css-color--cream-l-20, hsl(60, 100%, 110%));
}

.css-color--cream-l-25 {
  color: var(--css-color--cream-l-25, hsl(60, 100%, 115%));
}

.css-color--cream-l-30 {
  color: var(--css-color--cream-l-30, hsl(60, 100%, 120%));
}

.css-color--cream-l-35 {
  color: var(--css-color--cream-l-35, hsl(60, 100%, 125%));
}

.css-color--cream-l-40 {
  color: var(--css-color--cream-l-40, hsl(60, 100%, 130%));
}

.css-color--cream-l-45 {
  color: var(--css-color--cream-l-45, hsl(60, 100%, 135%));
}

.css-color--cream-l-50 {
  color: var(--css-color--cream-l-50, hsl(60, 100%, 140%));
}

.css-color--cream-l-55 {
  color: var(--css-color--cream-l-55, hsl(60, 100%, 145%));
}

.css-color--cream-l-60 {
  color: var(--css-color--cream-l-60, hsl(60, 100%, 150%));
}

.css-color--cream-l-65 {
  color: var(--css-color--cream-l-65, hsl(60, 100%, 155%));
}

.css-color--cream-l-70 {
  color: var(--css-color--cream-l-70, hsl(60, 100%, 160%));
}

.css-color--cream-l-75 {
  color: var(--css-color--cream-l-75, hsl(60, 100%, 165%));
}

.css-color--cream-l-80 {
  color: var(--css-color--cream-l-80, hsl(60, 100%, 170%));
}

.css-color--cream-l-85 {
  color: var(--css-color--cream-l-85, hsl(60, 100%, 175%));
}

.css-color--cream-l-90 {
  color: var(--css-color--cream-l-90, hsl(60, 100%, 180%));
}

.css-color--cream-l-95 {
  color: var(--css-color--cream-l-95, hsl(60, 100%, 185%));
}

.css-color--cream-l-100 {
  color: var(--css-color--cream-l-100, hsl(60, 100%, 190%));
}

.css-color--cream-d-5 {
  color: var(--css-color--cream-d-5, rgb(255, 255, 178.5));
}

.css-color--cream-d-10 {
  color: var(--css-color--cream-d-10, #ffff99);
}

.css-color--cream-d-15 {
  color: var(--css-color--cream-d-15, rgb(255, 255, 127.5));
}

.css-color--cream-d-20 {
  color: var(--css-color--cream-d-20, #ffff66);
}

.css-color--cream-d-25 {
  color: var(--css-color--cream-d-25, rgb(255, 255, 76.5));
}

.css-color--cream-d-30 {
  color: var(--css-color--cream-d-30, #ffff33);
}

.css-color--cream-d-35 {
  color: var(--css-color--cream-d-35, rgb(255, 255, 25.5));
}

.css-color--cream-d-40 {
  color: var(--css-color--cream-d-40, yellow);
}

.css-color--cream-d-45 {
  color: var(--css-color--cream-d-45, rgb(229.5, 229.5, 0));
}

.css-color--cream-d-50 {
  color: var(--css-color--cream-d-50, #cccc00);
}

.css-color--cream-d-55 {
  color: var(--css-color--cream-d-55, rgb(178.5, 178.5, 0));
}

.css-color--cream-d-60 {
  color: var(--css-color--cream-d-60, #999900);
}

.css-color--cream-d-65 {
  color: var(--css-color--cream-d-65, rgb(127.5, 127.5, 0));
}

.css-color--cream-d-70 {
  color: var(--css-color--cream-d-70, #666600);
}

.css-color--cream-d-75 {
  color: var(--css-color--cream-d-75, rgb(76.5, 76.5, 0));
}

.css-color--cream-d-80 {
  color: var(--css-color--cream-d-80, #333300);
}

.css-color--cream-d-85 {
  color: var(--css-color--cream-d-85, rgb(25.5, 25.5, 0));
}

.css-color--cream-d-90 {
  color: var(--css-color--cream-d-90, black);
}

.css-color--cream-d-95 {
  color: var(--css-color--cream-d-95, hsl(60, 100%, -5%));
}

.css-color--cream-d-100 {
  color: var(--css-color--cream-d-100, hsl(60, 100%, -10%));
}

.css-bg-color--cream {
  background-color: var(--css-color--cream, #ffffcc);
}

.css-bg-color--cream-l-5 {
  background-color: var(--css-bg-color--cream-l-5, rgb(255, 255, 229.5));
}

.css-bg-color--cream-l-10 {
  background-color: var(--css-bg-color--cream-l-10, white);
}

.css-bg-color--cream-l-15 {
  background-color: var(--css-bg-color--cream-l-15, hsl(60, 100%, 105%));
}

.css-bg-color--cream-l-20 {
  background-color: var(--css-bg-color--cream-l-20, hsl(60, 100%, 110%));
}

.css-bg-color--cream-l-25 {
  background-color: var(--css-bg-color--cream-l-25, hsl(60, 100%, 115%));
}

.css-bg-color--cream-l-30 {
  background-color: var(--css-bg-color--cream-l-30, hsl(60, 100%, 120%));
}

.css-bg-color--cream-l-35 {
  background-color: var(--css-bg-color--cream-l-35, hsl(60, 100%, 125%));
}

.css-bg-color--cream-l-40 {
  background-color: var(--css-bg-color--cream-l-40, hsl(60, 100%, 130%));
}

.css-bg-color--cream-l-45 {
  background-color: var(--css-bg-color--cream-l-45, hsl(60, 100%, 135%));
}

.css-bg-color--cream-l-50 {
  background-color: var(--css-bg-color--cream-l-50, hsl(60, 100%, 140%));
}

.css-bg-color--cream-l-55 {
  background-color: var(--css-bg-color--cream-l-55, hsl(60, 100%, 145%));
}

.css-bg-color--cream-l-60 {
  background-color: var(--css-bg-color--cream-l-60, hsl(60, 100%, 150%));
}

.css-bg-color--cream-l-65 {
  background-color: var(--css-bg-color--cream-l-65, hsl(60, 100%, 155%));
}

.css-bg-color--cream-l-70 {
  background-color: var(--css-bg-color--cream-l-70, hsl(60, 100%, 160%));
}

.css-bg-color--cream-l-75 {
  background-color: var(--css-bg-color--cream-l-75, hsl(60, 100%, 165%));
}

.css-bg-color--cream-l-80 {
  background-color: var(--css-bg-color--cream-l-80, hsl(60, 100%, 170%));
}

.css-bg-color--cream-l-85 {
  background-color: var(--css-bg-color--cream-l-85, hsl(60, 100%, 175%));
}

.css-bg-color--cream-l-90 {
  background-color: var(--css-bg-color--cream-l-90, hsl(60, 100%, 180%));
}

.css-bg-color--cream-l-95 {
  background-color: var(--css-bg-color--cream-l-95, hsl(60, 100%, 185%));
}

.css-bg-color--cream-l-100 {
  background-color: var(--css-bg-color--cream-l-100, hsl(60, 100%, 190%));
}

.css-bg-color--cream-d-5 {
  background-color: var(--css-bg-color--cream-d-5, rgb(255, 255, 178.5));
}

.css-bg-color--cream-d-10 {
  background-color: var(--css-bg-color--cream-d-10, #ffff99);
}

.css-bg-color--cream-d-15 {
  background-color: var(--css-bg-color--cream-d-15, rgb(255, 255, 127.5));
}

.css-bg-color--cream-d-20 {
  background-color: var(--css-bg-color--cream-d-20, #ffff66);
}

.css-bg-color--cream-d-25 {
  background-color: var(--css-bg-color--cream-d-25, rgb(255, 255, 76.5));
}

.css-bg-color--cream-d-30 {
  background-color: var(--css-bg-color--cream-d-30, #ffff33);
}

.css-bg-color--cream-d-35 {
  background-color: var(--css-bg-color--cream-d-35, rgb(255, 255, 25.5));
}

.css-bg-color--cream-d-40 {
  background-color: var(--css-bg-color--cream-d-40, yellow);
}

.css-bg-color--cream-d-45 {
  background-color: var(--css-bg-color--cream-d-45, rgb(229.5, 229.5, 0));
}

.css-bg-color--cream-d-50 {
  background-color: var(--css-bg-color--cream-d-50, #cccc00);
}

.css-bg-color--cream-d-55 {
  background-color: var(--css-bg-color--cream-d-55, rgb(178.5, 178.5, 0));
}

.css-bg-color--cream-d-60 {
  background-color: var(--css-bg-color--cream-d-60, #999900);
}

.css-bg-color--cream-d-65 {
  background-color: var(--css-bg-color--cream-d-65, rgb(127.5, 127.5, 0));
}

.css-bg-color--cream-d-70 {
  background-color: var(--css-bg-color--cream-d-70, #666600);
}

.css-bg-color--cream-d-75 {
  background-color: var(--css-bg-color--cream-d-75, rgb(76.5, 76.5, 0));
}

.css-bg-color--cream-d-80 {
  background-color: var(--css-bg-color--cream-d-80, #333300);
}

.css-bg-color--cream-d-85 {
  background-color: var(--css-bg-color--cream-d-85, rgb(25.5, 25.5, 0));
}

.css-bg-color--cream-d-90 {
  background-color: var(--css-bg-color--cream-d-90, black);
}

.css-bg-color--cream-d-95 {
  background-color: var(--css-bg-color--cream-d-95, hsl(60, 100%, -5%));
}

.css-bg-color--cream-d-100 {
  background-color: var(--css-bg-color--cream-d-100, hsl(60, 100%, -10%));
}