///
/// Dark Maroon properties
///

@use 'variables' as *;

:root {

	// Original color.
	--css-color--dark-maroon: #{$css-color--dark-maroon};

	// Lighten color by percentage.
	--css-color--dark-maroon-l-5: #{$css-color--dark-maroon-l-5};
	--css-color--dark-maroon-l-10: #{$css-color--dark-maroon-l-10};
	--css-color--dark-maroon-l-15: #{$css-color--dark-maroon-l-15};
	--css-color--dark-maroon-l-20: #{$css-color--dark-maroon-l-20};
	--css-color--dark-maroon-l-25: #{$css-color--dark-maroon-l-25};
	--css-color--dark-maroon-l-30: #{$css-color--dark-maroon-l-30};
	--css-color--dark-maroon-l-35: #{$css-color--dark-maroon-l-35};
	--css-color--dark-maroon-l-40: #{$css-color--dark-maroon-l-40};
	--css-color--dark-maroon-l-45: #{$css-color--dark-maroon-l-45};
	--css-color--dark-maroon-l-50: #{$css-color--dark-maroon-l-50};
	--css-color--dark-maroon-l-55: #{$css-color--dark-maroon-l-55};
	--css-color--dark-maroon-l-60: #{$css-color--dark-maroon-l-60};
	--css-color--dark-maroon-l-65: #{$css-color--dark-maroon-l-65};
	--css-color--dark-maroon-l-70: #{$css-color--dark-maroon-l-70};
	--css-color--dark-maroon-l-75: #{$css-color--dark-maroon-l-75};
	--css-color--dark-maroon-l-80: #{$css-color--dark-maroon-l-80};
	--css-color--dark-maroon-l-85: #{$css-color--dark-maroon-l-85};
	--css-color--dark-maroon-l-90: #{$css-color--dark-maroon-l-90};
	--css-color--dark-maroon-l-95: #{$css-color--dark-maroon-l-95};
	--css-color--dark-maroon-l-100: #{$css-color--dark-maroon-l-100};

	// Darken color by percentage.
	--css-color--dark-maroon-d-5: #{$css-color--dark-maroon-d-5};
	--css-color--dark-maroon-d-10: #{$css-color--dark-maroon-d-10};
	--css-color--dark-maroon-d-15: #{$css-color--dark-maroon-d-15};
	--css-color--dark-maroon-d-20: #{$css-color--dark-maroon-d-20};
	--css-color--dark-maroon-d-25: #{$css-color--dark-maroon-d-25};
	--css-color--dark-maroon-d-30: #{$css-color--dark-maroon-d-30};
	--css-color--dark-maroon-d-35: #{$css-color--dark-maroon-d-35};
	--css-color--dark-maroon-d-40: #{$css-color--dark-maroon-d-40};
	--css-color--dark-maroon-d-45: #{$css-color--dark-maroon-d-45};
	--css-color--dark-maroon-d-50: #{$css-color--dark-maroon-d-50};
	--css-color--dark-maroon-d-55: #{$css-color--dark-maroon-d-55};
	--css-color--dark-maroon-d-60: #{$css-color--dark-maroon-d-60};
	--css-color--dark-maroon-d-65: #{$css-color--dark-maroon-d-65};
	--css-color--dark-maroon-d-70: #{$css-color--dark-maroon-d-70};
	--css-color--dark-maroon-d-75: #{$css-color--dark-maroon-d-75};
	--css-color--dark-maroon-d-80: #{$css-color--dark-maroon-d-80};
	--css-color--dark-maroon-d-85: #{$css-color--dark-maroon-d-85};
	--css-color--dark-maroon-d-90: #{$css-color--dark-maroon-d-90};
	--css-color--dark-maroon-d-95: #{$css-color--dark-maroon-d-95};
	--css-color--dark-maroon-d-100: #{$css-color--dark-maroon-d-100};

	// Original background color.
	--css-bg-color--dark-maroon: #{$css-color--dark-maroon};

	// Lighten background color by percentage.
	--css-bg-color--dark-maroon-l-5: #{$css-color--dark-maroon-l-5};
	--css-bg-color--dark-maroon-l-10: #{$css-color--dark-maroon-l-10};
	--css-bg-color--dark-maroon-l-15: #{$css-color--dark-maroon-l-15};
	--css-bg-color--dark-maroon-l-20: #{$css-color--dark-maroon-l-20};
	--css-bg-color--dark-maroon-l-25: #{$css-color--dark-maroon-l-25};
	--css-bg-color--dark-maroon-l-30: #{$css-color--dark-maroon-l-30};
	--css-bg-color--dark-maroon-l-35: #{$css-color--dark-maroon-l-35};
	--css-bg-color--dark-maroon-l-40: #{$css-color--dark-maroon-l-40};
	--css-bg-color--dark-maroon-l-45: #{$css-color--dark-maroon-l-45};
	--css-bg-color--dark-maroon-l-50: #{$css-color--dark-maroon-l-50};
	--css-bg-color--dark-maroon-l-55: #{$css-color--dark-maroon-l-55};
	--css-bg-color--dark-maroon-l-60: #{$css-color--dark-maroon-l-60};
	--css-bg-color--dark-maroon-l-65: #{$css-color--dark-maroon-l-65};
	--css-bg-color--dark-maroon-l-70: #{$css-color--dark-maroon-l-70};
	--css-bg-color--dark-maroon-l-75: #{$css-color--dark-maroon-l-75};
	--css-bg-color--dark-maroon-l-80: #{$css-color--dark-maroon-l-80};
	--css-bg-color--dark-maroon-l-85: #{$css-color--dark-maroon-l-85};
	--css-bg-color--dark-maroon-l-90: #{$css-color--dark-maroon-l-90};
	--css-bg-color--dark-maroon-l-95: #{$css-color--dark-maroon-l-95};
	--css-bg-color--dark-maroon-l-100: #{$css-color--dark-maroon-l-100};

	// Darken background color by percentage.
	--css-bg-color--dark-maroon-d-5: #{$css-color--dark-maroon-d-5};
	--css-bg-color--dark-maroon-d-10: #{$css-color--dark-maroon-d-10};
	--css-bg-color--dark-maroon-d-15: #{$css-color--dark-maroon-d-15};
	--css-bg-color--dark-maroon-d-20: #{$css-color--dark-maroon-d-20};
	--css-bg-color--dark-maroon-d-25: #{$css-color--dark-maroon-d-25};
	--css-bg-color--dark-maroon-d-30: #{$css-color--dark-maroon-d-30};
	--css-bg-color--dark-maroon-d-35: #{$css-color--dark-maroon-d-35};
	--css-bg-color--dark-maroon-d-40: #{$css-color--dark-maroon-d-40};
	--css-bg-color--dark-maroon-d-45: #{$css-color--dark-maroon-d-45};
	--css-bg-color--dark-maroon-d-50: #{$css-color--dark-maroon-d-50};
	--css-bg-color--dark-maroon-d-55: #{$css-color--dark-maroon-d-55};
	--css-bg-color--dark-maroon-d-60: #{$css-color--dark-maroon-d-60};
	--css-bg-color--dark-maroon-d-65: #{$css-color--dark-maroon-d-65};
	--css-bg-color--dark-maroon-d-70: #{$css-color--dark-maroon-d-70};
	--css-bg-color--dark-maroon-d-75: #{$css-color--dark-maroon-d-75};
	--css-bg-color--dark-maroon-d-80: #{$css-color--dark-maroon-d-80};
	--css-bg-color--dark-maroon-d-85: #{$css-color--dark-maroon-d-85};
	--css-bg-color--dark-maroon-d-90: #{$css-color--dark-maroon-d-90};
	--css-bg-color--dark-maroon-d-95: #{$css-color--dark-maroon-d-95};
	--css-bg-color--dark-maroon-d-100: #{$css-color--dark-maroon-d-100};
}
