///
/// Alloy Orange variables
///

@use 'sass:color';

$css-color--alloy-orange: #cc6600;

// Lighten color by percentage.
$css-color--alloy-orange-l-5: #{color.adjust( $css-color--alloy-orange, $whiteness: 5% )};
$css-color--alloy-orange-l-10: #{color.adjust( $css-color--alloy-orange, $whiteness: 10% )};
$css-color--alloy-orange-l-15: #{color.adjust( $css-color--alloy-orange, $whiteness: 15% )};
$css-color--alloy-orange-l-20: #{color.adjust( $css-color--alloy-orange, $whiteness: 20% )};
$css-color--alloy-orange-l-25: #{color.adjust( $css-color--alloy-orange, $whiteness: 25% )};
$css-color--alloy-orange-l-30: #{color.adjust( $css-color--alloy-orange, $whiteness: 30% )};
$css-color--alloy-orange-l-35: #{color.adjust( $css-color--alloy-orange, $whiteness: 35% )};
$css-color--alloy-orange-l-40: #{color.adjust( $css-color--alloy-orange, $whiteness: 40% )};
$css-color--alloy-orange-l-45: #{color.adjust( $css-color--alloy-orange, $whiteness: 45% )};
$css-color--alloy-orange-l-50: #{color.adjust( $css-color--alloy-orange, $whiteness: 50% )};
$css-color--alloy-orange-l-55: #{color.adjust( $css-color--alloy-orange, $whiteness: 55% )};
$css-color--alloy-orange-l-60: #{color.adjust( $css-color--alloy-orange, $whiteness: 60% )};
$css-color--alloy-orange-l-65: #{color.adjust( $css-color--alloy-orange, $whiteness: 65% )};
$css-color--alloy-orange-l-70: #{color.adjust( $css-color--alloy-orange, $whiteness: 70% )};
$css-color--alloy-orange-l-75: #{color.adjust( $css-color--alloy-orange, $whiteness: 75% )};
$css-color--alloy-orange-l-80: #{color.adjust( $css-color--alloy-orange, $whiteness: 80% )};
$css-color--alloy-orange-l-85: #{color.adjust( $css-color--alloy-orange, $whiteness: 85% )};
$css-color--alloy-orange-l-90: #{color.adjust( $css-color--alloy-orange, $whiteness: 90% )};
$css-color--alloy-orange-l-95: #{color.adjust( $css-color--alloy-orange, $whiteness: 95% )};
$css-color--alloy-orange-l-100: #{color.adjust( $css-color--alloy-orange, $whiteness: 100% )};

// Darken color by percentage.
$css-color--alloy-orange-d-5: #{color.adjust( $css-color--alloy-orange, $blackness: 5% )};
$css-color--alloy-orange-d-10: #{color.adjust( $css-color--alloy-orange, $blackness: 10% )};
$css-color--alloy-orange-d-15: #{color.adjust( $css-color--alloy-orange, $blackness: 15% )};
$css-color--alloy-orange-d-20: #{color.adjust( $css-color--alloy-orange, $blackness: 20% )};
$css-color--alloy-orange-d-25: #{color.adjust( $css-color--alloy-orange, $blackness: 25% )};
$css-color--alloy-orange-d-30: #{color.adjust( $css-color--alloy-orange, $blackness: 30% )};
$css-color--alloy-orange-d-35: #{color.adjust( $css-color--alloy-orange, $blackness: 35% )};
$css-color--alloy-orange-d-40: #{color.adjust( $css-color--alloy-orange, $blackness: 40% )};
$css-color--alloy-orange-d-45: #{color.adjust( $css-color--alloy-orange, $blackness: 45% )};
$css-color--alloy-orange-d-50: #{color.adjust( $css-color--alloy-orange, $blackness: 50% )};
$css-color--alloy-orange-d-55: #{color.adjust( $css-color--alloy-orange, $blackness: 55% )};
$css-color--alloy-orange-d-60: #{color.adjust( $css-color--alloy-orange, $blackness: 60% )};
$css-color--alloy-orange-d-65: #{color.adjust( $css-color--alloy-orange, $blackness: 65% )};
$css-color--alloy-orange-d-70: #{color.adjust( $css-color--alloy-orange, $blackness: 70% )};
$css-color--alloy-orange-d-75: #{color.adjust( $css-color--alloy-orange, $blackness: 75% )};
$css-color--alloy-orange-d-80: #{color.adjust( $css-color--alloy-orange, $blackness: 80% )};
$css-color--alloy-orange-d-85: #{color.adjust( $css-color--alloy-orange, $blackness: 85% )};
$css-color--alloy-orange-d-90: #{color.adjust( $css-color--alloy-orange, $blackness: 90% )};
$css-color--alloy-orange-d-95: #{color.adjust( $css-color--alloy-orange, $blackness: 95% )};
$css-color--alloy-orange-d-100: #{color.adjust( $css-color--alloy-orange, $blackness: 100% )};

// Lighten background color by percentage.
$css-bg-color--alloy-orange-l-5: #{color.adjust( $css-color--alloy-orange, $whiteness: 5% )};
$css-bg-color--alloy-orange-l-10: #{color.adjust( $css-color--alloy-orange, $whiteness: 10% )};
$css-bg-color--alloy-orange-l-15: #{color.adjust( $css-color--alloy-orange, $whiteness: 15% )};
$css-bg-color--alloy-orange-l-20: #{color.adjust( $css-color--alloy-orange, $whiteness: 20% )};
$css-bg-color--alloy-orange-l-25: #{color.adjust( $css-color--alloy-orange, $whiteness: 25% )};
$css-bg-color--alloy-orange-l-30: #{color.adjust( $css-color--alloy-orange, $whiteness: 30% )};
$css-bg-color--alloy-orange-l-35: #{color.adjust( $css-color--alloy-orange, $whiteness: 35% )};
$css-bg-color--alloy-orange-l-40: #{color.adjust( $css-color--alloy-orange, $whiteness: 40% )};
$css-bg-color--alloy-orange-l-45: #{color.adjust( $css-color--alloy-orange, $whiteness: 45% )};
$css-bg-color--alloy-orange-l-50: #{color.adjust( $css-color--alloy-orange, $whiteness: 50% )};
$css-bg-color--alloy-orange-l-55: #{color.adjust( $css-color--alloy-orange, $whiteness: 55% )};
$css-bg-color--alloy-orange-l-60: #{color.adjust( $css-color--alloy-orange, $whiteness: 60% )};
$css-bg-color--alloy-orange-l-65: #{color.adjust( $css-color--alloy-orange, $whiteness: 65% )};
$css-bg-color--alloy-orange-l-70: #{color.adjust( $css-color--alloy-orange, $whiteness: 70% )};
$css-bg-color--alloy-orange-l-75: #{color.adjust( $css-color--alloy-orange, $whiteness: 75% )};
$css-bg-color--alloy-orange-l-80: #{color.adjust( $css-color--alloy-orange, $whiteness: 80% )};
$css-bg-color--alloy-orange-l-85: #{color.adjust( $css-color--alloy-orange, $whiteness: 85% )};
$css-bg-color--alloy-orange-l-90: #{color.adjust( $css-color--alloy-orange, $whiteness: 90% )};
$css-bg-color--alloy-orange-l-95: #{color.adjust( $css-color--alloy-orange, $whiteness: 95% )};
$css-bg-color--alloy-orange-l-100: #{color.adjust( $css-color--alloy-orange, $whiteness: 100% )};

// Darken background color by percentage.
$css-bg-color--alloy-orange-d-5: #{color.adjust( $css-color--alloy-orange, $blackness: 5% )};
$css-bg-color--alloy-orange-d-10: #{color.adjust( $css-color--alloy-orange, $blackness: 10% )};
$css-bg-color--alloy-orange-d-15: #{color.adjust( $css-color--alloy-orange, $blackness: 15% )};
$css-bg-color--alloy-orange-d-20: #{color.adjust( $css-color--alloy-orange, $blackness: 20% )};
$css-bg-color--alloy-orange-d-25: #{color.adjust( $css-color--alloy-orange, $blackness: 25% )};
$css-bg-color--alloy-orange-d-30: #{color.adjust( $css-color--alloy-orange, $blackness: 30% )};
$css-bg-color--alloy-orange-d-35: #{color.adjust( $css-color--alloy-orange, $blackness: 35% )};
$css-bg-color--alloy-orange-d-40: #{color.adjust( $css-color--alloy-orange, $blackness: 40% )};
$css-bg-color--alloy-orange-d-45: #{color.adjust( $css-color--alloy-orange, $blackness: 45% )};
$css-bg-color--alloy-orange-d-50: #{color.adjust( $css-color--alloy-orange, $blackness: 50% )};
$css-bg-color--alloy-orange-d-55: #{color.adjust( $css-color--alloy-orange, $blackness: 55% )};
$css-bg-color--alloy-orange-d-60: #{color.adjust( $css-color--alloy-orange, $blackness: 60% )};
$css-bg-color--alloy-orange-d-65: #{color.adjust( $css-color--alloy-orange, $blackness: 65% )};
$css-bg-color--alloy-orange-d-70: #{color.adjust( $css-color--alloy-orange, $blackness: 70% )};
$css-bg-color--alloy-orange-d-75: #{color.adjust( $css-color--alloy-orange, $blackness: 75% )};
$css-bg-color--alloy-orange-d-80: #{color.adjust( $css-color--alloy-orange, $blackness: 80% )};
$css-bg-color--alloy-orange-d-85: #{color.adjust( $css-color--alloy-orange, $blackness: 85% )};
$css-bg-color--alloy-orange-d-90: #{color.adjust( $css-color--alloy-orange, $blackness: 90% )};
$css-bg-color--alloy-orange-d-95: #{color.adjust( $css-color--alloy-orange, $blackness: 95% )};
$css-bg-color--alloy-orange-d-100: #{color.adjust( $css-color--alloy-orange, $blackness: 100% )};
