///
/// Grayscale properties
///

@use 'variables' as *;

:root {

	// Properties by named color.
	--css-color--white: #{$css-color--white};
	--css-color--silver: #{$css-color--silver};
	--css-color--medium-gray: #{$css-color--medium-gray};
	--css-color--dark-gray: #{$css-color--dark-gray};
	--css-color--very-dark-gray: #{$css-color--very-dark-gray};
	--css-color--black: #{$css-color--black};

	// Properties by percentage of darkness.
	--css-color--gray--0: #{$css-color--white};
	--css-color--gray--5: #{$css-color--gray--5};
	--css-color--gray--10: #{$css-color--gray--10};
	--css-color--gray--15: #{$css-color--gray--15};
	--css-color--gray--20: #{$css-color--gray--20};
	--css-color--gray--25: #{$css-color--gray--25};
	--css-color--gray--30: #{$css-color--gray--30};
	--css-color--gray--35: #{$css-color--gray--35};
	--css-color--gray--40: #{$css-color--gray--40};
	--css-color--gray--45: #{$css-color--gray--45};
	--css-color--gray--50: #{$css-color--gray--50};
	--css-color--gray--55: #{$css-color--gray--55};
	--css-color--gray--60: #{$css-color--gray--60};
	--css-color--gray--65: #{$css-color--gray--65};
	--css-color--gray--70: #{$css-color--gray--70};
	--css-color--gray--75: #{$css-color--gray--75};
	--css-color--gray--80: #{$css-color--gray--80};
	--css-color--gray--85: #{$css-color--gray--85};
	--css-color--gray--90: #{$css-color--gray--90};
	--css-color--gray--95: #{$css-color--gray--95};
	--css-color--gray--100: #{$css-color--black};
}
