///
/// Light Coral variables
///

@use 'sass:color';

$css-color--light-coral: #ff9999;

// Lighten color by percentage.
$css-color--light-coral-l-5: #{color.adjust( $css-color--light-coral, $lightness: 5% )};
$css-color--light-coral-l-10: #{color.adjust( $css-color--light-coral, $lightness: 10% )};
$css-color--light-coral-l-15: #{color.adjust( $css-color--light-coral, $lightness: 15% )};
$css-color--light-coral-l-20: #{color.adjust( $css-color--light-coral, $lightness: 20% )};
$css-color--light-coral-l-25: #{color.adjust( $css-color--light-coral, $lightness: 25% )};
$css-color--light-coral-l-30: #{color.adjust( $css-color--light-coral, $lightness: 30% )};
$css-color--light-coral-l-35: #{color.adjust( $css-color--light-coral, $lightness: 35% )};
$css-color--light-coral-l-40: #{color.adjust( $css-color--light-coral, $lightness: 40% )};
$css-color--light-coral-l-45: #{color.adjust( $css-color--light-coral, $lightness: 45% )};
$css-color--light-coral-l-50: #{color.adjust( $css-color--light-coral, $lightness: 50% )};
$css-color--light-coral-l-55: #{color.adjust( $css-color--light-coral, $lightness: 55% )};
$css-color--light-coral-l-60: #{color.adjust( $css-color--light-coral, $lightness: 60% )};
$css-color--light-coral-l-65: #{color.adjust( $css-color--light-coral, $lightness: 65% )};
$css-color--light-coral-l-70: #{color.adjust( $css-color--light-coral, $lightness: 70% )};
$css-color--light-coral-l-75: #{color.adjust( $css-color--light-coral, $lightness: 75% )};
$css-color--light-coral-l-80: #{color.adjust( $css-color--light-coral, $lightness: 80% )};
$css-color--light-coral-l-85: #{color.adjust( $css-color--light-coral, $lightness: 85% )};
$css-color--light-coral-l-90: #{color.adjust( $css-color--light-coral, $lightness: 90% )};
$css-color--light-coral-l-95: #{color.adjust( $css-color--light-coral, $lightness: 95% )};
$css-color--light-coral-l-100: #{color.adjust( $css-color--light-coral, $lightness: 100% )};

// Darken color by percentage.
$css-color--light-coral-d-5: #{color.adjust( $css-color--light-coral, $lightness: -5% )};
$css-color--light-coral-d-10: #{color.adjust( $css-color--light-coral, $lightness: -10% )};
$css-color--light-coral-d-15: #{color.adjust( $css-color--light-coral, $lightness: -15% )};
$css-color--light-coral-d-20: #{color.adjust( $css-color--light-coral, $lightness: -20% )};
$css-color--light-coral-d-25: #{color.adjust( $css-color--light-coral, $lightness: -25% )};
$css-color--light-coral-d-30: #{color.adjust( $css-color--light-coral, $lightness: -30% )};
$css-color--light-coral-d-35: #{color.adjust( $css-color--light-coral, $lightness: -35% )};
$css-color--light-coral-d-40: #{color.adjust( $css-color--light-coral, $lightness: -40% )};
$css-color--light-coral-d-45: #{color.adjust( $css-color--light-coral, $lightness: -45% )};
$css-color--light-coral-d-50: #{color.adjust( $css-color--light-coral, $lightness: -50% )};
$css-color--light-coral-d-55: #{color.adjust( $css-color--light-coral, $lightness: -55% )};
$css-color--light-coral-d-60: #{color.adjust( $css-color--light-coral, $lightness: -60% )};
$css-color--light-coral-d-65: #{color.adjust( $css-color--light-coral, $lightness: -65% )};
$css-color--light-coral-d-70: #{color.adjust( $css-color--light-coral, $lightness: -70% )};
$css-color--light-coral-d-75: #{color.adjust( $css-color--light-coral, $lightness: -75% )};
$css-color--light-coral-d-80: #{color.adjust( $css-color--light-coral, $lightness: -80% )};
$css-color--light-coral-d-85: #{color.adjust( $css-color--light-coral, $lightness: -85% )};
$css-color--light-coral-d-90: #{color.adjust( $css-color--light-coral, $lightness: -90% )};
$css-color--light-coral-d-95: #{color.adjust( $css-color--light-coral, $lightness: -95% )};
$css-color--light-coral-d-100: #{color.adjust( $css-color--light-coral, $lightness: -100% )};

// Lighten background color by percentage.
$css-bg-color--light-coral-l-5: #{color.adjust( $css-color--light-coral, $lightness: 5% )};
$css-bg-color--light-coral-l-10: #{color.adjust( $css-color--light-coral, $lightness: 10% )};
$css-bg-color--light-coral-l-15: #{color.adjust( $css-color--light-coral, $lightness: 15% )};
$css-bg-color--light-coral-l-20: #{color.adjust( $css-color--light-coral, $lightness: 20% )};
$css-bg-color--light-coral-l-25: #{color.adjust( $css-color--light-coral, $lightness: 25% )};
$css-bg-color--light-coral-l-30: #{color.adjust( $css-color--light-coral, $lightness: 30% )};
$css-bg-color--light-coral-l-35: #{color.adjust( $css-color--light-coral, $lightness: 35% )};
$css-bg-color--light-coral-l-40: #{color.adjust( $css-color--light-coral, $lightness: 40% )};
$css-bg-color--light-coral-l-45: #{color.adjust( $css-color--light-coral, $lightness: 45% )};
$css-bg-color--light-coral-l-50: #{color.adjust( $css-color--light-coral, $lightness: 50% )};
$css-bg-color--light-coral-l-55: #{color.adjust( $css-color--light-coral, $lightness: 55% )};
$css-bg-color--light-coral-l-60: #{color.adjust( $css-color--light-coral, $lightness: 60% )};
$css-bg-color--light-coral-l-65: #{color.adjust( $css-color--light-coral, $lightness: 65% )};
$css-bg-color--light-coral-l-70: #{color.adjust( $css-color--light-coral, $lightness: 70% )};
$css-bg-color--light-coral-l-75: #{color.adjust( $css-color--light-coral, $lightness: 75% )};
$css-bg-color--light-coral-l-80: #{color.adjust( $css-color--light-coral, $lightness: 80% )};
$css-bg-color--light-coral-l-85: #{color.adjust( $css-color--light-coral, $lightness: 85% )};
$css-bg-color--light-coral-l-90: #{color.adjust( $css-color--light-coral, $lightness: 90% )};
$css-bg-color--light-coral-l-95: #{color.adjust( $css-color--light-coral, $lightness: 95% )};
$css-bg-color--light-coral-l-100: #{color.adjust( $css-color--light-coral, $lightness: 100% )};

// Darken background color by percentage.
$css-bg-color--light-coral-d-5: #{color.adjust( $css-color--light-coral, $lightness: -5% )};
$css-bg-color--light-coral-d-10: #{color.adjust( $css-color--light-coral, $lightness: -10% )};
$css-bg-color--light-coral-d-15: #{color.adjust( $css-color--light-coral, $lightness: -15% )};
$css-bg-color--light-coral-d-20: #{color.adjust( $css-color--light-coral, $lightness: -20% )};
$css-bg-color--light-coral-d-25: #{color.adjust( $css-color--light-coral, $lightness: -25% )};
$css-bg-color--light-coral-d-30: #{color.adjust( $css-color--light-coral, $lightness: -30% )};
$css-bg-color--light-coral-d-35: #{color.adjust( $css-color--light-coral, $lightness: -35% )};
$css-bg-color--light-coral-d-40: #{color.adjust( $css-color--light-coral, $lightness: -40% )};
$css-bg-color--light-coral-d-45: #{color.adjust( $css-color--light-coral, $lightness: -45% )};
$css-bg-color--light-coral-d-50: #{color.adjust( $css-color--light-coral, $lightness: -50% )};
$css-bg-color--light-coral-d-55: #{color.adjust( $css-color--light-coral, $lightness: -55% )};
$css-bg-color--light-coral-d-60: #{color.adjust( $css-color--light-coral, $lightness: -60% )};
$css-bg-color--light-coral-d-65: #{color.adjust( $css-color--light-coral, $lightness: -65% )};
$css-bg-color--light-coral-d-70: #{color.adjust( $css-color--light-coral, $lightness: -70% )};
$css-bg-color--light-coral-d-75: #{color.adjust( $css-color--light-coral, $lightness: -75% )};
$css-bg-color--light-coral-d-80: #{color.adjust( $css-color--light-coral, $lightness: -80% )};
$css-bg-color--light-coral-d-85: #{color.adjust( $css-color--light-coral, $lightness: -85% )};
$css-bg-color--light-coral-d-90: #{color.adjust( $css-color--light-coral, $lightness: -90% )};
$css-bg-color--light-coral-d-95: #{color.adjust( $css-color--light-coral, $lightness: -95% )};
$css-bg-color--light-coral-d-100: #{color.adjust( $css-color--light-coral, $lightness: -100% )};
