:root {
  --css-color--burnt-sienna: #993300;
  --css-color--burnt-sienna-l-5: rgb(153, 59.5, 12.75);
  --css-color--burnt-sienna-l-10: rgb(153, 68, 25.5);
  --css-color--burnt-sienna-l-15: rgb(153, 76.5, 38.25);
  --css-color--burnt-sienna-l-20: #995533;
  --css-color--burnt-sienna-l-25: rgb(153, 93.5, 63.75);
  --css-color--burnt-sienna-l-30: rgb(153, 102, 76.5);
  --css-color--burnt-sienna-l-35: rgb(153, 110.5, 89.25);
  --css-color--burnt-sienna-l-40: #997766;
  --css-color--burnt-sienna-l-45: rgb(153, 127.5, 114.75);
  --css-color--burnt-sienna-l-50: rgb(153, 136, 127.5);
  --css-color--burnt-sienna-l-55: rgb(153, 144.5, 140.25);
  --css-color--burnt-sienna-l-60: #999999;
  --css-color--burnt-sienna-l-65: rgb(157.8571428571, 157.8571428571, 157.8571428571);
  --css-color--burnt-sienna-l-70: rgb(162.2727272727, 162.2727272727, 162.2727272727);
  --css-color--burnt-sienna-l-75: rgb(166.3043478261, 166.3043478261, 166.3043478261);
  --css-color--burnt-sienna-l-80: #aaaaaa;
  --css-color--burnt-sienna-l-85: rgb(173.4, 173.4, 173.4);
  --css-color--burnt-sienna-l-90: rgb(176.5384615385, 176.5384615385, 176.5384615385);
  --css-color--burnt-sienna-l-95: rgb(179.4444444444, 179.4444444444, 179.4444444444);
  --css-color--burnt-sienna-l-100: rgb(182.1428571429, 182.1428571429, 182.1428571429);
  --css-color--burnt-sienna-d-5: rgb(140.25, 46.75, 0);
  --css-color--burnt-sienna-d-10: rgb(127.5, 42.5, 0);
  --css-color--burnt-sienna-d-15: rgb(114.75, 38.25, 0);
  --css-color--burnt-sienna-d-20: #662200;
  --css-color--burnt-sienna-d-25: rgb(89.25, 29.75, 0);
  --css-color--burnt-sienna-d-30: rgb(76.5, 25.5, 0);
  --css-color--burnt-sienna-d-35: rgb(63.75, 21.25, 0);
  --css-color--burnt-sienna-d-40: #331100;
  --css-color--burnt-sienna-d-45: rgb(38.25, 12.75, 0);
  --css-color--burnt-sienna-d-50: rgb(25.5, 8.5, 0);
  --css-color--burnt-sienna-d-55: rgb(12.75, 4.25, 0);
  --css-color--burnt-sienna-d-60: black;
  --css-color--burnt-sienna-d-65: black;
  --css-color--burnt-sienna-d-70: black;
  --css-color--burnt-sienna-d-75: black;
  --css-color--burnt-sienna-d-80: black;
  --css-color--burnt-sienna-d-85: black;
  --css-color--burnt-sienna-d-90: black;
  --css-color--burnt-sienna-d-95: black;
  --css-color--burnt-sienna-d-100: black;
  --css-bg-color--burnt-sienna: #993300;
  --css-bg-color--burnt-sienna-l-5: rgb(153, 59.5, 12.75);
  --css-bg-color--burnt-sienna-l-10: rgb(153, 68, 25.5);
  --css-bg-color--burnt-sienna-l-15: rgb(153, 76.5, 38.25);
  --css-bg-color--burnt-sienna-l-20: #995533;
  --css-bg-color--burnt-sienna-l-25: rgb(153, 93.5, 63.75);
  --css-bg-color--burnt-sienna-l-30: rgb(153, 102, 76.5);
  --css-bg-color--burnt-sienna-l-35: rgb(153, 110.5, 89.25);
  --css-bg-color--burnt-sienna-l-40: #997766;
  --css-bg-color--burnt-sienna-l-45: rgb(153, 127.5, 114.75);
  --css-bg-color--burnt-sienna-l-50: rgb(153, 136, 127.5);
  --css-bg-color--burnt-sienna-l-55: rgb(153, 144.5, 140.25);
  --css-bg-color--burnt-sienna-l-60: #999999;
  --css-bg-color--burnt-sienna-l-65: rgb(157.8571428571, 157.8571428571, 157.8571428571);
  --css-bg-color--burnt-sienna-l-70: rgb(162.2727272727, 162.2727272727, 162.2727272727);
  --css-bg-color--burnt-sienna-l-75: rgb(166.3043478261, 166.3043478261, 166.3043478261);
  --css-bg-color--burnt-sienna-l-80: #aaaaaa;
  --css-bg-color--burnt-sienna-l-85: rgb(173.4, 173.4, 173.4);
  --css-bg-color--burnt-sienna-l-90: rgb(176.5384615385, 176.5384615385, 176.5384615385);
  --css-bg-color--burnt-sienna-l-95: rgb(179.4444444444, 179.4444444444, 179.4444444444);
  --css-bg-color--burnt-sienna-l-100: rgb(182.1428571429, 182.1428571429, 182.1428571429);
  --css-bg-color--burnt-sienna-d-5: rgb(140.25, 46.75, 0);
  --css-bg-color--burnt-sienna-d-10: rgb(127.5, 42.5, 0);
  --css-bg-color--burnt-sienna-d-15: rgb(114.75, 38.25, 0);
  --css-bg-color--burnt-sienna-d-20: #662200;
  --css-bg-color--burnt-sienna-d-25: rgb(89.25, 29.75, 0);
  --css-bg-color--burnt-sienna-d-30: rgb(76.5, 25.5, 0);
  --css-bg-color--burnt-sienna-d-35: rgb(63.75, 21.25, 0);
  --css-bg-color--burnt-sienna-d-40: #331100;
  --css-bg-color--burnt-sienna-d-45: rgb(38.25, 12.75, 0);
  --css-bg-color--burnt-sienna-d-50: rgb(25.5, 8.5, 0);
  --css-bg-color--burnt-sienna-d-55: rgb(12.75, 4.25, 0);
  --css-bg-color--burnt-sienna-d-60: black;
  --css-bg-color--burnt-sienna-d-65: black;
  --css-bg-color--burnt-sienna-d-70: black;
  --css-bg-color--burnt-sienna-d-75: black;
  --css-bg-color--burnt-sienna-d-80: black;
  --css-bg-color--burnt-sienna-d-85: black;
  --css-bg-color--burnt-sienna-d-90: black;
  --css-bg-color--burnt-sienna-d-95: black;
  --css-bg-color--burnt-sienna-d-100: black;
}

.css-color--burnt-sienna {
  color: var(--css-color--burnt-sienna, #993300);
}

.css-color--burnt-sienna-l-5 {
  color: var(--css-color--burnt-sienna-l-5, rgb(153, 59.5, 12.75));
}

.css-color--burnt-sienna-l-10 {
  color: var(--css-color--burnt-sienna-l-10, rgb(153, 68, 25.5));
}

.css-color--burnt-sienna-l-15 {
  color: var(--css-color--burnt-sienna-l-15, rgb(153, 76.5, 38.25));
}

.css-color--burnt-sienna-l-20 {
  color: var(--css-color--burnt-sienna-l-20, #995533);
}

.css-color--burnt-sienna-l-25 {
  color: var(--css-color--burnt-sienna-l-25, rgb(153, 93.5, 63.75));
}

.css-color--burnt-sienna-l-30 {
  color: var(--css-color--burnt-sienna-l-30, rgb(153, 102, 76.5));
}

.css-color--burnt-sienna-l-35 {
  color: var(--css-color--burnt-sienna-l-35, rgb(153, 110.5, 89.25));
}

.css-color--burnt-sienna-l-40 {
  color: var(--css-color--burnt-sienna-l-40, #997766);
}

.css-color--burnt-sienna-l-45 {
  color: var(--css-color--burnt-sienna-l-45, rgb(153, 127.5, 114.75));
}

.css-color--burnt-sienna-l-50 {
  color: var(--css-color--burnt-sienna-l-50, rgb(153, 136, 127.5));
}

.css-color--burnt-sienna-l-55 {
  color: var(--css-color--burnt-sienna-l-55, rgb(153, 144.5, 140.25));
}

.css-color--burnt-sienna-l-60 {
  color: var(--css-color--burnt-sienna-l-60, #999999);
}

.css-color--burnt-sienna-l-65 {
  color: var(--css-color--burnt-sienna-l-65, rgb(157.8571428571, 157.8571428571, 157.8571428571));
}

.css-color--burnt-sienna-l-70 {
  color: var(--css-color--burnt-sienna-l-70, rgb(162.2727272727, 162.2727272727, 162.2727272727));
}

.css-color--burnt-sienna-l-75 {
  color: var(--css-color--burnt-sienna-l-75, rgb(166.3043478261, 166.3043478261, 166.3043478261));
}

.css-color--burnt-sienna-l-80 {
  color: var(--css-color--burnt-sienna-l-80, #aaaaaa);
}

.css-color--burnt-sienna-l-85 {
  color: var(--css-color--burnt-sienna-l-85, rgb(173.4, 173.4, 173.4));
}

.css-color--burnt-sienna-l-90 {
  color: var(--css-color--burnt-sienna-l-90, rgb(176.5384615385, 176.5384615385, 176.5384615385));
}

.css-color--burnt-sienna-l-95 {
  color: var(--css-color--burnt-sienna-l-95, rgb(179.4444444444, 179.4444444444, 179.4444444444));
}

.css-color--burnt-sienna-l-100 {
  color: var(--css-color--burnt-sienna-l-100, rgb(182.1428571429, 182.1428571429, 182.1428571429));
}

.css-color--burnt-sienna-d-5 {
  color: var(--css-color--burnt-sienna-d-5, rgb(140.25, 46.75, 0));
}

.css-color--burnt-sienna-d-10 {
  color: var(--css-color--burnt-sienna-d-10, rgb(127.5, 42.5, 0));
}

.css-color--burnt-sienna-d-15 {
  color: var(--css-color--burnt-sienna-d-15, rgb(114.75, 38.25, 0));
}

.css-color--burnt-sienna-d-20 {
  color: var(--css-color--burnt-sienna-d-20, #662200);
}

.css-color--burnt-sienna-d-25 {
  color: var(--css-color--burnt-sienna-d-25, rgb(89.25, 29.75, 0));
}

.css-color--burnt-sienna-d-30 {
  color: var(--css-color--burnt-sienna-d-30, rgb(76.5, 25.5, 0));
}

.css-color--burnt-sienna-d-35 {
  color: var(--css-color--burnt-sienna-d-35, rgb(63.75, 21.25, 0));
}

.css-color--burnt-sienna-d-40 {
  color: var(--css-color--burnt-sienna-d-40, #331100);
}

.css-color--burnt-sienna-d-45 {
  color: var(--css-color--burnt-sienna-d-45, rgb(38.25, 12.75, 0));
}

.css-color--burnt-sienna-d-50 {
  color: var(--css-color--burnt-sienna-d-50, rgb(25.5, 8.5, 0));
}

.css-color--burnt-sienna-d-55 {
  color: var(--css-color--burnt-sienna-d-55, rgb(12.75, 4.25, 0));
}

.css-color--burnt-sienna-d-60 {
  color: var(--css-color--burnt-sienna-d-60, black);
}

.css-color--burnt-sienna-d-65 {
  color: var(--css-color--burnt-sienna-d-65, black);
}

.css-color--burnt-sienna-d-70 {
  color: var(--css-color--burnt-sienna-d-70, black);
}

.css-color--burnt-sienna-d-75 {
  color: var(--css-color--burnt-sienna-d-75, black);
}

.css-color--burnt-sienna-d-80 {
  color: var(--css-color--burnt-sienna-d-80, black);
}

.css-color--burnt-sienna-d-85 {
  color: var(--css-color--burnt-sienna-d-85, black);
}

.css-color--burnt-sienna-d-90 {
  color: var(--css-color--burnt-sienna-d-90, black);
}

.css-color--burnt-sienna-d-95 {
  color: var(--css-color--burnt-sienna-d-95, black);
}

.css-color--burnt-sienna-d-100 {
  color: var(--css-color--burnt-sienna-d-100, black);
}

.css-bg-color--burnt-sienna {
  background-color: var(--css-color--burnt-sienna, #993300);
}

.css-bg-color--burnt-sienna-l-5 {
  background-color: var(--css-bg-color--burnt-sienna-l-5, rgb(153, 59.5, 12.75));
}

.css-bg-color--burnt-sienna-l-10 {
  background-color: var(--css-bg-color--burnt-sienna-l-10, rgb(153, 68, 25.5));
}

.css-bg-color--burnt-sienna-l-15 {
  background-color: var(--css-bg-color--burnt-sienna-l-15, rgb(153, 76.5, 38.25));
}

.css-bg-color--burnt-sienna-l-20 {
  background-color: var(--css-bg-color--burnt-sienna-l-20, #995533);
}

.css-bg-color--burnt-sienna-l-25 {
  background-color: var(--css-bg-color--burnt-sienna-l-25, rgb(153, 93.5, 63.75));
}

.css-bg-color--burnt-sienna-l-30 {
  background-color: var(--css-bg-color--burnt-sienna-l-30, rgb(153, 102, 76.5));
}

.css-bg-color--burnt-sienna-l-35 {
  background-color: var(--css-bg-color--burnt-sienna-l-35, rgb(153, 110.5, 89.25));
}

.css-bg-color--burnt-sienna-l-40 {
  background-color: var(--css-bg-color--burnt-sienna-l-40, #997766);
}

.css-bg-color--burnt-sienna-l-45 {
  background-color: var(--css-bg-color--burnt-sienna-l-45, rgb(153, 127.5, 114.75));
}

.css-bg-color--burnt-sienna-l-50 {
  background-color: var(--css-bg-color--burnt-sienna-l-50, rgb(153, 136, 127.5));
}

.css-bg-color--burnt-sienna-l-55 {
  background-color: var(--css-bg-color--burnt-sienna-l-55, rgb(153, 144.5, 140.25));
}

.css-bg-color--burnt-sienna-l-60 {
  background-color: var(--css-bg-color--burnt-sienna-l-60, #999999);
}

.css-bg-color--burnt-sienna-l-65 {
  background-color: var(--css-bg-color--burnt-sienna-l-65, rgb(157.8571428571, 157.8571428571, 157.8571428571));
}

.css-bg-color--burnt-sienna-l-70 {
  background-color: var(--css-bg-color--burnt-sienna-l-70, rgb(162.2727272727, 162.2727272727, 162.2727272727));
}

.css-bg-color--burnt-sienna-l-75 {
  background-color: var(--css-bg-color--burnt-sienna-l-75, rgb(166.3043478261, 166.3043478261, 166.3043478261));
}

.css-bg-color--burnt-sienna-l-80 {
  background-color: var(--css-bg-color--burnt-sienna-l-80, #aaaaaa);
}

.css-bg-color--burnt-sienna-l-85 {
  background-color: var(--css-bg-color--burnt-sienna-l-85, rgb(173.4, 173.4, 173.4));
}

.css-bg-color--burnt-sienna-l-90 {
  background-color: var(--css-bg-color--burnt-sienna-l-90, rgb(176.5384615385, 176.5384615385, 176.5384615385));
}

.css-bg-color--burnt-sienna-l-95 {
  background-color: var(--css-bg-color--burnt-sienna-l-95, rgb(179.4444444444, 179.4444444444, 179.4444444444));
}

.css-bg-color--burnt-sienna-l-100 {
  background-color: var(--css-bg-color--burnt-sienna-l-100, rgb(182.1428571429, 182.1428571429, 182.1428571429));
}

.css-bg-color--burnt-sienna-d-5 {
  background-color: var(--css-bg-color--burnt-sienna-d-5, rgb(140.25, 46.75, 0));
}

.css-bg-color--burnt-sienna-d-10 {
  background-color: var(--css-bg-color--burnt-sienna-d-10, rgb(127.5, 42.5, 0));
}

.css-bg-color--burnt-sienna-d-15 {
  background-color: var(--css-bg-color--burnt-sienna-d-15, rgb(114.75, 38.25, 0));
}

.css-bg-color--burnt-sienna-d-20 {
  background-color: var(--css-bg-color--burnt-sienna-d-20, #662200);
}

.css-bg-color--burnt-sienna-d-25 {
  background-color: var(--css-bg-color--burnt-sienna-d-25, rgb(89.25, 29.75, 0));
}

.css-bg-color--burnt-sienna-d-30 {
  background-color: var(--css-bg-color--burnt-sienna-d-30, rgb(76.5, 25.5, 0));
}

.css-bg-color--burnt-sienna-d-35 {
  background-color: var(--css-bg-color--burnt-sienna-d-35, rgb(63.75, 21.25, 0));
}

.css-bg-color--burnt-sienna-d-40 {
  background-color: var(--css-bg-color--burnt-sienna-d-40, #331100);
}

.css-bg-color--burnt-sienna-d-45 {
  background-color: var(--css-bg-color--burnt-sienna-d-45, rgb(38.25, 12.75, 0));
}

.css-bg-color--burnt-sienna-d-50 {
  background-color: var(--css-bg-color--burnt-sienna-d-50, rgb(25.5, 8.5, 0));
}

.css-bg-color--burnt-sienna-d-55 {
  background-color: var(--css-bg-color--burnt-sienna-d-55, rgb(12.75, 4.25, 0));
}

.css-bg-color--burnt-sienna-d-60 {
  background-color: var(--css-bg-color--burnt-sienna-d-60, black);
}

.css-bg-color--burnt-sienna-d-65 {
  background-color: var(--css-bg-color--burnt-sienna-d-65, black);
}

.css-bg-color--burnt-sienna-d-70 {
  background-color: var(--css-bg-color--burnt-sienna-d-70, black);
}

.css-bg-color--burnt-sienna-d-75 {
  background-color: var(--css-bg-color--burnt-sienna-d-75, black);
}

.css-bg-color--burnt-sienna-d-80 {
  background-color: var(--css-bg-color--burnt-sienna-d-80, black);
}

.css-bg-color--burnt-sienna-d-85 {
  background-color: var(--css-bg-color--burnt-sienna-d-85, black);
}

.css-bg-color--burnt-sienna-d-90 {
  background-color: var(--css-bg-color--burnt-sienna-d-90, black);
}

.css-bg-color--burnt-sienna-d-95 {
  background-color: var(--css-bg-color--burnt-sienna-d-95, black);
}

.css-bg-color--burnt-sienna-d-100 {
  background-color: var(--css-bg-color--burnt-sienna-d-100, black);
}