///
/// Amethyst properties
///

@import '_variables';

:root {

	// Original color.
	--css-color--amethyst: #{$css-color--amethyst};

	// Lighten color by percentage.
	--css-color--amethyst-l-5: #{$css-color--amethyst-l-5};
	--css-color--amethyst-l-10: #{$css-color--amethyst-l-10};
	--css-color--amethyst-l-15: #{$css-color--amethyst-l-15};
	--css-color--amethyst-l-20: #{$css-color--amethyst-l-20};
	--css-color--amethyst-l-25: #{$css-color--amethyst-l-25};
	--css-color--amethyst-l-30: #{$css-color--amethyst-l-30};
	--css-color--amethyst-l-35: #{$css-color--amethyst-l-35};
	--css-color--amethyst-l-40: #{$css-color--amethyst-l-40};
	--css-color--amethyst-l-45: #{$css-color--amethyst-l-45};
	--css-color--amethyst-l-50: #{$css-color--amethyst-l-50};
	--css-color--amethyst-l-55: #{$css-color--amethyst-l-55};
	--css-color--amethyst-l-60: #{$css-color--amethyst-l-60};
	--css-color--amethyst-l-65: #{$css-color--amethyst-l-65};
	--css-color--amethyst-l-70: #{$css-color--amethyst-l-70};
	--css-color--amethyst-l-75: #{$css-color--amethyst-l-75};
	--css-color--amethyst-l-80: #{$css-color--amethyst-l-80};
	--css-color--amethyst-l-85: #{$css-color--amethyst-l-85};
	--css-color--amethyst-l-90: #{$css-color--amethyst-l-90};
	--css-color--amethyst-l-95: #{$css-color--amethyst-l-95};
	--css-color--amethyst-l-100: #{$css-color--amethyst-l-100};

	// Darken color by percentage.
	--css-color--amethyst-d-5: #{$css-color--amethyst-d-5};
	--css-color--amethyst-d-10: #{$css-color--amethyst-d-10};
	--css-color--amethyst-d-15: #{$css-color--amethyst-d-15};
	--css-color--amethyst-d-20: #{$css-color--amethyst-d-20};
	--css-color--amethyst-d-25: #{$css-color--amethyst-d-25};
	--css-color--amethyst-d-30: #{$css-color--amethyst-d-30};
	--css-color--amethyst-d-35: #{$css-color--amethyst-d-35};
	--css-color--amethyst-d-40: #{$css-color--amethyst-d-40};
	--css-color--amethyst-d-45: #{$css-color--amethyst-d-45};
	--css-color--amethyst-d-50: #{$css-color--amethyst-d-50};
	--css-color--amethyst-d-55: #{$css-color--amethyst-d-55};
	--css-color--amethyst-d-60: #{$css-color--amethyst-d-60};
	--css-color--amethyst-d-65: #{$css-color--amethyst-d-65};
	--css-color--amethyst-d-70: #{$css-color--amethyst-d-70};
	--css-color--amethyst-d-75: #{$css-color--amethyst-d-75};
	--css-color--amethyst-d-80: #{$css-color--amethyst-d-80};
	--css-color--amethyst-d-85: #{$css-color--amethyst-d-85};
	--css-color--amethyst-d-90: #{$css-color--amethyst-d-90};
	--css-color--amethyst-d-95: #{$css-color--amethyst-d-95};
	--css-color--amethyst-d-100: #{$css-color--amethyst-d-100};

	// Original background color.
	--css-bg-color--amethyst: #{$css-color--amethyst};

	// Lighten background color by percentage.
	--css-bg-color--amethyst-l-5: #{$css-color--amethyst-l-5};
	--css-bg-color--amethyst-l-10: #{$css-color--amethyst-l-10};
	--css-bg-color--amethyst-l-15: #{$css-color--amethyst-l-15};
	--css-bg-color--amethyst-l-20: #{$css-color--amethyst-l-20};
	--css-bg-color--amethyst-l-25: #{$css-color--amethyst-l-25};
	--css-bg-color--amethyst-l-30: #{$css-color--amethyst-l-30};
	--css-bg-color--amethyst-l-35: #{$css-color--amethyst-l-35};
	--css-bg-color--amethyst-l-40: #{$css-color--amethyst-l-40};
	--css-bg-color--amethyst-l-45: #{$css-color--amethyst-l-45};
	--css-bg-color--amethyst-l-50: #{$css-color--amethyst-l-50};
	--css-bg-color--amethyst-l-55: #{$css-color--amethyst-l-55};
	--css-bg-color--amethyst-l-60: #{$css-color--amethyst-l-60};
	--css-bg-color--amethyst-l-65: #{$css-color--amethyst-l-65};
	--css-bg-color--amethyst-l-70: #{$css-color--amethyst-l-70};
	--css-bg-color--amethyst-l-75: #{$css-color--amethyst-l-75};
	--css-bg-color--amethyst-l-80: #{$css-color--amethyst-l-80};
	--css-bg-color--amethyst-l-85: #{$css-color--amethyst-l-85};
	--css-bg-color--amethyst-l-90: #{$css-color--amethyst-l-90};
	--css-bg-color--amethyst-l-95: #{$css-color--amethyst-l-95};
	--css-bg-color--amethyst-l-100: #{$css-color--amethyst-l-100};

	// Darken background color by percentage.
	--css-bg-color--amethyst-d-5: #{$css-color--amethyst-d-5};
	--css-bg-color--amethyst-d-10: #{$css-color--amethyst-d-10};
	--css-bg-color--amethyst-d-15: #{$css-color--amethyst-d-15};
	--css-bg-color--amethyst-d-20: #{$css-color--amethyst-d-20};
	--css-bg-color--amethyst-d-25: #{$css-color--amethyst-d-25};
	--css-bg-color--amethyst-d-30: #{$css-color--amethyst-d-30};
	--css-bg-color--amethyst-d-35: #{$css-color--amethyst-d-35};
	--css-bg-color--amethyst-d-40: #{$css-color--amethyst-d-40};
	--css-bg-color--amethyst-d-45: #{$css-color--amethyst-d-45};
	--css-bg-color--amethyst-d-50: #{$css-color--amethyst-d-50};
	--css-bg-color--amethyst-d-55: #{$css-color--amethyst-d-55};
	--css-bg-color--amethyst-d-60: #{$css-color--amethyst-d-60};
	--css-bg-color--amethyst-d-65: #{$css-color--amethyst-d-65};
	--css-bg-color--amethyst-d-70: #{$css-color--amethyst-d-70};
	--css-bg-color--amethyst-d-75: #{$css-color--amethyst-d-75};
	--css-bg-color--amethyst-d-80: #{$css-color--amethyst-d-80};
	--css-bg-color--amethyst-d-85: #{$css-color--amethyst-d-85};
	--css-bg-color--amethyst-d-90: #{$css-color--amethyst-d-90};
	--css-bg-color--amethyst-d-95: #{$css-color--amethyst-d-95};
	--css-bg-color--amethyst-d-100: #{$css-color--amethyst-d-100};
}
