///
/// Flat UI color palette
///

@use 'modules/colors';
@use 'partials/vars';

// Palette classes.
.#{colors.$palette} {
	@each $name, $color in colors.$array {

		&.#{$name} {
			color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{colors.$palette}--#{$name} );
					text-fill-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{colors.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{colors.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{colors.$palette}--#{$name} );
		}
	}
}
