:host,
:root {
  --skc--flat-ui--turquoise: #1abc9c;
  --skc--flat-ui--green-sea: #16a085;
  --skc--flat-ui--emerald: #2ecc71;
  --skc--flat-ui--nephritis: #27ae60;
  --skc--flat-ui--peter-river: #3498db;
  --skc--flat-ui--belize-hole: #2980b9;
  --skc--flat-ui--amethyst: #9b59b6;
  --skc--flat-ui--wisteria: #8e44ad;
  --skc--flat-ui--wet-asphalt: #34495e;
  --skc--flat-ui--midnight-blue: #2c3e50;
  --skc--flat-ui--sunflower: #f1c40f;
  --skc--flat-ui--orange: #f39c12;
  --skc--flat-ui--carrot: #e67e22;
  --skc--flat-ui--pumpkin: #d35400;
  --skc--flat-ui--alizarin: #e74c3c;
  --skc--flat-ui--pomegranate: #c0392b;
  --skc--flat-ui--clouds: #ecf0f1;
  --skc--flat-ui--silver: #bdc3c7;
  --skc--flat-ui--concrete: #95a5a6;
  --skc--flat-ui--asbestos: #7f8c8d;
}

.flat-ui.turquoise {
  color: var(--skc--flat-ui--turquoise);
}
.flat-ui.turquoise-bg {
  background-color: var(--skc--flat-ui--turquoise);
}
.flat-ui.turquoise-br {
  border-color: var(--skc--flat-ui--turquoise);
}
.flat-ui.green-sea {
  color: var(--skc--flat-ui--green-sea);
}
.flat-ui.green-sea-bg {
  background-color: var(--skc--flat-ui--green-sea);
}
.flat-ui.green-sea-br {
  border-color: var(--skc--flat-ui--green-sea);
}
.flat-ui.emerald {
  color: var(--skc--flat-ui--emerald);
}
.flat-ui.emerald-bg {
  background-color: var(--skc--flat-ui--emerald);
}
.flat-ui.emerald-br {
  border-color: var(--skc--flat-ui--emerald);
}
.flat-ui.nephritis {
  color: var(--skc--flat-ui--nephritis);
}
.flat-ui.nephritis-bg {
  background-color: var(--skc--flat-ui--nephritis);
}
.flat-ui.nephritis-br {
  border-color: var(--skc--flat-ui--nephritis);
}
.flat-ui.peter-river {
  color: var(--skc--flat-ui--peter-river);
}
.flat-ui.peter-river-bg {
  background-color: var(--skc--flat-ui--peter-river);
}
.flat-ui.peter-river-br {
  border-color: var(--skc--flat-ui--peter-river);
}
.flat-ui.belize-hole {
  color: var(--skc--flat-ui--belize-hole);
}
.flat-ui.belize-hole-bg {
  background-color: var(--skc--flat-ui--belize-hole);
}
.flat-ui.belize-hole-br {
  border-color: var(--skc--flat-ui--belize-hole);
}
.flat-ui.amethyst {
  color: var(--skc--flat-ui--amethyst);
}
.flat-ui.amethyst-bg {
  background-color: var(--skc--flat-ui--amethyst);
}
.flat-ui.amethyst-br {
  border-color: var(--skc--flat-ui--amethyst);
}
.flat-ui.wisteria {
  color: var(--skc--flat-ui--wisteria);
}
.flat-ui.wisteria-bg {
  background-color: var(--skc--flat-ui--wisteria);
}
.flat-ui.wisteria-br {
  border-color: var(--skc--flat-ui--wisteria);
}
.flat-ui.wet-asphalt {
  color: var(--skc--flat-ui--wet-asphalt);
}
.flat-ui.wet-asphalt-bg {
  background-color: var(--skc--flat-ui--wet-asphalt);
}
.flat-ui.wet-asphalt-br {
  border-color: var(--skc--flat-ui--wet-asphalt);
}
.flat-ui.midnight-blue {
  color: var(--skc--flat-ui--midnight-blue);
}
.flat-ui.midnight-blue-bg {
  background-color: var(--skc--flat-ui--midnight-blue);
}
.flat-ui.midnight-blue-br {
  border-color: var(--skc--flat-ui--midnight-blue);
}
.flat-ui.sunflower {
  color: var(--skc--flat-ui--sunflower);
}
.flat-ui.sunflower-bg {
  background-color: var(--skc--flat-ui--sunflower);
}
.flat-ui.sunflower-br {
  border-color: var(--skc--flat-ui--sunflower);
}
.flat-ui.orange {
  color: var(--skc--flat-ui--orange);
}
.flat-ui.orange-bg {
  background-color: var(--skc--flat-ui--orange);
}
.flat-ui.orange-br {
  border-color: var(--skc--flat-ui--orange);
}
.flat-ui.carrot {
  color: var(--skc--flat-ui--carrot);
}
.flat-ui.carrot-bg {
  background-color: var(--skc--flat-ui--carrot);
}
.flat-ui.carrot-br {
  border-color: var(--skc--flat-ui--carrot);
}
.flat-ui.pumpkin {
  color: var(--skc--flat-ui--pumpkin);
}
.flat-ui.pumpkin-bg {
  background-color: var(--skc--flat-ui--pumpkin);
}
.flat-ui.pumpkin-br {
  border-color: var(--skc--flat-ui--pumpkin);
}
.flat-ui.alizarin {
  color: var(--skc--flat-ui--alizarin);
}
.flat-ui.alizarin-bg {
  background-color: var(--skc--flat-ui--alizarin);
}
.flat-ui.alizarin-br {
  border-color: var(--skc--flat-ui--alizarin);
}
.flat-ui.pomegranate {
  color: var(--skc--flat-ui--pomegranate);
}
.flat-ui.pomegranate-bg {
  background-color: var(--skc--flat-ui--pomegranate);
}
.flat-ui.pomegranate-br {
  border-color: var(--skc--flat-ui--pomegranate);
}
.flat-ui.clouds {
  color: var(--skc--flat-ui--clouds);
}
.flat-ui.clouds-bg {
  background-color: var(--skc--flat-ui--clouds);
}
.flat-ui.clouds-br {
  border-color: var(--skc--flat-ui--clouds);
}
.flat-ui.silver {
  color: var(--skc--flat-ui--silver);
}
.flat-ui.silver-bg {
  background-color: var(--skc--flat-ui--silver);
}
.flat-ui.silver-br {
  border-color: var(--skc--flat-ui--silver);
}
.flat-ui.concrete {
  color: var(--skc--flat-ui--concrete);
}
.flat-ui.concrete-bg {
  background-color: var(--skc--flat-ui--concrete);
}
.flat-ui.concrete-br {
  border-color: var(--skc--flat-ui--concrete);
}
.flat-ui.asbestos {
  color: var(--skc--flat-ui--asbestos);
}
.flat-ui.asbestos-bg {
  background-color: var(--skc--flat-ui--asbestos);
}
.flat-ui.asbestos-br {
  border-color: var(--skc--flat-ui--asbestos);
}