///
/// Flat UI color palette
///

// Modules in the primary colors directory.
@use '../modules/functions' as f;

// Modules in the palette directory.
@use 'modules/colors' as c;

// CSS properties.
:host,
:root {
	@each $name, $color in c.$color_map {
		--skc--#{c.$palette}--#{$name}:     #{$color};
		--skc--#{c.$palette}--#{$name}-100: #{f.lighten( $color, 80% )};
		--skc--#{c.$palette}--#{$name}-200: #{f.lighten( $color, 60% )};
		--skc--#{c.$palette}--#{$name}-300: #{f.lighten( $color, 40% )};
		--skc--#{c.$palette}--#{$name}-400: #{f.lighten( $color, 20% )};
		--skc--#{c.$palette}--#{$name}-500: #{$color};
		--skc--#{c.$palette}--#{$name}-600: #{f.darken( $color, 20% )};
		--skc--#{c.$palette}--#{$name}-700: #{f.darken( $color, 40% )};
		--skc--#{c.$palette}--#{$name}-800: #{f.darken( $color, 60% )};
		--skc--#{c.$palette}--#{$name}-900: #{f.darken( $color, 80% )};
	}
}

// CSS classes.
.#{c.$palette} {

	@each $name, $value in c.$turquoise_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$green-sea_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$emerald_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$nephritis_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$peter-river_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$belize-hole_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$amethyst_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$wisteria_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$wet-asphalt_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$midnight-blue_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$sunflower_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$orange_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$carrot_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$pumpkin_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$alizarin_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$pomegranate_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$clouds_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$silver_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$concrete_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}

	@each $name, $value in c.$asbestos_map {
		&.#{$name} {
			color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-bg {
			background-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-decoration {
			text-decoration-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-emphasis {
			text-emphasis-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-accent {
			accent-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-caret {
			caret-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-border {
			border-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-outline {
			outline-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-rule {
			rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-column-rule {
			column-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-row-rule {
			row-rule-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-fill {
			fill: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-fill {
			-webkit-text-fill-color: var( --skc--#{c.$palette}--#{$name} );
					text-fill-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stroke {
			stroke: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-text-stroke {
			-webkit-text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
					text-stroke-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-flood {
			flood-color: var( --skc--#{c.$palette}--#{$name} );
		}
		&.#{$name}-stop {
			stop-color: var( --skc--#{c.$palette}--#{$name} );
		}
	}
}
