:root {
  --css-color--alloy-orange: #ff0000;
  --css-color--alloy-orange-l-5: rgb(255, 12.75, 12.75);
  --css-color--alloy-orange-l-10: rgb(255, 25.5, 25.5);
  --css-color--alloy-orange-l-15: rgb(255, 38.25, 38.25);
  --css-color--alloy-orange-l-20: #ff3333;
  --css-color--alloy-orange-l-25: rgb(255, 63.75, 63.75);
  --css-color--alloy-orange-l-30: rgb(255, 76.5, 76.5);
  --css-color--alloy-orange-l-35: rgb(255, 89.25, 89.25);
  --css-color--alloy-orange-l-40: #ff6666;
  --css-color--alloy-orange-l-45: rgb(255, 114.75, 114.75);
  --css-color--alloy-orange-l-50: rgb(255, 127.5, 127.5);
  --css-color--alloy-orange-l-55: rgb(255, 140.25, 140.25);
  --css-color--alloy-orange-l-60: #ff9999;
  --css-color--alloy-orange-l-65: rgb(255, 165.75, 165.75);
  --css-color--alloy-orange-l-70: rgb(255, 178.5, 178.5);
  --css-color--alloy-orange-l-75: rgb(255, 191.25, 191.25);
  --css-color--alloy-orange-l-80: #ffcccc;
  --css-color--alloy-orange-l-85: rgb(255, 216.75, 216.75);
  --css-color--alloy-orange-l-90: rgb(255, 229.5, 229.5);
  --css-color--alloy-orange-l-95: rgb(255, 242.25, 242.25);
  --css-color--alloy-orange-l-100: white;
  --css-color--alloy-orange-d-5: rgb(242.25, 0, 0);
  --css-color--alloy-orange-d-10: rgb(229.5, 0, 0);
  --css-color--alloy-orange-d-15: rgb(216.75, 0, 0);
  --css-color--alloy-orange-d-20: #cc0000;
  --css-color--alloy-orange-d-25: rgb(191.25, 0, 0);
  --css-color--alloy-orange-d-30: rgb(178.5, 0, 0);
  --css-color--alloy-orange-d-35: rgb(165.75, 0, 0);
  --css-color--alloy-orange-d-40: #990000;
  --css-color--alloy-orange-d-45: rgb(140.25, 0, 0);
  --css-color--alloy-orange-d-50: rgb(127.5, 0, 0);
  --css-color--alloy-orange-d-55: rgb(114.75, 0, 0);
  --css-color--alloy-orange-d-60: #660000;
  --css-color--alloy-orange-d-65: rgb(89.25, 0, 0);
  --css-color--alloy-orange-d-70: rgb(76.5, 0, 0);
  --css-color--alloy-orange-d-75: rgb(63.75, 0, 0);
  --css-color--alloy-orange-d-80: #330000;
  --css-color--alloy-orange-d-85: rgb(38.25, 0, 0);
  --css-color--alloy-orange-d-90: rgb(25.5, 0, 0);
  --css-color--alloy-orange-d-95: rgb(12.75, 0, 0);
  --css-color--alloy-orange-d-100: black;
  --css-bg-color--alloy-orange: #ff0000;
  --css-bg-color--alloy-orange-l-5: rgb(255, 12.75, 12.75);
  --css-bg-color--alloy-orange-l-10: rgb(255, 25.5, 25.5);
  --css-bg-color--alloy-orange-l-15: rgb(255, 38.25, 38.25);
  --css-bg-color--alloy-orange-l-20: #ff3333;
  --css-bg-color--alloy-orange-l-25: rgb(255, 63.75, 63.75);
  --css-bg-color--alloy-orange-l-30: rgb(255, 76.5, 76.5);
  --css-bg-color--alloy-orange-l-35: rgb(255, 89.25, 89.25);
  --css-bg-color--alloy-orange-l-40: #ff6666;
  --css-bg-color--alloy-orange-l-45: rgb(255, 114.75, 114.75);
  --css-bg-color--alloy-orange-l-50: rgb(255, 127.5, 127.5);
  --css-bg-color--alloy-orange-l-55: rgb(255, 140.25, 140.25);
  --css-bg-color--alloy-orange-l-60: #ff9999;
  --css-bg-color--alloy-orange-l-65: rgb(255, 165.75, 165.75);
  --css-bg-color--alloy-orange-l-70: rgb(255, 178.5, 178.5);
  --css-bg-color--alloy-orange-l-75: rgb(255, 191.25, 191.25);
  --css-bg-color--alloy-orange-l-80: #ffcccc;
  --css-bg-color--alloy-orange-l-85: rgb(255, 216.75, 216.75);
  --css-bg-color--alloy-orange-l-90: rgb(255, 229.5, 229.5);
  --css-bg-color--alloy-orange-l-95: rgb(255, 242.25, 242.25);
  --css-bg-color--alloy-orange-l-100: white;
  --css-bg-color--alloy-orange-d-5: rgb(242.25, 0, 0);
  --css-bg-color--alloy-orange-d-10: rgb(229.5, 0, 0);
  --css-bg-color--alloy-orange-d-15: rgb(216.75, 0, 0);
  --css-bg-color--alloy-orange-d-20: #cc0000;
  --css-bg-color--alloy-orange-d-25: rgb(191.25, 0, 0);
  --css-bg-color--alloy-orange-d-30: rgb(178.5, 0, 0);
  --css-bg-color--alloy-orange-d-35: rgb(165.75, 0, 0);
  --css-bg-color--alloy-orange-d-40: #990000;
  --css-bg-color--alloy-orange-d-45: rgb(140.25, 0, 0);
  --css-bg-color--alloy-orange-d-50: rgb(127.5, 0, 0);
  --css-bg-color--alloy-orange-d-55: rgb(114.75, 0, 0);
  --css-bg-color--alloy-orange-d-60: #660000;
  --css-bg-color--alloy-orange-d-65: rgb(89.25, 0, 0);
  --css-bg-color--alloy-orange-d-70: rgb(76.5, 0, 0);
  --css-bg-color--alloy-orange-d-75: rgb(63.75, 0, 0);
  --css-bg-color--alloy-orange-d-80: #330000;
  --css-bg-color--alloy-orange-d-85: rgb(38.25, 0, 0);
  --css-bg-color--alloy-orange-d-90: rgb(25.5, 0, 0);
  --css-bg-color--alloy-orange-d-95: rgb(12.75, 0, 0);
  --css-bg-color--alloy-orange-d-100: black;
}

.css-color--alloy-orange {
  color: var(--css-color--alloy-orange, #ff0000);
}

.css-color--alloy-orange-l-5 {
  color: var(--css-color--alloy-orange-l-5, rgb(255, 12.75, 12.75));
}

.css-color--alloy-orange-l-10 {
  color: var(--css-color--alloy-orange-l-10, rgb(255, 25.5, 25.5));
}

.css-color--alloy-orange-l-15 {
  color: var(--css-color--alloy-orange-l-15, rgb(255, 38.25, 38.25));
}

.css-color--alloy-orange-l-20 {
  color: var(--css-color--alloy-orange-l-20, #ff3333);
}

.css-color--alloy-orange-l-25 {
  color: var(--css-color--alloy-orange-l-25, rgb(255, 63.75, 63.75));
}

.css-color--alloy-orange-l-30 {
  color: var(--css-color--alloy-orange-l-30, rgb(255, 76.5, 76.5));
}

.css-color--alloy-orange-l-35 {
  color: var(--css-color--alloy-orange-l-35, rgb(255, 89.25, 89.25));
}

.css-color--alloy-orange-l-40 {
  color: var(--css-color--alloy-orange-l-40, #ff6666);
}

.css-color--alloy-orange-l-45 {
  color: var(--css-color--alloy-orange-l-45, rgb(255, 114.75, 114.75));
}

.css-color--alloy-orange-l-50 {
  color: var(--css-color--alloy-orange-l-50, rgb(255, 127.5, 127.5));
}

.css-color--alloy-orange-l-55 {
  color: var(--css-color--alloy-orange-l-55, rgb(255, 140.25, 140.25));
}

.css-color--alloy-orange-l-60 {
  color: var(--css-color--alloy-orange-l-60, #ff9999);
}

.css-color--alloy-orange-l-65 {
  color: var(--css-color--alloy-orange-l-65, rgb(255, 165.75, 165.75));
}

.css-color--alloy-orange-l-70 {
  color: var(--css-color--alloy-orange-l-70, rgb(255, 178.5, 178.5));
}

.css-color--alloy-orange-l-75 {
  color: var(--css-color--alloy-orange-l-75, rgb(255, 191.25, 191.25));
}

.css-color--alloy-orange-l-80 {
  color: var(--css-color--alloy-orange-l-80, #ffcccc);
}

.css-color--alloy-orange-l-85 {
  color: var(--css-color--alloy-orange-l-85, rgb(255, 216.75, 216.75));
}

.css-color--alloy-orange-l-90 {
  color: var(--css-color--alloy-orange-l-90, rgb(255, 229.5, 229.5));
}

.css-color--alloy-orange-l-95 {
  color: var(--css-color--alloy-orange-l-95, rgb(255, 242.25, 242.25));
}

.css-color--alloy-orange-l-100 {
  color: var(--css-color--alloy-orange-l-100, white);
}

.css-color--alloy-orange-d-5 {
  color: var(--css-color--alloy-orange-d-5, rgb(242.25, 0, 0));
}

.css-color--alloy-orange-d-10 {
  color: var(--css-color--alloy-orange-d-10, rgb(229.5, 0, 0));
}

.css-color--alloy-orange-d-15 {
  color: var(--css-color--alloy-orange-d-15, rgb(216.75, 0, 0));
}

.css-color--alloy-orange-d-20 {
  color: var(--css-color--alloy-orange-d-20, #cc0000);
}

.css-color--alloy-orange-d-25 {
  color: var(--css-color--alloy-orange-d-25, rgb(191.25, 0, 0));
}

.css-color--alloy-orange-d-30 {
  color: var(--css-color--alloy-orange-d-30, rgb(178.5, 0, 0));
}

.css-color--alloy-orange-d-35 {
  color: var(--css-color--alloy-orange-d-35, rgb(165.75, 0, 0));
}

.css-color--alloy-orange-d-40 {
  color: var(--css-color--alloy-orange-d-40, #990000);
}

.css-color--alloy-orange-d-45 {
  color: var(--css-color--alloy-orange-d-45, rgb(140.25, 0, 0));
}

.css-color--alloy-orange-d-50 {
  color: var(--css-color--alloy-orange-d-50, rgb(127.5, 0, 0));
}

.css-color--alloy-orange-d-55 {
  color: var(--css-color--alloy-orange-d-55, rgb(114.75, 0, 0));
}

.css-color--alloy-orange-d-60 {
  color: var(--css-color--alloy-orange-d-60, #660000);
}

.css-color--alloy-orange-d-65 {
  color: var(--css-color--alloy-orange-d-65, rgb(89.25, 0, 0));
}

.css-color--alloy-orange-d-70 {
  color: var(--css-color--alloy-orange-d-70, rgb(76.5, 0, 0));
}

.css-color--alloy-orange-d-75 {
  color: var(--css-color--alloy-orange-d-75, rgb(63.75, 0, 0));
}

.css-color--alloy-orange-d-80 {
  color: var(--css-color--alloy-orange-d-80, #330000);
}

.css-color--alloy-orange-d-85 {
  color: var(--css-color--alloy-orange-d-85, rgb(38.25, 0, 0));
}

.css-color--alloy-orange-d-90 {
  color: var(--css-color--alloy-orange-d-90, rgb(25.5, 0, 0));
}

.css-color--alloy-orange-d-95 {
  color: var(--css-color--alloy-orange-d-95, rgb(12.75, 0, 0));
}

.css-color--alloy-orange-d-100 {
  color: var(--css-color--alloy-orange-d-100, black);
}

.css-bg-color--alloy-orange {
  background-color: var(--css-color--alloy-orange, #ff0000);
}

.css-bg-color--alloy-orange-l-5 {
  background-color: var(--css-bg-color--alloy-orange-l-5, rgb(255, 12.75, 12.75));
}

.css-bg-color--alloy-orange-l-10 {
  background-color: var(--css-bg-color--alloy-orange-l-10, rgb(255, 25.5, 25.5));
}

.css-bg-color--alloy-orange-l-15 {
  background-color: var(--css-bg-color--alloy-orange-l-15, rgb(255, 38.25, 38.25));
}

.css-bg-color--alloy-orange-l-20 {
  background-color: var(--css-bg-color--alloy-orange-l-20, #ff3333);
}

.css-bg-color--alloy-orange-l-25 {
  background-color: var(--css-bg-color--alloy-orange-l-25, rgb(255, 63.75, 63.75));
}

.css-bg-color--alloy-orange-l-30 {
  background-color: var(--css-bg-color--alloy-orange-l-30, rgb(255, 76.5, 76.5));
}

.css-bg-color--alloy-orange-l-35 {
  background-color: var(--css-bg-color--alloy-orange-l-35, rgb(255, 89.25, 89.25));
}

.css-bg-color--alloy-orange-l-40 {
  background-color: var(--css-bg-color--alloy-orange-l-40, #ff6666);
}

.css-bg-color--alloy-orange-l-45 {
  background-color: var(--css-bg-color--alloy-orange-l-45, rgb(255, 114.75, 114.75));
}

.css-bg-color--alloy-orange-l-50 {
  background-color: var(--css-bg-color--alloy-orange-l-50, rgb(255, 127.5, 127.5));
}

.css-bg-color--alloy-orange-l-55 {
  background-color: var(--css-bg-color--alloy-orange-l-55, rgb(255, 140.25, 140.25));
}

.css-bg-color--alloy-orange-l-60 {
  background-color: var(--css-bg-color--alloy-orange-l-60, #ff9999);
}

.css-bg-color--alloy-orange-l-65 {
  background-color: var(--css-bg-color--alloy-orange-l-65, rgb(255, 165.75, 165.75));
}

.css-bg-color--alloy-orange-l-70 {
  background-color: var(--css-bg-color--alloy-orange-l-70, rgb(255, 178.5, 178.5));
}

.css-bg-color--alloy-orange-l-75 {
  background-color: var(--css-bg-color--alloy-orange-l-75, rgb(255, 191.25, 191.25));
}

.css-bg-color--alloy-orange-l-80 {
  background-color: var(--css-bg-color--alloy-orange-l-80, #ffcccc);
}

.css-bg-color--alloy-orange-l-85 {
  background-color: var(--css-bg-color--alloy-orange-l-85, rgb(255, 216.75, 216.75));
}

.css-bg-color--alloy-orange-l-90 {
  background-color: var(--css-bg-color--alloy-orange-l-90, rgb(255, 229.5, 229.5));
}

.css-bg-color--alloy-orange-l-95 {
  background-color: var(--css-bg-color--alloy-orange-l-95, rgb(255, 242.25, 242.25));
}

.css-bg-color--alloy-orange-l-100 {
  background-color: var(--css-bg-color--alloy-orange-l-100, white);
}

.css-bg-color--alloy-orange-d-5 {
  background-color: var(--css-bg-color--alloy-orange-d-5, rgb(242.25, 0, 0));
}

.css-bg-color--alloy-orange-d-10 {
  background-color: var(--css-bg-color--alloy-orange-d-10, rgb(229.5, 0, 0));
}

.css-bg-color--alloy-orange-d-15 {
  background-color: var(--css-bg-color--alloy-orange-d-15, rgb(216.75, 0, 0));
}

.css-bg-color--alloy-orange-d-20 {
  background-color: var(--css-bg-color--alloy-orange-d-20, #cc0000);
}

.css-bg-color--alloy-orange-d-25 {
  background-color: var(--css-bg-color--alloy-orange-d-25, rgb(191.25, 0, 0));
}

.css-bg-color--alloy-orange-d-30 {
  background-color: var(--css-bg-color--alloy-orange-d-30, rgb(178.5, 0, 0));
}

.css-bg-color--alloy-orange-d-35 {
  background-color: var(--css-bg-color--alloy-orange-d-35, rgb(165.75, 0, 0));
}

.css-bg-color--alloy-orange-d-40 {
  background-color: var(--css-bg-color--alloy-orange-d-40, #990000);
}

.css-bg-color--alloy-orange-d-45 {
  background-color: var(--css-bg-color--alloy-orange-d-45, rgb(140.25, 0, 0));
}

.css-bg-color--alloy-orange-d-50 {
  background-color: var(--css-bg-color--alloy-orange-d-50, rgb(127.5, 0, 0));
}

.css-bg-color--alloy-orange-d-55 {
  background-color: var(--css-bg-color--alloy-orange-d-55, rgb(114.75, 0, 0));
}

.css-bg-color--alloy-orange-d-60 {
  background-color: var(--css-bg-color--alloy-orange-d-60, #660000);
}

.css-bg-color--alloy-orange-d-65 {
  background-color: var(--css-bg-color--alloy-orange-d-65, rgb(89.25, 0, 0));
}

.css-bg-color--alloy-orange-d-70 {
  background-color: var(--css-bg-color--alloy-orange-d-70, rgb(76.5, 0, 0));
}

.css-bg-color--alloy-orange-d-75 {
  background-color: var(--css-bg-color--alloy-orange-d-75, rgb(63.75, 0, 0));
}

.css-bg-color--alloy-orange-d-80 {
  background-color: var(--css-bg-color--alloy-orange-d-80, #330000);
}

.css-bg-color--alloy-orange-d-85 {
  background-color: var(--css-bg-color--alloy-orange-d-85, rgb(38.25, 0, 0));
}

.css-bg-color--alloy-orange-d-90 {
  background-color: var(--css-bg-color--alloy-orange-d-90, rgb(25.5, 0, 0));
}

.css-bg-color--alloy-orange-d-95 {
  background-color: var(--css-bg-color--alloy-orange-d-95, rgb(12.75, 0, 0));
}

.css-bg-color--alloy-orange-d-100 {
  background-color: var(--css-bg-color--alloy-orange-d-100, black);
}