///
/// Chocolate Brown variables
///

@use 'sass:color';

$css-color--chocolate-brown: #663300;

// Lighten color by percentage.
$css-color--chocolate-brown-l-5: #{color.adjust( $css-color--chocolate-brown, $whiteness: 5% )};
$css-color--chocolate-brown-l-10: #{color.adjust( $css-color--chocolate-brown, $whiteness: 10% )};
$css-color--chocolate-brown-l-15: #{color.adjust( $css-color--chocolate-brown, $whiteness: 15% )};
$css-color--chocolate-brown-l-20: #{color.adjust( $css-color--chocolate-brown, $whiteness: 20% )};
$css-color--chocolate-brown-l-25: #{color.adjust( $css-color--chocolate-brown, $whiteness: 25% )};
$css-color--chocolate-brown-l-30: #{color.adjust( $css-color--chocolate-brown, $whiteness: 30% )};
$css-color--chocolate-brown-l-35: #{color.adjust( $css-color--chocolate-brown, $whiteness: 35% )};
$css-color--chocolate-brown-l-40: #{color.adjust( $css-color--chocolate-brown, $whiteness: 40% )};
$css-color--chocolate-brown-l-45: #{color.adjust( $css-color--chocolate-brown, $whiteness: 45% )};
$css-color--chocolate-brown-l-50: #{color.adjust( $css-color--chocolate-brown, $whiteness: 50% )};
$css-color--chocolate-brown-l-55: #{color.adjust( $css-color--chocolate-brown, $whiteness: 55% )};
$css-color--chocolate-brown-l-60: #{color.adjust( $css-color--chocolate-brown, $whiteness: 60% )};
$css-color--chocolate-brown-l-65: #{color.adjust( $css-color--chocolate-brown, $whiteness: 65% )};
$css-color--chocolate-brown-l-70: #{color.adjust( $css-color--chocolate-brown, $whiteness: 70% )};
$css-color--chocolate-brown-l-75: #{color.adjust( $css-color--chocolate-brown, $whiteness: 75% )};
$css-color--chocolate-brown-l-80: #{color.adjust( $css-color--chocolate-brown, $whiteness: 80% )};
$css-color--chocolate-brown-l-85: #{color.adjust( $css-color--chocolate-brown, $whiteness: 85% )};
$css-color--chocolate-brown-l-90: #{color.adjust( $css-color--chocolate-brown, $whiteness: 90% )};
$css-color--chocolate-brown-l-95: #{color.adjust( $css-color--chocolate-brown, $whiteness: 95% )};
$css-color--chocolate-brown-l-100: #{color.adjust( $css-color--chocolate-brown, $whiteness: 100% )};

// Darken color by percentage.
$css-color--chocolate-brown-d-5: #{color.adjust( $css-color--chocolate-brown, $blackness: 5% )};
$css-color--chocolate-brown-d-10: #{color.adjust( $css-color--chocolate-brown, $blackness: 10% )};
$css-color--chocolate-brown-d-15: #{color.adjust( $css-color--chocolate-brown, $blackness: 15% )};
$css-color--chocolate-brown-d-20: #{color.adjust( $css-color--chocolate-brown, $blackness: 20% )};
$css-color--chocolate-brown-d-25: #{color.adjust( $css-color--chocolate-brown, $blackness: 25% )};
$css-color--chocolate-brown-d-30: #{color.adjust( $css-color--chocolate-brown, $blackness: 30% )};
$css-color--chocolate-brown-d-35: #{color.adjust( $css-color--chocolate-brown, $blackness: 35% )};
$css-color--chocolate-brown-d-40: #{color.adjust( $css-color--chocolate-brown, $blackness: 40% )};
$css-color--chocolate-brown-d-45: #{color.adjust( $css-color--chocolate-brown, $blackness: 45% )};
$css-color--chocolate-brown-d-50: #{color.adjust( $css-color--chocolate-brown, $blackness: 50% )};
$css-color--chocolate-brown-d-55: #{color.adjust( $css-color--chocolate-brown, $blackness: 55% )};
$css-color--chocolate-brown-d-60: #{color.adjust( $css-color--chocolate-brown, $blackness: 60% )};
$css-color--chocolate-brown-d-65: #{color.adjust( $css-color--chocolate-brown, $blackness: 65% )};
$css-color--chocolate-brown-d-70: #{color.adjust( $css-color--chocolate-brown, $blackness: 70% )};
$css-color--chocolate-brown-d-75: #{color.adjust( $css-color--chocolate-brown, $blackness: 75% )};
$css-color--chocolate-brown-d-80: #{color.adjust( $css-color--chocolate-brown, $blackness: 80% )};
$css-color--chocolate-brown-d-85: #{color.adjust( $css-color--chocolate-brown, $blackness: 85% )};
$css-color--chocolate-brown-d-90: #{color.adjust( $css-color--chocolate-brown, $blackness: 90% )};
$css-color--chocolate-brown-d-95: #{color.adjust( $css-color--chocolate-brown, $blackness: 95% )};
$css-color--chocolate-brown-d-100: #{color.adjust( $css-color--chocolate-brown, $blackness: 100% )};

// Lighten background color by percentage.
$css-bg-color--chocolate-brown-l-5: #{color.adjust( $css-color--chocolate-brown, $whiteness: 5% )};
$css-bg-color--chocolate-brown-l-10: #{color.adjust( $css-color--chocolate-brown, $whiteness: 10% )};
$css-bg-color--chocolate-brown-l-15: #{color.adjust( $css-color--chocolate-brown, $whiteness: 15% )};
$css-bg-color--chocolate-brown-l-20: #{color.adjust( $css-color--chocolate-brown, $whiteness: 20% )};
$css-bg-color--chocolate-brown-l-25: #{color.adjust( $css-color--chocolate-brown, $whiteness: 25% )};
$css-bg-color--chocolate-brown-l-30: #{color.adjust( $css-color--chocolate-brown, $whiteness: 30% )};
$css-bg-color--chocolate-brown-l-35: #{color.adjust( $css-color--chocolate-brown, $whiteness: 35% )};
$css-bg-color--chocolate-brown-l-40: #{color.adjust( $css-color--chocolate-brown, $whiteness: 40% )};
$css-bg-color--chocolate-brown-l-45: #{color.adjust( $css-color--chocolate-brown, $whiteness: 45% )};
$css-bg-color--chocolate-brown-l-50: #{color.adjust( $css-color--chocolate-brown, $whiteness: 50% )};
$css-bg-color--chocolate-brown-l-55: #{color.adjust( $css-color--chocolate-brown, $whiteness: 55% )};
$css-bg-color--chocolate-brown-l-60: #{color.adjust( $css-color--chocolate-brown, $whiteness: 60% )};
$css-bg-color--chocolate-brown-l-65: #{color.adjust( $css-color--chocolate-brown, $whiteness: 65% )};
$css-bg-color--chocolate-brown-l-70: #{color.adjust( $css-color--chocolate-brown, $whiteness: 70% )};
$css-bg-color--chocolate-brown-l-75: #{color.adjust( $css-color--chocolate-brown, $whiteness: 75% )};
$css-bg-color--chocolate-brown-l-80: #{color.adjust( $css-color--chocolate-brown, $whiteness: 80% )};
$css-bg-color--chocolate-brown-l-85: #{color.adjust( $css-color--chocolate-brown, $whiteness: 85% )};
$css-bg-color--chocolate-brown-l-90: #{color.adjust( $css-color--chocolate-brown, $whiteness: 90% )};
$css-bg-color--chocolate-brown-l-95: #{color.adjust( $css-color--chocolate-brown, $whiteness: 95% )};
$css-bg-color--chocolate-brown-l-100: #{color.adjust( $css-color--chocolate-brown, $whiteness: 100% )};

// Darken background color by percentage.
$css-bg-color--chocolate-brown-d-5: #{color.adjust( $css-color--chocolate-brown, $blackness: 5% )};
$css-bg-color--chocolate-brown-d-10: #{color.adjust( $css-color--chocolate-brown, $blackness: 10% )};
$css-bg-color--chocolate-brown-d-15: #{color.adjust( $css-color--chocolate-brown, $blackness: 15% )};
$css-bg-color--chocolate-brown-d-20: #{color.adjust( $css-color--chocolate-brown, $blackness: 20% )};
$css-bg-color--chocolate-brown-d-25: #{color.adjust( $css-color--chocolate-brown, $blackness: 25% )};
$css-bg-color--chocolate-brown-d-30: #{color.adjust( $css-color--chocolate-brown, $blackness: 30% )};
$css-bg-color--chocolate-brown-d-35: #{color.adjust( $css-color--chocolate-brown, $blackness: 35% )};
$css-bg-color--chocolate-brown-d-40: #{color.adjust( $css-color--chocolate-brown, $blackness: 40% )};
$css-bg-color--chocolate-brown-d-45: #{color.adjust( $css-color--chocolate-brown, $blackness: 45% )};
$css-bg-color--chocolate-brown-d-50: #{color.adjust( $css-color--chocolate-brown, $blackness: 50% )};
$css-bg-color--chocolate-brown-d-55: #{color.adjust( $css-color--chocolate-brown, $blackness: 55% )};
$css-bg-color--chocolate-brown-d-60: #{color.adjust( $css-color--chocolate-brown, $blackness: 60% )};
$css-bg-color--chocolate-brown-d-65: #{color.adjust( $css-color--chocolate-brown, $blackness: 65% )};
$css-bg-color--chocolate-brown-d-70: #{color.adjust( $css-color--chocolate-brown, $blackness: 70% )};
$css-bg-color--chocolate-brown-d-75: #{color.adjust( $css-color--chocolate-brown, $blackness: 75% )};
$css-bg-color--chocolate-brown-d-80: #{color.adjust( $css-color--chocolate-brown, $blackness: 80% )};
$css-bg-color--chocolate-brown-d-85: #{color.adjust( $css-color--chocolate-brown, $blackness: 85% )};
$css-bg-color--chocolate-brown-d-90: #{color.adjust( $css-color--chocolate-brown, $blackness: 90% )};
$css-bg-color--chocolate-brown-d-95: #{color.adjust( $css-color--chocolate-brown, $blackness: 95% )};
$css-bg-color--chocolate-brown-d-100: #{color.adjust( $css-color--chocolate-brown, $blackness: 100% )};
