:host,
:root {
  --css-color--scarlet: #ff3300;
  --css-color--scarlet-l-5: rgb(255, 61.2, 12.75);
  --css-color--scarlet-l-10: rgb(255, 71.4, 25.5);
  --css-color--scarlet-l-15: rgb(255, 81.6, 38.25);
  --css-color--scarlet-l-20: rgb(255, 91.8, 51);
  --css-color--scarlet-l-25: rgb(255, 102, 63.75);
  --css-color--scarlet-l-30: rgb(255, 112.2, 76.5);
  --css-color--scarlet-l-35: rgb(255, 122.4, 89.25);
  --css-color--scarlet-l-40: rgb(255, 132.6, 102);
  --css-color--scarlet-l-45: rgb(255, 142.8, 114.75);
  --css-color--scarlet-l-50: rgb(255, 153, 127.5);
  --css-color--scarlet-l-55: rgb(255, 163.2, 140.25);
  --css-color--scarlet-l-60: rgb(255, 173.4, 153);
  --css-color--scarlet-l-65: rgb(255, 183.6, 165.75);
  --css-color--scarlet-l-70: rgb(255, 193.8, 178.5);
  --css-color--scarlet-l-75: rgb(255, 204, 191.25);
  --css-color--scarlet-l-80: rgb(255, 214.2, 204);
  --css-color--scarlet-l-85: rgb(255, 224.4, 216.75);
  --css-color--scarlet-l-90: rgb(255, 234.6, 229.5);
  --css-color--scarlet-l-95: rgb(255, 244.8, 242.25);
  --css-color--scarlet-l-100: white;
  --css-color--scarlet-d-5: rgb(242.25, 48.45, 0);
  --css-color--scarlet-d-10: rgb(229.5, 45.9, 0);
  --css-color--scarlet-d-15: rgb(216.75, 43.35, 0);
  --css-color--scarlet-d-20: rgb(204, 40.8, 0);
  --css-color--scarlet-d-25: rgb(191.25, 38.25, 0);
  --css-color--scarlet-d-30: rgb(178.5, 35.7, 0);
  --css-color--scarlet-d-35: rgb(165.75, 33.15, 0);
  --css-color--scarlet-d-40: rgb(153, 30.6, 0);
  --css-color--scarlet-d-45: rgb(140.25, 28.05, 0);
  --css-color--scarlet-d-50: rgb(127.5, 25.5, 0);
  --css-color--scarlet-d-55: rgb(114.75, 22.95, 0);
  --css-color--scarlet-d-60: rgb(102, 20.4, 0);
  --css-color--scarlet-d-65: rgb(89.25, 17.85, 0);
  --css-color--scarlet-d-70: rgb(76.5, 15.3, 0);
  --css-color--scarlet-d-75: rgb(63.75, 12.75, 0);
  --css-color--scarlet-d-80: rgb(51, 10.2, 0);
  --css-color--scarlet-d-85: rgb(38.25, 7.65, 0);
  --css-color--scarlet-d-90: rgb(25.5, 5.1, 0);
  --css-color--scarlet-d-95: rgb(12.75, 2.55, 0);
  --css-color--scarlet-d-100: black;
  --css-bg-color--scarlet: #ff3300;
  --css-bg-color--scarlet-l-5: rgb(255, 61.2, 12.75);
  --css-bg-color--scarlet-l-10: rgb(255, 71.4, 25.5);
  --css-bg-color--scarlet-l-15: rgb(255, 81.6, 38.25);
  --css-bg-color--scarlet-l-20: rgb(255, 91.8, 51);
  --css-bg-color--scarlet-l-25: rgb(255, 102, 63.75);
  --css-bg-color--scarlet-l-30: rgb(255, 112.2, 76.5);
  --css-bg-color--scarlet-l-35: rgb(255, 122.4, 89.25);
  --css-bg-color--scarlet-l-40: rgb(255, 132.6, 102);
  --css-bg-color--scarlet-l-45: rgb(255, 142.8, 114.75);
  --css-bg-color--scarlet-l-50: rgb(255, 153, 127.5);
  --css-bg-color--scarlet-l-55: rgb(255, 163.2, 140.25);
  --css-bg-color--scarlet-l-60: rgb(255, 173.4, 153);
  --css-bg-color--scarlet-l-65: rgb(255, 183.6, 165.75);
  --css-bg-color--scarlet-l-70: rgb(255, 193.8, 178.5);
  --css-bg-color--scarlet-l-75: rgb(255, 204, 191.25);
  --css-bg-color--scarlet-l-80: rgb(255, 214.2, 204);
  --css-bg-color--scarlet-l-85: rgb(255, 224.4, 216.75);
  --css-bg-color--scarlet-l-90: rgb(255, 234.6, 229.5);
  --css-bg-color--scarlet-l-95: rgb(255, 244.8, 242.25);
  --css-bg-color--scarlet-l-100: white;
  --css-bg-color--scarlet-d-5: rgb(242.25, 48.45, 0);
  --css-bg-color--scarlet-d-10: rgb(229.5, 45.9, 0);
  --css-bg-color--scarlet-d-15: rgb(216.75, 43.35, 0);
  --css-bg-color--scarlet-d-20: rgb(204, 40.8, 0);
  --css-bg-color--scarlet-d-25: rgb(191.25, 38.25, 0);
  --css-bg-color--scarlet-d-30: rgb(178.5, 35.7, 0);
  --css-bg-color--scarlet-d-35: rgb(165.75, 33.15, 0);
  --css-bg-color--scarlet-d-40: rgb(153, 30.6, 0);
  --css-bg-color--scarlet-d-45: rgb(140.25, 28.05, 0);
  --css-bg-color--scarlet-d-50: rgb(127.5, 25.5, 0);
  --css-bg-color--scarlet-d-55: rgb(114.75, 22.95, 0);
  --css-bg-color--scarlet-d-60: rgb(102, 20.4, 0);
  --css-bg-color--scarlet-d-65: rgb(89.25, 17.85, 0);
  --css-bg-color--scarlet-d-70: rgb(76.5, 15.3, 0);
  --css-bg-color--scarlet-d-75: rgb(63.75, 12.75, 0);
  --css-bg-color--scarlet-d-80: rgb(51, 10.2, 0);
  --css-bg-color--scarlet-d-85: rgb(38.25, 7.65, 0);
  --css-bg-color--scarlet-d-90: rgb(25.5, 5.1, 0);
  --css-bg-color--scarlet-d-95: rgb(12.75, 2.55, 0);
  --css-bg-color--scarlet-d-100: black;
}

.css-color--scarlet {
  color: var(--css-color--scarlet, #ff3300);
}

.css-color--scarlet-l-5 {
  color: var(--css-color--scarlet-l-5, rgb(255, 61.2, 12.75));
}

.css-color--scarlet-l-10 {
  color: var(--css-color--scarlet-l-10, rgb(255, 71.4, 25.5));
}

.css-color--scarlet-l-15 {
  color: var(--css-color--scarlet-l-15, rgb(255, 81.6, 38.25));
}

.css-color--scarlet-l-20 {
  color: var(--css-color--scarlet-l-20, rgb(255, 91.8, 51));
}

.css-color--scarlet-l-25 {
  color: var(--css-color--scarlet-l-25, rgb(255, 102, 63.75));
}

.css-color--scarlet-l-30 {
  color: var(--css-color--scarlet-l-30, rgb(255, 112.2, 76.5));
}

.css-color--scarlet-l-35 {
  color: var(--css-color--scarlet-l-35, rgb(255, 122.4, 89.25));
}

.css-color--scarlet-l-40 {
  color: var(--css-color--scarlet-l-40, rgb(255, 132.6, 102));
}

.css-color--scarlet-l-45 {
  color: var(--css-color--scarlet-l-45, rgb(255, 142.8, 114.75));
}

.css-color--scarlet-l-50 {
  color: var(--css-color--scarlet-l-50, rgb(255, 153, 127.5));
}

.css-color--scarlet-l-55 {
  color: var(--css-color--scarlet-l-55, rgb(255, 163.2, 140.25));
}

.css-color--scarlet-l-60 {
  color: var(--css-color--scarlet-l-60, rgb(255, 173.4, 153));
}

.css-color--scarlet-l-65 {
  color: var(--css-color--scarlet-l-65, rgb(255, 183.6, 165.75));
}

.css-color--scarlet-l-70 {
  color: var(--css-color--scarlet-l-70, rgb(255, 193.8, 178.5));
}

.css-color--scarlet-l-75 {
  color: var(--css-color--scarlet-l-75, rgb(255, 204, 191.25));
}

.css-color--scarlet-l-80 {
  color: var(--css-color--scarlet-l-80, rgb(255, 214.2, 204));
}

.css-color--scarlet-l-85 {
  color: var(--css-color--scarlet-l-85, rgb(255, 224.4, 216.75));
}

.css-color--scarlet-l-90 {
  color: var(--css-color--scarlet-l-90, rgb(255, 234.6, 229.5));
}

.css-color--scarlet-l-95 {
  color: var(--css-color--scarlet-l-95, rgb(255, 244.8, 242.25));
}

.css-color--scarlet-l-100 {
  color: var(--css-color--scarlet-l-100, white);
}

.css-color--scarlet-d-5 {
  color: var(--css-color--scarlet-d-5, rgb(242.25, 48.45, 0));
}

.css-color--scarlet-d-10 {
  color: var(--css-color--scarlet-d-10, rgb(229.5, 45.9, 0));
}

.css-color--scarlet-d-15 {
  color: var(--css-color--scarlet-d-15, rgb(216.75, 43.35, 0));
}

.css-color--scarlet-d-20 {
  color: var(--css-color--scarlet-d-20, rgb(204, 40.8, 0));
}

.css-color--scarlet-d-25 {
  color: var(--css-color--scarlet-d-25, rgb(191.25, 38.25, 0));
}

.css-color--scarlet-d-30 {
  color: var(--css-color--scarlet-d-30, rgb(178.5, 35.7, 0));
}

.css-color--scarlet-d-35 {
  color: var(--css-color--scarlet-d-35, rgb(165.75, 33.15, 0));
}

.css-color--scarlet-d-40 {
  color: var(--css-color--scarlet-d-40, rgb(153, 30.6, 0));
}

.css-color--scarlet-d-45 {
  color: var(--css-color--scarlet-d-45, rgb(140.25, 28.05, 0));
}

.css-color--scarlet-d-50 {
  color: var(--css-color--scarlet-d-50, rgb(127.5, 25.5, 0));
}

.css-color--scarlet-d-55 {
  color: var(--css-color--scarlet-d-55, rgb(114.75, 22.95, 0));
}

.css-color--scarlet-d-60 {
  color: var(--css-color--scarlet-d-60, rgb(102, 20.4, 0));
}

.css-color--scarlet-d-65 {
  color: var(--css-color--scarlet-d-65, rgb(89.25, 17.85, 0));
}

.css-color--scarlet-d-70 {
  color: var(--css-color--scarlet-d-70, rgb(76.5, 15.3, 0));
}

.css-color--scarlet-d-75 {
  color: var(--css-color--scarlet-d-75, rgb(63.75, 12.75, 0));
}

.css-color--scarlet-d-80 {
  color: var(--css-color--scarlet-d-80, rgb(51, 10.2, 0));
}

.css-color--scarlet-d-85 {
  color: var(--css-color--scarlet-d-85, rgb(38.25, 7.65, 0));
}

.css-color--scarlet-d-90 {
  color: var(--css-color--scarlet-d-90, rgb(25.5, 5.1, 0));
}

.css-color--scarlet-d-95 {
  color: var(--css-color--scarlet-d-95, rgb(12.75, 2.55, 0));
}

.css-color--scarlet-d-100 {
  color: var(--css-color--scarlet-d-100, black);
}

.css-bg-color--scarlet {
  background-color: var(--css-color--scarlet, #ff3300);
}

.css-bg-color--scarlet-l-5 {
  background-color: var(--css-bg-color--scarlet-l-5, rgb(255, 61.2, 12.75));
}

.css-bg-color--scarlet-l-10 {
  background-color: var(--css-bg-color--scarlet-l-10, rgb(255, 71.4, 25.5));
}

.css-bg-color--scarlet-l-15 {
  background-color: var(--css-bg-color--scarlet-l-15, rgb(255, 81.6, 38.25));
}

.css-bg-color--scarlet-l-20 {
  background-color: var(--css-bg-color--scarlet-l-20, rgb(255, 91.8, 51));
}

.css-bg-color--scarlet-l-25 {
  background-color: var(--css-bg-color--scarlet-l-25, rgb(255, 102, 63.75));
}

.css-bg-color--scarlet-l-30 {
  background-color: var(--css-bg-color--scarlet-l-30, rgb(255, 112.2, 76.5));
}

.css-bg-color--scarlet-l-35 {
  background-color: var(--css-bg-color--scarlet-l-35, rgb(255, 122.4, 89.25));
}

.css-bg-color--scarlet-l-40 {
  background-color: var(--css-bg-color--scarlet-l-40, rgb(255, 132.6, 102));
}

.css-bg-color--scarlet-l-45 {
  background-color: var(--css-bg-color--scarlet-l-45, rgb(255, 142.8, 114.75));
}

.css-bg-color--scarlet-l-50 {
  background-color: var(--css-bg-color--scarlet-l-50, rgb(255, 153, 127.5));
}

.css-bg-color--scarlet-l-55 {
  background-color: var(--css-bg-color--scarlet-l-55, rgb(255, 163.2, 140.25));
}

.css-bg-color--scarlet-l-60 {
  background-color: var(--css-bg-color--scarlet-l-60, rgb(255, 173.4, 153));
}

.css-bg-color--scarlet-l-65 {
  background-color: var(--css-bg-color--scarlet-l-65, rgb(255, 183.6, 165.75));
}

.css-bg-color--scarlet-l-70 {
  background-color: var(--css-bg-color--scarlet-l-70, rgb(255, 193.8, 178.5));
}

.css-bg-color--scarlet-l-75 {
  background-color: var(--css-bg-color--scarlet-l-75, rgb(255, 204, 191.25));
}

.css-bg-color--scarlet-l-80 {
  background-color: var(--css-bg-color--scarlet-l-80, rgb(255, 214.2, 204));
}

.css-bg-color--scarlet-l-85 {
  background-color: var(--css-bg-color--scarlet-l-85, rgb(255, 224.4, 216.75));
}

.css-bg-color--scarlet-l-90 {
  background-color: var(--css-bg-color--scarlet-l-90, rgb(255, 234.6, 229.5));
}

.css-bg-color--scarlet-l-95 {
  background-color: var(--css-bg-color--scarlet-l-95, rgb(255, 244.8, 242.25));
}

.css-bg-color--scarlet-l-100 {
  background-color: var(--css-bg-color--scarlet-l-100, white);
}

.css-bg-color--scarlet-d-5 {
  background-color: var(--css-bg-color--scarlet-d-5, rgb(242.25, 48.45, 0));
}

.css-bg-color--scarlet-d-10 {
  background-color: var(--css-bg-color--scarlet-d-10, rgb(229.5, 45.9, 0));
}

.css-bg-color--scarlet-d-15 {
  background-color: var(--css-bg-color--scarlet-d-15, rgb(216.75, 43.35, 0));
}

.css-bg-color--scarlet-d-20 {
  background-color: var(--css-bg-color--scarlet-d-20, rgb(204, 40.8, 0));
}

.css-bg-color--scarlet-d-25 {
  background-color: var(--css-bg-color--scarlet-d-25, rgb(191.25, 38.25, 0));
}

.css-bg-color--scarlet-d-30 {
  background-color: var(--css-bg-color--scarlet-d-30, rgb(178.5, 35.7, 0));
}

.css-bg-color--scarlet-d-35 {
  background-color: var(--css-bg-color--scarlet-d-35, rgb(165.75, 33.15, 0));
}

.css-bg-color--scarlet-d-40 {
  background-color: var(--css-bg-color--scarlet-d-40, rgb(153, 30.6, 0));
}

.css-bg-color--scarlet-d-45 {
  background-color: var(--css-bg-color--scarlet-d-45, rgb(140.25, 28.05, 0));
}

.css-bg-color--scarlet-d-50 {
  background-color: var(--css-bg-color--scarlet-d-50, rgb(127.5, 25.5, 0));
}

.css-bg-color--scarlet-d-55 {
  background-color: var(--css-bg-color--scarlet-d-55, rgb(114.75, 22.95, 0));
}

.css-bg-color--scarlet-d-60 {
  background-color: var(--css-bg-color--scarlet-d-60, rgb(102, 20.4, 0));
}

.css-bg-color--scarlet-d-65 {
  background-color: var(--css-bg-color--scarlet-d-65, rgb(89.25, 17.85, 0));
}

.css-bg-color--scarlet-d-70 {
  background-color: var(--css-bg-color--scarlet-d-70, rgb(76.5, 15.3, 0));
}

.css-bg-color--scarlet-d-75 {
  background-color: var(--css-bg-color--scarlet-d-75, rgb(63.75, 12.75, 0));
}

.css-bg-color--scarlet-d-80 {
  background-color: var(--css-bg-color--scarlet-d-80, rgb(51, 10.2, 0));
}

.css-bg-color--scarlet-d-85 {
  background-color: var(--css-bg-color--scarlet-d-85, rgb(38.25, 7.65, 0));
}

.css-bg-color--scarlet-d-90 {
  background-color: var(--css-bg-color--scarlet-d-90, rgb(25.5, 5.1, 0));
}

.css-bg-color--scarlet-d-95 {
  background-color: var(--css-bg-color--scarlet-d-95, rgb(12.75, 2.55, 0));
}

.css-bg-color--scarlet-d-100 {
  background-color: var(--css-bg-color--scarlet-d-100, black);
}