///
/// Blue variables
///

@use 'sass:color';

$css-color--blue: #0000ff;

// Lighten color by percentage.
$css-color--blue-l-5: #{color.adjust( $css-color--blue, $whiteness: 5% )};
$css-color--blue-l-10: #{color.adjust( $css-color--blue, $whiteness: 10% )};
$css-color--blue-l-15: #{color.adjust( $css-color--blue, $whiteness: 15% )};
$css-color--blue-l-20: #{color.adjust( $css-color--blue, $whiteness: 20% )};
$css-color--blue-l-25: #{color.adjust( $css-color--blue, $whiteness: 25% )};
$css-color--blue-l-30: #{color.adjust( $css-color--blue, $whiteness: 30% )};
$css-color--blue-l-35: #{color.adjust( $css-color--blue, $whiteness: 35% )};
$css-color--blue-l-40: #{color.adjust( $css-color--blue, $whiteness: 40% )};
$css-color--blue-l-45: #{color.adjust( $css-color--blue, $whiteness: 45% )};
$css-color--blue-l-50: #{color.adjust( $css-color--blue, $whiteness: 50% )};
$css-color--blue-l-55: #{color.adjust( $css-color--blue, $whiteness: 55% )};
$css-color--blue-l-60: #{color.adjust( $css-color--blue, $whiteness: 60% )};
$css-color--blue-l-65: #{color.adjust( $css-color--blue, $whiteness: 65% )};
$css-color--blue-l-70: #{color.adjust( $css-color--blue, $whiteness: 70% )};
$css-color--blue-l-75: #{color.adjust( $css-color--blue, $whiteness: 75% )};
$css-color--blue-l-80: #{color.adjust( $css-color--blue, $whiteness: 80% )};
$css-color--blue-l-85: #{color.adjust( $css-color--blue, $whiteness: 85% )};
$css-color--blue-l-90: #{color.adjust( $css-color--blue, $whiteness: 90% )};
$css-color--blue-l-95: #{color.adjust( $css-color--blue, $whiteness: 95% )};
$css-color--blue-l-100: #{color.adjust( $css-color--blue, $whiteness: 100% )};

// Darken color by percentage.
$css-color--blue-d-5: #{color.adjust( $css-color--blue, $blackness: 5% )};
$css-color--blue-d-10: #{color.adjust( $css-color--blue, $blackness: 10% )};
$css-color--blue-d-15: #{color.adjust( $css-color--blue, $blackness: 15% )};
$css-color--blue-d-20: #{color.adjust( $css-color--blue, $blackness: 20% )};
$css-color--blue-d-25: #{color.adjust( $css-color--blue, $blackness: 25% )};
$css-color--blue-d-30: #{color.adjust( $css-color--blue, $blackness: 30% )};
$css-color--blue-d-35: #{color.adjust( $css-color--blue, $blackness: 35% )};
$css-color--blue-d-40: #{color.adjust( $css-color--blue, $blackness: 40% )};
$css-color--blue-d-45: #{color.adjust( $css-color--blue, $blackness: 45% )};
$css-color--blue-d-50: #{color.adjust( $css-color--blue, $blackness: 50% )};
$css-color--blue-d-55: #{color.adjust( $css-color--blue, $blackness: 55% )};
$css-color--blue-d-60: #{color.adjust( $css-color--blue, $blackness: 60% )};
$css-color--blue-d-65: #{color.adjust( $css-color--blue, $blackness: 65% )};
$css-color--blue-d-70: #{color.adjust( $css-color--blue, $blackness: 70% )};
$css-color--blue-d-75: #{color.adjust( $css-color--blue, $blackness: 75% )};
$css-color--blue-d-80: #{color.adjust( $css-color--blue, $blackness: 80% )};
$css-color--blue-d-85: #{color.adjust( $css-color--blue, $blackness: 85% )};
$css-color--blue-d-90: #{color.adjust( $css-color--blue, $blackness: 90% )};
$css-color--blue-d-95: #{color.adjust( $css-color--blue, $blackness: 95% )};
$css-color--blue-d-100: #{color.adjust( $css-color--blue, $blackness: 100% )};

// Lighten background color by percentage.
$css-bg-color--blue-l-5: #{color.adjust( $css-bg-color--blue, $whiteness: 5% )};
$css-bg-color--blue-l-10: #{color.adjust( $css-bg-color--blue, $whiteness: 10% )};
$css-bg-color--blue-l-15: #{color.adjust( $css-bg-color--blue, $whiteness: 15% )};
$css-bg-color--blue-l-20: #{color.adjust( $css-bg-color--blue, $whiteness: 20% )};
$css-bg-color--blue-l-25: #{color.adjust( $css-bg-color--blue, $whiteness: 25% )};
$css-bg-color--blue-l-30: #{color.adjust( $css-bg-color--blue, $whiteness: 30% )};
$css-bg-color--blue-l-35: #{color.adjust( $css-bg-color--blue, $whiteness: 35% )};
$css-bg-color--blue-l-40: #{color.adjust( $css-bg-color--blue, $whiteness: 40% )};
$css-bg-color--blue-l-45: #{color.adjust( $css-bg-color--blue, $whiteness: 45% )};
$css-bg-color--blue-l-50: #{color.adjust( $css-bg-color--blue, $whiteness: 50% )};
$css-bg-color--blue-l-55: #{color.adjust( $css-bg-color--blue, $whiteness: 55% )};
$css-bg-color--blue-l-60: #{color.adjust( $css-bg-color--blue, $whiteness: 60% )};
$css-bg-color--blue-l-65: #{color.adjust( $css-bg-color--blue, $whiteness: 65% )};
$css-bg-color--blue-l-70: #{color.adjust( $css-bg-color--blue, $whiteness: 70% )};
$css-bg-color--blue-l-75: #{color.adjust( $css-bg-color--blue, $whiteness: 75% )};
$css-bg-color--blue-l-80: #{color.adjust( $css-bg-color--blue, $whiteness: 80% )};
$css-bg-color--blue-l-85: #{color.adjust( $css-bg-color--blue, $whiteness: 85% )};
$css-bg-color--blue-l-90: #{color.adjust( $css-bg-color--blue, $whiteness: 90% )};
$css-bg-color--blue-l-95: #{color.adjust( $css-bg-color--blue, $whiteness: 95% )};
$css-bg-color--blue-l-100: #{color.adjust( $css-bg-color--blue, $whiteness: 100% )};

// Darken background color by percentage.
$css-bg-color--blue-d-5: #{color.adjust( $css-bg-color--blue, $blackness: 5% )};
$css-bg-color--blue-d-10: #{color.adjust( $css-bg-color--blue, $blackness: 10% )};
$css-bg-color--blue-d-15: #{color.adjust( $css-bg-color--blue, $blackness: 15% )};
$css-bg-color--blue-d-20: #{color.adjust( $css-bg-color--blue, $blackness: 20% )};
$css-bg-color--blue-d-25: #{color.adjust( $css-bg-color--blue, $blackness: 25% )};
$css-bg-color--blue-d-30: #{color.adjust( $css-bg-color--blue, $blackness: 30% )};
$css-bg-color--blue-d-35: #{color.adjust( $css-bg-color--blue, $blackness: 35% )};
$css-bg-color--blue-d-40: #{color.adjust( $css-bg-color--blue, $blackness: 40% )};
$css-bg-color--blue-d-45: #{color.adjust( $css-bg-color--blue, $blackness: 45% )};
$css-bg-color--blue-d-50: #{color.adjust( $css-bg-color--blue, $blackness: 50% )};
$css-bg-color--blue-d-55: #{color.adjust( $css-bg-color--blue, $blackness: 55% )};
$css-bg-color--blue-d-60: #{color.adjust( $css-bg-color--blue, $blackness: 60% )};
$css-bg-color--blue-d-65: #{color.adjust( $css-bg-color--blue, $blackness: 65% )};
$css-bg-color--blue-d-70: #{color.adjust( $css-bg-color--blue, $blackness: 70% )};
$css-bg-color--blue-d-75: #{color.adjust( $css-bg-color--blue, $blackness: 75% )};
$css-bg-color--blue-d-80: #{color.adjust( $css-bg-color--blue, $blackness: 80% )};
$css-bg-color--blue-d-85: #{color.adjust( $css-bg-color--blue, $blackness: 85% )};
$css-bg-color--blue-d-90: #{color.adjust( $css-bg-color--blue, $blackness: 90% )};
$css-bg-color--blue-d-95: #{color.adjust( $css-bg-color--blue, $blackness: 95% )};
$css-bg-color--blue-d-100: #{color.adjust( $css-bg-color--blue, $blackness: 100% )};
