:root {
  --css-color--blue: #0000ff;
  --css-color--blue-l-5: rgb(25.5, 25.5, 255);
  --css-color--blue-l-10: #3333ff;
  --css-color--blue-l-15: rgb(76.5, 76.5, 255);
  --css-color--blue-l-20: #6666ff;
  --css-color--blue-l-25: rgb(127.5, 127.5, 255);
  --css-color--blue-l-30: #9999ff;
  --css-color--blue-l-35: rgb(178.5, 178.5, 255);
  --css-color--blue-l-40: #ccccff;
  --css-color--blue-l-45: rgb(229.5, 229.5, 255);
  --css-color--blue-l-50: white;
  --css-color--blue-l-55: hsl(240, 100%, 105%);
  --css-color--blue-l-60: hsl(240, 100%, 110%);
  --css-color--blue-l-65: hsl(240, 100%, 115%);
  --css-color--blue-l-70: hsl(240, 100%, 120%);
  --css-color--blue-l-75: hsl(240, 100%, 125%);
  --css-color--blue-l-80: hsl(240, 100%, 130%);
  --css-color--blue-l-85: hsl(240, 100%, 135%);
  --css-color--blue-l-90: hsl(240, 100%, 140%);
  --css-color--blue-l-95: hsl(240, 100%, 145%);
  --css-color--blue-l-100: hsl(240, 100%, 150%);
  --css-color--blue-d-5: rgb(0, 0, 229.5);
  --css-color--blue-d-10: #0000cc;
  --css-color--blue-d-15: rgb(0, 0, 178.5);
  --css-color--blue-d-20: #000099;
  --css-color--blue-d-25: rgb(0, 0, 127.5);
  --css-color--blue-d-30: #000066;
  --css-color--blue-d-35: rgb(0, 0, 76.5);
  --css-color--blue-d-40: #000033;
  --css-color--blue-d-45: rgb(0, 0, 25.5);
  --css-color--blue-d-50: black;
  --css-color--blue-d-55: hsl(240, 100%, -5%);
  --css-color--blue-d-60: hsl(240, 100%, -10%);
  --css-color--blue-d-65: hsl(240, 100%, -15%);
  --css-color--blue-d-70: hsl(240, 100%, -20%);
  --css-color--blue-d-75: hsl(240, 100%, -25%);
  --css-color--blue-d-80: hsl(240, 100%, -30%);
  --css-color--blue-d-85: hsl(240, 100%, -35%);
  --css-color--blue-d-90: hsl(240, 100%, -40%);
  --css-color--blue-d-95: hsl(240, 100%, -45%);
  --css-color--blue-d-100: hsl(240, 100%, -50%);
  --css-bg-color--blue: #0000ff;
  --css-bg-color--blue-l-5: rgb(25.5, 25.5, 255);
  --css-bg-color--blue-l-10: #3333ff;
  --css-bg-color--blue-l-15: rgb(76.5, 76.5, 255);
  --css-bg-color--blue-l-20: #6666ff;
  --css-bg-color--blue-l-25: rgb(127.5, 127.5, 255);
  --css-bg-color--blue-l-30: #9999ff;
  --css-bg-color--blue-l-35: rgb(178.5, 178.5, 255);
  --css-bg-color--blue-l-40: #ccccff;
  --css-bg-color--blue-l-45: rgb(229.5, 229.5, 255);
  --css-bg-color--blue-l-50: white;
  --css-bg-color--blue-l-55: hsl(240, 100%, 105%);
  --css-bg-color--blue-l-60: hsl(240, 100%, 110%);
  --css-bg-color--blue-l-65: hsl(240, 100%, 115%);
  --css-bg-color--blue-l-70: hsl(240, 100%, 120%);
  --css-bg-color--blue-l-75: hsl(240, 100%, 125%);
  --css-bg-color--blue-l-80: hsl(240, 100%, 130%);
  --css-bg-color--blue-l-85: hsl(240, 100%, 135%);
  --css-bg-color--blue-l-90: hsl(240, 100%, 140%);
  --css-bg-color--blue-l-95: hsl(240, 100%, 145%);
  --css-bg-color--blue-l-100: hsl(240, 100%, 150%);
  --css-bg-color--blue-d-5: rgb(0, 0, 229.5);
  --css-bg-color--blue-d-10: #0000cc;
  --css-bg-color--blue-d-15: rgb(0, 0, 178.5);
  --css-bg-color--blue-d-20: #000099;
  --css-bg-color--blue-d-25: rgb(0, 0, 127.5);
  --css-bg-color--blue-d-30: #000066;
  --css-bg-color--blue-d-35: rgb(0, 0, 76.5);
  --css-bg-color--blue-d-40: #000033;
  --css-bg-color--blue-d-45: rgb(0, 0, 25.5);
  --css-bg-color--blue-d-50: black;
  --css-bg-color--blue-d-55: hsl(240, 100%, -5%);
  --css-bg-color--blue-d-60: hsl(240, 100%, -10%);
  --css-bg-color--blue-d-65: hsl(240, 100%, -15%);
  --css-bg-color--blue-d-70: hsl(240, 100%, -20%);
  --css-bg-color--blue-d-75: hsl(240, 100%, -25%);
  --css-bg-color--blue-d-80: hsl(240, 100%, -30%);
  --css-bg-color--blue-d-85: hsl(240, 100%, -35%);
  --css-bg-color--blue-d-90: hsl(240, 100%, -40%);
  --css-bg-color--blue-d-95: hsl(240, 100%, -45%);
  --css-bg-color--blue-d-100: hsl(240, 100%, -50%);
}

.css-color--blue {
  color: var(--css-color--blue, #0000ff);
}

.css-color--blue-l-5 {
  color: var(--css-color--blue-l-5, rgb(25.5, 25.5, 255));
}

.css-color--blue-l-10 {
  color: var(--css-color--blue-l-10, #3333ff);
}

.css-color--blue-l-15 {
  color: var(--css-color--blue-l-15, rgb(76.5, 76.5, 255));
}

.css-color--blue-l-20 {
  color: var(--css-color--blue-l-20, #6666ff);
}

.css-color--blue-l-25 {
  color: var(--css-color--blue-l-25, rgb(127.5, 127.5, 255));
}

.css-color--blue-l-30 {
  color: var(--css-color--blue-l-30, #9999ff);
}

.css-color--blue-l-35 {
  color: var(--css-color--blue-l-35, rgb(178.5, 178.5, 255));
}

.css-color--blue-l-40 {
  color: var(--css-color--blue-l-40, #ccccff);
}

.css-color--blue-l-45 {
  color: var(--css-color--blue-l-45, rgb(229.5, 229.5, 255));
}

.css-color--blue-l-50 {
  color: var(--css-color--blue-l-50, white);
}

.css-color--blue-l-55 {
  color: var(--css-color--blue-l-55, hsl(240, 100%, 105%));
}

.css-color--blue-l-60 {
  color: var(--css-color--blue-l-60, hsl(240, 100%, 110%));
}

.css-color--blue-l-65 {
  color: var(--css-color--blue-l-65, hsl(240, 100%, 115%));
}

.css-color--blue-l-70 {
  color: var(--css-color--blue-l-70, hsl(240, 100%, 120%));
}

.css-color--blue-l-75 {
  color: var(--css-color--blue-l-75, hsl(240, 100%, 125%));
}

.css-color--blue-l-80 {
  color: var(--css-color--blue-l-80, hsl(240, 100%, 130%));
}

.css-color--blue-l-85 {
  color: var(--css-color--blue-l-85, hsl(240, 100%, 135%));
}

.css-color--blue-l-90 {
  color: var(--css-color--blue-l-90, hsl(240, 100%, 140%));
}

.css-color--blue-l-95 {
  color: var(--css-color--blue-l-95, hsl(240, 100%, 145%));
}

.css-color--blue-l-100 {
  color: var(--css-color--blue-l-100, hsl(240, 100%, 150%));
}

.css-color--blue-d-5 {
  color: var(--css-color--blue-d-5, rgb(0, 0, 229.5));
}

.css-color--blue-d-10 {
  color: var(--css-color--blue-d-10, #0000cc);
}

.css-color--blue-d-15 {
  color: var(--css-color--blue-d-15, rgb(0, 0, 178.5));
}

.css-color--blue-d-20 {
  color: var(--css-color--blue-d-20, #000099);
}

.css-color--blue-d-25 {
  color: var(--css-color--blue-d-25, rgb(0, 0, 127.5));
}

.css-color--blue-d-30 {
  color: var(--css-color--blue-d-30, #000066);
}

.css-color--blue-d-35 {
  color: var(--css-color--blue-d-35, rgb(0, 0, 76.5));
}

.css-color--blue-d-40 {
  color: var(--css-color--blue-d-40, #000033);
}

.css-color--blue-d-45 {
  color: var(--css-color--blue-d-45, rgb(0, 0, 25.5));
}

.css-color--blue-d-50 {
  color: var(--css-color--blue-d-50, black);
}

.css-color--blue-d-55 {
  color: var(--css-color--blue-d-55, hsl(240, 100%, -5%));
}

.css-color--blue-d-60 {
  color: var(--css-color--blue-d-60, hsl(240, 100%, -10%));
}

.css-color--blue-d-65 {
  color: var(--css-color--blue-d-65, hsl(240, 100%, -15%));
}

.css-color--blue-d-70 {
  color: var(--css-color--blue-d-70, hsl(240, 100%, -20%));
}

.css-color--blue-d-75 {
  color: var(--css-color--blue-d-75, hsl(240, 100%, -25%));
}

.css-color--blue-d-80 {
  color: var(--css-color--blue-d-80, hsl(240, 100%, -30%));
}

.css-color--blue-d-85 {
  color: var(--css-color--blue-d-85, hsl(240, 100%, -35%));
}

.css-color--blue-d-90 {
  color: var(--css-color--blue-d-90, hsl(240, 100%, -40%));
}

.css-color--blue-d-95 {
  color: var(--css-color--blue-d-95, hsl(240, 100%, -45%));
}

.css-color--blue-d-100 {
  color: var(--css-color--blue-d-100, hsl(240, 100%, -50%));
}

.css-bg-color--blue {
  background-color: var(--css-color--blue, #0000ff);
}

.css-bg-color--blue-l-5 {
  background-color: var(--css-bg-color--blue-l-5, rgb(25.5, 25.5, 255));
}

.css-bg-color--blue-l-10 {
  background-color: var(--css-bg-color--blue-l-10, #3333ff);
}

.css-bg-color--blue-l-15 {
  background-color: var(--css-bg-color--blue-l-15, rgb(76.5, 76.5, 255));
}

.css-bg-color--blue-l-20 {
  background-color: var(--css-bg-color--blue-l-20, #6666ff);
}

.css-bg-color--blue-l-25 {
  background-color: var(--css-bg-color--blue-l-25, rgb(127.5, 127.5, 255));
}

.css-bg-color--blue-l-30 {
  background-color: var(--css-bg-color--blue-l-30, #9999ff);
}

.css-bg-color--blue-l-35 {
  background-color: var(--css-bg-color--blue-l-35, rgb(178.5, 178.5, 255));
}

.css-bg-color--blue-l-40 {
  background-color: var(--css-bg-color--blue-l-40, #ccccff);
}

.css-bg-color--blue-l-45 {
  background-color: var(--css-bg-color--blue-l-45, rgb(229.5, 229.5, 255));
}

.css-bg-color--blue-l-50 {
  background-color: var(--css-bg-color--blue-l-50, white);
}

.css-bg-color--blue-l-55 {
  background-color: var(--css-bg-color--blue-l-55, hsl(240, 100%, 105%));
}

.css-bg-color--blue-l-60 {
  background-color: var(--css-bg-color--blue-l-60, hsl(240, 100%, 110%));
}

.css-bg-color--blue-l-65 {
  background-color: var(--css-bg-color--blue-l-65, hsl(240, 100%, 115%));
}

.css-bg-color--blue-l-70 {
  background-color: var(--css-bg-color--blue-l-70, hsl(240, 100%, 120%));
}

.css-bg-color--blue-l-75 {
  background-color: var(--css-bg-color--blue-l-75, hsl(240, 100%, 125%));
}

.css-bg-color--blue-l-80 {
  background-color: var(--css-bg-color--blue-l-80, hsl(240, 100%, 130%));
}

.css-bg-color--blue-l-85 {
  background-color: var(--css-bg-color--blue-l-85, hsl(240, 100%, 135%));
}

.css-bg-color--blue-l-90 {
  background-color: var(--css-bg-color--blue-l-90, hsl(240, 100%, 140%));
}

.css-bg-color--blue-l-95 {
  background-color: var(--css-bg-color--blue-l-95, hsl(240, 100%, 145%));
}

.css-bg-color--blue-l-100 {
  background-color: var(--css-bg-color--blue-l-100, hsl(240, 100%, 150%));
}

.css-bg-color--blue-d-5 {
  background-color: var(--css-bg-color--blue-d-5, rgb(0, 0, 229.5));
}

.css-bg-color--blue-d-10 {
  background-color: var(--css-bg-color--blue-d-10, #0000cc);
}

.css-bg-color--blue-d-15 {
  background-color: var(--css-bg-color--blue-d-15, rgb(0, 0, 178.5));
}

.css-bg-color--blue-d-20 {
  background-color: var(--css-bg-color--blue-d-20, #000099);
}

.css-bg-color--blue-d-25 {
  background-color: var(--css-bg-color--blue-d-25, rgb(0, 0, 127.5));
}

.css-bg-color--blue-d-30 {
  background-color: var(--css-bg-color--blue-d-30, #000066);
}

.css-bg-color--blue-d-35 {
  background-color: var(--css-bg-color--blue-d-35, rgb(0, 0, 76.5));
}

.css-bg-color--blue-d-40 {
  background-color: var(--css-bg-color--blue-d-40, #000033);
}

.css-bg-color--blue-d-45 {
  background-color: var(--css-bg-color--blue-d-45, rgb(0, 0, 25.5));
}

.css-bg-color--blue-d-50 {
  background-color: var(--css-bg-color--blue-d-50, black);
}

.css-bg-color--blue-d-55 {
  background-color: var(--css-bg-color--blue-d-55, hsl(240, 100%, -5%));
}

.css-bg-color--blue-d-60 {
  background-color: var(--css-bg-color--blue-d-60, hsl(240, 100%, -10%));
}

.css-bg-color--blue-d-65 {
  background-color: var(--css-bg-color--blue-d-65, hsl(240, 100%, -15%));
}

.css-bg-color--blue-d-70 {
  background-color: var(--css-bg-color--blue-d-70, hsl(240, 100%, -20%));
}

.css-bg-color--blue-d-75 {
  background-color: var(--css-bg-color--blue-d-75, hsl(240, 100%, -25%));
}

.css-bg-color--blue-d-80 {
  background-color: var(--css-bg-color--blue-d-80, hsl(240, 100%, -30%));
}

.css-bg-color--blue-d-85 {
  background-color: var(--css-bg-color--blue-d-85, hsl(240, 100%, -35%));
}

.css-bg-color--blue-d-90 {
  background-color: var(--css-bg-color--blue-d-90, hsl(240, 100%, -40%));
}

.css-bg-color--blue-d-95 {
  background-color: var(--css-bg-color--blue-d-95, hsl(240, 100%, -45%));
}

.css-bg-color--blue-d-100 {
  background-color: var(--css-bg-color--blue-d-100, hsl(240, 100%, -50%));
}