///
/// Blue stylesheet
///

@import '_variables';
@import '_properties';

// Original.
.css-color--blue {
	color: $css-color--blue;
}

// Lighten by percentage.
.css-color--blue-l-5 {
	color: $css-color--blue-l-5;
}
.css-color--blue-l-10 {
	color: $css-color--blue-l-10;
}
.css-color--blue-l-15 {
	color: $css-color--blue-l-15;
}
.css-color--blue-l-20 {
	color: $css-color--blue-l-20;
}
.css-color--blue-l-25 {
	color: $css-color--blue-l-25;
}
.css-color--blue-l-30 {
	color: $css-color--blue-l-30;
}
.css-color--blue-l-35 {
	color: $css-color--blue-l-35;
}
.css-color--blue-l-40 {
	color: $css-color--blue-l-40;
}
.css-color--blue-l-45 {
	color: $css-color--blue-l-45;
}
.css-color--blue-l-50 {
	color: $css-color--blue-l-50;
}
.css-color--blue-l-55 {
	color: $css-color--blue-l-55;
}
.css-color--blue-l-60 {
	color: $css-color--blue-l-60;
}
.css-color--blue-l-65 {
	color: $css-color--blue-l-65;
}
.css-color--blue-l-70 {
	color: $css-color--blue-l-70;
}
.css-color--blue-l-75 {
	color: $css-color--blue-l-75;
}
.css-color--blue-l-80 {
	color: $css-color--blue-l-80;
}
.css-color--blue-l-85 {
	color: $css-color--blue-l-85;
}
.css-color--blue-l-90 {
	color: $css-color--blue-l-90;
}
.css-color--blue-l-95 {
	color: $css-color--blue-l-95;
}
.css-color--blue-l-100 {
	color: $css-color--blue-l-100;
}

// Darken by percentage.
.css-color--blue-d-5 {
	color: $css-color--blue-d-5;
}
.css-color--blue-d-10 {
	color: $css-color--blue-d-10;
}
.css-color--blue-d-15 {
	color: $css-color--blue-d-15;
}
.css-color--blue-d-20 {
	color: $css-color--blue-d-20;
}
.css-color--blue-d-25 {
	color: $css-color--blue-d-25;
}
.css-color--blue-d-30 {
	color: $css-color--blue-d-30;
}
.css-color--blue-d-35 {
	color: $css-color--blue-d-35;
}
.css-color--blue-d-40 {
	color: $css-color--blue-d-40;
}
.css-color--blue-d-45 {
	color: $css-color--blue-d-45;
}
.css-color--blue-d-50 {
	color: $css-color--blue-d-50;
}
.css-color--blue-d-55 {
	color: $css-color--blue-d-55;
}
.css-color--blue-d-60 {
	color: $css-color--blue-d-60;
}
.css-color--blue-d-65 {
	color: $css-color--blue-d-65;
}
.css-color--blue-d-70 {
	color: $css-color--blue-d-70;
}
.css-color--blue-d-75 {
	color: $css-color--blue-d-75;
}
.css-color--blue-d-80 {
	color: $css-color--blue-d-80;
}
.css-color--blue-d-85 {
	color: $css-color--blue-d-85;
}
.css-color--blue-d-90 {
	color: $css-color--blue-d-90;
}
.css-color--blue-d-95 {
	color: $css-color--blue-d-95;
}
.css-color--blue-d-100 {
	color: $css-color--blue-d-100;
}
