:root {
  --css-color--blue: #0000ff;
  --css-color--blue-l-5: rgb(12.75, 12.75, 255);
  --css-color--blue-l-10: rgb(25.5, 25.5, 255);
  --css-color--blue-l-15: rgb(38.25, 38.25, 255);
  --css-color--blue-l-20: #3333ff;
  --css-color--blue-l-25: rgb(63.75, 63.75, 255);
  --css-color--blue-l-30: rgb(76.5, 76.5, 255);
  --css-color--blue-l-35: rgb(89.25, 89.25, 255);
  --css-color--blue-l-40: #6666ff;
  --css-color--blue-l-45: rgb(114.75, 114.75, 255);
  --css-color--blue-l-50: rgb(127.5, 127.5, 255);
  --css-color--blue-l-55: rgb(140.25, 140.25, 255);
  --css-color--blue-l-60: #9999ff;
  --css-color--blue-l-65: rgb(165.75, 165.75, 255);
  --css-color--blue-l-70: rgb(178.5, 178.5, 255);
  --css-color--blue-l-75: rgb(191.25, 191.25, 255);
  --css-color--blue-l-80: #ccccff;
  --css-color--blue-l-85: rgb(216.75, 216.75, 255);
  --css-color--blue-l-90: rgb(229.5, 229.5, 255);
  --css-color--blue-l-95: rgb(242.25, 242.25, 255);
  --css-color--blue-l-100: white;
  --css-color--blue-d-5: rgb(0, 0, 242.25);
  --css-color--blue-d-10: rgb(0, 0, 229.5);
  --css-color--blue-d-15: rgb(0, 0, 216.75);
  --css-color--blue-d-20: #0000cc;
  --css-color--blue-d-25: rgb(0, 0, 191.25);
  --css-color--blue-d-30: rgb(0, 0, 178.5);
  --css-color--blue-d-35: rgb(0, 0, 165.75);
  --css-color--blue-d-40: #000099;
  --css-color--blue-d-45: rgb(0, 0, 140.25);
  --css-color--blue-d-50: rgb(0, 0, 127.5);
  --css-color--blue-d-55: rgb(0, 0, 114.75);
  --css-color--blue-d-60: #000066;
  --css-color--blue-d-65: rgb(0, 0, 89.25);
  --css-color--blue-d-70: rgb(0, 0, 76.5);
  --css-color--blue-d-75: rgb(0, 0, 63.75);
  --css-color--blue-d-80: #000033;
  --css-color--blue-d-85: rgb(0, 0, 38.25);
  --css-color--blue-d-90: rgb(0, 0, 25.5);
  --css-color--blue-d-95: rgb(0, 0, 12.75);
  --css-color--blue-d-100: black;
  --css-bg-color--blue: #0000ff;
  --css-bg-color--blue-l-5: rgb(12.75, 12.75, 255);
  --css-bg-color--blue-l-10: rgb(25.5, 25.5, 255);
  --css-bg-color--blue-l-15: rgb(38.25, 38.25, 255);
  --css-bg-color--blue-l-20: #3333ff;
  --css-bg-color--blue-l-25: rgb(63.75, 63.75, 255);
  --css-bg-color--blue-l-30: rgb(76.5, 76.5, 255);
  --css-bg-color--blue-l-35: rgb(89.25, 89.25, 255);
  --css-bg-color--blue-l-40: #6666ff;
  --css-bg-color--blue-l-45: rgb(114.75, 114.75, 255);
  --css-bg-color--blue-l-50: rgb(127.5, 127.5, 255);
  --css-bg-color--blue-l-55: rgb(140.25, 140.25, 255);
  --css-bg-color--blue-l-60: #9999ff;
  --css-bg-color--blue-l-65: rgb(165.75, 165.75, 255);
  --css-bg-color--blue-l-70: rgb(178.5, 178.5, 255);
  --css-bg-color--blue-l-75: rgb(191.25, 191.25, 255);
  --css-bg-color--blue-l-80: #ccccff;
  --css-bg-color--blue-l-85: rgb(216.75, 216.75, 255);
  --css-bg-color--blue-l-90: rgb(229.5, 229.5, 255);
  --css-bg-color--blue-l-95: rgb(242.25, 242.25, 255);
  --css-bg-color--blue-l-100: white;
  --css-bg-color--blue-d-5: rgb(0, 0, 242.25);
  --css-bg-color--blue-d-10: rgb(0, 0, 229.5);
  --css-bg-color--blue-d-15: rgb(0, 0, 216.75);
  --css-bg-color--blue-d-20: #0000cc;
  --css-bg-color--blue-d-25: rgb(0, 0, 191.25);
  --css-bg-color--blue-d-30: rgb(0, 0, 178.5);
  --css-bg-color--blue-d-35: rgb(0, 0, 165.75);
  --css-bg-color--blue-d-40: #000099;
  --css-bg-color--blue-d-45: rgb(0, 0, 140.25);
  --css-bg-color--blue-d-50: rgb(0, 0, 127.5);
  --css-bg-color--blue-d-55: rgb(0, 0, 114.75);
  --css-bg-color--blue-d-60: #000066;
  --css-bg-color--blue-d-65: rgb(0, 0, 89.25);
  --css-bg-color--blue-d-70: rgb(0, 0, 76.5);
  --css-bg-color--blue-d-75: rgb(0, 0, 63.75);
  --css-bg-color--blue-d-80: #000033;
  --css-bg-color--blue-d-85: rgb(0, 0, 38.25);
  --css-bg-color--blue-d-90: rgb(0, 0, 25.5);
  --css-bg-color--blue-d-95: rgb(0, 0, 12.75);
  --css-bg-color--blue-d-100: black;
}

.css-color--blue {
  color: var(--css-color--blue, #0000ff);
}

.css-color--blue-l-5 {
  color: var(--css-color--blue-l-5, rgb(12.75, 12.75, 255));
}

.css-color--blue-l-10 {
  color: var(--css-color--blue-l-10, rgb(25.5, 25.5, 255));
}

.css-color--blue-l-15 {
  color: var(--css-color--blue-l-15, rgb(38.25, 38.25, 255));
}

.css-color--blue-l-20 {
  color: var(--css-color--blue-l-20, #3333ff);
}

.css-color--blue-l-25 {
  color: var(--css-color--blue-l-25, rgb(63.75, 63.75, 255));
}

.css-color--blue-l-30 {
  color: var(--css-color--blue-l-30, rgb(76.5, 76.5, 255));
}

.css-color--blue-l-35 {
  color: var(--css-color--blue-l-35, rgb(89.25, 89.25, 255));
}

.css-color--blue-l-40 {
  color: var(--css-color--blue-l-40, #6666ff);
}

.css-color--blue-l-45 {
  color: var(--css-color--blue-l-45, rgb(114.75, 114.75, 255));
}

.css-color--blue-l-50 {
  color: var(--css-color--blue-l-50, rgb(127.5, 127.5, 255));
}

.css-color--blue-l-55 {
  color: var(--css-color--blue-l-55, rgb(140.25, 140.25, 255));
}

.css-color--blue-l-60 {
  color: var(--css-color--blue-l-60, #9999ff);
}

.css-color--blue-l-65 {
  color: var(--css-color--blue-l-65, rgb(165.75, 165.75, 255));
}

.css-color--blue-l-70 {
  color: var(--css-color--blue-l-70, rgb(178.5, 178.5, 255));
}

.css-color--blue-l-75 {
  color: var(--css-color--blue-l-75, rgb(191.25, 191.25, 255));
}

.css-color--blue-l-80 {
  color: var(--css-color--blue-l-80, #ccccff);
}

.css-color--blue-l-85 {
  color: var(--css-color--blue-l-85, rgb(216.75, 216.75, 255));
}

.css-color--blue-l-90 {
  color: var(--css-color--blue-l-90, rgb(229.5, 229.5, 255));
}

.css-color--blue-l-95 {
  color: var(--css-color--blue-l-95, rgb(242.25, 242.25, 255));
}

.css-color--blue-l-100 {
  color: var(--css-color--blue-l-100, white);
}

.css-color--blue-d-5 {
  color: var(--css-color--blue-d-5, rgb(0, 0, 242.25));
}

.css-color--blue-d-10 {
  color: var(--css-color--blue-d-10, rgb(0, 0, 229.5));
}

.css-color--blue-d-15 {
  color: var(--css-color--blue-d-15, rgb(0, 0, 216.75));
}

.css-color--blue-d-20 {
  color: var(--css-color--blue-d-20, #0000cc);
}

.css-color--blue-d-25 {
  color: var(--css-color--blue-d-25, rgb(0, 0, 191.25));
}

.css-color--blue-d-30 {
  color: var(--css-color--blue-d-30, rgb(0, 0, 178.5));
}

.css-color--blue-d-35 {
  color: var(--css-color--blue-d-35, rgb(0, 0, 165.75));
}

.css-color--blue-d-40 {
  color: var(--css-color--blue-d-40, #000099);
}

.css-color--blue-d-45 {
  color: var(--css-color--blue-d-45, rgb(0, 0, 140.25));
}

.css-color--blue-d-50 {
  color: var(--css-color--blue-d-50, rgb(0, 0, 127.5));
}

.css-color--blue-d-55 {
  color: var(--css-color--blue-d-55, rgb(0, 0, 114.75));
}

.css-color--blue-d-60 {
  color: var(--css-color--blue-d-60, #000066);
}

.css-color--blue-d-65 {
  color: var(--css-color--blue-d-65, rgb(0, 0, 89.25));
}

.css-color--blue-d-70 {
  color: var(--css-color--blue-d-70, rgb(0, 0, 76.5));
}

.css-color--blue-d-75 {
  color: var(--css-color--blue-d-75, rgb(0, 0, 63.75));
}

.css-color--blue-d-80 {
  color: var(--css-color--blue-d-80, #000033);
}

.css-color--blue-d-85 {
  color: var(--css-color--blue-d-85, rgb(0, 0, 38.25));
}

.css-color--blue-d-90 {
  color: var(--css-color--blue-d-90, rgb(0, 0, 25.5));
}

.css-color--blue-d-95 {
  color: var(--css-color--blue-d-95, rgb(0, 0, 12.75));
}

.css-color--blue-d-100 {
  color: var(--css-color--blue-d-100, black);
}

.css-bg-color--blue {
  background-color: var(--css-color--blue, #0000ff);
}

.css-bg-color--blue-l-5 {
  background-color: var(--css-bg-color--blue-l-5, rgb(12.75, 12.75, 255));
}

.css-bg-color--blue-l-10 {
  background-color: var(--css-bg-color--blue-l-10, rgb(25.5, 25.5, 255));
}

.css-bg-color--blue-l-15 {
  background-color: var(--css-bg-color--blue-l-15, rgb(38.25, 38.25, 255));
}

.css-bg-color--blue-l-20 {
  background-color: var(--css-bg-color--blue-l-20, #3333ff);
}

.css-bg-color--blue-l-25 {
  background-color: var(--css-bg-color--blue-l-25, rgb(63.75, 63.75, 255));
}

.css-bg-color--blue-l-30 {
  background-color: var(--css-bg-color--blue-l-30, rgb(76.5, 76.5, 255));
}

.css-bg-color--blue-l-35 {
  background-color: var(--css-bg-color--blue-l-35, rgb(89.25, 89.25, 255));
}

.css-bg-color--blue-l-40 {
  background-color: var(--css-bg-color--blue-l-40, #6666ff);
}

.css-bg-color--blue-l-45 {
  background-color: var(--css-bg-color--blue-l-45, rgb(114.75, 114.75, 255));
}

.css-bg-color--blue-l-50 {
  background-color: var(--css-bg-color--blue-l-50, rgb(127.5, 127.5, 255));
}

.css-bg-color--blue-l-55 {
  background-color: var(--css-bg-color--blue-l-55, rgb(140.25, 140.25, 255));
}

.css-bg-color--blue-l-60 {
  background-color: var(--css-bg-color--blue-l-60, #9999ff);
}

.css-bg-color--blue-l-65 {
  background-color: var(--css-bg-color--blue-l-65, rgb(165.75, 165.75, 255));
}

.css-bg-color--blue-l-70 {
  background-color: var(--css-bg-color--blue-l-70, rgb(178.5, 178.5, 255));
}

.css-bg-color--blue-l-75 {
  background-color: var(--css-bg-color--blue-l-75, rgb(191.25, 191.25, 255));
}

.css-bg-color--blue-l-80 {
  background-color: var(--css-bg-color--blue-l-80, #ccccff);
}

.css-bg-color--blue-l-85 {
  background-color: var(--css-bg-color--blue-l-85, rgb(216.75, 216.75, 255));
}

.css-bg-color--blue-l-90 {
  background-color: var(--css-bg-color--blue-l-90, rgb(229.5, 229.5, 255));
}

.css-bg-color--blue-l-95 {
  background-color: var(--css-bg-color--blue-l-95, rgb(242.25, 242.25, 255));
}

.css-bg-color--blue-l-100 {
  background-color: var(--css-bg-color--blue-l-100, white);
}

.css-bg-color--blue-d-5 {
  background-color: var(--css-bg-color--blue-d-5, rgb(0, 0, 242.25));
}

.css-bg-color--blue-d-10 {
  background-color: var(--css-bg-color--blue-d-10, rgb(0, 0, 229.5));
}

.css-bg-color--blue-d-15 {
  background-color: var(--css-bg-color--blue-d-15, rgb(0, 0, 216.75));
}

.css-bg-color--blue-d-20 {
  background-color: var(--css-bg-color--blue-d-20, #0000cc);
}

.css-bg-color--blue-d-25 {
  background-color: var(--css-bg-color--blue-d-25, rgb(0, 0, 191.25));
}

.css-bg-color--blue-d-30 {
  background-color: var(--css-bg-color--blue-d-30, rgb(0, 0, 178.5));
}

.css-bg-color--blue-d-35 {
  background-color: var(--css-bg-color--blue-d-35, rgb(0, 0, 165.75));
}

.css-bg-color--blue-d-40 {
  background-color: var(--css-bg-color--blue-d-40, #000099);
}

.css-bg-color--blue-d-45 {
  background-color: var(--css-bg-color--blue-d-45, rgb(0, 0, 140.25));
}

.css-bg-color--blue-d-50 {
  background-color: var(--css-bg-color--blue-d-50, rgb(0, 0, 127.5));
}

.css-bg-color--blue-d-55 {
  background-color: var(--css-bg-color--blue-d-55, rgb(0, 0, 114.75));
}

.css-bg-color--blue-d-60 {
  background-color: var(--css-bg-color--blue-d-60, #000066);
}

.css-bg-color--blue-d-65 {
  background-color: var(--css-bg-color--blue-d-65, rgb(0, 0, 89.25));
}

.css-bg-color--blue-d-70 {
  background-color: var(--css-bg-color--blue-d-70, rgb(0, 0, 76.5));
}

.css-bg-color--blue-d-75 {
  background-color: var(--css-bg-color--blue-d-75, rgb(0, 0, 63.75));
}

.css-bg-color--blue-d-80 {
  background-color: var(--css-bg-color--blue-d-80, #000033);
}

.css-bg-color--blue-d-85 {
  background-color: var(--css-bg-color--blue-d-85, rgb(0, 0, 38.25));
}

.css-bg-color--blue-d-90 {
  background-color: var(--css-bg-color--blue-d-90, rgb(0, 0, 25.5));
}

.css-bg-color--blue-d-95 {
  background-color: var(--css-bg-color--blue-d-95, rgb(0, 0, 12.75));
}

.css-bg-color--blue-d-100 {
  background-color: var(--css-bg-color--blue-d-100, black);
}