///
/// Yellow properties
///

@import '_variables';

:root {
	--css-color--yellow: #{$css-color--yellow};

	--css-color--yellow-l-5: #{$css-color--yellow-l-5};
	--css-color--yellow-l-10: #{$css-color--yellow-l-10};
	--css-color--yellow-l-15: #{$css-color--yellow-l-15};
	--css-color--yellow-l-20: #{$css-color--yellow-l-20};
	--css-color--yellow-l-25: #{$css-color--yellow-l-25};
	--css-color--yellow-l-30: #{$css-color--yellow-l-30};
	--css-color--yellow-l-35: #{$css-color--yellow-l-35};
	--css-color--yellow-l-40: #{$css-color--yellow-l-40};
	--css-color--yellow-l-45: #{$css-color--yellow-l-45};
	--css-color--yellow-l-50: #{$css-color--yellow-l-50};
	--css-color--yellow-l-55: #{$css-color--yellow-l-55};
	--css-color--yellow-l-60: #{$css-color--yellow-l-60};
	--css-color--yellow-l-65: #{$css-color--yellow-l-65};
	--css-color--yellow-l-70: #{$css-color--yellow-l-70};
	--css-color--yellow-l-75: #{$css-color--yellow-l-75};
	--css-color--yellow-l-80: #{$css-color--yellow-l-80};
	--css-color--yellow-l-85: #{$css-color--yellow-l-85};
	--css-color--yellow-l-90: #{$css-color--yellow-l-90};
	--css-color--yellow-l-95: #{$css-color--yellow-l-95};
	--css-color--yellow-l-100: #{$css-color--yellow-l-100};

	--css-color--yellow-d-5: #{$css-color--yellow-d-5};
	--css-color--yellow-d-10: #{$css-color--yellow-d-10};
	--css-color--yellow-d-15: #{$css-color--yellow-d-15};
	--css-color--yellow-d-20: #{$css-color--yellow-d-20};
	--css-color--yellow-d-25: #{$css-color--yellow-d-25};
	--css-color--yellow-d-30: #{$css-color--yellow-d-30};
	--css-color--yellow-d-35: #{$css-color--yellow-d-35};
	--css-color--yellow-d-40: #{$css-color--yellow-d-40};
	--css-color--yellow-d-45: #{$css-color--yellow-d-45};
	--css-color--yellow-d-50: #{$css-color--yellow-d-50};
}
