:root {
  --css-color--peach: #ffcc99;
  --css-color--peach-l-5: rgb(255, 210.375, 165.75);
  --css-color--peach-l-10: rgb(255, 216.75, 178.5);
  --css-color--peach-l-15: rgb(255, 223.125, 191.25);
  --css-color--peach-l-20: rgb(255, 229.5, 204);
  --css-color--peach-l-25: rgb(255, 235.875, 216.75);
  --css-color--peach-l-30: rgb(255, 242.25, 229.5);
  --css-color--peach-l-35: rgb(255, 248.625, 242.25);
  --css-color--peach-l-40: white;
  --css-color--peach-l-45: white;
  --css-color--peach-l-50: white;
  --css-color--peach-l-55: white;
  --css-color--peach-l-60: white;
  --css-color--peach-l-65: white;
  --css-color--peach-l-70: white;
  --css-color--peach-l-75: white;
  --css-color--peach-l-80: white;
  --css-color--peach-l-85: white;
  --css-color--peach-l-90: white;
  --css-color--peach-l-95: white;
  --css-color--peach-l-100: white;
  --css-color--peach-d-5: rgb(242.25, 197.625, 153);
  --css-color--peach-d-10: rgb(229.5, 191.25, 153);
  --css-color--peach-d-15: rgb(216.75, 184.875, 153);
  --css-color--peach-d-20: rgb(204, 178.5, 153);
  --css-color--peach-d-25: rgb(191.25, 172.125, 153);
  --css-color--peach-d-30: rgb(178.5, 165.75, 153);
  --css-color--peach-d-35: rgb(165.75, 159.375, 153);
  --css-color--peach-d-40: #999999;
  --css-color--peach-d-45: rgb(145.7142857143, 145.7142857143, 145.7142857143);
  --css-color--peach-d-50: rgb(139.0909090909, 139.0909090909, 139.0909090909);
  --css-color--peach-d-55: rgb(133.0434782609, 133.0434782609, 133.0434782609);
  --css-color--peach-d-60: rgb(127.5, 127.5, 127.5);
  --css-color--peach-d-65: rgb(122.4, 122.4, 122.4);
  --css-color--peach-d-70: rgb(117.6923076923, 117.6923076923, 117.6923076923);
  --css-color--peach-d-75: rgb(113.3333333333, 113.3333333333, 113.3333333333);
  --css-color--peach-d-80: rgb(109.2857142857, 109.2857142857, 109.2857142857);
  --css-color--peach-d-85: rgb(105.5172413793, 105.5172413793, 105.5172413793);
  --css-color--peach-d-90: #666666;
  --css-color--peach-d-95: rgb(98.7096774194, 98.7096774194, 98.7096774194);
  --css-color--peach-d-100: rgb(95.625, 95.625, 95.625);
  --css-bg-color--peach: #ffcc99;
  --css-bg-color--peach-l-5: rgb(255, 210.375, 165.75);
  --css-bg-color--peach-l-10: rgb(255, 216.75, 178.5);
  --css-bg-color--peach-l-15: rgb(255, 223.125, 191.25);
  --css-bg-color--peach-l-20: rgb(255, 229.5, 204);
  --css-bg-color--peach-l-25: rgb(255, 235.875, 216.75);
  --css-bg-color--peach-l-30: rgb(255, 242.25, 229.5);
  --css-bg-color--peach-l-35: rgb(255, 248.625, 242.25);
  --css-bg-color--peach-l-40: white;
  --css-bg-color--peach-l-45: white;
  --css-bg-color--peach-l-50: white;
  --css-bg-color--peach-l-55: white;
  --css-bg-color--peach-l-60: white;
  --css-bg-color--peach-l-65: white;
  --css-bg-color--peach-l-70: white;
  --css-bg-color--peach-l-75: white;
  --css-bg-color--peach-l-80: white;
  --css-bg-color--peach-l-85: white;
  --css-bg-color--peach-l-90: white;
  --css-bg-color--peach-l-95: white;
  --css-bg-color--peach-l-100: white;
  --css-bg-color--peach-d-5: rgb(242.25, 197.625, 153);
  --css-bg-color--peach-d-10: rgb(229.5, 191.25, 153);
  --css-bg-color--peach-d-15: rgb(216.75, 184.875, 153);
  --css-bg-color--peach-d-20: rgb(204, 178.5, 153);
  --css-bg-color--peach-d-25: rgb(191.25, 172.125, 153);
  --css-bg-color--peach-d-30: rgb(178.5, 165.75, 153);
  --css-bg-color--peach-d-35: rgb(165.75, 159.375, 153);
  --css-bg-color--peach-d-40: #999999;
  --css-bg-color--peach-d-45: rgb(145.7142857143, 145.7142857143, 145.7142857143);
  --css-bg-color--peach-d-50: rgb(139.0909090909, 139.0909090909, 139.0909090909);
  --css-bg-color--peach-d-55: rgb(133.0434782609, 133.0434782609, 133.0434782609);
  --css-bg-color--peach-d-60: rgb(127.5, 127.5, 127.5);
  --css-bg-color--peach-d-65: rgb(122.4, 122.4, 122.4);
  --css-bg-color--peach-d-70: rgb(117.6923076923, 117.6923076923, 117.6923076923);
  --css-bg-color--peach-d-75: rgb(113.3333333333, 113.3333333333, 113.3333333333);
  --css-bg-color--peach-d-80: rgb(109.2857142857, 109.2857142857, 109.2857142857);
  --css-bg-color--peach-d-85: rgb(105.5172413793, 105.5172413793, 105.5172413793);
  --css-bg-color--peach-d-90: #666666;
  --css-bg-color--peach-d-95: rgb(98.7096774194, 98.7096774194, 98.7096774194);
  --css-bg-color--peach-d-100: rgb(95.625, 95.625, 95.625);
}

.css-color--peach {
  color: var(--css-color--peach, #ffcc99);
}

.css-color--peach-l-5 {
  color: var(--css-color--peach-l-5, rgb(255, 210.375, 165.75));
}

.css-color--peach-l-10 {
  color: var(--css-color--peach-l-10, rgb(255, 216.75, 178.5));
}

.css-color--peach-l-15 {
  color: var(--css-color--peach-l-15, rgb(255, 223.125, 191.25));
}

.css-color--peach-l-20 {
  color: var(--css-color--peach-l-20, rgb(255, 229.5, 204));
}

.css-color--peach-l-25 {
  color: var(--css-color--peach-l-25, rgb(255, 235.875, 216.75));
}

.css-color--peach-l-30 {
  color: var(--css-color--peach-l-30, rgb(255, 242.25, 229.5));
}

.css-color--peach-l-35 {
  color: var(--css-color--peach-l-35, rgb(255, 248.625, 242.25));
}

.css-color--peach-l-40 {
  color: var(--css-color--peach-l-40, white);
}

.css-color--peach-l-45 {
  color: var(--css-color--peach-l-45, white);
}

.css-color--peach-l-50 {
  color: var(--css-color--peach-l-50, white);
}

.css-color--peach-l-55 {
  color: var(--css-color--peach-l-55, white);
}

.css-color--peach-l-60 {
  color: var(--css-color--peach-l-60, white);
}

.css-color--peach-l-65 {
  color: var(--css-color--peach-l-65, white);
}

.css-color--peach-l-70 {
  color: var(--css-color--peach-l-70, white);
}

.css-color--peach-l-75 {
  color: var(--css-color--peach-l-75, white);
}

.css-color--peach-l-80 {
  color: var(--css-color--peach-l-80, white);
}

.css-color--peach-l-85 {
  color: var(--css-color--peach-l-85, white);
}

.css-color--peach-l-90 {
  color: var(--css-color--peach-l-90, white);
}

.css-color--peach-l-95 {
  color: var(--css-color--peach-l-95, white);
}

.css-color--peach-l-100 {
  color: var(--css-color--peach-l-100, white);
}

.css-color--peach-d-5 {
  color: var(--css-color--peach-d-5, rgb(242.25, 197.625, 153));
}

.css-color--peach-d-10 {
  color: var(--css-color--peach-d-10, rgb(229.5, 191.25, 153));
}

.css-color--peach-d-15 {
  color: var(--css-color--peach-d-15, rgb(216.75, 184.875, 153));
}

.css-color--peach-d-20 {
  color: var(--css-color--peach-d-20, rgb(204, 178.5, 153));
}

.css-color--peach-d-25 {
  color: var(--css-color--peach-d-25, rgb(191.25, 172.125, 153));
}

.css-color--peach-d-30 {
  color: var(--css-color--peach-d-30, rgb(178.5, 165.75, 153));
}

.css-color--peach-d-35 {
  color: var(--css-color--peach-d-35, rgb(165.75, 159.375, 153));
}

.css-color--peach-d-40 {
  color: var(--css-color--peach-d-40, #999999);
}

.css-color--peach-d-45 {
  color: var(--css-color--peach-d-45, rgb(145.7142857143, 145.7142857143, 145.7142857143));
}

.css-color--peach-d-50 {
  color: var(--css-color--peach-d-50, rgb(139.0909090909, 139.0909090909, 139.0909090909));
}

.css-color--peach-d-55 {
  color: var(--css-color--peach-d-55, rgb(133.0434782609, 133.0434782609, 133.0434782609));
}

.css-color--peach-d-60 {
  color: var(--css-color--peach-d-60, rgb(127.5, 127.5, 127.5));
}

.css-color--peach-d-65 {
  color: var(--css-color--peach-d-65, rgb(122.4, 122.4, 122.4));
}

.css-color--peach-d-70 {
  color: var(--css-color--peach-d-70, rgb(117.6923076923, 117.6923076923, 117.6923076923));
}

.css-color--peach-d-75 {
  color: var(--css-color--peach-d-75, rgb(113.3333333333, 113.3333333333, 113.3333333333));
}

.css-color--peach-d-80 {
  color: var(--css-color--peach-d-80, rgb(109.2857142857, 109.2857142857, 109.2857142857));
}

.css-color--peach-d-85 {
  color: var(--css-color--peach-d-85, rgb(105.5172413793, 105.5172413793, 105.5172413793));
}

.css-color--peach-d-90 {
  color: var(--css-color--peach-d-90, #666666);
}

.css-color--peach-d-95 {
  color: var(--css-color--peach-d-95, rgb(98.7096774194, 98.7096774194, 98.7096774194));
}

.css-color--peach-d-100 {
  color: var(--css-color--peach-d-100, rgb(95.625, 95.625, 95.625));
}

.css-bg-color--peach {
  background-color: var(--css-color--peach, #ffcc99);
}

.css-bg-color--peach-l-5 {
  background-color: var(--css-bg-color--peach-l-5, rgb(255, 210.375, 165.75));
}

.css-bg-color--peach-l-10 {
  background-color: var(--css-bg-color--peach-l-10, rgb(255, 216.75, 178.5));
}

.css-bg-color--peach-l-15 {
  background-color: var(--css-bg-color--peach-l-15, rgb(255, 223.125, 191.25));
}

.css-bg-color--peach-l-20 {
  background-color: var(--css-bg-color--peach-l-20, rgb(255, 229.5, 204));
}

.css-bg-color--peach-l-25 {
  background-color: var(--css-bg-color--peach-l-25, rgb(255, 235.875, 216.75));
}

.css-bg-color--peach-l-30 {
  background-color: var(--css-bg-color--peach-l-30, rgb(255, 242.25, 229.5));
}

.css-bg-color--peach-l-35 {
  background-color: var(--css-bg-color--peach-l-35, rgb(255, 248.625, 242.25));
}

.css-bg-color--peach-l-40 {
  background-color: var(--css-bg-color--peach-l-40, white);
}

.css-bg-color--peach-l-45 {
  background-color: var(--css-bg-color--peach-l-45, white);
}

.css-bg-color--peach-l-50 {
  background-color: var(--css-bg-color--peach-l-50, white);
}

.css-bg-color--peach-l-55 {
  background-color: var(--css-bg-color--peach-l-55, white);
}

.css-bg-color--peach-l-60 {
  background-color: var(--css-bg-color--peach-l-60, white);
}

.css-bg-color--peach-l-65 {
  background-color: var(--css-bg-color--peach-l-65, white);
}

.css-bg-color--peach-l-70 {
  background-color: var(--css-bg-color--peach-l-70, white);
}

.css-bg-color--peach-l-75 {
  background-color: var(--css-bg-color--peach-l-75, white);
}

.css-bg-color--peach-l-80 {
  background-color: var(--css-bg-color--peach-l-80, white);
}

.css-bg-color--peach-l-85 {
  background-color: var(--css-bg-color--peach-l-85, white);
}

.css-bg-color--peach-l-90 {
  background-color: var(--css-bg-color--peach-l-90, white);
}

.css-bg-color--peach-l-95 {
  background-color: var(--css-bg-color--peach-l-95, white);
}

.css-bg-color--peach-l-100 {
  background-color: var(--css-bg-color--peach-l-100, white);
}

.css-bg-color--peach-d-5 {
  background-color: var(--css-bg-color--peach-d-5, rgb(242.25, 197.625, 153));
}

.css-bg-color--peach-d-10 {
  background-color: var(--css-bg-color--peach-d-10, rgb(229.5, 191.25, 153));
}

.css-bg-color--peach-d-15 {
  background-color: var(--css-bg-color--peach-d-15, rgb(216.75, 184.875, 153));
}

.css-bg-color--peach-d-20 {
  background-color: var(--css-bg-color--peach-d-20, rgb(204, 178.5, 153));
}

.css-bg-color--peach-d-25 {
  background-color: var(--css-bg-color--peach-d-25, rgb(191.25, 172.125, 153));
}

.css-bg-color--peach-d-30 {
  background-color: var(--css-bg-color--peach-d-30, rgb(178.5, 165.75, 153));
}

.css-bg-color--peach-d-35 {
  background-color: var(--css-bg-color--peach-d-35, rgb(165.75, 159.375, 153));
}

.css-bg-color--peach-d-40 {
  background-color: var(--css-bg-color--peach-d-40, #999999);
}

.css-bg-color--peach-d-45 {
  background-color: var(--css-bg-color--peach-d-45, rgb(145.7142857143, 145.7142857143, 145.7142857143));
}

.css-bg-color--peach-d-50 {
  background-color: var(--css-bg-color--peach-d-50, rgb(139.0909090909, 139.0909090909, 139.0909090909));
}

.css-bg-color--peach-d-55 {
  background-color: var(--css-bg-color--peach-d-55, rgb(133.0434782609, 133.0434782609, 133.0434782609));
}

.css-bg-color--peach-d-60 {
  background-color: var(--css-bg-color--peach-d-60, rgb(127.5, 127.5, 127.5));
}

.css-bg-color--peach-d-65 {
  background-color: var(--css-bg-color--peach-d-65, rgb(122.4, 122.4, 122.4));
}

.css-bg-color--peach-d-70 {
  background-color: var(--css-bg-color--peach-d-70, rgb(117.6923076923, 117.6923076923, 117.6923076923));
}

.css-bg-color--peach-d-75 {
  background-color: var(--css-bg-color--peach-d-75, rgb(113.3333333333, 113.3333333333, 113.3333333333));
}

.css-bg-color--peach-d-80 {
  background-color: var(--css-bg-color--peach-d-80, rgb(109.2857142857, 109.2857142857, 109.2857142857));
}

.css-bg-color--peach-d-85 {
  background-color: var(--css-bg-color--peach-d-85, rgb(105.5172413793, 105.5172413793, 105.5172413793));
}

.css-bg-color--peach-d-90 {
  background-color: var(--css-bg-color--peach-d-90, #666666);
}

.css-bg-color--peach-d-95 {
  background-color: var(--css-bg-color--peach-d-95, rgb(98.7096774194, 98.7096774194, 98.7096774194));
}

.css-bg-color--peach-d-100 {
  background-color: var(--css-bg-color--peach-d-100, rgb(95.625, 95.625, 95.625));
}