///
/// SCSS variables
///

// Red.
$red_50:  #fef2f2;
$red_100: #fee2e2;
$red_200: #fecaca;
$red_300: #fca5a5;
$red_400: #f87171;
$red_500: #ef4444;
$red_600: #dc2626;
$red_700: #b91c1c;
$red_800: #991b1b;
$red_900: #7f1d1d;
$red_950: #450a0a;

// Orange.
$orange_50:  #fff7ed;
$orange_100: #ffedd5;
$orange_200: #ffd7a8;
$orange_300: #ffb96d;
$orange_400: #ff8b1a;
$orange_500: #fe6e00;
$orange_600: #f05100;
$orange_700: #c53c00;
$orange_800: #9f2d00;
$orange_900: #7e2a0c;
$orange_950: #441306;

// Amber.
$amber_50:  #fffbeb;
$amber_100: #fef3c6;
$amber_200: #fee685;
$amber_300: #ffd236;
$amber_400: #fcbb00;
$amber_500: #f99c00;
$amber_600: #dd7400;
$amber_700: #b75000;
$amber_800: #953d00;
$amber_900: #7b3306;
$amber_950: #461901;

// Yellow.
$yellow_50:  #fefce8;
$yellow_100: #fef9c2;
$yellow_200: #fff085;
$yellow_300: #ffe02a;
$yellow_400: #fac800;
$yellow_500: #edb200;
$yellow_600: #cd8900;
$yellow_700: #a36100;
$yellow_800: #874b00;
$yellow_900: #733e0a;
$yellow_950: #432004;

// Lime.
$lime_50:  #f7fee7;
$lime_100: #ecfcca;
$lime_200: #d8f999;
$lime_300: #bbf451;
$lime_400: #9de500;
$lime_500: #80cd00;
$lime_600: #62a400;
$lime_700: #4b7d00;
$lime_800: #3d6300;
$lime_900: #35530e;
$lime_950: #192e03;

// Green.
$green_50:  #f0fdf4;
$green_100: #dcfce7;
$green_200: #b9f8cf;
$green_300: #7bf1a8;
$green_400: #05df72;
$green_500: #00c758;
$green_600: #00a544;
$green_700: #008138;
$green_800: #016630;
$green_900: #0d542b;
$green_950: #032e15;

// Emerald.
$emerald_50:  #ecfdf5;
$emerald_100: #d0fae5;
$emerald_200: #a4f4cf;
$emerald_300: #5ee9b5;
$emerald_400: #00d294;
$emerald_500: #00bb7f;
$emerald_600: #009767;
$emerald_700: #007956;
$emerald_800: #005f46;
$emerald_900: #004e3b;
$emerald_950: #002c22;

// Teal.
$teal_50:  #f0fdfa;
$teal_100: #cbfbf1;
$teal_200: #96f7e4;
$teal_300: #46ecd5;
$teal_400: #00d3bd;
$teal_500: #00baa7;
$teal_600: #009588;
$teal_700: #00776e;
$teal_800: #005f5a;
$teal_900: #0b4f4a;
$teal_950: #022f2e;

// Cyan.
$cyan_50:  #ecfeff;
$cyan_100: #cefafe;
$cyan_200: #a2f4fd;
$cyan_300: #53eafd;
$cyan_400: #00d2ef;
$cyan_500: #00b7d7;
$cyan_600: #0092b5;
$cyan_700: #007492;
$cyan_800: #005f78;
$cyan_900: #104e64;
$cyan_950: #053345;

// Sky.
$sky_50:  #f0f9ff;
$sky_100: #dff2fe;
$sky_200: #b8e6fe;
$sky_300: #77d4ff;
$sky_400: #00bcfe;
$sky_500: #00a5ef;
$sky_600: #0084cc;
$sky_700: #0069a4;
$sky_800: #005986;
$sky_900: #024a70;
$sky_950: #052f4a;

// Blue.
$blue_50:  #eff6ff;
$blue_100: #dbeafe;
$blue_200: #bedbff;
$blue_300: #90c5ff;
$blue_400: #54a2ff;
$blue_500: #3080ff;
$blue_600: #155dfc;
$blue_700: #1447e6;
$blue_800: #193cb8;
$blue_900: #1c398e;
$blue_950: #162456;

// Indigo.
$indigo_50:  #eef2ff;
$indigo_100: #e0e7ff;
$indigo_200: #c7d2ff;
$indigo_300: #a4b3ff;
$indigo_400: #7d87ff;
$indigo_500: #625fff;
$indigo_600: #4f39f6;
$indigo_700: #432dd7;
$indigo_800: #372aac;
$indigo_900: #312c85;
$indigo_950: #1e1a4d;

// Violet.
$violet_50:  #f5f3ff;
$violet_100: #ede9fe;
$violet_200: #ddd6ff;
$violet_300: #c4b4ff;
$violet_400: #a685ff;
$violet_500: #8d54ff;
$violet_600: #7f22fe;
$violet_700: #7008e7;
$violet_800: #5d0ec0;
$violet_900: #4d179a;
$violet_950: #2f0d68;

// Purple.
$purple_50:  #faf5ff;
$purple_100: #f3e8ff;
$purple_200: #e9d5ff;
$purple_300: #d9b3ff;
$purple_400: #c07eff;
$purple_500: #ac4bff;
$purple_600: #9810fa;
$purple_700: #8200da;
$purple_800: #6e11b0;
$purple_900: #59168b;
$purple_950: #3c0366;

// Fuchsia.
$fuchsia_50:  #fdf4ff;
$fuchsia_100: #fae8ff;
$fuchsia_200: #f6cfff;
$fuchsia_300: #f2a9ff;
$fuchsia_400: #ec6cff;
$fuchsia_500: #e12afb;
$fuchsia_600: #c600db;
$fuchsia_700: #a600b5;
$fuchsia_800: #8a0194;
$fuchsia_900: #721378;
$fuchsia_950: #4b004f;

// Pink.
$pink_50:  #fdf2f8;
$pink_100: #fce7f3;
$pink_200: #fccee8;
$pink_300: #fda5d5;
$pink_400: #fb64b6;
$pink_500: #f6339a;
$pink_600: #e30076;
$pink_700: #c4005c;
$pink_800: #a2004c;
$pink_900: #861043;
$pink_950: #510424;

// Rose.
$rose_50:  #fff1f2;
$rose_100: #ffe4e6;
$rose_200: #ffccd3;
$rose_300: #ffa2ae;
$rose_400: #ff667f;
$rose_500: #ff2357;
$rose_600: #e70044;
$rose_700: #c20039;
$rose_800: #a30037;
$rose_900: #8b0836;
$rose_950: #4d0218;

// Slate.
$slate_50:  #f8fafc;
$slate_100: #f1f5f9;
$slate_200: #e2e8f0;
$slate_300: #cad5e2;
$slate_400: #90a1b9;
$slate_500: #62748e;
$slate_600: #45556c;
$slate_700: #314158;
$slate_800: #1d293d;
$slate_900: #0f172b;
$slate_950: #020618;

// Gray.
$gray_50:  #f9fafb;
$gray_100: #f3f4f6;
$gray_200: #e5e7eb;
$gray_300: #d1d5dc;
$gray_400: #99a1af;
$gray_500: #6a7282;
$gray_600: #4a5565;
$gray_700: #364153;
$gray_800: #1e2939;
$gray_900: #101828;
$gray_950: #030712;

// Zinc.
$zinc_50:  #fafafa;
$zinc_100: #f4f4f5;
$zinc_200: #e4e4e7;
$zinc_300: #d4d4d8;
$zinc_400: #9f9fa9;
$zinc_500: #71717b;
$zinc_600: #52525c;
$zinc_700: #3f3f46;
$zinc_800: #27272a;
$zinc_900: #18181b;
$zinc_950: #09090b;

// Neutral.
$neutral_50:  #fafafa;
$neutral_100: #f5f5f5;
$neutral_200: #e5e5e5;
$neutral_300: #d4d4d4;
$neutral_400: #a1a1a1;
$neutral_500: #737373;
$neutral_600: #525252;
$neutral_700: #404040;
$neutral_800: #262626;
$neutral_900: #171717;
$neutral_950: #0a0a0a;

// Stone.
$stone_50:  #fafaf9;
$stone_100: #f5f5f4;
$stone_200: #e7e5e4;
$stone_300: #d6d3d1;
$stone_400: #a6a09b;
$stone_500: #79716b;
$stone_600: #57534d;
$stone_700: #44403b;
$stone_800: #292524;
$stone_900: #1c1917;
$stone_950: #0c0a09;

// Taupe.
$taupe_50:  #fbfaf9;
$taupe_100: #f3f1f1;
$taupe_200: #e8e4e3;
$taupe_300: #d8d2d0;
$taupe_400: #aba09c;
$taupe_500: #7c6d67;
$taupe_600: #5b4f4b;
$taupe_700: #473c39;
$taupe_800: #2b2422;
$taupe_900: #1d1816;
$taupe_950: #0c0a09;

// Mauve.
$mauve_50:  #fafafa;
$mauve_100: #f3f1f3;
$mauve_200: #e7e4e7;
$mauve_300: #d7d0d7;
$mauve_400: #a89ea9;
$mauve_500: #79697b;
$mauve_600: #594c5b;
$mauve_700: #463947;
$mauve_800: #2a212c;
$mauve_900: #1d161e;
$mauve_950: #0c090c;

// Mist.
$mist_50:  #f9fbfb;
$mist_100: #f1f3f3;
$mist_200: #e3e7e8;
$mist_300: #d0d6d8;
$mist_400: #9ca8ab;
$mist_500: #67787c;
$mist_600: #4b585b;
$mist_700: #394447;
$mist_800: #22292b;
$mist_900: #161b1d;
$mist_950: #090b0c;

// Olive.
$olive_50:  #fbfbf9;
$olive_100: #f4f4f0;
$olive_200: #e8e8e3;
$olive_300: #d8d8d0;
$olive_400: #abab9c;
$olive_500: #7c7c67;
$olive_600: #5b5b4b;
$olive_700: #474739;
$olive_800: #2b2b22;
$olive_900: #1d1d16;
$olive_950: #0c0c09;
