///
/// Amber properties
///

@import '_variables';

:root {

	// Original color.
	--css-color--amber: #{$css-color--amber};

	// Lighten color by percentage.
	--css-color--amber-l-5: #{$css-color--amber-l-5};
	--css-color--amber-l-10: #{$css-color--amber-l-10};
	--css-color--amber-l-15: #{$css-color--amber-l-15};
	--css-color--amber-l-20: #{$css-color--amber-l-20};
	--css-color--amber-l-25: #{$css-color--amber-l-25};
	--css-color--amber-l-30: #{$css-color--amber-l-30};
	--css-color--amber-l-35: #{$css-color--amber-l-35};
	--css-color--amber-l-40: #{$css-color--amber-l-40};
	--css-color--amber-l-45: #{$css-color--amber-l-45};
	--css-color--amber-l-50: #{$css-color--amber-l-50};
	--css-color--amber-l-55: #{$css-color--amber-l-55};
	--css-color--amber-l-60: #{$css-color--amber-l-60};
	--css-color--amber-l-65: #{$css-color--amber-l-65};
	--css-color--amber-l-70: #{$css-color--amber-l-70};
	--css-color--amber-l-75: #{$css-color--amber-l-75};
	--css-color--amber-l-80: #{$css-color--amber-l-80};
	--css-color--amber-l-85: #{$css-color--amber-l-85};
	--css-color--amber-l-90: #{$css-color--amber-l-90};
	--css-color--amber-l-95: #{$css-color--amber-l-95};
	--css-color--amber-l-100: #{$css-color--amber-l-100};

	// Darken color by percentage.
	--css-color--amber-d-5: #{$css-color--amber-d-5};
	--css-color--amber-d-10: #{$css-color--amber-d-10};
	--css-color--amber-d-15: #{$css-color--amber-d-15};
	--css-color--amber-d-20: #{$css-color--amber-d-20};
	--css-color--amber-d-25: #{$css-color--amber-d-25};
	--css-color--amber-d-30: #{$css-color--amber-d-30};
	--css-color--amber-d-35: #{$css-color--amber-d-35};
	--css-color--amber-d-40: #{$css-color--amber-d-40};
	--css-color--amber-d-45: #{$css-color--amber-d-45};
	--css-color--amber-d-50: #{$css-color--amber-d-50};
	--css-color--amber-d-55: #{$css-color--amber-d-55};
	--css-color--amber-d-60: #{$css-color--amber-d-60};
	--css-color--amber-d-65: #{$css-color--amber-d-65};
	--css-color--amber-d-70: #{$css-color--amber-d-70};
	--css-color--amber-d-75: #{$css-color--amber-d-75};
	--css-color--amber-d-80: #{$css-color--amber-d-80};
	--css-color--amber-d-85: #{$css-color--amber-d-85};
	--css-color--amber-d-90: #{$css-color--amber-d-90};
	--css-color--amber-d-95: #{$css-color--amber-d-95};
	--css-color--amber-d-100: #{$css-color--amber-d-100};

	// Original background color.
	--css-bg-color--amber: #{$css-color--amber};

	// Lighten background color by percentage.
	--css-bg-color--amber-l-5: #{$css-color--amber-l-5};
	--css-bg-color--amber-l-10: #{$css-color--amber-l-10};
	--css-bg-color--amber-l-15: #{$css-color--amber-l-15};
	--css-bg-color--amber-l-20: #{$css-color--amber-l-20};
	--css-bg-color--amber-l-25: #{$css-color--amber-l-25};
	--css-bg-color--amber-l-30: #{$css-color--amber-l-30};
	--css-bg-color--amber-l-35: #{$css-color--amber-l-35};
	--css-bg-color--amber-l-40: #{$css-color--amber-l-40};
	--css-bg-color--amber-l-45: #{$css-color--amber-l-45};
	--css-bg-color--amber-l-50: #{$css-color--amber-l-50};
	--css-bg-color--amber-l-55: #{$css-color--amber-l-55};
	--css-bg-color--amber-l-60: #{$css-color--amber-l-60};
	--css-bg-color--amber-l-65: #{$css-color--amber-l-65};
	--css-bg-color--amber-l-70: #{$css-color--amber-l-70};
	--css-bg-color--amber-l-75: #{$css-color--amber-l-75};
	--css-bg-color--amber-l-80: #{$css-color--amber-l-80};
	--css-bg-color--amber-l-85: #{$css-color--amber-l-85};
	--css-bg-color--amber-l-90: #{$css-color--amber-l-90};
	--css-bg-color--amber-l-95: #{$css-color--amber-l-95};
	--css-bg-color--amber-l-100: #{$css-color--amber-l-100};

	// Darken background color by percentage.
	--css-bg-color--amber-d-5: #{$css-color--amber-d-5};
	--css-bg-color--amber-d-10: #{$css-color--amber-d-10};
	--css-bg-color--amber-d-15: #{$css-color--amber-d-15};
	--css-bg-color--amber-d-20: #{$css-color--amber-d-20};
	--css-bg-color--amber-d-25: #{$css-color--amber-d-25};
	--css-bg-color--amber-d-30: #{$css-color--amber-d-30};
	--css-bg-color--amber-d-35: #{$css-color--amber-d-35};
	--css-bg-color--amber-d-40: #{$css-color--amber-d-40};
	--css-bg-color--amber-d-45: #{$css-color--amber-d-45};
	--css-bg-color--amber-d-50: #{$css-color--amber-d-50};
	--css-bg-color--amber-d-55: #{$css-color--amber-d-55};
	--css-bg-color--amber-d-60: #{$css-color--amber-d-60};
	--css-bg-color--amber-d-65: #{$css-color--amber-d-65};
	--css-bg-color--amber-d-70: #{$css-color--amber-d-70};
	--css-bg-color--amber-d-75: #{$css-color--amber-d-75};
	--css-bg-color--amber-d-80: #{$css-color--amber-d-80};
	--css-bg-color--amber-d-85: #{$css-color--amber-d-85};
	--css-bg-color--amber-d-90: #{$css-color--amber-d-90};
	--css-bg-color--amber-d-95: #{$css-color--amber-d-95};
	--css-bg-color--amber-d-100: #{$css-color--amber-d-100};
}
