///
/// Rebeccapurple variables
///

@use 'sass:color';

$css-color--rebeccapurple: #663399;

// Lighten color by percentage.
$css-color--rebeccapurple-l-5: #{color.adjust( $css-color--rebeccapurple, $whiteness: 5% )};
$css-color--rebeccapurple-l-10: #{color.adjust( $css-color--rebeccapurple, $whiteness: 10% )};
$css-color--rebeccapurple-l-15: #{color.adjust( $css-color--rebeccapurple, $whiteness: 15% )};
$css-color--rebeccapurple-l-20: #{color.adjust( $css-color--rebeccapurple, $whiteness: 20% )};
$css-color--rebeccapurple-l-25: #{color.adjust( $css-color--rebeccapurple, $whiteness: 25% )};
$css-color--rebeccapurple-l-30: #{color.adjust( $css-color--rebeccapurple, $whiteness: 30% )};
$css-color--rebeccapurple-l-35: #{color.adjust( $css-color--rebeccapurple, $whiteness: 35% )};
$css-color--rebeccapurple-l-40: #{color.adjust( $css-color--rebeccapurple, $whiteness: 40% )};
$css-color--rebeccapurple-l-45: #{color.adjust( $css-color--rebeccapurple, $whiteness: 45% )};
$css-color--rebeccapurple-l-50: #{color.adjust( $css-color--rebeccapurple, $whiteness: 50% )};
$css-color--rebeccapurple-l-55: #{color.adjust( $css-color--rebeccapurple, $whiteness: 55% )};
$css-color--rebeccapurple-l-60: #{color.adjust( $css-color--rebeccapurple, $whiteness: 60% )};
$css-color--rebeccapurple-l-65: #{color.adjust( $css-color--rebeccapurple, $whiteness: 65% )};
$css-color--rebeccapurple-l-70: #{color.adjust( $css-color--rebeccapurple, $whiteness: 70% )};
$css-color--rebeccapurple-l-75: #{color.adjust( $css-color--rebeccapurple, $whiteness: 75% )};
$css-color--rebeccapurple-l-80: #{color.adjust( $css-color--rebeccapurple, $whiteness: 80% )};
$css-color--rebeccapurple-l-85: #{color.adjust( $css-color--rebeccapurple, $whiteness: 85% )};
$css-color--rebeccapurple-l-90: #{color.adjust( $css-color--rebeccapurple, $whiteness: 90% )};
$css-color--rebeccapurple-l-95: #{color.adjust( $css-color--rebeccapurple, $whiteness: 95% )};
$css-color--rebeccapurple-l-100: #{color.adjust( $css-color--rebeccapurple, $whiteness: 100% )};

// Darken color by percentage.
$css-color--rebeccapurple-d-5: #{color.adjust( $css-color--rebeccapurple, $blackness: 5% )};
$css-color--rebeccapurple-d-10: #{color.adjust( $css-color--rebeccapurple, $blackness: 10% )};
$css-color--rebeccapurple-d-15: #{color.adjust( $css-color--rebeccapurple, $blackness: 15% )};
$css-color--rebeccapurple-d-20: #{color.adjust( $css-color--rebeccapurple, $blackness: 20% )};
$css-color--rebeccapurple-d-25: #{color.adjust( $css-color--rebeccapurple, $blackness: 25% )};
$css-color--rebeccapurple-d-30: #{color.adjust( $css-color--rebeccapurple, $blackness: 30% )};
$css-color--rebeccapurple-d-35: #{color.adjust( $css-color--rebeccapurple, $blackness: 35% )};
$css-color--rebeccapurple-d-40: #{color.adjust( $css-color--rebeccapurple, $blackness: 40% )};
$css-color--rebeccapurple-d-45: #{color.adjust( $css-color--rebeccapurple, $blackness: 45% )};
$css-color--rebeccapurple-d-50: #{color.adjust( $css-color--rebeccapurple, $blackness: 50% )};
$css-color--rebeccapurple-d-55: #{color.adjust( $css-color--rebeccapurple, $blackness: 55% )};
$css-color--rebeccapurple-d-60: #{color.adjust( $css-color--rebeccapurple, $blackness: 60% )};
$css-color--rebeccapurple-d-65: #{color.adjust( $css-color--rebeccapurple, $blackness: 65% )};
$css-color--rebeccapurple-d-70: #{color.adjust( $css-color--rebeccapurple, $blackness: 70% )};
$css-color--rebeccapurple-d-75: #{color.adjust( $css-color--rebeccapurple, $blackness: 75% )};
$css-color--rebeccapurple-d-80: #{color.adjust( $css-color--rebeccapurple, $blackness: 80% )};
$css-color--rebeccapurple-d-85: #{color.adjust( $css-color--rebeccapurple, $blackness: 85% )};
$css-color--rebeccapurple-d-90: #{color.adjust( $css-color--rebeccapurple, $blackness: 90% )};
$css-color--rebeccapurple-d-95: #{color.adjust( $css-color--rebeccapurple, $blackness: 95% )};
$css-color--rebeccapurple-d-100: #{color.adjust( $css-color--rebeccapurple, $blackness: 100% )};

// Lighten background color by percentage.
$css-bg-color--rebeccapurple-l-5: #{color.adjust( $css-color--rebeccapurple, $whiteness: 5% )};
$css-bg-color--rebeccapurple-l-10: #{color.adjust( $css-color--rebeccapurple, $whiteness: 10% )};
$css-bg-color--rebeccapurple-l-15: #{color.adjust( $css-color--rebeccapurple, $whiteness: 15% )};
$css-bg-color--rebeccapurple-l-20: #{color.adjust( $css-color--rebeccapurple, $whiteness: 20% )};
$css-bg-color--rebeccapurple-l-25: #{color.adjust( $css-color--rebeccapurple, $whiteness: 25% )};
$css-bg-color--rebeccapurple-l-30: #{color.adjust( $css-color--rebeccapurple, $whiteness: 30% )};
$css-bg-color--rebeccapurple-l-35: #{color.adjust( $css-color--rebeccapurple, $whiteness: 35% )};
$css-bg-color--rebeccapurple-l-40: #{color.adjust( $css-color--rebeccapurple, $whiteness: 40% )};
$css-bg-color--rebeccapurple-l-45: #{color.adjust( $css-color--rebeccapurple, $whiteness: 45% )};
$css-bg-color--rebeccapurple-l-50: #{color.adjust( $css-color--rebeccapurple, $whiteness: 50% )};
$css-bg-color--rebeccapurple-l-55: #{color.adjust( $css-color--rebeccapurple, $whiteness: 55% )};
$css-bg-color--rebeccapurple-l-60: #{color.adjust( $css-color--rebeccapurple, $whiteness: 60% )};
$css-bg-color--rebeccapurple-l-65: #{color.adjust( $css-color--rebeccapurple, $whiteness: 65% )};
$css-bg-color--rebeccapurple-l-70: #{color.adjust( $css-color--rebeccapurple, $whiteness: 70% )};
$css-bg-color--rebeccapurple-l-75: #{color.adjust( $css-color--rebeccapurple, $whiteness: 75% )};
$css-bg-color--rebeccapurple-l-80: #{color.adjust( $css-color--rebeccapurple, $whiteness: 80% )};
$css-bg-color--rebeccapurple-l-85: #{color.adjust( $css-color--rebeccapurple, $whiteness: 85% )};
$css-bg-color--rebeccapurple-l-90: #{color.adjust( $css-color--rebeccapurple, $whiteness: 90% )};
$css-bg-color--rebeccapurple-l-95: #{color.adjust( $css-color--rebeccapurple, $whiteness: 95% )};
$css-bg-color--rebeccapurple-l-100: #{color.adjust( $css-color--rebeccapurple, $whiteness: 100% )};

// Darken background color by percentage.
$css-bg-color--rebeccapurple-d-5: #{color.adjust( $css-color--rebeccapurple, $blackness: 5% )};
$css-bg-color--rebeccapurple-d-10: #{color.adjust( $css-color--rebeccapurple, $blackness: 10% )};
$css-bg-color--rebeccapurple-d-15: #{color.adjust( $css-color--rebeccapurple, $blackness: 15% )};
$css-bg-color--rebeccapurple-d-20: #{color.adjust( $css-color--rebeccapurple, $blackness: 20% )};
$css-bg-color--rebeccapurple-d-25: #{color.adjust( $css-color--rebeccapurple, $blackness: 25% )};
$css-bg-color--rebeccapurple-d-30: #{color.adjust( $css-color--rebeccapurple, $blackness: 30% )};
$css-bg-color--rebeccapurple-d-35: #{color.adjust( $css-color--rebeccapurple, $blackness: 35% )};
$css-bg-color--rebeccapurple-d-40: #{color.adjust( $css-color--rebeccapurple, $blackness: 40% )};
$css-bg-color--rebeccapurple-d-45: #{color.adjust( $css-color--rebeccapurple, $blackness: 45% )};
$css-bg-color--rebeccapurple-d-50: #{color.adjust( $css-color--rebeccapurple, $blackness: 50% )};
$css-bg-color--rebeccapurple-d-55: #{color.adjust( $css-color--rebeccapurple, $blackness: 55% )};
$css-bg-color--rebeccapurple-d-60: #{color.adjust( $css-color--rebeccapurple, $blackness: 60% )};
$css-bg-color--rebeccapurple-d-65: #{color.adjust( $css-color--rebeccapurple, $blackness: 65% )};
$css-bg-color--rebeccapurple-d-70: #{color.adjust( $css-color--rebeccapurple, $blackness: 70% )};
$css-bg-color--rebeccapurple-d-75: #{color.adjust( $css-color--rebeccapurple, $blackness: 75% )};
$css-bg-color--rebeccapurple-d-80: #{color.adjust( $css-color--rebeccapurple, $blackness: 80% )};
$css-bg-color--rebeccapurple-d-85: #{color.adjust( $css-color--rebeccapurple, $blackness: 85% )};
$css-bg-color--rebeccapurple-d-90: #{color.adjust( $css-color--rebeccapurple, $blackness: 90% )};
$css-bg-color--rebeccapurple-d-95: #{color.adjust( $css-color--rebeccapurple, $blackness: 95% )};
$css-bg-color--rebeccapurple-d-100: #{color.adjust( $css-color--rebeccapurple, $blackness: 100% )};
