///
/// Sunglow variables
///

@use 'sass:color';

$css-color--sunglow: #ffcc33;

// Lighten color by percentage.
$css-color--sunglow-l-5: #{color.adjust( $css-color--sunglow, $lightness: 5% )};
$css-color--sunglow-l-10: #{color.adjust( $css-color--sunglow, $lightness: 10% )};
$css-color--sunglow-l-15: #{color.adjust( $css-color--sunglow, $lightness: 15% )};
$css-color--sunglow-l-20: #{color.adjust( $css-color--sunglow, $lightness: 20% )};
$css-color--sunglow-l-25: #{color.adjust( $css-color--sunglow, $lightness: 25% )};
$css-color--sunglow-l-30: #{color.adjust( $css-color--sunglow, $lightness: 30% )};
$css-color--sunglow-l-35: #{color.adjust( $css-color--sunglow, $lightness: 35% )};
$css-color--sunglow-l-40: #{color.adjust( $css-color--sunglow, $lightness: 40% )};
$css-color--sunglow-l-45: #{color.adjust( $css-color--sunglow, $lightness: 45% )};
$css-color--sunglow-l-50: #{color.adjust( $css-color--sunglow, $lightness: 50% )};
$css-color--sunglow-l-55: #{color.adjust( $css-color--sunglow, $lightness: 55% )};
$css-color--sunglow-l-60: #{color.adjust( $css-color--sunglow, $lightness: 60% )};
$css-color--sunglow-l-65: #{color.adjust( $css-color--sunglow, $lightness: 65% )};
$css-color--sunglow-l-70: #{color.adjust( $css-color--sunglow, $lightness: 70% )};
$css-color--sunglow-l-75: #{color.adjust( $css-color--sunglow, $lightness: 75% )};
$css-color--sunglow-l-80: #{color.adjust( $css-color--sunglow, $lightness: 80% )};
$css-color--sunglow-l-85: #{color.adjust( $css-color--sunglow, $lightness: 85% )};
$css-color--sunglow-l-90: #{color.adjust( $css-color--sunglow, $lightness: 90% )};
$css-color--sunglow-l-95: #{color.adjust( $css-color--sunglow, $lightness: 95% )};
$css-color--sunglow-l-100: #{color.adjust( $css-color--sunglow, $lightness: 100% )};

// Darken color by percentage.
$css-color--sunglow-d-5: #{color.adjust( $css-color--sunglow, $lightness: -5% )};
$css-color--sunglow-d-10: #{color.adjust( $css-color--sunglow, $lightness: -10% )};
$css-color--sunglow-d-15: #{color.adjust( $css-color--sunglow, $lightness: -15% )};
$css-color--sunglow-d-20: #{color.adjust( $css-color--sunglow, $lightness: -20% )};
$css-color--sunglow-d-25: #{color.adjust( $css-color--sunglow, $lightness: -25% )};
$css-color--sunglow-d-30: #{color.adjust( $css-color--sunglow, $lightness: -30% )};
$css-color--sunglow-d-35: #{color.adjust( $css-color--sunglow, $lightness: -35% )};
$css-color--sunglow-d-40: #{color.adjust( $css-color--sunglow, $lightness: -40% )};
$css-color--sunglow-d-45: #{color.adjust( $css-color--sunglow, $lightness: -45% )};
$css-color--sunglow-d-50: #{color.adjust( $css-color--sunglow, $lightness: -50% )};
$css-color--sunglow-d-55: #{color.adjust( $css-color--sunglow, $lightness: -55% )};
$css-color--sunglow-d-60: #{color.adjust( $css-color--sunglow, $lightness: -60% )};
$css-color--sunglow-d-65: #{color.adjust( $css-color--sunglow, $lightness: -65% )};
$css-color--sunglow-d-70: #{color.adjust( $css-color--sunglow, $lightness: -70% )};
$css-color--sunglow-d-75: #{color.adjust( $css-color--sunglow, $lightness: -75% )};
$css-color--sunglow-d-80: #{color.adjust( $css-color--sunglow, $lightness: -80% )};
$css-color--sunglow-d-85: #{color.adjust( $css-color--sunglow, $lightness: -85% )};
$css-color--sunglow-d-90: #{color.adjust( $css-color--sunglow, $lightness: -90% )};
$css-color--sunglow-d-95: #{color.adjust( $css-color--sunglow, $lightness: -95% )};
$css-color--sunglow-d-100: #{color.adjust( $css-color--sunglow, $lightness: -100% )};

// Lighten background color by percentage.
$css-bg-color--sunglow-l-5: #{color.adjust( $css-color--sunglow, $lightness: 5% )};
$css-bg-color--sunglow-l-10: #{color.adjust( $css-color--sunglow, $lightness: 10% )};
$css-bg-color--sunglow-l-15: #{color.adjust( $css-color--sunglow, $lightness: 15% )};
$css-bg-color--sunglow-l-20: #{color.adjust( $css-color--sunglow, $lightness: 20% )};
$css-bg-color--sunglow-l-25: #{color.adjust( $css-color--sunglow, $lightness: 25% )};
$css-bg-color--sunglow-l-30: #{color.adjust( $css-color--sunglow, $lightness: 30% )};
$css-bg-color--sunglow-l-35: #{color.adjust( $css-color--sunglow, $lightness: 35% )};
$css-bg-color--sunglow-l-40: #{color.adjust( $css-color--sunglow, $lightness: 40% )};
$css-bg-color--sunglow-l-45: #{color.adjust( $css-color--sunglow, $lightness: 45% )};
$css-bg-color--sunglow-l-50: #{color.adjust( $css-color--sunglow, $lightness: 50% )};
$css-bg-color--sunglow-l-55: #{color.adjust( $css-color--sunglow, $lightness: 55% )};
$css-bg-color--sunglow-l-60: #{color.adjust( $css-color--sunglow, $lightness: 60% )};
$css-bg-color--sunglow-l-65: #{color.adjust( $css-color--sunglow, $lightness: 65% )};
$css-bg-color--sunglow-l-70: #{color.adjust( $css-color--sunglow, $lightness: 70% )};
$css-bg-color--sunglow-l-75: #{color.adjust( $css-color--sunglow, $lightness: 75% )};
$css-bg-color--sunglow-l-80: #{color.adjust( $css-color--sunglow, $lightness: 80% )};
$css-bg-color--sunglow-l-85: #{color.adjust( $css-color--sunglow, $lightness: 85% )};
$css-bg-color--sunglow-l-90: #{color.adjust( $css-color--sunglow, $lightness: 90% )};
$css-bg-color--sunglow-l-95: #{color.adjust( $css-color--sunglow, $lightness: 95% )};
$css-bg-color--sunglow-l-100: #{color.adjust( $css-color--sunglow, $lightness: 100% )};

// Darken background color by percentage.
$css-bg-color--sunglow-d-5: #{color.adjust( $css-color--sunglow, $lightness: -5% )};
$css-bg-color--sunglow-d-10: #{color.adjust( $css-color--sunglow, $lightness: -10% )};
$css-bg-color--sunglow-d-15: #{color.adjust( $css-color--sunglow, $lightness: -15% )};
$css-bg-color--sunglow-d-20: #{color.adjust( $css-color--sunglow, $lightness: -20% )};
$css-bg-color--sunglow-d-25: #{color.adjust( $css-color--sunglow, $lightness: -25% )};
$css-bg-color--sunglow-d-30: #{color.adjust( $css-color--sunglow, $lightness: -30% )};
$css-bg-color--sunglow-d-35: #{color.adjust( $css-color--sunglow, $lightness: -35% )};
$css-bg-color--sunglow-d-40: #{color.adjust( $css-color--sunglow, $lightness: -40% )};
$css-bg-color--sunglow-d-45: #{color.adjust( $css-color--sunglow, $lightness: -45% )};
$css-bg-color--sunglow-d-50: #{color.adjust( $css-color--sunglow, $lightness: -50% )};
$css-bg-color--sunglow-d-55: #{color.adjust( $css-color--sunglow, $lightness: -55% )};
$css-bg-color--sunglow-d-60: #{color.adjust( $css-color--sunglow, $lightness: -60% )};
$css-bg-color--sunglow-d-65: #{color.adjust( $css-color--sunglow, $lightness: -65% )};
$css-bg-color--sunglow-d-70: #{color.adjust( $css-color--sunglow, $lightness: -70% )};
$css-bg-color--sunglow-d-75: #{color.adjust( $css-color--sunglow, $lightness: -75% )};
$css-bg-color--sunglow-d-80: #{color.adjust( $css-color--sunglow, $lightness: -80% )};
$css-bg-color--sunglow-d-85: #{color.adjust( $css-color--sunglow, $lightness: -85% )};
$css-bg-color--sunglow-d-90: #{color.adjust( $css-color--sunglow, $lightness: -90% )};
$css-bg-color--sunglow-d-95: #{color.adjust( $css-color--sunglow, $lightness: -95% )};
$css-bg-color--sunglow-d-100: #{color.adjust( $css-color--sunglow, $lightness: -100% )};
