:host,
:root {
  --css-color--persian-red: #cc3333;
  --css-color--persian-red-l-5: rgb(204, 63.75, 63.75);
  --css-color--persian-red-l-10: rgb(204, 76.5, 76.5);
  --css-color--persian-red-l-15: rgb(204, 89.25, 89.25);
  --css-color--persian-red-l-20: #cc6666;
  --css-color--persian-red-l-25: rgb(204, 114.75, 114.75);
  --css-color--persian-red-l-30: rgb(204, 127.5, 127.5);
  --css-color--persian-red-l-35: rgb(204, 140.25, 140.25);
  --css-color--persian-red-l-40: #cc9999;
  --css-color--persian-red-l-45: rgb(204, 165.75, 165.75);
  --css-color--persian-red-l-50: rgb(204, 178.5, 178.5);
  --css-color--persian-red-l-55: rgb(204, 191.25, 191.25);
  --css-color--persian-red-l-60: #cccccc;
  --css-color--persian-red-l-65: rgb(206.4285714286, 206.4285714286, 206.4285714286);
  --css-color--persian-red-l-70: rgb(208.6363636364, 208.6363636364, 208.6363636364);
  --css-color--persian-red-l-75: rgb(210.652173913, 210.652173913, 210.652173913);
  --css-color--persian-red-l-80: rgb(212.5, 212.5, 212.5);
  --css-color--persian-red-l-85: rgb(214.2, 214.2, 214.2);
  --css-color--persian-red-l-90: rgb(215.7692307692, 215.7692307692, 215.7692307692);
  --css-color--persian-red-l-95: rgb(217.2222222222, 217.2222222222, 217.2222222222);
  --css-color--persian-red-l-100: rgb(218.5714285714, 218.5714285714, 218.5714285714);
  --css-color--persian-red-d-5: rgb(191.25, 51, 51);
  --css-color--persian-red-d-10: rgb(178.5, 51, 51);
  --css-color--persian-red-d-15: rgb(165.75, 51, 51);
  --css-color--persian-red-d-20: #993333;
  --css-color--persian-red-d-25: rgb(140.25, 51, 51);
  --css-color--persian-red-d-30: rgb(127.5, 51, 51);
  --css-color--persian-red-d-35: rgb(114.75, 51, 51);
  --css-color--persian-red-d-40: #663333;
  --css-color--persian-red-d-45: rgb(89.25, 51, 51);
  --css-color--persian-red-d-50: rgb(76.5, 51, 51);
  --css-color--persian-red-d-55: rgb(63.75, 51, 51);
  --css-color--persian-red-d-60: #333333;
  --css-color--persian-red-d-65: rgb(48.5714285714, 48.5714285714, 48.5714285714);
  --css-color--persian-red-d-70: rgb(46.3636363636, 46.3636363636, 46.3636363636);
  --css-color--persian-red-d-75: rgb(44.347826087, 44.347826087, 44.347826087);
  --css-color--persian-red-d-80: rgb(42.5, 42.5, 42.5);
  --css-color--persian-red-d-85: rgb(40.8, 40.8, 40.8);
  --css-color--persian-red-d-90: rgb(39.2307692308, 39.2307692308, 39.2307692308);
  --css-color--persian-red-d-95: rgb(37.7777777778, 37.7777777778, 37.7777777778);
  --css-color--persian-red-d-100: rgb(36.4285714286, 36.4285714286, 36.4285714286);
  --css-bg-color--persian-red: #cc3333;
  --css-bg-color--persian-red-l-5: rgb(204, 63.75, 63.75);
  --css-bg-color--persian-red-l-10: rgb(204, 76.5, 76.5);
  --css-bg-color--persian-red-l-15: rgb(204, 89.25, 89.25);
  --css-bg-color--persian-red-l-20: #cc6666;
  --css-bg-color--persian-red-l-25: rgb(204, 114.75, 114.75);
  --css-bg-color--persian-red-l-30: rgb(204, 127.5, 127.5);
  --css-bg-color--persian-red-l-35: rgb(204, 140.25, 140.25);
  --css-bg-color--persian-red-l-40: #cc9999;
  --css-bg-color--persian-red-l-45: rgb(204, 165.75, 165.75);
  --css-bg-color--persian-red-l-50: rgb(204, 178.5, 178.5);
  --css-bg-color--persian-red-l-55: rgb(204, 191.25, 191.25);
  --css-bg-color--persian-red-l-60: #cccccc;
  --css-bg-color--persian-red-l-65: rgb(206.4285714286, 206.4285714286, 206.4285714286);
  --css-bg-color--persian-red-l-70: rgb(208.6363636364, 208.6363636364, 208.6363636364);
  --css-bg-color--persian-red-l-75: rgb(210.652173913, 210.652173913, 210.652173913);
  --css-bg-color--persian-red-l-80: rgb(212.5, 212.5, 212.5);
  --css-bg-color--persian-red-l-85: rgb(214.2, 214.2, 214.2);
  --css-bg-color--persian-red-l-90: rgb(215.7692307692, 215.7692307692, 215.7692307692);
  --css-bg-color--persian-red-l-95: rgb(217.2222222222, 217.2222222222, 217.2222222222);
  --css-bg-color--persian-red-l-100: rgb(218.5714285714, 218.5714285714, 218.5714285714);
  --css-bg-color--persian-red-d-5: rgb(191.25, 51, 51);
  --css-bg-color--persian-red-d-10: rgb(178.5, 51, 51);
  --css-bg-color--persian-red-d-15: rgb(165.75, 51, 51);
  --css-bg-color--persian-red-d-20: #993333;
  --css-bg-color--persian-red-d-25: rgb(140.25, 51, 51);
  --css-bg-color--persian-red-d-30: rgb(127.5, 51, 51);
  --css-bg-color--persian-red-d-35: rgb(114.75, 51, 51);
  --css-bg-color--persian-red-d-40: #663333;
  --css-bg-color--persian-red-d-45: rgb(89.25, 51, 51);
  --css-bg-color--persian-red-d-50: rgb(76.5, 51, 51);
  --css-bg-color--persian-red-d-55: rgb(63.75, 51, 51);
  --css-bg-color--persian-red-d-60: #333333;
  --css-bg-color--persian-red-d-65: rgb(48.5714285714, 48.5714285714, 48.5714285714);
  --css-bg-color--persian-red-d-70: rgb(46.3636363636, 46.3636363636, 46.3636363636);
  --css-bg-color--persian-red-d-75: rgb(44.347826087, 44.347826087, 44.347826087);
  --css-bg-color--persian-red-d-80: rgb(42.5, 42.5, 42.5);
  --css-bg-color--persian-red-d-85: rgb(40.8, 40.8, 40.8);
  --css-bg-color--persian-red-d-90: rgb(39.2307692308, 39.2307692308, 39.2307692308);
  --css-bg-color--persian-red-d-95: rgb(37.7777777778, 37.7777777778, 37.7777777778);
  --css-bg-color--persian-red-d-100: rgb(36.4285714286, 36.4285714286, 36.4285714286);
}

.css-color--persian-red {
  color: var(--css-color--persian-red, #cc3333);
}

.css-color--persian-red-l-5 {
  color: var(--css-color--persian-red-l-5, rgb(204, 63.75, 63.75));
}

.css-color--persian-red-l-10 {
  color: var(--css-color--persian-red-l-10, rgb(204, 76.5, 76.5));
}

.css-color--persian-red-l-15 {
  color: var(--css-color--persian-red-l-15, rgb(204, 89.25, 89.25));
}

.css-color--persian-red-l-20 {
  color: var(--css-color--persian-red-l-20, #cc6666);
}

.css-color--persian-red-l-25 {
  color: var(--css-color--persian-red-l-25, rgb(204, 114.75, 114.75));
}

.css-color--persian-red-l-30 {
  color: var(--css-color--persian-red-l-30, rgb(204, 127.5, 127.5));
}

.css-color--persian-red-l-35 {
  color: var(--css-color--persian-red-l-35, rgb(204, 140.25, 140.25));
}

.css-color--persian-red-l-40 {
  color: var(--css-color--persian-red-l-40, #cc9999);
}

.css-color--persian-red-l-45 {
  color: var(--css-color--persian-red-l-45, rgb(204, 165.75, 165.75));
}

.css-color--persian-red-l-50 {
  color: var(--css-color--persian-red-l-50, rgb(204, 178.5, 178.5));
}

.css-color--persian-red-l-55 {
  color: var(--css-color--persian-red-l-55, rgb(204, 191.25, 191.25));
}

.css-color--persian-red-l-60 {
  color: var(--css-color--persian-red-l-60, #cccccc);
}

.css-color--persian-red-l-65 {
  color: var(--css-color--persian-red-l-65, rgb(206.4285714286, 206.4285714286, 206.4285714286));
}

.css-color--persian-red-l-70 {
  color: var(--css-color--persian-red-l-70, rgb(208.6363636364, 208.6363636364, 208.6363636364));
}

.css-color--persian-red-l-75 {
  color: var(--css-color--persian-red-l-75, rgb(210.652173913, 210.652173913, 210.652173913));
}

.css-color--persian-red-l-80 {
  color: var(--css-color--persian-red-l-80, rgb(212.5, 212.5, 212.5));
}

.css-color--persian-red-l-85 {
  color: var(--css-color--persian-red-l-85, rgb(214.2, 214.2, 214.2));
}

.css-color--persian-red-l-90 {
  color: var(--css-color--persian-red-l-90, rgb(215.7692307692, 215.7692307692, 215.7692307692));
}

.css-color--persian-red-l-95 {
  color: var(--css-color--persian-red-l-95, rgb(217.2222222222, 217.2222222222, 217.2222222222));
}

.css-color--persian-red-l-100 {
  color: var(--css-color--persian-red-l-100, rgb(218.5714285714, 218.5714285714, 218.5714285714));
}

.css-color--persian-red-d-5 {
  color: var(--css-color--persian-red-d-5, rgb(191.25, 51, 51));
}

.css-color--persian-red-d-10 {
  color: var(--css-color--persian-red-d-10, rgb(178.5, 51, 51));
}

.css-color--persian-red-d-15 {
  color: var(--css-color--persian-red-d-15, rgb(165.75, 51, 51));
}

.css-color--persian-red-d-20 {
  color: var(--css-color--persian-red-d-20, #993333);
}

.css-color--persian-red-d-25 {
  color: var(--css-color--persian-red-d-25, rgb(140.25, 51, 51));
}

.css-color--persian-red-d-30 {
  color: var(--css-color--persian-red-d-30, rgb(127.5, 51, 51));
}

.css-color--persian-red-d-35 {
  color: var(--css-color--persian-red-d-35, rgb(114.75, 51, 51));
}

.css-color--persian-red-d-40 {
  color: var(--css-color--persian-red-d-40, #663333);
}

.css-color--persian-red-d-45 {
  color: var(--css-color--persian-red-d-45, rgb(89.25, 51, 51));
}

.css-color--persian-red-d-50 {
  color: var(--css-color--persian-red-d-50, rgb(76.5, 51, 51));
}

.css-color--persian-red-d-55 {
  color: var(--css-color--persian-red-d-55, rgb(63.75, 51, 51));
}

.css-color--persian-red-d-60 {
  color: var(--css-color--persian-red-d-60, #333333);
}

.css-color--persian-red-d-65 {
  color: var(--css-color--persian-red-d-65, rgb(48.5714285714, 48.5714285714, 48.5714285714));
}

.css-color--persian-red-d-70 {
  color: var(--css-color--persian-red-d-70, rgb(46.3636363636, 46.3636363636, 46.3636363636));
}

.css-color--persian-red-d-75 {
  color: var(--css-color--persian-red-d-75, rgb(44.347826087, 44.347826087, 44.347826087));
}

.css-color--persian-red-d-80 {
  color: var(--css-color--persian-red-d-80, rgb(42.5, 42.5, 42.5));
}

.css-color--persian-red-d-85 {
  color: var(--css-color--persian-red-d-85, rgb(40.8, 40.8, 40.8));
}

.css-color--persian-red-d-90 {
  color: var(--css-color--persian-red-d-90, rgb(39.2307692308, 39.2307692308, 39.2307692308));
}

.css-color--persian-red-d-95 {
  color: var(--css-color--persian-red-d-95, rgb(37.7777777778, 37.7777777778, 37.7777777778));
}

.css-color--persian-red-d-100 {
  color: var(--css-color--persian-red-d-100, rgb(36.4285714286, 36.4285714286, 36.4285714286));
}

.css-bg-color--persian-red {
  background-color: var(--css-color--persian-red, #cc3333);
}

.css-bg-color--persian-red-l-5 {
  background-color: var(--css-bg-color--persian-red-l-5, rgb(204, 63.75, 63.75));
}

.css-bg-color--persian-red-l-10 {
  background-color: var(--css-bg-color--persian-red-l-10, rgb(204, 76.5, 76.5));
}

.css-bg-color--persian-red-l-15 {
  background-color: var(--css-bg-color--persian-red-l-15, rgb(204, 89.25, 89.25));
}

.css-bg-color--persian-red-l-20 {
  background-color: var(--css-bg-color--persian-red-l-20, #cc6666);
}

.css-bg-color--persian-red-l-25 {
  background-color: var(--css-bg-color--persian-red-l-25, rgb(204, 114.75, 114.75));
}

.css-bg-color--persian-red-l-30 {
  background-color: var(--css-bg-color--persian-red-l-30, rgb(204, 127.5, 127.5));
}

.css-bg-color--persian-red-l-35 {
  background-color: var(--css-bg-color--persian-red-l-35, rgb(204, 140.25, 140.25));
}

.css-bg-color--persian-red-l-40 {
  background-color: var(--css-bg-color--persian-red-l-40, #cc9999);
}

.css-bg-color--persian-red-l-45 {
  background-color: var(--css-bg-color--persian-red-l-45, rgb(204, 165.75, 165.75));
}

.css-bg-color--persian-red-l-50 {
  background-color: var(--css-bg-color--persian-red-l-50, rgb(204, 178.5, 178.5));
}

.css-bg-color--persian-red-l-55 {
  background-color: var(--css-bg-color--persian-red-l-55, rgb(204, 191.25, 191.25));
}

.css-bg-color--persian-red-l-60 {
  background-color: var(--css-bg-color--persian-red-l-60, #cccccc);
}

.css-bg-color--persian-red-l-65 {
  background-color: var(--css-bg-color--persian-red-l-65, rgb(206.4285714286, 206.4285714286, 206.4285714286));
}

.css-bg-color--persian-red-l-70 {
  background-color: var(--css-bg-color--persian-red-l-70, rgb(208.6363636364, 208.6363636364, 208.6363636364));
}

.css-bg-color--persian-red-l-75 {
  background-color: var(--css-bg-color--persian-red-l-75, rgb(210.652173913, 210.652173913, 210.652173913));
}

.css-bg-color--persian-red-l-80 {
  background-color: var(--css-bg-color--persian-red-l-80, rgb(212.5, 212.5, 212.5));
}

.css-bg-color--persian-red-l-85 {
  background-color: var(--css-bg-color--persian-red-l-85, rgb(214.2, 214.2, 214.2));
}

.css-bg-color--persian-red-l-90 {
  background-color: var(--css-bg-color--persian-red-l-90, rgb(215.7692307692, 215.7692307692, 215.7692307692));
}

.css-bg-color--persian-red-l-95 {
  background-color: var(--css-bg-color--persian-red-l-95, rgb(217.2222222222, 217.2222222222, 217.2222222222));
}

.css-bg-color--persian-red-l-100 {
  background-color: var(--css-bg-color--persian-red-l-100, rgb(218.5714285714, 218.5714285714, 218.5714285714));
}

.css-bg-color--persian-red-d-5 {
  background-color: var(--css-bg-color--persian-red-d-5, rgb(191.25, 51, 51));
}

.css-bg-color--persian-red-d-10 {
  background-color: var(--css-bg-color--persian-red-d-10, rgb(178.5, 51, 51));
}

.css-bg-color--persian-red-d-15 {
  background-color: var(--css-bg-color--persian-red-d-15, rgb(165.75, 51, 51));
}

.css-bg-color--persian-red-d-20 {
  background-color: var(--css-bg-color--persian-red-d-20, #993333);
}

.css-bg-color--persian-red-d-25 {
  background-color: var(--css-bg-color--persian-red-d-25, rgb(140.25, 51, 51));
}

.css-bg-color--persian-red-d-30 {
  background-color: var(--css-bg-color--persian-red-d-30, rgb(127.5, 51, 51));
}

.css-bg-color--persian-red-d-35 {
  background-color: var(--css-bg-color--persian-red-d-35, rgb(114.75, 51, 51));
}

.css-bg-color--persian-red-d-40 {
  background-color: var(--css-bg-color--persian-red-d-40, #663333);
}

.css-bg-color--persian-red-d-45 {
  background-color: var(--css-bg-color--persian-red-d-45, rgb(89.25, 51, 51));
}

.css-bg-color--persian-red-d-50 {
  background-color: var(--css-bg-color--persian-red-d-50, rgb(76.5, 51, 51));
}

.css-bg-color--persian-red-d-55 {
  background-color: var(--css-bg-color--persian-red-d-55, rgb(63.75, 51, 51));
}

.css-bg-color--persian-red-d-60 {
  background-color: var(--css-bg-color--persian-red-d-60, #333333);
}

.css-bg-color--persian-red-d-65 {
  background-color: var(--css-bg-color--persian-red-d-65, rgb(48.5714285714, 48.5714285714, 48.5714285714));
}

.css-bg-color--persian-red-d-70 {
  background-color: var(--css-bg-color--persian-red-d-70, rgb(46.3636363636, 46.3636363636, 46.3636363636));
}

.css-bg-color--persian-red-d-75 {
  background-color: var(--css-bg-color--persian-red-d-75, rgb(44.347826087, 44.347826087, 44.347826087));
}

.css-bg-color--persian-red-d-80 {
  background-color: var(--css-bg-color--persian-red-d-80, rgb(42.5, 42.5, 42.5));
}

.css-bg-color--persian-red-d-85 {
  background-color: var(--css-bg-color--persian-red-d-85, rgb(40.8, 40.8, 40.8));
}

.css-bg-color--persian-red-d-90 {
  background-color: var(--css-bg-color--persian-red-d-90, rgb(39.2307692308, 39.2307692308, 39.2307692308));
}

.css-bg-color--persian-red-d-95 {
  background-color: var(--css-bg-color--persian-red-d-95, rgb(37.7777777778, 37.7777777778, 37.7777777778));
}

.css-bg-color--persian-red-d-100 {
  background-color: var(--css-bg-color--persian-red-d-100, rgb(36.4285714286, 36.4285714286, 36.4285714286));
}