:host,
:root {
  --css-color--cyan: #00ffff;
  --css-color--cyan-l-5: rgb(12.75, 255, 255);
  --css-color--cyan-l-10: rgb(25.5, 255, 255);
  --css-color--cyan-l-15: rgb(38.25, 255, 255);
  --css-color--cyan-l-20: #33ffff;
  --css-color--cyan-l-25: rgb(63.75, 255, 255);
  --css-color--cyan-l-30: rgb(76.5, 255, 255);
  --css-color--cyan-l-35: rgb(89.25, 255, 255);
  --css-color--cyan-l-40: #66ffff;
  --css-color--cyan-l-45: rgb(114.75, 255, 255);
  --css-color--cyan-l-50: rgb(127.5, 255, 255);
  --css-color--cyan-l-55: rgb(140.25, 255, 255);
  --css-color--cyan-l-60: #99ffff;
  --css-color--cyan-l-65: rgb(165.75, 255, 255);
  --css-color--cyan-l-70: rgb(178.5, 255, 255);
  --css-color--cyan-l-75: rgb(191.25, 255, 255);
  --css-color--cyan-l-80: #ccffff;
  --css-color--cyan-l-85: rgb(216.75, 255, 255);
  --css-color--cyan-l-90: rgb(229.5, 255, 255);
  --css-color--cyan-l-95: rgb(242.25, 255, 255);
  --css-color--cyan-l-100: white;
  --css-color--cyan-d-5: rgb(0, 242.25, 242.25);
  --css-color--cyan-d-10: rgb(0, 229.5, 229.5);
  --css-color--cyan-d-15: rgb(0, 216.75, 216.75);
  --css-color--cyan-d-20: #00cccc;
  --css-color--cyan-d-25: rgb(0, 191.25, 191.25);
  --css-color--cyan-d-30: rgb(0, 178.5, 178.5);
  --css-color--cyan-d-35: rgb(0, 165.75, 165.75);
  --css-color--cyan-d-40: #009999;
  --css-color--cyan-d-45: rgb(0, 140.25, 140.25);
  --css-color--cyan-d-50: rgb(0, 127.5, 127.5);
  --css-color--cyan-d-55: rgb(0, 114.75, 114.75);
  --css-color--cyan-d-60: #006666;
  --css-color--cyan-d-65: rgb(0, 89.25, 89.25);
  --css-color--cyan-d-70: rgb(0, 76.5, 76.5);
  --css-color--cyan-d-75: rgb(0, 63.75, 63.75);
  --css-color--cyan-d-80: #003333;
  --css-color--cyan-d-85: rgb(0, 38.25, 38.25);
  --css-color--cyan-d-90: rgb(0, 25.5, 25.5);
  --css-color--cyan-d-95: rgb(0, 12.75, 12.75);
  --css-color--cyan-d-100: black;
  --css-bg-color--cyan: #00ffff;
  --css-bg-color--cyan-l-5: rgb(12.75, 255, 255);
  --css-bg-color--cyan-l-10: rgb(25.5, 255, 255);
  --css-bg-color--cyan-l-15: rgb(38.25, 255, 255);
  --css-bg-color--cyan-l-20: #33ffff;
  --css-bg-color--cyan-l-25: rgb(63.75, 255, 255);
  --css-bg-color--cyan-l-30: rgb(76.5, 255, 255);
  --css-bg-color--cyan-l-35: rgb(89.25, 255, 255);
  --css-bg-color--cyan-l-40: #66ffff;
  --css-bg-color--cyan-l-45: rgb(114.75, 255, 255);
  --css-bg-color--cyan-l-50: rgb(127.5, 255, 255);
  --css-bg-color--cyan-l-55: rgb(140.25, 255, 255);
  --css-bg-color--cyan-l-60: #99ffff;
  --css-bg-color--cyan-l-65: rgb(165.75, 255, 255);
  --css-bg-color--cyan-l-70: rgb(178.5, 255, 255);
  --css-bg-color--cyan-l-75: rgb(191.25, 255, 255);
  --css-bg-color--cyan-l-80: #ccffff;
  --css-bg-color--cyan-l-85: rgb(216.75, 255, 255);
  --css-bg-color--cyan-l-90: rgb(229.5, 255, 255);
  --css-bg-color--cyan-l-95: rgb(242.25, 255, 255);
  --css-bg-color--cyan-l-100: white;
  --css-bg-color--cyan-d-5: rgb(0, 242.25, 242.25);
  --css-bg-color--cyan-d-10: rgb(0, 229.5, 229.5);
  --css-bg-color--cyan-d-15: rgb(0, 216.75, 216.75);
  --css-bg-color--cyan-d-20: #00cccc;
  --css-bg-color--cyan-d-25: rgb(0, 191.25, 191.25);
  --css-bg-color--cyan-d-30: rgb(0, 178.5, 178.5);
  --css-bg-color--cyan-d-35: rgb(0, 165.75, 165.75);
  --css-bg-color--cyan-d-40: #009999;
  --css-bg-color--cyan-d-45: rgb(0, 140.25, 140.25);
  --css-bg-color--cyan-d-50: rgb(0, 127.5, 127.5);
  --css-bg-color--cyan-d-55: rgb(0, 114.75, 114.75);
  --css-bg-color--cyan-d-60: #006666;
  --css-bg-color--cyan-d-65: rgb(0, 89.25, 89.25);
  --css-bg-color--cyan-d-70: rgb(0, 76.5, 76.5);
  --css-bg-color--cyan-d-75: rgb(0, 63.75, 63.75);
  --css-bg-color--cyan-d-80: #003333;
  --css-bg-color--cyan-d-85: rgb(0, 38.25, 38.25);
  --css-bg-color--cyan-d-90: rgb(0, 25.5, 25.5);
  --css-bg-color--cyan-d-95: rgb(0, 12.75, 12.75);
  --css-bg-color--cyan-d-100: black;
}

.css-color--cyan {
  color: var(--css-color--cyan, #00ffff);
}

.css-color--cyan-l-5 {
  color: var(--css-color--cyan-l-5, rgb(12.75, 255, 255));
}

.css-color--cyan-l-10 {
  color: var(--css-color--cyan-l-10, rgb(25.5, 255, 255));
}

.css-color--cyan-l-15 {
  color: var(--css-color--cyan-l-15, rgb(38.25, 255, 255));
}

.css-color--cyan-l-20 {
  color: var(--css-color--cyan-l-20, #33ffff);
}

.css-color--cyan-l-25 {
  color: var(--css-color--cyan-l-25, rgb(63.75, 255, 255));
}

.css-color--cyan-l-30 {
  color: var(--css-color--cyan-l-30, rgb(76.5, 255, 255));
}

.css-color--cyan-l-35 {
  color: var(--css-color--cyan-l-35, rgb(89.25, 255, 255));
}

.css-color--cyan-l-40 {
  color: var(--css-color--cyan-l-40, #66ffff);
}

.css-color--cyan-l-45 {
  color: var(--css-color--cyan-l-45, rgb(114.75, 255, 255));
}

.css-color--cyan-l-50 {
  color: var(--css-color--cyan-l-50, rgb(127.5, 255, 255));
}

.css-color--cyan-l-55 {
  color: var(--css-color--cyan-l-55, rgb(140.25, 255, 255));
}

.css-color--cyan-l-60 {
  color: var(--css-color--cyan-l-60, #99ffff);
}

.css-color--cyan-l-65 {
  color: var(--css-color--cyan-l-65, rgb(165.75, 255, 255));
}

.css-color--cyan-l-70 {
  color: var(--css-color--cyan-l-70, rgb(178.5, 255, 255));
}

.css-color--cyan-l-75 {
  color: var(--css-color--cyan-l-75, rgb(191.25, 255, 255));
}

.css-color--cyan-l-80 {
  color: var(--css-color--cyan-l-80, #ccffff);
}

.css-color--cyan-l-85 {
  color: var(--css-color--cyan-l-85, rgb(216.75, 255, 255));
}

.css-color--cyan-l-90 {
  color: var(--css-color--cyan-l-90, rgb(229.5, 255, 255));
}

.css-color--cyan-l-95 {
  color: var(--css-color--cyan-l-95, rgb(242.25, 255, 255));
}

.css-color--cyan-l-100 {
  color: var(--css-color--cyan-l-100, white);
}

.css-color--cyan-d-5 {
  color: var(--css-color--cyan-d-5, rgb(0, 242.25, 242.25));
}

.css-color--cyan-d-10 {
  color: var(--css-color--cyan-d-10, rgb(0, 229.5, 229.5));
}

.css-color--cyan-d-15 {
  color: var(--css-color--cyan-d-15, rgb(0, 216.75, 216.75));
}

.css-color--cyan-d-20 {
  color: var(--css-color--cyan-d-20, #00cccc);
}

.css-color--cyan-d-25 {
  color: var(--css-color--cyan-d-25, rgb(0, 191.25, 191.25));
}

.css-color--cyan-d-30 {
  color: var(--css-color--cyan-d-30, rgb(0, 178.5, 178.5));
}

.css-color--cyan-d-35 {
  color: var(--css-color--cyan-d-35, rgb(0, 165.75, 165.75));
}

.css-color--cyan-d-40 {
  color: var(--css-color--cyan-d-40, #009999);
}

.css-color--cyan-d-45 {
  color: var(--css-color--cyan-d-45, rgb(0, 140.25, 140.25));
}

.css-color--cyan-d-50 {
  color: var(--css-color--cyan-d-50, rgb(0, 127.5, 127.5));
}

.css-color--cyan-d-55 {
  color: var(--css-color--cyan-d-55, rgb(0, 114.75, 114.75));
}

.css-color--cyan-d-60 {
  color: var(--css-color--cyan-d-60, #006666);
}

.css-color--cyan-d-65 {
  color: var(--css-color--cyan-d-65, rgb(0, 89.25, 89.25));
}

.css-color--cyan-d-70 {
  color: var(--css-color--cyan-d-70, rgb(0, 76.5, 76.5));
}

.css-color--cyan-d-75 {
  color: var(--css-color--cyan-d-75, rgb(0, 63.75, 63.75));
}

.css-color--cyan-d-80 {
  color: var(--css-color--cyan-d-80, #003333);
}

.css-color--cyan-d-85 {
  color: var(--css-color--cyan-d-85, rgb(0, 38.25, 38.25));
}

.css-color--cyan-d-90 {
  color: var(--css-color--cyan-d-90, rgb(0, 25.5, 25.5));
}

.css-color--cyan-d-95 {
  color: var(--css-color--cyan-d-95, rgb(0, 12.75, 12.75));
}

.css-color--cyan-d-100 {
  color: var(--css-color--cyan-d-100, black);
}

.css-bg-color--cyan {
  background-color: var(--css-color--cyan, #00ffff);
}

.css-bg-color--cyan-l-5 {
  background-color: var(--css-bg-color--cyan-l-5, rgb(12.75, 255, 255));
}

.css-bg-color--cyan-l-10 {
  background-color: var(--css-bg-color--cyan-l-10, rgb(25.5, 255, 255));
}

.css-bg-color--cyan-l-15 {
  background-color: var(--css-bg-color--cyan-l-15, rgb(38.25, 255, 255));
}

.css-bg-color--cyan-l-20 {
  background-color: var(--css-bg-color--cyan-l-20, #33ffff);
}

.css-bg-color--cyan-l-25 {
  background-color: var(--css-bg-color--cyan-l-25, rgb(63.75, 255, 255));
}

.css-bg-color--cyan-l-30 {
  background-color: var(--css-bg-color--cyan-l-30, rgb(76.5, 255, 255));
}

.css-bg-color--cyan-l-35 {
  background-color: var(--css-bg-color--cyan-l-35, rgb(89.25, 255, 255));
}

.css-bg-color--cyan-l-40 {
  background-color: var(--css-bg-color--cyan-l-40, #66ffff);
}

.css-bg-color--cyan-l-45 {
  background-color: var(--css-bg-color--cyan-l-45, rgb(114.75, 255, 255));
}

.css-bg-color--cyan-l-50 {
  background-color: var(--css-bg-color--cyan-l-50, rgb(127.5, 255, 255));
}

.css-bg-color--cyan-l-55 {
  background-color: var(--css-bg-color--cyan-l-55, rgb(140.25, 255, 255));
}

.css-bg-color--cyan-l-60 {
  background-color: var(--css-bg-color--cyan-l-60, #99ffff);
}

.css-bg-color--cyan-l-65 {
  background-color: var(--css-bg-color--cyan-l-65, rgb(165.75, 255, 255));
}

.css-bg-color--cyan-l-70 {
  background-color: var(--css-bg-color--cyan-l-70, rgb(178.5, 255, 255));
}

.css-bg-color--cyan-l-75 {
  background-color: var(--css-bg-color--cyan-l-75, rgb(191.25, 255, 255));
}

.css-bg-color--cyan-l-80 {
  background-color: var(--css-bg-color--cyan-l-80, #ccffff);
}

.css-bg-color--cyan-l-85 {
  background-color: var(--css-bg-color--cyan-l-85, rgb(216.75, 255, 255));
}

.css-bg-color--cyan-l-90 {
  background-color: var(--css-bg-color--cyan-l-90, rgb(229.5, 255, 255));
}

.css-bg-color--cyan-l-95 {
  background-color: var(--css-bg-color--cyan-l-95, rgb(242.25, 255, 255));
}

.css-bg-color--cyan-l-100 {
  background-color: var(--css-bg-color--cyan-l-100, white);
}

.css-bg-color--cyan-d-5 {
  background-color: var(--css-bg-color--cyan-d-5, rgb(0, 242.25, 242.25));
}

.css-bg-color--cyan-d-10 {
  background-color: var(--css-bg-color--cyan-d-10, rgb(0, 229.5, 229.5));
}

.css-bg-color--cyan-d-15 {
  background-color: var(--css-bg-color--cyan-d-15, rgb(0, 216.75, 216.75));
}

.css-bg-color--cyan-d-20 {
  background-color: var(--css-bg-color--cyan-d-20, #00cccc);
}

.css-bg-color--cyan-d-25 {
  background-color: var(--css-bg-color--cyan-d-25, rgb(0, 191.25, 191.25));
}

.css-bg-color--cyan-d-30 {
  background-color: var(--css-bg-color--cyan-d-30, rgb(0, 178.5, 178.5));
}

.css-bg-color--cyan-d-35 {
  background-color: var(--css-bg-color--cyan-d-35, rgb(0, 165.75, 165.75));
}

.css-bg-color--cyan-d-40 {
  background-color: var(--css-bg-color--cyan-d-40, #009999);
}

.css-bg-color--cyan-d-45 {
  background-color: var(--css-bg-color--cyan-d-45, rgb(0, 140.25, 140.25));
}

.css-bg-color--cyan-d-50 {
  background-color: var(--css-bg-color--cyan-d-50, rgb(0, 127.5, 127.5));
}

.css-bg-color--cyan-d-55 {
  background-color: var(--css-bg-color--cyan-d-55, rgb(0, 114.75, 114.75));
}

.css-bg-color--cyan-d-60 {
  background-color: var(--css-bg-color--cyan-d-60, #006666);
}

.css-bg-color--cyan-d-65 {
  background-color: var(--css-bg-color--cyan-d-65, rgb(0, 89.25, 89.25));
}

.css-bg-color--cyan-d-70 {
  background-color: var(--css-bg-color--cyan-d-70, rgb(0, 76.5, 76.5));
}

.css-bg-color--cyan-d-75 {
  background-color: var(--css-bg-color--cyan-d-75, rgb(0, 63.75, 63.75));
}

.css-bg-color--cyan-d-80 {
  background-color: var(--css-bg-color--cyan-d-80, #003333);
}

.css-bg-color--cyan-d-85 {
  background-color: var(--css-bg-color--cyan-d-85, rgb(0, 38.25, 38.25));
}

.css-bg-color--cyan-d-90 {
  background-color: var(--css-bg-color--cyan-d-90, rgb(0, 25.5, 25.5));
}

.css-bg-color--cyan-d-95 {
  background-color: var(--css-bg-color--cyan-d-95, rgb(0, 12.75, 12.75));
}

.css-bg-color--cyan-d-100 {
  background-color: var(--css-bg-color--cyan-d-100, black);
}