:root {
<<<<<<< HEAD
  --css-color--copper-penny: #cc6633;
  --css-color--copper-penny-l-5: rgb(204, 110.5, 63.75);
  --css-color--copper-penny-l-10: rgb(204, 119, 76.5);
  --css-color--copper-penny-l-15: rgb(204, 127.5, 89.25);
  --css-color--copper-penny-l-20: #cc8866;
  --css-color--copper-penny-l-25: rgb(204, 144.5, 114.75);
  --css-color--copper-penny-l-30: rgb(204, 153, 127.5);
  --css-color--copper-penny-l-35: rgb(204, 161.5, 140.25);
  --css-color--copper-penny-l-40: #ccaa99;
  --css-color--copper-penny-l-45: rgb(204, 178.5, 165.75);
  --css-color--copper-penny-l-50: rgb(204, 187, 178.5);
  --css-color--copper-penny-l-55: rgb(204, 195.5, 191.25);
  --css-color--copper-penny-l-60: #cccccc;
  --css-color--copper-penny-l-65: rgb(206.4285714286, 206.4285714286, 206.4285714286);
  --css-color--copper-penny-l-70: rgb(208.6363636364, 208.6363636364, 208.6363636364);
  --css-color--copper-penny-l-75: rgb(210.652173913, 210.652173913, 210.652173913);
  --css-color--copper-penny-l-80: rgb(212.5, 212.5, 212.5);
  --css-color--copper-penny-l-85: rgb(214.2, 214.2, 214.2);
  --css-color--copper-penny-l-90: rgb(215.7692307692, 215.7692307692, 215.7692307692);
  --css-color--copper-penny-l-95: rgb(217.2222222222, 217.2222222222, 217.2222222222);
  --css-color--copper-penny-l-100: rgb(218.5714285714, 218.5714285714, 218.5714285714);
  --css-color--copper-penny-d-5: rgb(191.25, 97.75, 51);
  --css-color--copper-penny-d-10: rgb(178.5, 93.5, 51);
  --css-color--copper-penny-d-15: rgb(165.75, 89.25, 51);
  --css-color--copper-penny-d-20: #995533;
  --css-color--copper-penny-d-25: rgb(140.25, 80.75, 51);
  --css-color--copper-penny-d-30: rgb(127.5, 76.5, 51);
  --css-color--copper-penny-d-35: rgb(114.75, 72.25, 51);
  --css-color--copper-penny-d-40: #664433;
  --css-color--copper-penny-d-45: rgb(89.25, 63.75, 51);
  --css-color--copper-penny-d-50: rgb(76.5, 59.5, 51);
  --css-color--copper-penny-d-55: rgb(63.75, 55.25, 51);
  --css-color--copper-penny-d-60: #333333;
  --css-color--copper-penny-d-65: rgb(48.5714285714, 48.5714285714, 48.5714285714);
  --css-color--copper-penny-d-70: rgb(46.3636363636, 46.3636363636, 46.3636363636);
  --css-color--copper-penny-d-75: rgb(44.347826087, 44.347826087, 44.347826087);
  --css-color--copper-penny-d-80: rgb(42.5, 42.5, 42.5);
  --css-color--copper-penny-d-85: rgb(40.8, 40.8, 40.8);
  --css-color--copper-penny-d-90: rgb(39.2307692308, 39.2307692308, 39.2307692308);
  --css-color--copper-penny-d-95: rgb(37.7777777778, 37.7777777778, 37.7777777778);
  --css-color--copper-penny-d-100: rgb(36.4285714286, 36.4285714286, 36.4285714286);
  --css-bg-color--copper-penny: #cc6633;
  --css-bg-color--copper-penny-l-5: rgb(204, 110.5, 63.75);
  --css-bg-color--copper-penny-l-10: rgb(204, 119, 76.5);
  --css-bg-color--copper-penny-l-15: rgb(204, 127.5, 89.25);
  --css-bg-color--copper-penny-l-20: #cc8866;
  --css-bg-color--copper-penny-l-25: rgb(204, 144.5, 114.75);
  --css-bg-color--copper-penny-l-30: rgb(204, 153, 127.5);
  --css-bg-color--copper-penny-l-35: rgb(204, 161.5, 140.25);
  --css-bg-color--copper-penny-l-40: #ccaa99;
  --css-bg-color--copper-penny-l-45: rgb(204, 178.5, 165.75);
  --css-bg-color--copper-penny-l-50: rgb(204, 187, 178.5);
  --css-bg-color--copper-penny-l-55: rgb(204, 195.5, 191.25);
  --css-bg-color--copper-penny-l-60: #cccccc;
  --css-bg-color--copper-penny-l-65: rgb(206.4285714286, 206.4285714286, 206.4285714286);
  --css-bg-color--copper-penny-l-70: rgb(208.6363636364, 208.6363636364, 208.6363636364);
  --css-bg-color--copper-penny-l-75: rgb(210.652173913, 210.652173913, 210.652173913);
  --css-bg-color--copper-penny-l-80: rgb(212.5, 212.5, 212.5);
  --css-bg-color--copper-penny-l-85: rgb(214.2, 214.2, 214.2);
  --css-bg-color--copper-penny-l-90: rgb(215.7692307692, 215.7692307692, 215.7692307692);
  --css-bg-color--copper-penny-l-95: rgb(217.2222222222, 217.2222222222, 217.2222222222);
  --css-bg-color--copper-penny-l-100: rgb(218.5714285714, 218.5714285714, 218.5714285714);
  --css-bg-color--copper-penny-d-5: rgb(191.25, 97.75, 51);
  --css-bg-color--copper-penny-d-10: rgb(178.5, 93.5, 51);
  --css-bg-color--copper-penny-d-15: rgb(165.75, 89.25, 51);
  --css-bg-color--copper-penny-d-20: #995533;
  --css-bg-color--copper-penny-d-25: rgb(140.25, 80.75, 51);
  --css-bg-color--copper-penny-d-30: rgb(127.5, 76.5, 51);
  --css-bg-color--copper-penny-d-35: rgb(114.75, 72.25, 51);
  --css-bg-color--copper-penny-d-40: #664433;
  --css-bg-color--copper-penny-d-45: rgb(89.25, 63.75, 51);
  --css-bg-color--copper-penny-d-50: rgb(76.5, 59.5, 51);
  --css-bg-color--copper-penny-d-55: rgb(63.75, 55.25, 51);
  --css-bg-color--copper-penny-d-60: #333333;
  --css-bg-color--copper-penny-d-65: rgb(48.5714285714, 48.5714285714, 48.5714285714);
  --css-bg-color--copper-penny-d-70: rgb(46.3636363636, 46.3636363636, 46.3636363636);
  --css-bg-color--copper-penny-d-75: rgb(44.347826087, 44.347826087, 44.347826087);
  --css-bg-color--copper-penny-d-80: rgb(42.5, 42.5, 42.5);
  --css-bg-color--copper-penny-d-85: rgb(40.8, 40.8, 40.8);
  --css-bg-color--copper-penny-d-90: rgb(39.2307692308, 39.2307692308, 39.2307692308);
  --css-bg-color--copper-penny-d-95: rgb(37.7777777778, 37.7777777778, 37.7777777778);
  --css-bg-color--copper-penny-d-100: rgb(36.4285714286, 36.4285714286, 36.4285714286);
}

.css-color--copper-penny {
  color: var(--css-color--copper-penny, #cc6633);
}

.css-color--copper-penny-l-5 {
  color: var(--css-color--copper-penny-l-5, rgb(204, 110.5, 63.75));
}

.css-color--copper-penny-l-10 {
  color: var(--css-color--copper-penny-l-10, rgb(204, 119, 76.5));
}

.css-color--copper-penny-l-15 {
  color: var(--css-color--copper-penny-l-15, rgb(204, 127.5, 89.25));
}

.css-color--copper-penny-l-20 {
  color: var(--css-color--copper-penny-l-20, #cc8866);
}

.css-color--copper-penny-l-25 {
  color: var(--css-color--copper-penny-l-25, rgb(204, 144.5, 114.75));
}

.css-color--copper-penny-l-30 {
  color: var(--css-color--copper-penny-l-30, rgb(204, 153, 127.5));
}

.css-color--copper-penny-l-35 {
  color: var(--css-color--copper-penny-l-35, rgb(204, 161.5, 140.25));
}

.css-color--copper-penny-l-40 {
  color: var(--css-color--copper-penny-l-40, #ccaa99);
}

.css-color--copper-penny-l-45 {
  color: var(--css-color--copper-penny-l-45, rgb(204, 178.5, 165.75));
}

.css-color--copper-penny-l-50 {
  color: var(--css-color--copper-penny-l-50, rgb(204, 187, 178.5));
}

.css-color--copper-penny-l-55 {
  color: var(--css-color--copper-penny-l-55, rgb(204, 195.5, 191.25));
}

.css-color--copper-penny-l-60 {
  color: var(--css-color--copper-penny-l-60, #cccccc);
}

.css-color--copper-penny-l-65 {
  color: var(--css-color--copper-penny-l-65, rgb(206.4285714286, 206.4285714286, 206.4285714286));
}

.css-color--copper-penny-l-70 {
  color: var(--css-color--copper-penny-l-70, rgb(208.6363636364, 208.6363636364, 208.6363636364));
}

.css-color--copper-penny-l-75 {
  color: var(--css-color--copper-penny-l-75, rgb(210.652173913, 210.652173913, 210.652173913));
}

.css-color--copper-penny-l-80 {
  color: var(--css-color--copper-penny-l-80, rgb(212.5, 212.5, 212.5));
}

.css-color--copper-penny-l-85 {
  color: var(--css-color--copper-penny-l-85, rgb(214.2, 214.2, 214.2));
}

.css-color--copper-penny-l-90 {
  color: var(--css-color--copper-penny-l-90, rgb(215.7692307692, 215.7692307692, 215.7692307692));
}

.css-color--copper-penny-l-95 {
  color: var(--css-color--copper-penny-l-95, rgb(217.2222222222, 217.2222222222, 217.2222222222));
}

.css-color--copper-penny-l-100 {
  color: var(--css-color--copper-penny-l-100, rgb(218.5714285714, 218.5714285714, 218.5714285714));
}

.css-color--copper-penny-d-5 {
  color: var(--css-color--copper-penny-d-5, rgb(191.25, 97.75, 51));
}

.css-color--copper-penny-d-10 {
  color: var(--css-color--copper-penny-d-10, rgb(178.5, 93.5, 51));
}

.css-color--copper-penny-d-15 {
  color: var(--css-color--copper-penny-d-15, rgb(165.75, 89.25, 51));
}

.css-color--copper-penny-d-20 {
  color: var(--css-color--copper-penny-d-20, #995533);
}

.css-color--copper-penny-d-25 {
  color: var(--css-color--copper-penny-d-25, rgb(140.25, 80.75, 51));
}

.css-color--copper-penny-d-30 {
  color: var(--css-color--copper-penny-d-30, rgb(127.5, 76.5, 51));
}

.css-color--copper-penny-d-35 {
  color: var(--css-color--copper-penny-d-35, rgb(114.75, 72.25, 51));
}

.css-color--copper-penny-d-40 {
  color: var(--css-color--copper-penny-d-40, #664433);
}

.css-color--copper-penny-d-45 {
  color: var(--css-color--copper-penny-d-45, rgb(89.25, 63.75, 51));
}

.css-color--copper-penny-d-50 {
  color: var(--css-color--copper-penny-d-50, rgb(76.5, 59.5, 51));
}

.css-color--copper-penny-d-55 {
  color: var(--css-color--copper-penny-d-55, rgb(63.75, 55.25, 51));
}

.css-color--copper-penny-d-60 {
  color: var(--css-color--copper-penny-d-60, #333333);
}

.css-color--copper-penny-d-65 {
  color: var(--css-color--copper-penny-d-65, rgb(48.5714285714, 48.5714285714, 48.5714285714));
}

.css-color--copper-penny-d-70 {
  color: var(--css-color--copper-penny-d-70, rgb(46.3636363636, 46.3636363636, 46.3636363636));
}

.css-color--copper-penny-d-75 {
  color: var(--css-color--copper-penny-d-75, rgb(44.347826087, 44.347826087, 44.347826087));
}

.css-color--copper-penny-d-80 {
  color: var(--css-color--copper-penny-d-80, rgb(42.5, 42.5, 42.5));
}

.css-color--copper-penny-d-85 {
  color: var(--css-color--copper-penny-d-85, rgb(40.8, 40.8, 40.8));
}

.css-color--copper-penny-d-90 {
  color: var(--css-color--copper-penny-d-90, rgb(39.2307692308, 39.2307692308, 39.2307692308));
}

.css-color--copper-penny-d-95 {
  color: var(--css-color--copper-penny-d-95, rgb(37.7777777778, 37.7777777778, 37.7777777778));
}

.css-color--copper-penny-d-100 {
  color: var(--css-color--copper-penny-d-100, rgb(36.4285714286, 36.4285714286, 36.4285714286));
}

.css-bg-color--copper-penny {
  background-color: var(--css-color--copper-penny, #cc6633);
}

.css-bg-color--copper-penny-l-5 {
  background-color: var(--css-bg-color--copper-penny-l-5, rgb(204, 110.5, 63.75));
}

.css-bg-color--copper-penny-l-10 {
  background-color: var(--css-bg-color--copper-penny-l-10, rgb(204, 119, 76.5));
}

.css-bg-color--copper-penny-l-15 {
  background-color: var(--css-bg-color--copper-penny-l-15, rgb(204, 127.5, 89.25));
}

.css-bg-color--copper-penny-l-20 {
  background-color: var(--css-bg-color--copper-penny-l-20, #cc8866);
}

.css-bg-color--copper-penny-l-25 {
  background-color: var(--css-bg-color--copper-penny-l-25, rgb(204, 144.5, 114.75));
}

.css-bg-color--copper-penny-l-30 {
  background-color: var(--css-bg-color--copper-penny-l-30, rgb(204, 153, 127.5));
}

.css-bg-color--copper-penny-l-35 {
  background-color: var(--css-bg-color--copper-penny-l-35, rgb(204, 161.5, 140.25));
}

.css-bg-color--copper-penny-l-40 {
  background-color: var(--css-bg-color--copper-penny-l-40, #ccaa99);
}

.css-bg-color--copper-penny-l-45 {
  background-color: var(--css-bg-color--copper-penny-l-45, rgb(204, 178.5, 165.75));
}

.css-bg-color--copper-penny-l-50 {
  background-color: var(--css-bg-color--copper-penny-l-50, rgb(204, 187, 178.5));
}

.css-bg-color--copper-penny-l-55 {
  background-color: var(--css-bg-color--copper-penny-l-55, rgb(204, 195.5, 191.25));
}

.css-bg-color--copper-penny-l-60 {
  background-color: var(--css-bg-color--copper-penny-l-60, #cccccc);
}

.css-bg-color--copper-penny-l-65 {
  background-color: var(--css-bg-color--copper-penny-l-65, rgb(206.4285714286, 206.4285714286, 206.4285714286));
}

.css-bg-color--copper-penny-l-70 {
  background-color: var(--css-bg-color--copper-penny-l-70, rgb(208.6363636364, 208.6363636364, 208.6363636364));
}

.css-bg-color--copper-penny-l-75 {
  background-color: var(--css-bg-color--copper-penny-l-75, rgb(210.652173913, 210.652173913, 210.652173913));
}

.css-bg-color--copper-penny-l-80 {
  background-color: var(--css-bg-color--copper-penny-l-80, rgb(212.5, 212.5, 212.5));
}

.css-bg-color--copper-penny-l-85 {
  background-color: var(--css-bg-color--copper-penny-l-85, rgb(214.2, 214.2, 214.2));
}

.css-bg-color--copper-penny-l-90 {
  background-color: var(--css-bg-color--copper-penny-l-90, rgb(215.7692307692, 215.7692307692, 215.7692307692));
}

.css-bg-color--copper-penny-l-95 {
  background-color: var(--css-bg-color--copper-penny-l-95, rgb(217.2222222222, 217.2222222222, 217.2222222222));
}

.css-bg-color--copper-penny-l-100 {
  background-color: var(--css-bg-color--copper-penny-l-100, rgb(218.5714285714, 218.5714285714, 218.5714285714));
}

.css-bg-color--copper-penny-d-5 {
  background-color: var(--css-bg-color--copper-penny-d-5, rgb(191.25, 97.75, 51));
}

.css-bg-color--copper-penny-d-10 {
  background-color: var(--css-bg-color--copper-penny-d-10, rgb(178.5, 93.5, 51));
}

.css-bg-color--copper-penny-d-15 {
  background-color: var(--css-bg-color--copper-penny-d-15, rgb(165.75, 89.25, 51));
}

.css-bg-color--copper-penny-d-20 {
  background-color: var(--css-bg-color--copper-penny-d-20, #995533);
}

.css-bg-color--copper-penny-d-25 {
  background-color: var(--css-bg-color--copper-penny-d-25, rgb(140.25, 80.75, 51));
}

.css-bg-color--copper-penny-d-30 {
  background-color: var(--css-bg-color--copper-penny-d-30, rgb(127.5, 76.5, 51));
}

.css-bg-color--copper-penny-d-35 {
  background-color: var(--css-bg-color--copper-penny-d-35, rgb(114.75, 72.25, 51));
}

.css-bg-color--copper-penny-d-40 {
  background-color: var(--css-bg-color--copper-penny-d-40, #664433);
}

.css-bg-color--copper-penny-d-45 {
  background-color: var(--css-bg-color--copper-penny-d-45, rgb(89.25, 63.75, 51));
}

.css-bg-color--copper-penny-d-50 {
  background-color: var(--css-bg-color--copper-penny-d-50, rgb(76.5, 59.5, 51));
}

.css-bg-color--copper-penny-d-55 {
  background-color: var(--css-bg-color--copper-penny-d-55, rgb(63.75, 55.25, 51));
}

.css-bg-color--copper-penny-d-60 {
  background-color: var(--css-bg-color--copper-penny-d-60, #333333);
}

.css-bg-color--copper-penny-d-65 {
  background-color: var(--css-bg-color--copper-penny-d-65, rgb(48.5714285714, 48.5714285714, 48.5714285714));
}

.css-bg-color--copper-penny-d-70 {
  background-color: var(--css-bg-color--copper-penny-d-70, rgb(46.3636363636, 46.3636363636, 46.3636363636));
}

.css-bg-color--copper-penny-d-75 {
  background-color: var(--css-bg-color--copper-penny-d-75, rgb(44.347826087, 44.347826087, 44.347826087));
}

.css-bg-color--copper-penny-d-80 {
  background-color: var(--css-bg-color--copper-penny-d-80, rgb(42.5, 42.5, 42.5));
}

.css-bg-color--copper-penny-d-85 {
  background-color: var(--css-bg-color--copper-penny-d-85, rgb(40.8, 40.8, 40.8));
}

.css-bg-color--copper-penny-d-90 {
  background-color: var(--css-bg-color--copper-penny-d-90, rgb(39.2307692308, 39.2307692308, 39.2307692308));
}

.css-bg-color--copper-penny-d-95 {
  background-color: var(--css-bg-color--copper-penny-d-95, rgb(37.7777777778, 37.7777777778, 37.7777777778));
}

.css-bg-color--copper-penny-d-100 {
  background-color: var(--css-bg-color--copper-penny-d-100, rgb(36.4285714286, 36.4285714286, 36.4285714286));
=======
  --css-color--red: #ff0000;
  --css-color--red-l-5: rgb(255, 12.75, 12.75);
  --css-color--red-l-10: rgb(255, 25.5, 25.5);
  --css-color--red-l-15: rgb(255, 38.25, 38.25);
  --css-color--red-l-20: #ff3333;
  --css-color--red-l-25: rgb(255, 63.75, 63.75);
  --css-color--red-l-30: rgb(255, 76.5, 76.5);
  --css-color--red-l-35: rgb(255, 89.25, 89.25);
  --css-color--red-l-40: #ff6666;
  --css-color--red-l-45: rgb(255, 114.75, 114.75);
  --css-color--red-l-50: rgb(255, 127.5, 127.5);
  --css-color--red-l-55: rgb(255, 140.25, 140.25);
  --css-color--red-l-60: #ff9999;
  --css-color--red-l-65: rgb(255, 165.75, 165.75);
  --css-color--red-l-70: rgb(255, 178.5, 178.5);
  --css-color--red-l-75: rgb(255, 191.25, 191.25);
  --css-color--red-l-80: #ffcccc;
  --css-color--red-l-85: rgb(255, 216.75, 216.75);
  --css-color--red-l-90: rgb(255, 229.5, 229.5);
  --css-color--red-l-95: rgb(255, 242.25, 242.25);
  --css-color--red-l-100: white;
  --css-color--red-d-5: rgb(242.25, 0, 0);
  --css-color--red-d-10: rgb(229.5, 0, 0);
  --css-color--red-d-15: rgb(216.75, 0, 0);
  --css-color--red-d-20: #cc0000;
  --css-color--red-d-25: rgb(191.25, 0, 0);
  --css-color--red-d-30: rgb(178.5, 0, 0);
  --css-color--red-d-35: rgb(165.75, 0, 0);
  --css-color--red-d-40: #990000;
  --css-color--red-d-45: rgb(140.25, 0, 0);
  --css-color--red-d-50: rgb(127.5, 0, 0);
  --css-color--red-d-55: rgb(114.75, 0, 0);
  --css-color--red-d-60: #660000;
  --css-color--red-d-65: rgb(89.25, 0, 0);
  --css-color--red-d-70: rgb(76.5, 0, 0);
  --css-color--red-d-75: rgb(63.75, 0, 0);
  --css-color--red-d-80: #330000;
  --css-color--red-d-85: rgb(38.25, 0, 0);
  --css-color--red-d-90: rgb(25.5, 0, 0);
  --css-color--red-d-95: rgb(12.75, 0, 0);
  --css-color--red-d-100: black;
  --css-bg-color--red: #ff0000;
  --css-bg-color--red-l-5: rgb(255, 12.75, 12.75);
  --css-bg-color--red-l-10: rgb(255, 25.5, 25.5);
  --css-bg-color--red-l-15: rgb(255, 38.25, 38.25);
  --css-bg-color--red-l-20: #ff3333;
  --css-bg-color--red-l-25: rgb(255, 63.75, 63.75);
  --css-bg-color--red-l-30: rgb(255, 76.5, 76.5);
  --css-bg-color--red-l-35: rgb(255, 89.25, 89.25);
  --css-bg-color--red-l-40: #ff6666;
  --css-bg-color--red-l-45: rgb(255, 114.75, 114.75);
  --css-bg-color--red-l-50: rgb(255, 127.5, 127.5);
  --css-bg-color--red-l-55: rgb(255, 140.25, 140.25);
  --css-bg-color--red-l-60: #ff9999;
  --css-bg-color--red-l-65: rgb(255, 165.75, 165.75);
  --css-bg-color--red-l-70: rgb(255, 178.5, 178.5);
  --css-bg-color--red-l-75: rgb(255, 191.25, 191.25);
  --css-bg-color--red-l-80: #ffcccc;
  --css-bg-color--red-l-85: rgb(255, 216.75, 216.75);
  --css-bg-color--red-l-90: rgb(255, 229.5, 229.5);
  --css-bg-color--red-l-95: rgb(255, 242.25, 242.25);
  --css-bg-color--red-l-100: white;
  --css-bg-color--red-d-5: rgb(242.25, 0, 0);
  --css-bg-color--red-d-10: rgb(229.5, 0, 0);
  --css-bg-color--red-d-15: rgb(216.75, 0, 0);
  --css-bg-color--red-d-20: #cc0000;
  --css-bg-color--red-d-25: rgb(191.25, 0, 0);
  --css-bg-color--red-d-30: rgb(178.5, 0, 0);
  --css-bg-color--red-d-35: rgb(165.75, 0, 0);
  --css-bg-color--red-d-40: #990000;
  --css-bg-color--red-d-45: rgb(140.25, 0, 0);
  --css-bg-color--red-d-50: rgb(127.5, 0, 0);
  --css-bg-color--red-d-55: rgb(114.75, 0, 0);
  --css-bg-color--red-d-60: #660000;
  --css-bg-color--red-d-65: rgb(89.25, 0, 0);
  --css-bg-color--red-d-70: rgb(76.5, 0, 0);
  --css-bg-color--red-d-75: rgb(63.75, 0, 0);
  --css-bg-color--red-d-80: #330000;
  --css-bg-color--red-d-85: rgb(38.25, 0, 0);
  --css-bg-color--red-d-90: rgb(25.5, 0, 0);
  --css-bg-color--red-d-95: rgb(12.75, 0, 0);
  --css-bg-color--red-d-100: black;
}

.css-color--red {
  color: var(--css-color--red, #ff0000);
}

.css-color--red-l-5 {
  color: var(--css-color--red-l-5, rgb(255, 12.75, 12.75));
}

.css-color--red-l-10 {
  color: var(--css-color--red-l-10, rgb(255, 25.5, 25.5));
}

.css-color--red-l-15 {
  color: var(--css-color--red-l-15, rgb(255, 38.25, 38.25));
}

.css-color--red-l-20 {
  color: var(--css-color--red-l-20, #ff3333);
}

.css-color--red-l-25 {
  color: var(--css-color--red-l-25, rgb(255, 63.75, 63.75));
}

.css-color--red-l-30 {
  color: var(--css-color--red-l-30, rgb(255, 76.5, 76.5));
}

.css-color--red-l-35 {
  color: var(--css-color--red-l-35, rgb(255, 89.25, 89.25));
}

.css-color--red-l-40 {
  color: var(--css-color--red-l-40, #ff6666);
}

.css-color--red-l-45 {
  color: var(--css-color--red-l-45, rgb(255, 114.75, 114.75));
}

.css-color--red-l-50 {
  color: var(--css-color--red-l-50, rgb(255, 127.5, 127.5));
}

.css-color--red-l-55 {
  color: var(--css-color--red-l-55, rgb(255, 140.25, 140.25));
}

.css-color--red-l-60 {
  color: var(--css-color--red-l-60, #ff9999);
}

.css-color--red-l-65 {
  color: var(--css-color--red-l-65, rgb(255, 165.75, 165.75));
}

.css-color--red-l-70 {
  color: var(--css-color--red-l-70, rgb(255, 178.5, 178.5));
}

.css-color--red-l-75 {
  color: var(--css-color--red-l-75, rgb(255, 191.25, 191.25));
}

.css-color--red-l-80 {
  color: var(--css-color--red-l-80, #ffcccc);
}

.css-color--red-l-85 {
  color: var(--css-color--red-l-85, rgb(255, 216.75, 216.75));
}

.css-color--red-l-90 {
  color: var(--css-color--red-l-90, rgb(255, 229.5, 229.5));
}

.css-color--red-l-95 {
  color: var(--css-color--red-l-95, rgb(255, 242.25, 242.25));
}

.css-color--red-l-100 {
  color: var(--css-color--red-l-100, white);
}

.css-color--red-d-5 {
  color: var(--css-color--red-d-5, rgb(242.25, 0, 0));
}

.css-color--red-d-10 {
  color: var(--css-color--red-d-10, rgb(229.5, 0, 0));
}

.css-color--red-d-15 {
  color: var(--css-color--red-d-15, rgb(216.75, 0, 0));
}

.css-color--red-d-20 {
  color: var(--css-color--red-d-20, #cc0000);
}

.css-color--red-d-25 {
  color: var(--css-color--red-d-25, rgb(191.25, 0, 0));
}

.css-color--red-d-30 {
  color: var(--css-color--red-d-30, rgb(178.5, 0, 0));
}

.css-color--red-d-35 {
  color: var(--css-color--red-d-35, rgb(165.75, 0, 0));
}

.css-color--red-d-40 {
  color: var(--css-color--red-d-40, #990000);
}

.css-color--red-d-45 {
  color: var(--css-color--red-d-45, rgb(140.25, 0, 0));
}

.css-color--red-d-50 {
  color: var(--css-color--red-d-50, rgb(127.5, 0, 0));
}

.css-color--red-d-55 {
  color: var(--css-color--red-d-55, rgb(114.75, 0, 0));
}

.css-color--red-d-60 {
  color: var(--css-color--red-d-60, #660000);
}

.css-color--red-d-65 {
  color: var(--css-color--red-d-65, rgb(89.25, 0, 0));
}

.css-color--red-d-70 {
  color: var(--css-color--red-d-70, rgb(76.5, 0, 0));
}

.css-color--red-d-75 {
  color: var(--css-color--red-d-75, rgb(63.75, 0, 0));
}

.css-color--red-d-80 {
  color: var(--css-color--red-d-80, #330000);
}

.css-color--red-d-85 {
  color: var(--css-color--red-d-85, rgb(38.25, 0, 0));
}

.css-color--red-d-90 {
  color: var(--css-color--red-d-90, rgb(25.5, 0, 0));
}

.css-color--red-d-95 {
  color: var(--css-color--red-d-95, rgb(12.75, 0, 0));
}

.css-color--red-d-100 {
  color: var(--css-color--red-d-100, black);
}

.css-bg-color--red {
  background-color: var(--css-color--red, #ff0000);
}

.css-bg-color--red-l-5 {
  background-color: var(--css-bg-color--red-l-5, rgb(255, 12.75, 12.75));
}

.css-bg-color--red-l-10 {
  background-color: var(--css-bg-color--red-l-10, rgb(255, 25.5, 25.5));
}

.css-bg-color--red-l-15 {
  background-color: var(--css-bg-color--red-l-15, rgb(255, 38.25, 38.25));
}

.css-bg-color--red-l-20 {
  background-color: var(--css-bg-color--red-l-20, #ff3333);
}

.css-bg-color--red-l-25 {
  background-color: var(--css-bg-color--red-l-25, rgb(255, 63.75, 63.75));
}

.css-bg-color--red-l-30 {
  background-color: var(--css-bg-color--red-l-30, rgb(255, 76.5, 76.5));
}

.css-bg-color--red-l-35 {
  background-color: var(--css-bg-color--red-l-35, rgb(255, 89.25, 89.25));
}

.css-bg-color--red-l-40 {
  background-color: var(--css-bg-color--red-l-40, #ff6666);
}

.css-bg-color--red-l-45 {
  background-color: var(--css-bg-color--red-l-45, rgb(255, 114.75, 114.75));
}

.css-bg-color--red-l-50 {
  background-color: var(--css-bg-color--red-l-50, rgb(255, 127.5, 127.5));
}

.css-bg-color--red-l-55 {
  background-color: var(--css-bg-color--red-l-55, rgb(255, 140.25, 140.25));
}

.css-bg-color--red-l-60 {
  background-color: var(--css-bg-color--red-l-60, #ff9999);
}

.css-bg-color--red-l-65 {
  background-color: var(--css-bg-color--red-l-65, rgb(255, 165.75, 165.75));
}

.css-bg-color--red-l-70 {
  background-color: var(--css-bg-color--red-l-70, rgb(255, 178.5, 178.5));
}

.css-bg-color--red-l-75 {
  background-color: var(--css-bg-color--red-l-75, rgb(255, 191.25, 191.25));
}

.css-bg-color--red-l-80 {
  background-color: var(--css-bg-color--red-l-80, #ffcccc);
}

.css-bg-color--red-l-85 {
  background-color: var(--css-bg-color--red-l-85, rgb(255, 216.75, 216.75));
}

.css-bg-color--red-l-90 {
  background-color: var(--css-bg-color--red-l-90, rgb(255, 229.5, 229.5));
}

.css-bg-color--red-l-95 {
  background-color: var(--css-bg-color--red-l-95, rgb(255, 242.25, 242.25));
}

.css-bg-color--red-l-100 {
  background-color: var(--css-bg-color--red-l-100, white);
}

.css-bg-color--red-d-5 {
  background-color: var(--css-bg-color--red-d-5, rgb(242.25, 0, 0));
}

.css-bg-color--red-d-10 {
  background-color: var(--css-bg-color--red-d-10, rgb(229.5, 0, 0));
}

.css-bg-color--red-d-15 {
  background-color: var(--css-bg-color--red-d-15, rgb(216.75, 0, 0));
}

.css-bg-color--red-d-20 {
  background-color: var(--css-bg-color--red-d-20, #cc0000);
}

.css-bg-color--red-d-25 {
  background-color: var(--css-bg-color--red-d-25, rgb(191.25, 0, 0));
}

.css-bg-color--red-d-30 {
  background-color: var(--css-bg-color--red-d-30, rgb(178.5, 0, 0));
}

.css-bg-color--red-d-35 {
  background-color: var(--css-bg-color--red-d-35, rgb(165.75, 0, 0));
}

.css-bg-color--red-d-40 {
  background-color: var(--css-bg-color--red-d-40, #990000);
}

.css-bg-color--red-d-45 {
  background-color: var(--css-bg-color--red-d-45, rgb(140.25, 0, 0));
}

.css-bg-color--red-d-50 {
  background-color: var(--css-bg-color--red-d-50, rgb(127.5, 0, 0));
}

.css-bg-color--red-d-55 {
  background-color: var(--css-bg-color--red-d-55, rgb(114.75, 0, 0));
}

.css-bg-color--red-d-60 {
  background-color: var(--css-bg-color--red-d-60, #660000);
}

.css-bg-color--red-d-65 {
  background-color: var(--css-bg-color--red-d-65, rgb(89.25, 0, 0));
}

.css-bg-color--red-d-70 {
  background-color: var(--css-bg-color--red-d-70, rgb(76.5, 0, 0));
}

.css-bg-color--red-d-75 {
  background-color: var(--css-bg-color--red-d-75, rgb(63.75, 0, 0));
}

.css-bg-color--red-d-80 {
  background-color: var(--css-bg-color--red-d-80, #330000);
}

.css-bg-color--red-d-85 {
  background-color: var(--css-bg-color--red-d-85, rgb(38.25, 0, 0));
}

.css-bg-color--red-d-90 {
  background-color: var(--css-bg-color--red-d-90, rgb(25.5, 0, 0));
}

.css-bg-color--red-d-95 {
  background-color: var(--css-bg-color--red-d-95, rgb(12.75, 0, 0));
}

.css-bg-color--red-d-100 {
  background-color: var(--css-bg-color--red-d-100, black);
>>>>>>> 4b465cb9f092301bdaa8c475817bbd58454cbdba
}